.mat-icon{
  height: 17px !important;
  width: 14px !important;
}

.mat-raised-button {
  padding: 4px !important;
}
.material-icons-outlined {
  line-height: 0 !important;
}
.overwrite-btn-small{
  width: auto !important;
  height: 30px !important;
}
.upload-button-stamp {
  border-radius: 0 10px 10px 0 !important;
  font-size: 13px !important;
  line-height: 2.5 !important;
  height: 2.8rem;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end .input-field-stamp {
  border-radius: 0px !important;
}
