<mat-toolbar fxFlexOffset="3" class="wid-header bg-white" fxLayout="row"
             fxLayoutAlign="center center" fxFlex="94">
  <div fxFlex="60">
    <div  fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" *ngIf="user['user_type']==='COMPANY'">
      <p class="font-semi-bold" >{{licenceCode }}</p>
      <p class="font-size-14 font-extra-light cerulean-blue" *ngIf="licenceType == 'TRIAL'">{{endLicence}} jours restants</p>
      <button (click)="licenceType == 'TRIAL'? expirationLicence(): UpgradeLicence()"
              mat-raised-button color="warn"   class="btn-small buy-btn" >
        <mat-icon class="mat-icon-btn" svgIcon="wi-bag"></mat-icon>
        <span class="white"> {{licenceType == 'TRIAL' ? 'Acheter maintenant' : 'Mettre à niveau' }}</span>
      </button>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="flex-end center" fxFlex="40"  fxLayoutGap="50px" >
    <mat-form-field class="search-bar  relative" appearance="fill" fxLayoutAlign="center center" >
      <input matInput  type="search" placeholder="Search ..." class="bg-white-two font-size-14 font-extra-light">
      <span matPrefix class="absolute mat-icon-btn"><img src="assets/icons/Iconly_Light_Search.svg"></span>
    </mat-form-field>
    <div  class="user-avatar bg-theme cursor-pointer" fxLayoutAlign="center center" (click)="toggleSideNav()" >
     <img [src]="haveImage ? avatar : 'assets/img/default.jpg'"  class="img-rounded">
    </div>
  </div>
</mat-toolbar>
