<mat-toolbar>
  <div class="search">
    <div id="search-container">
      <input type="text" required>
    </div>
  </div>
  <span class="flex-spacer"></span>
  <div fxLayout="row " fxLayoutGap="25px">
    <ng-container *ngFor=" let headerMenu of headerMenu">
      <ng-container *ngIf=" headerMenu.type === 'link';  else subMenuLabel">
        <div fxLayout="row ">
          <button mat-icon-button class="icon-button">
            <mat-icon class="icon material-icons-outlined">{{headerMenu.icon}}  </mat-icon>
          </button>
          <span class="header-label">{{headerMenu.name}}</span>
        </div>
      </ng-container>
      <ng-template #subMenuLabel>
        <div fxLayout="row ">
          <button mat-icon-button class="icon-button" [matMenuTriggerFor]="matSettings"
                  (click)="toggleSubMenu(headerMenu.children)">
            <mat-icon class="icon material-icons-outlined">{{headerMenu.icon}}  </mat-icon>
            <mat-menu #matSettings="matMenu" xPosition="before">
              <ng-container *ngFor=" let children of headerMenu.children">
                <button mat-menu-item [routerLink]="['./', children.state]">{{children.name}}</button>
              </ng-container>
            </mat-menu>
          </button>
          <div class="header-label">{{headerMenu.name}}</div>
        </div>
      </ng-template>
    </ng-container>
    <div fxLayout="row ">
      <div style=" cursor: pointer;" [matMenuTriggerFor]="matUserMenu" aria-label="Toggle matUserMenu">
        <img src="assets/img/avatar.png" alt="" class="user-avatar">
      </div>
      <mat-menu #matUserMenu="matMenu" xPosition="before">
        <button mat-menu-item [routerLink]="['/manager/profile']">MyAccount</button>
        <button mat-menu-item (click)='logout()'>Logout</button>
      </mat-menu>
      <div class="header-label"> {{name}}</div>
    </div>
  </div>
</mat-toolbar>
