/* flex responsive */
.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
/* container */
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  height: 67%;
  width: 100%;
}

.flex-item:nth-child(1) {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.flex-item:nth-child(2) {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

/* extra-menu */
.extra-menu {
  background-size: cover;
}

/* Header Toolbar Icon */
.toolbar-icon {
  color: rgb(176, 177, 172);
  font-size: 20px;
}
/* User Image */
.user-avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-top: 4px;
}
/* Search Bar */
.search {
  cursor: pointer;
  padding: 0 20px;
}

.search > div {
  display: inline-block;
  position: relative;
}

.search > div:after {
  content: "";
  background: #b0b1ac;
  width: 2px;
  height: 7px;
  position: absolute;
  top: 21px;
  right: 0px;
  transform: rotate(140deg);
}
.search > div:focus-within::after {
  top: 30px;
}

.search > div::after > input:valid {
  top: 30px;
}

.search > div > input {
  color: #b0b1ac;
  cursor: pointer;
  background: transparent;
  width: 3px;
  height: 3px;
  padding: 3px;
  border: solid 2px #b0b1ac;
  outline: none;
  border-radius: 32px;
  transition: width 0.5s, height 0.2s;
}

.search > div > input::placeholder {
  color: #efefef;
  opacity: 1;
}

.search > div > input::-ms-placeholder {
  color: #efefef;
}

.search > div > input::-ms-input-placeholder {
  color: #efefef;
}

.search > div > input:focus,
.search > div > input:valid {
  cursor: auto;
  height: 25px;
  width: 350px;
  padding: 5px 15px;
}
