.header-label{
 font-size: 14px;
}
mat-toolbar{
  min-width:53px;
  background-color: rgb(255,255,255);
  border-bottom: 0.1px inset lightgray;
}
 .icon-button{
    margin-top: -4px;
   }

   @media only screen and (max-width: 887px) {
     .header-label{
       display: none;
     }
   }
/* User Image */
.user-avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-top: 4px;
  margin-right: 7px;
}
.wid-gift{
  margin-top: 0;
}
/* Search Bar */
.search {
  cursor: pointer;
  padding: 0 20px;
  margin-top: -10px;
}

.search > div {
  display: inline-block;
  position: relative;
}

.search > div:after {
  content: "";
  background: #b0b1ac;
  width: 2px;
  height: 7px;
  position: absolute;
  top: 21px;
  right: 0px;
  transform: rotate(140deg);
}
.search > div:focus-within::after {
  top: 30px;
}

.search > div::after > input:valid {
  top: 30px;
}

.search > div > input {
  color: #b0b1ac;
  cursor: pointer;
  background: transparent;
  width: 3px;
  height: 3px;
  padding: 3px;
  border: solid 2px #b0b1ac;
  outline: none;
  border-radius: 32px;
  transition: width 0.5s, height 0.2s;
}

.search > div > input::placeholder {
  color: #efefef;
  opacity: 1;
}

.search > div > input::-ms-placeholder {
  color: #efefef;
}

.search > div > input::-ms-input-placeholder {
  color: #efefef;
}

.search > div > input:focus,
.search > div > input:valid {
  cursor: auto;
  height: 25px;
  width: 350px;
  padding: 5px 15px;
}
.flex-spacer {
  flex: 1 1 auto;
}
