<div class="dynamic-component-container"
     fxLayout="column" fxLayoutGap="20px" fxFlexOffset="3" fxFlex="94">
  <div fxLayout="row" fxFlex="10" fxLayoutAlign="space-around center" class="bg-white border-radius-20">
    <div fxLayout="column" fxFlex="56">
      <h1 class="steel font-size-24 font-medium">Buy Licence</h1>
    </div>
    <div fxLayout="column" fxFlex="15" fxLayoutAlign="center end" class="font-size-25 steel">
      <button mat-raised-button class="btn-small bg-pale-grey" (click)="backClicked()">
        <mat-icon class="icon material-icons-outlined" svgIcon="wi_arrow_back">
        </mat-icon>
        <span class="cool-grey">back</span>
      </button>
    </div>

  </div>
  <div class="full-width" fxLayoutAlign="center start" fxFlex="3">
    <mat-button-toggle-group appearance="legacy" value="month" class="border-radius-10" #paiement="matButtonToggleGroup">
      <mat-button-toggle fxFlex value="year" class="font-size-10 font-normal bg-white denim">
        Annual
      </mat-button-toggle>
      <mat-button-toggle fxFlex value="month" class="font-size-10 font-normal bg-white denim">
        Monthly
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div fxLayout="column" fxLayoutAlign="start start" fxFlex>
    <div class="full-width" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="40px" fxFlex="95">
        <div *ngFor="let licence of licences" fxLayout="column" fxLayoutAlign="start center"
             class="border-radius-15 item bg-white box-shadow m-t-5" fxFlex="30" fxFlexAlign="stretch" >
          <div fxLayout="row" fxLayoutAlign="center start" class="full-width m-b-20">
            <div fxFlex="60" fxLayout="column" fxLayoutAlign="center center"
                 class="border-radius-bottom-15 p-t-15 p-b-40" [ngClass]="displayClass(licence.LicenceKey.licence_code)">
                <p class="white font-size-25 font-normal m-0 m-b-5">{{licence.LicenceKey.licence_code}}</p>
                <p class="white font-size-25 font-normal m-0">
                  {{paiement.value === 'year' ? licence.pack_annual_price : licence.pack_monthly_price}}€</p>
                <p class="white font-size-9 font-light m-0">Per {{paiement.value}}</p>
            </div>
          </div>

          <div fxLayout="column" fxLayoutAlign="start start" class="item-desc" fxFlex="100" fxLayoutGap="10px">
           <div fxFlex="90" class="full-width">
               <div class="full-width p-l-10 p-r-10" fxLayout="row" fxLayoutAlign="start start">
                 <p class="black font-size-11 p-b-10 font-light feature" fxFlex="100">{{licence.free_user_nbr}} Users</p>
               </div>
           <!-- <ng-container *ngFor="let feature of getLicenceFeatures(licence)">
               <div class="full-width p-l-10 p-r-10" fxLayout="row" fxLayoutAlign="start center">
                 <p class="black font-size-11 p-b-10 font-light feature" fxFlex="100">{{feature.LicenceFeaturesKey.feature_code}}</p>
               </div>
             </ng-container>-->
           </div>
          </div>
          <button mat-button  class="m-b-15 btn-medium white font-size-10 font-light"
                  (click)="buyLicence(licence.LicenceKey.licence_code, paiement.value)"
                  [ngClass]="displayClass(licence.LicenceKey.licence_code)">
            Start Now
          </button>
        </div>
  </div>

  </div>
</div>
