mat-button-toggle-group{
  width: 220px !important;
}

.mat-button-toggle-label-content{
  line-height: 10px !important;
}
.feature{
  border-bottom: 1px solid #f3f6f9;
}

.mat-button-toggle-checked{
  background-color: #1bc5bd !important;
  color: white !important;
}

