<div  fxLayout="column" fxFlex="100" class="dynamic-component-container border-radius-20">
  <div  fxLayout="row" fxFlex="45" fxLayoutAlign="space-around center" >
    <div fxFlex.gt-sm="24" fxFlex.gt-xs="100" fxFlex="100" class="border-radius-20">
      <mat-card class="bg-theme">
        <mat-card-content>
          <div fxLayout="column" fxFlex="100" >
            <a class="white font-size-20" [routerLink]="['.' + '/users']"  >{{'manager-setting-menu.users.management.users' | translate}}</a>
            <a class="white font-size-10" [routerLink]="['.' + '/users/add-user']"  [state]="{ action: 'add' }" >
              {{'add-new' | translate}}</a>
            <span class="white font-size-20 line-height-3">{{getCount('ALL')}}</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex.gt-sm="24" fxFlex.gt-xs="100" fxFlex="100" class="border-radius-20">
      <mat-card class="bg-theme">
        <mat-card-content>
          <div fxLayout="column" fxFlex="100" >
            <a class="white font-size-20" [routerLink]="['.' + '/users']" [state]="{ typeUser: 'collaborator' }">
              {{'manager.menu.static.contract.management.suppliers.management.collaborators' | translate}}</a>
            <a class="white font-size-10" [routerLink]="['.' + '/users/add-user']"  [state]="{ action: 'add' }">{{'add-new' | translate}}</a>
            <span class="white font-size-20 line-height-3">{{getCount('COLLABORATOR')}}</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex.gt-sm="24" fxFlex.gt-xs="100" fxFlex="100" class="border-radius-20">
      <mat-card class="bg-theme">
        <mat-card-content>
          <!-- column -->
          <div fxLayout="column" fxFlex="100">
            <a class="white font-size-20" [routerLink]="['.' + '/users']"  [state]="{ typeUser: 'staff' }">{{'staff-dashbord' | translate}}</a>
            <a class="white font-size-10" [routerLink]="['.' + '/users/add-user']"  [state]="{ action: 'add' }">{{'add-new' | translate}}</a>
            <span class="white font-size-20 line-height-3">{{getCount('STAFF')}}</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex.gt-sm="24" fxFlex.gt-xs="100" fxFlex="100" class="border-radius-20">
      <mat-card class="bg-theme">
        <mat-card-content>
          <!-- column -->
          <div fxLayout="column" fxFlex="100">
            <a class="white font-size-20" [routerLink]="['.' + '/users']" [state]="{ typeUser: 'candidate' }">{{'candidate-dashbord' | translate}}</a>
            <a class="white font-size-10" [routerLink]="['.' + '/users/add-user']"  [state]="{ action: 'add' }">{{'add-new' | translate}}</a>
            <span class="white font-size-20 line-height-3">{{getCount('CANDIDATE')}}</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>


  </div>
  <div  fxLayout="row" fxFlex="45" fxLayoutAlign="space-around center" >
    <div fxFlex.gt-sm="24" fxFlex.gt-xs="100" fxFlex="100" class="border-radius-20">
      <mat-card class="bg-theme">
        <mat-card-content>
          <!-- column -->
          <div fxLayout="column" fxFlex="100">
            <a class="white font-size-20" [routerLink]="['.' + '/licences']">	{{'manager-setting-menu.payment.License' | translate}}</a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex.gt-sm="24" fxFlex.gt-xs="100" fxFlex="100" class="border-radius-20">
      <mat-card class="bg-theme">
        <mat-card-content>
          <!-- column -->
          <div fxLayout="column" fxFlex="100">
            <a class="white font-size-20" [routerLink]="['.' + '/payment-info']">{{'manager-setting-menu.payment.payment.info' | translate}}</a>
            <span class="white font-size-20 line-height-3">{{getCount('PAYMENT_INFO')}}</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex.gt-sm="24" fxFlex.gt-xs="100" fxFlex="100" class="border-radius-20">
      <mat-card class="bg-theme">
        <mat-card-content>
          <!-- column -->
          <div fxLayout="column" fxFlex="100">
            <a class="white font-size-20" [routerLink]="['.' + '/payment-methods']">{{'manager-setting-menu.payment.payment.methods' | translate}}</a>
            <span class="white font-size-20 line-height-3">{{getCount('PAYMENT_MODE')}}</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex.gt-sm="24" fxFlex.gt-xs="100" fxFlex="100" class="border-radius-20">
      <mat-card class="bg-theme">
        <mat-card-content>
          <!-- column -->
          <div fxLayout="column" fxFlex="100">
            <a class="white font-size-20" [routerLink]="['.' + '/role']">{{'manager-setting-menu.users.management.role.management' | translate}}</a>
            <span class="white font-size-20 line-height-3">{{getCount('ROLE')}}</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div  fxLayout="row" fxFlex="45" fxLayoutAlign="space-around center" >

    <div fxFlex.gt-sm="24" fxFlex.gt-xs="100" fxFlex="100" class="border-radius-20">
      <mat-card class="bg-theme">
        <mat-card-content>
          <!-- column -->
          <div fxLayout="column" fxFlex="100">
            <a class="white font-size-20" [routerLink]="['.' + '/timesheet-setting']">{{'manager-setting-menu.payment.timesheet.setting' | translate}}</a>
            <span class="white font-size-20 line-height-3">{{getCount('TIMESHEET_SETTING')}}</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex.gt-sm="24" fxFlex.gt-xs="100" fxFlex="100" class="border-radius-20">
      <mat-card class="bg-theme">
        <mat-card-content>
          <!-- column -->
          <div fxLayout="column" fxFlex="100">
            <a class="white font-size-20" [routerLink]="['.' + '/tax']">Tax</a>
            <span class="white font-size-20 line-height-3">{{getCount('TAX')}}</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex.gt-sm="24" fxFlex.gt-xs="100" fxFlex="100" class="border-radius-20">
      <mat-card class="bg-theme">
        <mat-card-content>
          <!-- column -->
          <div fxLayout="column" fxFlex="100">
            <span class="white font-size-20">{{'manager-setting-menu.calendars' | translate}}</span>
            <span class="white font-size-10">{{'add-new' | translate}}</span>
            <span class="white font-size-20 line-height-3">0</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex.gt-sm="24" fxFlex.gt-xs="100" fxFlex="100" class="border-radius-20">
      <mat-card class="bg-theme">
        <mat-card-content>
          <!-- column -->
          <div fxLayout="column" fxFlex="100">
            <a class="white font-size-20"  [routerLink]="['.' + '/home-company']">{{'company-dashboard' | translate}}</a>
            <a class="white font-size-10" [routerLink]="['.' + '/home-company/edit-company']">{{'company.edit' | translate}}</a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div  fxLayout="row" fxFlex="45" fxLayoutGap="1%" >
    <div fxFlex.gt-sm="24" fxFlex.gt-xs="100" fxFlex="100" class="border-radius-20 m-l-5">
      <mat-card class="bg-theme">
        <mat-card-content>
          <!-- column -->
          <div fxLayout="column" fxFlex="100">
            <span class="white font-size-20">{{'manager-setting-menu.departments' | translate}}</span>
            <span class="white font-size-20 line-height-3">0</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
