  <!--begin::Container-->
  <div fxLayout="column" [ngStyle]="stepperConfig.style" style="height: 100%">
        <!--begin: Wizard-->
        <div class="wizard wizard-3" fxFlex fxLayout="column" data-wizard-state="step-first" data-wizard-clickable="false">
          <!--begin: Wizard Nav-->
          <div fxFlex="20" fxFlex.xs="40" fxLayout="column" fxLayoutAlign="center stretch" class="wizard-nav">
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="start stretch">
              <!--begin::Wizard Step i Nav-->
              <ng-container *ngFor="let step of steps; let i = index;" >
                <ng-container *ngIf="selectedIndex === i; else notCurrent">
                     <div
                       class="wizard-step"
                       data-wizard-state="current"
                       data-wizard-type="step">
                        <!-- (click)="onClick(i, step.stepControl)" -->
                        <div class="wizard-label">
                          <h3 class="wizard-title">
                            <span [ngTemplateOutlet]="step.stepLabel.template">{{i + 1}}.</span> {{ step.label }}
                          </h3>
                          <div class="wizard-bar"></div>
                        </div>
                     </div>
                </ng-container>
                <ng-template #notCurrent>
                  <!-- (click)="onClick(i, step.stepControl)" -->
                  <div class="wizard-step"
                       data-wizard-state="pending"
                       data-wizard-type="step">
                    <div class="wizard-label">
                      <h3 class="wizard-title">
                        <span [ngTemplateOutlet]="step.stepLabel.template">{{i + 1}}.</span> {{ step.label }}
                      </h3>
                      <div class="wizard-bar"></div>
                    </div>
                  </div>
                </ng-template>
              </ng-container>
              <!--end::Wizard Step 1 Nav-->
            </div>
          </div>
          <!--end: Wizard Nav-->
          <!--begin: Wizard Body-->
          <div fxFlex="65"  fxFlex.xs="50" >
            <div class="">
              <!--begin: Wizard Form-->
              <form>
                <div
                  fxFlex="80" fxFlexOffset="10"
                  data-wizard-type="step-content"
                  data-wizard-state="current"
                >
                  <!-- Content from the CdkStep is projected here -->
                  <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
                </div>
              </form>
              <!--end: Wizard Form-->
            </div>
          </div>
          <!--end: Wizard Body-->
          <!--begin: Wizard Actions-->
          <div fxFlex="15"  fxFlex.xs="10">
            <div fxFlex="50" fxLayoutAlign="center center">
              <button
                *ngIf="selectedIndex !== 0"
                cdkStepperPrevious
                mat-flat-button
                color="primary"
                class="auth-button"
              >
                Previous
              </button>
            </div>
            <div fxFlex="50" fxLayoutAlign="center center">
              <button
                *ngIf="selectedIndex === steps.length -1 && stepperConfig.multiple.lastStep ==='done'"
                mat-flat-button
                color="primary"
                class="auth-button"
                [routerLink]="stepperConfig.multiple.redirectTo"
              >
                Done
              </button>
              <button
                *ngIf="selectedIndex === steps.length -1 && stepperConfig.multiple.lastStep ==='submit'"
                mat-flat-button
                color="primary"
                class="auth-button"
              >
                Submit
              </button>
              <ng-container *ngFor="let step of steps; let i = index">
                <button
                  *ngIf="selectedIndex !== steps.length -1 && selectedIndex === i"
                  [disabled]="step.stepControl.invalid"
                  mat-flat-button
                  color="primary"
                  (click)="onClick(i, step)"
                  class="auth-button"
                >
                  Next
                </button>
              </ng-container>
              <!-- [disabled]="selected.stepControl.invalid || stepperConfig.nextStep === false" -->
            </div>
          </div>
          <!--end: Wizard Actions-->
        </div>
        <!--end: Wizard-->
  </div>
  <!--end::Container-->
