<div style="display: flex; flex-direction: column; height: 100%; border-radius: 15px;" class="font-size-12 container-show bg-white">
      <div fxLayout="row" fxFlex="10" fxLayoutAlign="space-around center" class="bg-white border-radius-20">
        <div fxLayout="column" fxFlex="56">
          <h1 class="steel font-medium font-size-38">Billing</h1>
        </div>
        <div fxLayout="column" fxFlex="15" fxLayoutAlign="center end" class="font-size-25 steel">
          <button mat-raised-button class="btn-small bg-pale-grey">
            <mat-icon class="icon material-icons-outlined" svgIcon="wi_arrow_back">
            </mat-icon>
            <span class="cool-grey">back</span>
          </button>
        </div>
      </div>
      <div fxLayout="row" fxFlex="2" fxLayoutAlign="space-around center">
        <mat-divider [ngStyle]="{ 'width': '95%', borderTopWidth: '2px'}"></mat-divider>
      </div>
      <div>
      </div>
      <br>
      <wid-scrollbar>
        <div fxLayout="column"  fxFlex="100">
          <div fxLayout="row" fxLayoutAlign="center" class="m-l-40">
            <img fxFlex="15" [src]="this.userInfo['photo'] ? avatar : 'assets/img/default.jpg'" alt="img">
            <h1 fxFlex="85" class="steel font-medium font-size-38">Invoice</h1>
          </div>
          <mat-divider [ngStyle]="{ 'width': '95%', borderTopWidth: '10px','margin-left': '2%' }"></mat-divider>
          <div [formGroup]="formHeader" fxLayout="row" fxFlex="87" fxLayoutGap="30px" class="p-20">
            <div fxLayout="column" fxFlex="20">
              <div class="font-bold">De</div>
              <div class="font-bold"> {{userInfo['company_name']}}</div>
              <div>{{userInfo['adress']}}</div>
            </div>
            <div fxLayout="column" fxFlex="28">
              <div *ngIf="!contractorName || !contractCode  || editContractors">
                <div fxLayout="row">
                  <div fxLayout="column" fxFlex="100">
                    <label class="required" class="font-bold">Facturé à:</label>
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-select formControlName="contractor" placeholder="Contractor">
                        <mat-option *ngFor="let contractor of listContractor"
                          (click)="getContract(contractor.contractorKey.contractor_code)"
                          [value]=contractor.contractorKey.contractor_code>
                          {{ contractor.contractor_name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row" *ngIf="contractorSelected">
                  <div fxLayout="column" fxFlex="100">
                    <label class="required" class="font-bold">Contract:</label>
                    <mat-form-field appearance="outline" class="full-width" >
                      <mat-select formControlName="contract" placeholder="Contract">
                        <ng-container *ngFor="let contract of listContract">
                          <mat-option (click)="getDetailsContract(contract.contractKey.contract_code)"
                            [value]=contract.contractKey.contract_code>
                            {{ contract.contractKey.contract_code }}
                          </mat-option>
                        </ng-container>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div *ngIf="contractorName && contractCode && !editContractors" class="cursor-pointer">
                <div (mouseenter)="mouseEnter() " (click)="editContractor()" (mouseleave)="mouseLeave()">
                  <div fxLayout="row" fxLayoutGap=" 50%">
                    <div class="font-bold">Facturé à:</div>
                    <div [hidden]="!iconVisible" class="edit">
                      <mat-icon svgIcon="wi-pen" class="icon">
                      </mat-icon>
                    </div>
                  </div>
                  <div>
                  </div>
                  <div class="font-bold">{{contractorName}}</div>
                  <div>{{contractorAddress}}</div>

                </div>
              </div>
              <div fxLayout="column" fxLayoutGap="10px" class="cerulean-blue">

                <div fxLayout="row" fxLayoutGap="10px" *ngIf='!contractorName'>
                  <div class="btn container-plus" fxLayout="row" fxLayoutAlign="flex-start center">
                    <button mat-flat-button mat-stroked-button class="topaz btn-plus" type="button">+</button>
                  </div>
                  <div> <a class="steel"
                      [routerLink]="['/manager/contract-management/suppliers-contracts/suppliers-list']">Ajouter un
                      nouveau client </a> </div>
                </div>
                <div fxLayout="row" fxLayoutGap="10px" *ngIf='contractorName'  fxLayoutAlign="flex-start center" class="cursor-pointer">
                  <mat-icon class="icon material-icons-outlined eye-icon" svgIcon="wi-eye">
                  </mat-icon>
                  <div class="steel" (click)="showInfoContractor()"> Voir la fiche du client</div>
                </div>
              </div>
              <div>
                <br>
                <div *ngIf='contractCode'>
                  <div class="font-bold">Adressé A</div>
                  <textarea name="" id="" cols="25" rows="7"></textarea>
                </div>

              </div>
            </div>
            <div class="m-t-20" fxLayout="column" fxFlex="45" fxLayoutGap="20px">
              <div  fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="20px" fxFlex="10">
                <div fxFlex="40" class="font-bold">N°</div>
                <div fxFlex="60">
                  <mat-form-field appearance="outline">
                    <input matInput formControlName="invoiceNbr" type="text">
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="20px" fxFlex="10">
                <div fxFlex="40" class="font-bold">Bon de commande</div>
                <div fxFlex="60" >
                  <mat-form-field appearance="outline">
                    <input matInput type="text">
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="20px" fxFlex="10">
                <div fxFlex="40" class="font-bold">Date</div>
                <div fxFlex="60">
                  <mat-form-field appearance="outline">
                    <input matInput formControlName="invoiceDate" type="text">
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="20px" fxFlex="10">
                <div fxFlex="40" class="font-bold">Date d'échéance</div>
                <div fxFlex="60">
                  <mat-form-field appearance="outline">
                    <input matInput formControlName="invoiceDelay" type="text">
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="20px" fxFlex="10">
                <div fxFlex="40" class="font-bold">Projet</div>
                <div fxFlex="60">
                  <mat-form-field appearance="outline">
                    <input matInput type="text">
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="20px" fxFlex="20">
                <div fxFlex="40" class="font-bold">Description</div>
                <div fxFlex="60">
                  <textarea name="description" id="description" cols="22" rows="5"></textarea>
                </div>
              </div>
            </div>
          </div>
          <br>
          <mat-divider *ngIf="contractorName && contractCode && !editContractors" [ngStyle]="{ 'width': '95%', borderTopWidth: '10px','margin-left': '2%' }"></mat-divider>
          <br>
          <div [formGroup]="form" [ngStyle]="{ 'padding-top': '10px', 'margin-left': '2%','width': '96%'}" *ngIf="contractorName && contractCode && !editContractors">
            <div formArrayName='input'>
              <div>
                <table class="full-width">
                  <tr class="white full-width bg-steel text-center">
                    <th class="width-15">Services/produits</th>
                    <th class="width-25" >Description</th>
                    <th class="width-12">prix</th>
                    <th class="width-12">quantité</th>
                    <th class="width-12">Tva%</th>
                    <th class="width-12">Tva</th>
                    <th class="width-12">Escompte</th>
                    <th class="montant width-12">Montant</th>
                  <tr *ngFor="let roleListControl of getListRole().controls; let i = index" [formGroupName]="i">
                    <td>
                      <mat-select formControlName="project_code" placeholder="Services/produits">
                        <ng-container *ngFor="let project of listProject">
                          <mat-option (click)="getProject(i, project)" [value]=project.ContractProjectKey.project_code>
                            {{ project.ContractProjectKey.project_code }}
                          </mat-option>
                        </ng-container>
                      </mat-select>
                    </td>
                    <td>
                      <textarea matInput name="Text1" class="overflow-hidden"  placeholder="project_desc" formControlName='project_desc' matInput
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="1"
                      ></textarea>
                    </td>
                    <td>
                        <textarea matInput name="Text1" (blur)="getTvaOrMountInvoice(i)" placeholder="quantité"  class="overflow-hidden"  required formControlName='invoice_line_unit_amount' matInput
                        cdkTextareaAutosize
                        cdkAutosizeMinRows="1"
                        ></textarea>
                    </td>
                    <td>
                        <textarea (blur)="getTvaOrMountInvoice(i)"  matInput name="Text1" placeholder="Days number"  class="overflow-hidden"  required formControlName='days_nbr' matInput
                        cdkTextareaAutosize
                        cdkAutosizeMinRows="1"
                        ></textarea>
                      </td>
                    <td>
                      {{ form.value.input[i].vat_rate  ? form.value.input[i].vat_rate : 0   }} %
                    </td>
                    <td>
                      {{ form.value.input[i].vat_amount  ? form.value.input[i].vat_amount  : 0 }}

                    <td>
                      <input class="black-three" type="number" (blur)="getTvaOrMountInvoice(i)" min="0" max="100" autocomplete="off" matInput required placeholder="discount"
                        formControlName='discount'
                        type = "number"
                        maxlength = "3" />
                    </td>
                    <td>
                     {{form.value.input[i].invoice_line_total_amount ? form.value.input[i].invoice_line_total_amount: 0 }}
                    </td>
                    <td class="cursor-pointer" [ngStyle]="{'border-top-right-radius': '15px !important','border-bottom-right-radius':'15px !important'}" (click)='delete(i)' id="delete">
                      <mat-icon svgIcon="wi-trash" class="icon">
                      </mat-icon>
                    </td>
                  </tr>
                </table>
                <div>
                </div>
              </div>
            </div>
            <div *ngIf='getListRole().controls.length >0' class="btn-add-line" fxLayout="row"
              fxLayoutAlign="flex-start center">
                  <button [disabled]="form.invalid || (form.value?.input[getListRole().controls.length - 1]?.vat_amount =='error') || (form.value?.input[getListRole().controls.length -1]?.invoice_line_total_amount == 'error') " mat-raised-button class="btn-medium bg-cerulean-blue white" (click)="onAddAnotherRoleName()"> <span
                    class="btn-plus">+</span> Ajouter une ligne</button>


            </div>
            <div *ngIf='getListRole().controls.length ==0'>
              <div fxLayout="row" fxLayoutAlign="center start">
                <div fxFlex="100" fxLayout="column" fxLayoutAlign="center center" class="border-none"
                  [ngStyle]="{border: 'solid 3px #e8f1f9',  height: '250px'}" >
                  <div fxFlex="15" fxLayout="row">
                    <button mat-raised-button class="btn-medium bg-cerulean-blue">
                      <span class="white font-normal" (click)="onAddAnotherRoleName()">Add  new line Invoice</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div fxLayout="row" class="p-20" flexLayoutGap="30px" [formGroup]="formCompanyBanking">
              <div fxFlex="50"> <span class="font-bold">Condition et modalité</span>
                <div [ngStyle]="{'border': '1px solid #afb1b8','width': '98%','padding': '4px'}">
                    <textarea matInput name="Text1"  class="overflow-hidden" formControlName='comment1' matInput
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    ></textarea>
                </div>
                <div [formGroup]="formFactor">
                  <mat-checkbox   class="example-margin" (click)='setCompanyBankingInfo()' formControlName="factorInvoice">Fator
                  </mat-checkbox>
                </div>
              </div>
              <div fxFlex="50"  [ngStyle]="{'height': '140px','font-weight': 'bold','padding-left': '30%'}" fxLayout="column"
              fxLayoutAlign="center start" >
                <div> Sous-total: {{sousTotalHT}}$</div>
                <div> TVA: {{vatMount}}$</div>
                <div> Total: {{totalTTC}}$</div>
                <div> Paiement(s): {{totalTTC}}$</div>
                <div> Solde à payer: {{totalTTC}}$</div>
              </div>
            </div>

            <div fxLayout="column" class="p-l-20">
              <div fxFlex="55" >
              <div>Tel: {{this.userInfo['phone']}}</div>
              <div> Email: <a class="cerulean-blue">{{this.userInfo['contact_email']}} </a></div>
              <div>Site web: <a class="cerulean-blue">{{this.userInfo['web_site']}}</a> </div>
              <div>adress: {{userInfo['adress']}}</div>
            </div>
              <br>
              <div class="modal-footer" fxFlex="35" fxLayoutAlign="flex-end center" fxLayout="row" fxLayoutGap="30px"
                class="m-r-10">
                <div class="full-width">
                <button mat-raised-button class="btn-small bg-pale-grey black-three">Cancel</button>
              </div>
                <button [disabled] = "formHeader.invalid"  mat-raised-button class="btn-small bg-pale-grey black-three" (click)="generateInvoice('DRAFT')">Soumettre Draft</button>
                <button  [disabled] = "formHeader.invalid"  mat-raised-button class="btn-small bg-ocean-blue white"
                  (click)="generateInvoice('PENDING')">Confirm</button>
              </div>
            </div>
            <br>
          </div>
        </div>
      </wid-scrollbar>
    </div>

