<!--<div fxLayout="row" fxFlex="5" fxLayoutAlign="space-around center" class="bg-white border-radius-20">-->
<!--  <div fxLayout="column" fxFlex="56">-->
<!--    <div fxLayout="row" fxLayoutAlign="space-around center" class="bg-white border-radius-20" fxLayoutGap="20px">-->

<!--      <div fxLayout="column" fxFlex="30" >-->
<!--        <h1 class="steel font-size-24 font-medium">-->
<!--          <mat-form-field appearance="outline">-->
<!--            <mat-icon matSuffix>mode_edit</mat-icon>-->
<!--            <input matInput placeholder="Search">-->
<!--          </mat-form-field>-->
<!--        </h1>-->
<!--      </div>-->
<!--      <div fxLayout="column">-->
<!--        <h1 class="steel font-size-24 font-medium">-->
<!--          <mat-form-field appearance="outline">-->
<!--            <mat-label>Sort By</mat-label>-->
<!--            <mat-select>-->
<!--              <mat-option value="">-->
<!--              </mat-option>-->
<!--            </mat-select>-->
<!--          </mat-form-field>-->
          <!--            <mat-form-field appearance="outline">-->
          <!--              <input type="text" placeholder="Sort By" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">-->
          <!--              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">-->
          <!--                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">-->
          <!--                  {{ option }}-->
          <!--                </mat-option>-->
          <!--              </mat-autocomplete>-->
          <!--            </mat-form-field>-->
<!--        </h1>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->

<!--  <div fxLayout="column" fxFlex="15" fxLayoutAlign="center end" class="font-size-25 steel">-->
<!--    <button mat-raised-button class="white btn-medium bg-topaz" >-->
<!--      <span class="bg-topaz">New</span>-->
<!--    </button>-->
<!--  </div>-->

<!--</div>-->
<div fxLayout="column" fxFlex="90" fxLayoutAlign="center" class="p-l-65">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="column" fxFlex="40">
      <div fxLayout="row" fxLayoutAlign="space-around">
        <h1 class="steel font-size-24 font-medium">
          <mat-form-field appearance="outline">
            <mat-icon matSuffix>mode_edit</mat-icon>
            <input matInput placeholder="Search">
          </mat-form-field>
        </h1>
        <h1 class="steel font-size-24 font-medium">
          <mat-form-field appearance="outline">
            <mat-label>Sort By</mat-label>
            <mat-select>
              <mat-option value="">
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!--            <mat-form-field appearance="outline">-->
          <!--              <input type="text" placeholder="Sort By" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">-->
          <!--              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">-->
          <!--                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">-->
          <!--                  {{ option }}-->
          <!--                </mat-option>-->
          <!--              </mat-autocomplete>-->
          <!--            </mat-form-field>-->
        </h1>
      </div>
    </div>
    <div fxLayout="column">
      <button mat-raised-button class="white btn-medium bg-topaz" >
        <span class="bg-topaz">New</span>
      </button>
    </div>
  </div>
</div>

