<div class="licence-container"
     fxLayout="column" fxLayoutGap="20px" fxFlexOffset="3" fxFlex="94">
  <div fxLayout="row" fxFlex="15" fxLayoutGap="50px" fxLayoutAlign="space-around center" class="bg-white border-radius-20">
    <div fxLayout="row" fxFlex="50" fxLayoutGap="15px" class=" m-l-60">
      <div fxLayout="column"> <img src="assets/img/500illustration.png" [width]='50'
                                   [height]='50' class="edit-img" alt=""></div>
      <div fxLayout="column" fxLayoutAlign="center">
        <span  class="font-size-20 warm-grey"> {{companyName}}</span>
      </div>
    </div>
    <div fxLayout="column" fxFlex="2">
      <hr class="warm-grey vertical-line">
    </div>
    <div fxLayout="column" fxFlex="48" fxLayoutAlign="center start" class="font-size-20">
      <span  class="warm-grey"> {{sessionName}}</span>
    </div>

  </div>




  <div class="full-width bg-white border-radius-20 p-10 p-l-20" fxFlex="80"
       fxLayout="column" fxLayoutAlign="start"  >
<wid-component-info style="height: 100%" [title]="{ name: 'congratulations', color:'#0067e0'}"
                    (buttonAction)="back($event)"
                    [image]= "{ path:'done-circle.svg',height:'110px' }"
                    [message] = "' You have completed the exam during the specified time.'"
                    [button]="{ name: 'Back to home', color: '#2b2b2b', background: '#f3f6f9'}">
</wid-component-info>
  </div>
</div>
