<wid-confirm-list
  *ngIf="loaded()"
    [DATA]="selectedFiles"
    [title]="'Import Payslip'"
    [selectAllBtn]="true"
    [btnLabel]="'Associate'"
    [requiredFields]="['email_address', 'collaboratorName']"
    [selectList]=" { data: collaboratorList, selected: 'email_address' , value: ['userKey', 'email_address'], text: 'first_name', placeHolder: 'Collaborator'}"
    [message]="{ field: 'collaboratorName', message: 'The name [$VALUE] here was found in the payslip'}"
    (action)="associate($event)"
    (dialogAction)="modalActions($event)"
  ></wid-confirm-list>
