<wid-scrollbar fxLayout="row" fxFlexFill>
<div fxLayout="column" fxFlexFill >
  <div *ngFor="let item of getProjectSection let pointIndex=index" fxLayout="row" style="justify-content: center; align-items: center"    >
    <div fxLayout="column" fxFlex="82" >
      <br>
    <div fxLayout="row"  class="bg-pale-grey border-radius-15 full-width" >
      <div class="p-l-20" fxLayout="column" fxFlex="50" >
        <p>{{item.project_detail_title}}</p>
      </div>
    </div>
    </div>
  </div>
  <div fxLayout="row"   class="full-width" fxFlex="100">
<form [formGroup]="sendProDetails" class="full-height" fxLayout="column" fxFlexFill fxLayoutGap="10px">
  <div fxLayout="row" fxFlex="38"  fxLayoutAlign="space-around center" style="align-items: flex-end">
    <div fxLayout="column" fxFlex="30">
      <mat-label class="black font-size-12 required">
        Section title :
      </mat-label>
      <mat-form-field appearance="outline">
        <input formControlName="project_detail_title" matInput placeholder="Section title" required>

      </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex="30">
      <mat-label class="black font-size-12 required">
        Section type :
      </mat-label>
      <mat-form-field appearance="outline">
        <mat-select disableOptionCentering panelClass="panelColor"
                    formControlName="select" (selectionChange)="onSelect()" [value]="desc" placeholder="Section type">
          <mat-option *ngFor="let v of secList" [value]="v.value">{{v.viewValue}}</mat-option>

        </mat-select>
      </mat-form-field>

    </div>
  </div>
  <div fxLayout="row" fxFlex="28" fxLayoutAlign="center">
    <ng-template [ngIf]="showDesc" fxLayout="column">
      <div fxLayout="column" fxFlex="80">
        <mat-label class="black font-size-12">
          Description :
        </mat-label>
        <mat-form-field appearance="outline">
          <textarea matInput placeholder="description" rows="7"
                    formControlName="project_detail_desc"></textarea>
        </mat-form-field>
      </div>

    </ng-template>
    <ng-template [ngIf]="showSec" fxLayout="column">
      <div fxLayout="row" fxFlex="100">
    <form [formGroup]="sendProSectionDetails" fxFlexFill>
      <div formArrayName="Field" fxFlexFill>
        <div *ngFor="let item of inputFields.controls; let pointIndex=index" [formGroupName]="pointIndex" fxFlexFill>
          <div fxLayout="row" >
      <div fxLayout="column" fxFlex="72"  >
        <div fxLayout="row" >

          <div fxLayout="column" fxFlex="56" fxLayoutAlign=" end"  >
        <div fxLayout="row" fxFlexFill style="justify-content: flex-end">
          <div fxLayout="column" fxFlex="75">
          <mat-label class="black font-size-12 required">
            Section Content :
          </mat-label>
      <mat-form-field appearance="outline">
        <input formControlName="project_details_section_desc" matInput placeholder="Section content" required>
      </mat-form-field>
          </div>
        </div>
         </div>
          <div fxLayout="column" style="justify-content: space-around" class="p-l-10">
            <button class="btn-small bg-cool-grey" style="border: none" (click)="createProSectionDetails()">Add</button>
          </div>
        </div>
      </div>
        </div>
        </div>
      </div>
      </form>
      </div>
    </ng-template>

  </div>
  <div fxLayout="row" fxFlex="28" fxLayoutAlign="end end">
    <div fxLayout="column" fxFlex="19"  >
    <button type="button" mat-raised-button class="bg-pale-grey btn-small"
            (click)="createProDetails()">Add
    </button></div>
  </div>

</form>
</div>
</div>
</wid-scrollbar>
