<br>
<div fxLayout="column" fxFlexFill fxLayoutGap="10px">
  <div *ngFor="let item of getProjectSection let pointIndex=index" fxLayout="row" fxFlex="100" >
    <div fxLayout="row" class="bg-pale-grey border-radius-15 ">
      <div fxLayout="column" fxFlex="20" >
        <p>{{item.project_detail_title}}</p>
      </div>
      <div fxLayout="column" fxLayoutAlign="center end" fxFlex>
        <button mat-raised-button class="steel-two btn-small bg-white border-radius-5">Edit</button>
      </div>
    </div>
  </div>
<div fxLayout="row" fxFlexFill>
<form [formGroup]="sendProDetails" class="full-height" fxLayout="column" fxFlexFill fxLayoutGap="10px">
  <div fxLayout="row" fxFlex="20" fxLayoutAlign="space-around center">
    <div fxLayout="column" fxFlex="30">
      <mat-label class="black font-size-12">
        Section title :
      </mat-label>
      <mat-form-field appearance="outline">
        <input formControlName="project_detail_title" matInput placeholder="Section title" required>

      </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex="30">
      <mat-label class="black font-size-12">
        Section type :
      </mat-label>
      <mat-form-field appearance="outline">
        <mat-select disableOptionCentering panelClass="panelColor"
                    formControlName="select" (valueChange)="onSelect()" [value]="desc" placeholder="Section type">
          <mat-option [value]="list">List</mat-option>
          <mat-option [value]="desc">Paragraph</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
  </div>
  <div fxLayout="row" fxFlex="50" fxLayoutAlign="center center">
    <ng-template [ngIf]="showDesc">
      <div fxLayout="column" fxFlex="80">
        <mat-label class="black font-size-12">
          Description :
        </mat-label>
        <mat-form-field appearance="outline">
          <textarea matInput placeholder="description" rows="7"
                    formControlName="project_detail_desc"></textarea>
        </mat-form-field>
      </div>

    </ng-template>
    <ng-template [ngIf]="showSec">
    <form [formGroup]="sendProSectionDetails" fxFlexFill>
      <div formArrayName="Field" fxFlexFill>
        <div *ngFor="let item of inputFields.controls; let pointIndex=index" [formGroupName]="pointIndex" fxFlexFill>
          <div fxLayout="row" >
      <div fxLayout="column" fxFlex="72"  >
        <div fxLayout="row" >

          <div fxLayout="column" fxFlex="56" fxLayoutAlign=" end"  >
        <div fxLayout="row"  >
          <div fxLayout="column" fxFlex="100">
          <mat-label class="black font-size-12">
            Section Content :
          </mat-label>
      <mat-form-field appearance="outline">
        <input formControlName="project_details_section_desc" matInput placeholder="Section content" required>
      </mat-form-field>
          </div>
        </div>
        </div>
          <div fxLayout="column" >
            <button class="btn-small bg-cool-grey"  (click)="createProSectionDetails()">Add</button>
          </div>
        </div>
      </div>
        </div>
        </div>
      </div>
      </form>
    </ng-template>

  </div>
  <div fxLayout="row" fxFlex="6" fxLayoutAlign="end end">
    <div fxLayout="column" fxFlex="12"  >
    <button type="submit" mat-raised-button type="submit" class="bg-pale-grey btn-small"
            (click)="createProDetails()">Add
    </button></div>
  </div>

</form>
</div>
</div>
