<div class="dynamic-component-container border-radius-20" fxLayout="column" fxFlex="100">
  <div fxLayout="row" fxFlex="10" fxLayoutAlign="space-around center">
    <div fxLayout="column" fxFlex="56">
      <h1 class="steel font-size-24 font-medium">Resume</h1>
    </div>
    <div fxLayout="column" fxFlex="15" fxLayoutAlign="center end" class="font-size-25 steel">
      <button mat-raised-button class="btn-small bg-pale-grey" routerLink="/">
        <mat-icon class="icon material-icons-outlined" svgIcon="wi_arrow_back">
        </mat-icon>
        <span class="cool-grey">back</span>
      </button>
    </div>
  </div>
  <div fxLayout="row" fxFlex="2" fxLayoutAlign="space-around center">
    <mat-divider [ngStyle]="{ 'width': '90%', borderTopWidth: '2px' }"></mat-divider>
  </div>
  <div fxLayout="row" fxFlex="88">
    <div fxLayout="column" fxFlex="94">
      <div fxLayout="row" fxFlex="10" fxLayoutAlign="space-around center ">
        <div fxLayout="column" fxFlex="86">
          <h4 class="steel font-size-18 font-small">{{ 'resume-certif-diploma' | translate }}</h4>
        </div>
      </div>
      <div fxLayout="row" fxFlex="80" fxLayoutAlign="space-around">
        <wid-scrollbar fxFlexFill fxLayout="column">
          <div fxLayout="row" fxFlex="55" fxLayoutAlign="center center">
            <div fxLayout="column" fxFlex="85" fxFlexAlign="center center" class="full-height">
              <div *ngFor="let item of certifDiplomaArray let pointIndex=index" fxLayout="column">
                <div fxLayout="row" class="bg-pale-grey border-radius-15 " fxFlex="80">
                  <div fxLayout="column" fxFlex="80" class="p-l-20">
                    <div fxLayout="row" fxFlex="44">
                      <p class="font-normal font-size-15">{{item.diploma}}</p>
                    </div>
                    <div fxLayout="row" fxFlexAlign=" start" fxFlex="50">
                      <p class="font-extra-light font-size-10 help-blue">
                        {{item.establishment}}   {{item.start_date | date:"longDate"}}-{{item.end_date | date:"longDate"}}</p>
                    </div>
                  </div>
                  <div fxLayout="column" fxLayoutAlign="center end" class="p-r-20" fxFlex  >
                    <button mat-raised-button class="steel-two btn-small bg-white border-radius-5"  (click)="editForm(item,pointIndex)">{{ 'resume-edit' | translate }}</button>
                  </div>
                  <div fxLayout="column" fxLayoutAlign="center end" class="p-r-20" fxFlex>
                    <button mat-raised-button class="steel-two btn-small bg-white border-radius-5"  (click)="deleteCertif(item._id,pointIndex)" >{{ 'resume-delete' | translate }}</button>
                  </div>
                </div>
              </div>
              <form [formGroup]="sendCertifDiploma" >
                <div fxLayout="row" fxFlex="100" class="border-radius-10 pale-grey border-solid" fxLayoutAlign="space-arround center" >
                  <div fxLayout="column" fxFlex="90" class="full-height" fxLayoutAlign="center">
                    <div fxLayout="row" fxFlex="21" fxLayoutAlign="space-around center">
                      <div fxLayout="column" fxFlex="32">
                        <mat-label class="black font-size-12 required">
                          {{ 'resume-establishment' | translate }}:
                        </mat-label>
                        <mat-form-field appearance="outline">
                          <input formControlName="establishment" matInput placeholder="{{ 'resume-establishment' | translate }}" required>
                          <mat-error class="red" *ngIf="sendCertifDiploma.controls.establishment.errors?.required">
                            {{ 'general.required' | translate }}</mat-error>
                          <mat-error class="red" *ngIf="sendCertifDiploma.controls.establishment.errors?.pattern">
                            {{ 'resume-numbers' | translate }}</mat-error>
                        </mat-form-field>
                      </div>
                      <div fxLayout="column" fxFlex="32">
                        <mat-label class="black font-size-12 required">
                          {{ 'resume-diploma' | translate }}:
                        </mat-label>
                        <mat-form-field appearance="outline">
                          <input formControlName="diploma" matInput placeholder="{{ 'resume-diploma' | translate }}" required>
                          <mat-error class="red" *ngIf="sendCertifDiploma.controls.diploma.errors?.required">
                            {{ 'general.required' | translate }}</mat-error>
                          <mat-error class="red" *ngIf="sendCertifDiploma.controls.diploma.errors?.pattern">
                            {{ 'resume-numbers' | translate }}</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div fxLayout="row" fxFlex="24" fxLayoutAlign="space-around center">
                      <div fxLayout="column" fxFlex="32">
                        <mat-label class="black font-size-12 required">
                          {{ 'resume-start-date' | translate }}:
                        </mat-label>
                        <mat-form-field appearance="outline">
                          <input matInput [matDatepicker]="datepicker" [min]="minStartDate" [max]="maxStartDate"  #date1
                                 formControlName="start_date" placeholder="{{ 'resume-start-date' | translate }}" (dateChange)="onChangeStartDate(date1.value)" required>
                          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                          <mat-datepicker #datepicker color="primary"></mat-datepicker>
                          <mat-error class="red" *ngIf="sendCertifDiploma.controls.start_date.errors?.required">
                            {{ 'general.required' | translate }}</mat-error>
                        </mat-form-field>
                      </div>
                      <div fxLayout="column" fxFlex="32">
                        <mat-label class="black font-size-12 required">
                          {{ 'resume-end-date' | translate }}:
                        </mat-label>
                        <mat-form-field appearance="outline">
                          <input matInput [matDatepicker]="datepickerend" [min]="minEndDate" [max]="maxEndDate"  #date2
                                 formControlName="end_date" placeholder="{{ 'resume-end-date' | translate }}" (dateChange)="onChangeEndDate(date2.value)" required>
                          <mat-datepicker-toggle matSuffix [for]="datepickerend"></mat-datepicker-toggle>
                          <mat-datepicker #datepickerend color="primary"></mat-datepicker>
                          <mat-error class="red" *ngIf="sendCertifDiploma.controls.end_date.errors?.required">
                            {{ 'general.required' | translate }}</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div fxLayout="row" fxFlex="38" fxLayoutAlign="space-around center">
                      <div fxLayout="column" fxFlex="82">
                        <mat-label class="black font-size-12">
                          {{ 'resume-desc' | translate }}:
                        </mat-label>
                        <mat-form-field appearance="outline">
                              <textarea matInput placeholder="{{ 'resume-desc' | translate }}" rows="7"
                                        formControlName="certif_diploma_desc"></textarea>
                        </mat-form-field>
                      </div>
                    </div>
                    <div fxLayout="row" fxFlex="6">
                      <div fxLayout="column" fxFlex="100" fxLayoutAlign="start end">
                        <button mat-raised-button type="button" class="btn-small bg-pale-grey"
                                (click)="createUpdateCertifDiploma()" [disabled]="sendCertifDiploma.invalid">
                          {{button}}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </wid-scrollbar>
      </div>
      <div fxLayout="row" fxFlex="14" fxLayoutAlign="center ">
        <div fxLayout="column" fxFlex="46" fxLayoutAlign=" start" [style]="{ minHeight: '139px'}">
          <button mat-raised-button class="btn-medium bg-pale-grey" routerLink="/candidate/resume/">
            <span class="cool-grey">{{ 'resume-previous' | translate }}</span>
          </button>
        </div>
        <div fxLayout="column" fxFlex="50" fxLayoutAlign=" end" [style]="{ minHeight: '139px'}">
          <button mat-raised-button type="submit" color="primary" class="white  btn-medium" [style]="{marginRight: '4%'}"
                  [routerLink]="['/candidate/resume/technicalSkills']">
            {{ 'resume-next' | translate }}
          </button>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="start start" fxFlex="6">
      <div fxLayout="row" fxFlex="93" fxLayoutAlign=" end">
        <div fxLayout="column" fxLayoutAlign="end" fxFlexFill>
          <div fxLayout="row"  *ngFor="let item of addIndexation()">
            <div fxLayout="column" fxFlexFill>
              <div fxLayout="row">
                <ng-template [ngIf]="item === '02'">
                  <span @GreyToBlue style="color: blue; font-size: 10px">{{item}}</span>
                </ng-template>
                <ng-template [ngIf]="item !== '02' && item !== '01'">
                  <span style="color: #afb1b8; font-size: 10px">{{item}}</span>
                </ng-template>
                <ng-template [ngIf]="item === '01'" >
                  <span  @blueToGrey style="color: #afb1b8; font-size: 10px">{{item}}</span>
                </ng-template>
              </div>
              <div fxLayout="row" fxLayoutAlign="center center">
                <ng-template [ngIf]="item === '02'">
                  <div [@downLine]="{ params: {previousRoute: previousRoute}}" style="border-left: 1px solid blue; padding-bottom: 20px"></div>
                </ng-template>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
