.btn-timesheet{
  min-width: 30px !important;
  line-height: 0 !important;
  height: 30px !important;
  width: 30px !important;
  padding: 0 !important;
  mat-icon{
    width: 20px;
    height: 20px;
  }
}

/*.btn-close {
  min-width: 21px !important;
  line-height: 0 !important;
  height: 21px !important;
  width: 21px !important;
  padding: 0 !important;

  mat-icon {
    width: 10px;
    height: 10px;
  }
}*/
