.btn-timesheet{
  min-width: 45px !important;
  line-height: 0 !important;
  height: 45px !important;
  width: 45px !important;
  padding: 0 !important;
  mat-icon{
    width: 25px;
    height: 25px;
  }
}
