<wid-dynamic-data-table
  [tableData]="ELEMENT_DATA"
  [tableCode]="'TIMESHEET_COLLABORATOR'"
  [isLoading]="isLoading"
  [header]="{
  title: 'Timesheet management',
  addActionURL: redirectUrl,
  addActionText: 'New',
  feature: typeTimesheet === TIMESHEET ? 'TIMESHEET_ADD' : 'TIMESHEET_EXTRAS_ADD'
  }"
  [title]="'Timesheet list'"
  (rowActionData)="switchAction($event)"
  [allowedActions]="[{name: 'delete', feature: typeTimesheet === TIMESHEET ? 'TIMESHEET_DELETE' : 'TIMESHEET_EXTRAS_DELETE'}]"
  [colorObject]="sendColorObject()"
  (pagination)="loadMoreItems($event)"
>
</wid-dynamic-data-table>

