<!--


<div class="page-container" fxLayout="column" >

&lt;!&ndash;<mat-icon id="svg" svgIcon='wi_customer'></mat-icon> &ndash;&gt;

  &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; CUSTOM STEPPER [SINGLE FORM] &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;
  &lt;!&ndash;
  <div  fxFlex="34" fxFlex.xs="40">

    <form [formGroup]="frmStepper">
      <wid-stepper [stepperConfig]="stepperConfig"
                   (notify)="onNotify($event)"
                   formArrayName="steps"
                   #singleFormStepper> &ndash;&gt;
        &lt;!&ndash;
             YOU CAN CREATE STEP BY ADDING CONTENT
                  INSIDE THE FOLLOWING TAG
              <cdk-step formGroupName="i" [stepControl]="formArray.get([i])">
                <ng-template cdkStepLabel>
                  <span>stepLabelOne </span>
                </ng-template>
                YOUR CONTENT
              </cdk-step>
        &ndash;&gt;
     &lt;!&ndash;   <cdk-step formGroupName="0" [stepControl]="formArray.get([0])">
          <ng-template cdkStepLabel>
            Personal Details
          </ng-template>
          <div>
            <div>
              <div>
                <div>
                  <label>First Name</label>
                  <p >
                    <input formControlName="firstName" class="input" type="text" placeholder="First Name">
                  </p>
                </div>
                <div>
                  <label>Last Name</label>
                  <p>
                    <input formControlName="lastName" type="text" placeholder="Last Name">
                  </p>
                </div>
              </div>
            </div>
            <div>
              <label>Email Address</label>
              <div>
                <input formControlName="email" type="text" placeholder="Text input">
              </div>
            </div>
          </div>
        </cdk-step>

        <cdk-step formGroupName="1" [stepControl]="formArray.get([1])">
          <ng-template cdkStepLabel>
            Address
          </ng-template>
          <div>
            <div>
              <label>Address One</label>
              <p>
                <input formControlName="addressOne" type="text" placeholder="Address One">
              </p>
            </div>
            <div>
              <label>Address Two</label>
              <p>
                <input formControlName="addressTwo" type="text" placeholder="Address Two">
              </p>
            </div>
            <div>
              <label>City</label>
              <p>
                <input formControlName="city" type="text" placeholder="City">
              </p>
            </div>

            <div>
              <label>County/State/Region</label>
              <div>
                <input formControlName="county" type="text" placeholder="County/State">
              </div>
            </div>
            <div>
              <label>Country</label>
              <div>
                <input formControlName="country" type="text" placeholder="Country">
              </div>
            </div>
          </div>
        </cdk-step>
        <cdk-step formGroupName="2" [stepControl]="formArray.get([2])">
          <ng-template cdkStepLabel>
            Payment Information
          </ng-template>
          <div>
            <div>
              <div>
                <div>
                  <label>Credit Card Number</label>
                  <p>
                    <input formControlName="creditCardNo" type="text" placeholder="Credit Card No.">
                  </p>
                </div>
                <div>
                  <label>Expiry</label>
                  <p>
                    <input formControlName="expiryDate" type="text" placeholder="10/2020">
                  </p>
                </div>
              </div>
            </div>
            <div>
              <label>CVV Code</label>
              <div>
                <input formControlName="cvvCode" type="number" placeholder="CVV Code">
              </div>
            </div>
          </div>
        </cdk-step>
      </wid-stepper>
    </form>

  </div>
&ndash;&gt;
  &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;
</div>

-->
