
  <wid-dynamic-data-table
    [tableData]="ELEMENT_DATA"
    [isLoading]="isLoading"
    [tableCode]="'COMPANY_PAYMENT_TERMS'"
    [header]="{ title: 'payment.info.title' | translate,type:'dialog', addActionDialog: { modalName: 'addPaymentTerms', modalComponent: 'AddPaymentInfoCompanyComponent', data: null, width: '657px', height: '396px' }
    , addActionText: 'add-new' | translate}"
    (rowActionData)="switchAction($event)"
    (pagination)="loadMoreItems($event)"
    [allowedActions]="['payment.info.delete']"
    [security] = false
  >
  </wid-dynamic-data-table>
