
  <wid-dynamic-data-table
    [tableData]="ELEMENT_DATA"
    [isLoading]="isLoading"
    [tableCode]="'COMPANY_PAYMENT_TERMS'"
    [header]="{ title: 'Payment info management',type:'dialog', addActionDialog: { modalName: 'addPaymentTerms', modalComponent: 'AddPaymentInfoCompanyComponent', data: null, width: '657px', height: '396px' }
    , addActionText: 'New payment info'}"
    [title]="'Payment info list'"
    (rowActionData)="switchAction($event)"
    [allowedActions]="['delete']"
  >
  </wid-dynamic-data-table>
