.upload-button {
  border-radius: 0 10px 10px 0 !important;
  font-size: 13px !important;
  line-height: 3.5 !important;
  height: 47px;
}
table {
  border-radius: 10px;
  border: 1px solid #7b7e8a;
  margin-bottom: 20px;

  tr{
    height: 50px;
    border-bottom: 1px solid #ebebeb;

  }

  th, td {
    height: 50px;
    border-bottom: 1px solid #ebebeb;
    text-align: center!important;
  }

  th {
    background-color: white;
  }
}

.mat-icon-button {
  color: #f2f4f8;
  border-radius: 10px;
  width: 43px;
  height: 43px;
}

.mat-list-base {
  padding-top: 4px !important;
}

.mat-list-base .mat-list-item {
  height: 35px !important;
}
