.upload-button {
  border-radius: 0 10px 10px 0 !important;
  font-size: 13px !important;
  line-height: 3.5 !important;
  height: 47px;
}
table {
  border-radius: 10px;
  border: 1px solid #7b7e8a;
  margin-bottom: 20px;

  tr{
    height: 50px;
    border-bottom: 1px solid #ebebeb;
  }

  th, td {
    height: 50px;
    border-bottom: 1px solid #ebebeb;
    text-align: center!important;
  }

  th {
    background-color: white;
  }
}

.mat-icon-button {
  color: #f2f4f8;
  border-radius: 10px;
  width: 43px;
  height: 43px;
}

.mat-list-base {
  padding-top: 4px !important;
}

.mat-list-base .mat-list-item {
  height: 35px !important;
}
.resume-container {
  min-height: 150px;
  max-width: 100%;
  border-radius: 4px;
  border: 2px solid #afb1b8;
}
.resume-icon {
  border-radius: 5px;
  border: 1px solid #f3f6f9;

}
.width-templates-cv{
  width: 60%!important;
}
.resume-container-column {
  min-width: 20%;
  padding-top: 7px;
}
.buttonBrowse {
  position: absolute;
  top: -.45rem;
  border-radius: 0 5px 5px 0;
  right: -1px;
  border: none;
  width: 6rem;
  height: 44px;
  color: black;
  transform: translateX(8px);
  background-color: #afb1b8;
  color: white;
}


