.container-details-invite {
  min-height: 83% !important;
}
.top-modal-show-request-training{
  background: repeating-linear-gradient(#e8f1f9, #e8f1f9 64%, #ffffff 64.1%, #ffffff 100%);
  border-top-radius: 20px;
}
.img-show-training-request{
  height: 120px;
  width: 120px;
  border: 3px solid #7b7e8a;
}
