<wid-dynamic-data-table
  [tableData]="this.tableData"
  [tableCode]="'EXPENSES-RECURRING-LIST'"
  [isLoading]="isLoading"
  [buttonAdd]="false"
  [header]="{ title: 'Expenses recurringmanagement', addActionURL: '/manager/expenses/expenses-recurring/expense-add-recurring', feature:'EXPENSES_ACCESS', addActionText: 'Add new expense'}"
  (rowActionData)="switchAction($event)"
  (pagination)="loadMoreItems($event)"
  [allowedActions]="[{ name: 'Archive expense', feature: 'EXPENSES_ACCESS'}]">
</wid-dynamic-data-table>
