<div fxLayout="row" fxFlexFill style="align-items: center">
  <div fxLayout="column" style="align-items: center" fxFlex>
    <button mat-raised-button type="submit" color="primary" class="white btn-large" mat-dialog-close="'wid'"  [style]="{marginRight: '4%'}">
      Widigital
    </button>
  </div>
<!--  <div fxLayout="column" style="align-items: center" fxFlex>
    <button mat-raised-button type="submit"  class="white btn-large" style="background-color: hotpink" mat-dialog-close="pink"  [style]="{marginRight: '4%'}">
      Pink
    </button>
  </div>
  <div fxLayout="column" style="align-items: center" fxFlex>
    <button mat-raised-button type="submit"  class="white btn-large" style="background-color: darkslategrey" mat-dialog-close="green"  [style]="{marginRight: '4%'}">
      Green
    </button>
  </div>-->

</div>
