<div class="dynamic-component-container border-radius-20" fxLayout="column" fxFlex="100">
  <div fxLayout="row" fxFlex="10" fxLayoutAlign="space-around center">
    <div fxLayout="column" fxFlex="56">
      <h1 class="steel font-size-24 font-medium">Questions bloc</h1>
    </div>
    <div fxLayout="column" fxFlex="15" fxLayoutAlign="center end" class="font-size-25 steel">
      <button mat-raised-button class="btn-small bg-pale-grey" routerLink="/">
        <mat-icon class="icon material-icons-outlined" svgIcon="wi_arrow_back">
        </mat-icon>
        <span class="cool-grey">{{"back" | translate}}</span>
      </button>
    </div>
  </div>
  <div fxLayout="row" fxFlex="2" fxLayoutAlign="space-around center">
    <mat-divider [ngStyle]="{ 'width': '90%', borderTopWidth: '2px' }"></mat-divider>
  </div>
  <div fxLayout="row" fxFlex="88" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex="94" fxLayoutGap="10px">
      <div fxLayout="row" fxFlex="12" fxLayoutAlign="space-around center ">
        <div fxLayout="column" fxFlex="96">
          <div fxLayout="row" fxFlexFill>
            <div fxLayout="column" fxFlexFill>
              <form fxLayout="row" fxFlexFill fxLayoutGap="10px">
                <div fxLayout="column" fxFlex="12" >
                  <mat-label class="font-size-12 black font-normal">
                    Search:
                  </mat-label>
                  <mat-form-field [style]="{'width': '100%', 'height': '80%', 'fontSize': '5px'}" appearance="outline">
                    <!--(blur)="searchData($event)"-->
                    <input  matInput type="search" [(ngModel)]="searchField" placeholder="Search ..." class="font-extra-light font-size-12" [ngModelOptions]="{standalone: true}">

                  </mat-form-field>
                </div>
                <div fxLayout="column" fxFlex="8">
                  <mat-label class="font-size-12 black font-normal">
                    Skills:
                  </mat-label>
                  <mat-form-field [style]="{'width': '100%', 'height': '80%', 'fontSize': '5px'}" appearance="outline">
                    <mat-select     placeholder="Skill" [(ngModel)]="selectSearchField" class="font-light font-size-12" [ngModelOptions]="{standalone: true}">
                      <mat-option *ngFor="let item of technologiesList" [value]="item.code">
                        {{item.title}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxLayout="column" fxFlex="72">
                  <div fxLayout="row" fxFlexFill fxLayoutAlign="end">
                    <div fxLayout="column" fxFlex="6" fxLayoutAlign="center">
                      <button fxLayout="row" style="width: 35px; height: 35px; border: 2px solid #afb1b8;border-radius: 4px; background-color: white; color: gray" (click)="changeDisplaying()" fxLayoutAlign="center center">
                            <img [src]="displayingIcon" alt="list icon" width="24px" height="24px">
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxFlex="75">
        <div fxLayout="column" fxFlexFill>
          <wid-scrollbar fxLayout="row" fxFlex="100">
            <div fxLayout="column" fxFlexFill fxLayoutGap="10px">
              <div fxLayout="row" style="min-height: 8%" fxLayoutAlign="space-around center ">
                <div fxLayout="column" fxFlex="96">
                  <span class="black font-size-20 font-normal">Available Packs</span>
                </div>
              </div>
              <div fxLayout="row" >
                <div fxLayout="column" fxFlex="96" >
                  <div fxLayout="row" fxFlex="100" fxLayoutAlign="end">
                    <div fxLayout="column" fxFlex="97" fxLayoutAlign="center">
                      <ng-template  [ngIf]="isLoading.getValue()">
                        <div class="min-full-width min-full-height" fxLayoutAlign="center center" style="height: 45vh;">
                          <mat-progress-spinner
                            color="primary"
                            mode="indeterminate">
                          </mat-progress-spinner>
                        </div>
                      </ng-template>
                      <ng-template [ngIf]="!isLoading.getValue()">
                        <ng-template [ngIf]="availableBlocQuestionsList.length === 0">
                          <div fxLayout="row"  class="empty-available-bloc" style="min-height: 220px">
                            <div fxLayout="column" fxFlexFill  fxLayoutGap="20px" >
                              <div fxLayout="row" fxFlex="50" fxLayoutAlign="center end">
                                <span class="cool-grey font-medium font-size-24">There is no bloc questions available</span>
                              </div>
                              <div fxLayout="row" fxFlex="50" fxLayoutAlign="center">
                                <button mat-raised-button class="btn-medium" color="primary">
                                  <span class="white font-size-14 font-medium">Add Bloc questions</span></button>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                        <ng-template [ngIf]="availableBlocQuestionsList.length !== 0">
                          <ng-template [ngIf]="showVertical" >
                            <div fxLayout="row wrap"  fxLayoutGap="15px grid" fxFlex="100" @blocQuestionsAppearance>
                              <div fxLayout="column" *ngFor="let oneAvailableBloc of availableBlocQuestionsList |
                                   filterData: searchField: 'test_question_bloc_title' |
                                   filterData: selectSearchField: 'TestQuestionBlocKey.test_technology_code';" >
                                <mat-card  fxLayout="column" fxLayoutAlign="center center" (click)="selectBlocFromCard(oneAvailableBloc.TestQuestionBlocKey.test_question_bloc_code)" [ngClass]="checkSelectedBloc(oneAvailableBloc.TestQuestionBlocKey.test_question_bloc_code)? 'bloc-list-card-vertical selected-card' : 'bloc-list-card-vertical'">
                                  <div fxLayout="column" fxFlexFill>
                                    <div fxLayout="row" >
                                      <div fxLayout="column" class="p-5">
                                        <div fxLayout="column"
                                             [style.width.px]="220"
                                             [style.height.px]="108"
                                             [style.background-image]="'url('+ imageUrl + oneAvailableBloc.image+ ')'"
                                             style="border-radius: 15px; background-size: 100% 100%">
                                          <div fxLayout="row" fxFlex="10" fxLayoutAlign="end">
                                            <div fxLayout="column"  class="p-r-12 rounded-check-box colored-check-box">
                                              <mat-checkbox class="custom-frame"
                                                            #checkBoxEvent
                                                            disabled
                                                            [checked]="checkSelectedBloc(oneAvailableBloc.TestQuestionBlocKey.test_question_bloc_code)"
                                                            (change)="addRemoveSelectedBloc(checkBoxEvent, oneAvailableBloc.TestQuestionBlocKey.test_question_bloc_code)"></mat-checkbox>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div fxLayout="row" fxFlex="10">
                                      <mat-card-title class="black font-size-12 font-medium p-l-15">{{oneAvailableBloc.test_question_bloc_title}}</mat-card-title>
                                    </div>
                                    <div fxLayout="row" fxFlex="25">
                                      <mat-card-content class="p-l-15">
                                        <p class="font-size-10 steel font-extra-light limit-text-height">
                                          {{oneAvailableBloc.test_question_bloc_desc.length < 100 ? oneAvailableBloc.test_question_bloc_desc : oneAvailableBloc.test_question_bloc_desc | slice:0:100}}
                                          <span *ngIf="oneAvailableBloc.test_question_bloc_desc.length >= 100">...</span>
                                          <button class="font-size-10 steel font-extra-light transparent-button" *ngIf="oneAvailableBloc.test_question_bloc_desc.length >= 100" (click)="openDescriptionDialog(oneAvailableBloc,'available')"><span style="border-bottom: 1px solid #7b7e8a">Read more</span></button>
                                        </p>
                                      </mat-card-content>
                                    </div>
                                    <div fxLayout="row" fxFlex="15">
                                      <div  fxLayout="column" class="p-l-15" fxFlexFill>
                                        <div fxLayout="row" fxLayoutGap="5px">
                                          <div fxLayout="column" [ngClass]="oneAvailableBloc.free ? 'bloc-type-free' : 'bloc-type-purchased'" fxLayoutAlign="center center">
                                            <span class="bloc-type-label">{{oneAvailableBloc.free ? 'Free' : 'purchased'}}</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </mat-card>
                              </div>
                            </div>
                          </ng-template>
                          <ng-template [ngIf]="!showVertical" >
                            <div fxLayout="row" fxFlexFill @blocQuestionsAppearance>
                              <div fxLayout="column wrap"  fxFlex="100" fxLayoutGap="10px grid">
                                <div fxLayout="row" *ngFor="let oneAvailableBloc of availableBlocQuestionsList |
                                   filterData: searchField: 'test_question_bloc_title' |
                                   filterData: selectSearchField: 'TestQuestionBlocKey.test_technology_code';" >
                                  <mat-card (click)="selectBlocFromCard(oneAvailableBloc.TestQuestionBlocKey.test_question_bloc_code)" [ngClass]="checkSelectedBloc(oneAvailableBloc.TestQuestionBlocKey.test_question_bloc_code)? 'bloc-list-card-horizontal selected-card' : 'bloc-list-card-horizontal'" >
                                    <div fxLayout="row" fxFlexFill>
                                      <div fxLayout="column"  fxLayoutAlign="center">
                                        <div fxLayout="column" class="p-5">
                                          <img [src]="imageUrl+oneAvailableBloc.image" width="200px" height="108px" style="border-radius: 15px">
                                        </div>
                                      </div>
                                      <div fxLayout="column" fxFlex="100">
                                        <div fxLayout="row" fxFlex="20" fxLayoutAlign=" end">
                                          <span class="black font-size-12 font-medium p-l-15">{{oneAvailableBloc.test_question_bloc_title}}</span>
                                        </div>
                                        <div fxLayout="row" fxFlex="55">
                                          <div fxLayout="column" fxFlex="80">
                                            <wid-scrollbar fxLayout="row" >
                                              <div fxLayout="column"  fxLayoutAlign="center">
                                    <span class="p-l-15">
                                      <p class="font-size-10 steel font-extra-light ">
                                        {{oneAvailableBloc.test_question_bloc_desc.length < 220 ? oneAvailableBloc.test_question_bloc_desc : oneAvailableBloc.test_question_bloc_desc | slice:0:250}}
                                        <span *ngIf="oneAvailableBloc.test_question_bloc_desc.length >= 220">...</span>
                                  <button class="font-size-10 steel font-extra-light transparent-button" *ngIf="oneAvailableBloc.test_question_bloc_desc.length >= 220" (click)="openDescriptionDialog(oneAvailableBloc, 'available')"><span style="border-bottom: 1px solid #7b7e8a">Read more</span></button>
                                      </p>
                                    </span>
                                              </div>

                                            </wid-scrollbar>

                                          </div>
                                        </div>
                                        <div fxLayout="row" fxFlex="25">
                                          <div  fxLayout="column" class="p-l-15" fxFlexFill>
                                            <div fxLayout="row" fxLayoutGap="5px">
                                              <div fxLayout="column" [ngClass]="oneAvailableBloc.free ? 'bloc-type-free' : 'bloc-type-purchased'" fxLayoutAlign="center center">
                                                <span class="bloc-type-label">{{oneAvailableBloc.free ? 'Free' : 'purchased'}}</span>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div fxLayout="column" fxLayoutAlign=" end" class="rounded-check-box p-r-12" >
                                        <mat-checkbox class="custom-frame"
                                                      disabled
                                                      [checked]="checkSelectedBloc(oneAvailableBloc.TestQuestionBlocKey.test_question_bloc_code)"
                                                      #checkBoxOtherEvent></mat-checkbox>
                                      </div>
                                    </div>
                                  </mat-card>
                                </div>
                              </div>
                            </div>
                          </ng-template>
                        </ng-template>
                      </ng-template>
                    </div>
                  </div>

                </div>
              </div>
              <div fxLayout="row" style="min-height: 8%" fxLayoutAlign="space-around center ">
                <div fxLayout="column" fxFlex="96">
                  <span class="black font-size-20 font-normal">Other Packs</span>
                </div>
              </div>
              <div fxLayout="row">
                <div fxLayout="column" fxFlex="96" >
                  <div fxLayout="row" fxFlex="100" fxLayoutAlign="end">
                    <div fxLayout="column" fxFlex="97">
                      <ng-template [ngIf]="showVertical" >
                        <div fxLayout="row wrap"  fxLayoutGap="15px grid" fxFlex="100" @blocQuestionsAppearance>
                          <div fxLayout="column" *ngFor="let oneOtherBloc of otherBlocQuestionsList |
                                   filterData: searchField: 'test_question_bloc_title' |
                                   filterData: selectSearchField: 'TestQuestionBlocKey.test_technology_code';" >
                            <mat-card class="bloc-list-card-vertical">
                              <div fxLayout="column" fxFlexFill>
                                <div fxLayout="row" >
                                  <div fxLayout="column" class="p-5">
                                    <img [src]="imageUrl+oneOtherBloc.image" width="220px" height="108px" style="border-radius: 15px">
                                  </div>
                                </div>
                                <div fxLayout="row" fxFlex="10">
                                  <mat-card-title class="black font-size-12 font-medium p-l-15">{{oneOtherBloc.test_question_bloc_title}}</mat-card-title>
                                </div>
                                <div fxLayout="row" fxFlex="25">
                                  <mat-card-content class="p-l-15">
                                    <p class="font-size-10 steel font-extra-light limit-text-height">
                                      {{oneOtherBloc.test_question_bloc_desc.length < 100 ? oneOtherBloc.test_question_bloc_desc : oneOtherBloc.test_question_bloc_desc | slice:0:100}}
                                      <span *ngIf="oneOtherBloc.test_question_bloc_desc.length >= 100">...</span>
                                      <button class="font-size-10 steel font-extra-light transparent-button" *ngIf="oneOtherBloc.test_question_bloc_desc.length >= 100" (click)="openDescriptionDialog(oneOtherBloc,'other')"><span style="border-bottom: 1px solid #7b7e8a">Read more</span></button>
                                    </p>
                                  </mat-card-content>
                                </div>
                                <div fxLayout="row" fxFlex="15">
                                  <div  fxLayout="column" class="p-l-15" fxFlexFill>
                                    <div fxLayout="row" fxLayoutGap="100px" fxFlexFill>
                                      <div fxLayout="column" class="bloc-price" fxLayoutAlign="center center">
                                        <span class="bloc-type-label">{{oneOtherBloc.price}}$</span>
                                      </div>
                                      <div fxLayout="column" class="bloc-buy" fxLayoutAlign="center center">
                                        <span class="bloc-type-label">Buy now</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </mat-card>
                          </div>
                        </div>
                      </ng-template>
                      <ng-template [ngIf]="!showVertical">
                        <div fxLayout="row" fxFlexFill  @blocQuestionsAppearance>
                          <div fxLayout="column wrap"  fxFlex="100" fxLayoutGap="10px grid">
                            <div fxLayout="row" *ngFor="let oneOtherBloc of otherBlocQuestionsList |
                                   filterData: searchField: 'test_question_bloc_title' |
                                   filterData: selectSearchField: 'TestQuestionBlocKey.test_technology_code';" >
                              <mat-card class="bloc-list-card-horizontal" >
                                <div fxLayout="row" fxFlex="100">
                                  <div fxLayout="column" fxLayoutAlign="center">
                                    <div fxLayout="column" class="p-5">
                                      <img [src]="imageUrl+oneOtherBloc.image" width="200px" height="108px" style="border-radius: 15px">
                                    </div>
                                  </div>
                                  <div fxLayout="column" fxFlex="100">
                                    <div fxLayout="row" fxFlex="20" fxLayoutAlign=" end">
                                      <span class="black font-size-12 font-medium p-l-15">{{oneOtherBloc.test_question_bloc_title}}</span>
                                    </div>
                                    <div fxLayout="row" fxFlex="55">
                                      <div fxLayout="column" fxFlex="80">
                                        <wid-scrollbar fxLayout="row" >
                                          <div fxLayout="column"  fxLayoutAlign="center">
                                    <span class="p-l-15">
                                      <p class="font-size-10 steel font-extra-light">
                                        {{oneOtherBloc.test_question_bloc_desc.length < 220 ? oneOtherBloc.test_question_bloc_desc : oneOtherBloc.test_question_bloc_desc | slice:0:250}}
                                        <span *ngIf="oneOtherBloc.test_question_bloc_desc.length >= 220">...</span>
                                  <button class="font-size-10 steel font-extra-light transparent-button" *ngIf="oneOtherBloc.test_question_bloc_desc.length >= 220" (click)="openDescriptionDialog(oneOtherBloc,'other')"><span style="border-bottom: 1px solid #7b7e8a">Read more</span></button>
                                      </p>
                                    </span>
                                          </div>

                                        </wid-scrollbar>
                                      </div>
                                    </div>
                                    <div fxLayout="row" fxFlex="25">
                                      <div  fxLayout="column" class="p-l-15" fxFlexFill>
                                        <div fxLayout="row" fxFlexFill>
                                          <div fxLayout="column"  >
                                            <div fxLayout="row" fxLayoutAlign="center center" class="bloc-price">
                                              <span class="bloc-type-label">{{oneOtherBloc.price}}$</span>
                                            </div>
                                          </div>
                                          <div fxLayout="column" fxFlex="100" fxLayoutAlign=" end" class="p-r-15">
                                            <div fxLayout="row" fxLayoutAlign="center center"  class="bloc-buy">
                                              <span class="bloc-type-label">Buy now</span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                </div>
                              </mat-card>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </div>

                  </div>

                </div>
              </div>
            </div>
          </wid-scrollbar>
        </div>
      </div>

      <div fxLayout="row" fxFlex="8" fxLayoutAlign="end">
        <div fxLayout="column" fxLayoutAlign=" end"  fxFlex="100">
              <div fxLayout="row" fxFlexFill fxLayoutGap="10px" fxLayoutAlign="end">
                <div fxLayout="column">
                  <button mat-raised-button class="btn-small " [disabled]="selectedBlocs.length === 0" color="primary" (click)="moveToInfoSessionPage()">
                    <span class="white">Next</span>
                  </button>
                </div>
                <div fxLayout="column">
                  <button mat-raised-button class="btn-small bg-pale-grey" (click)="cancelSelectedBlocs()">
                    <span class="black">Cancel</span>
                  </button>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
