<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="50"><h1 class="steel font-size-28 font-medium">Timesheet</h1></div>
    <div>
      <button mat-raised-button class="btn-medium bg-pale-grey" >
        <mat-icon class="icon material-icons-outlined" svgIcon="wi_arrow_back">
        </mat-icon>
        <span class="cool-grey">back</span>
      </button>
    </div>
  </div>
  <div fxLayout="row" fxFlex="2" fxLayoutAlign="center">
    <mat-divider [ngStyle]="{ 'width': '90%', borderTopWidth: '2px' }"></mat-divider>
  </div>
</div>


