.buttonCurrency {
  position: absolute;
  top: -7px;
  border-radius: 0 5px 5px 0;
  right: 0;
  border: none;
  width: 60px;
  height: 43px;
  color: black;
  transform: translateX(8px);
  background-color: #afb1b8;
  color: white;
}

