.buttonCurrency {
  position: absolute;
  top: -.45rem;
  border-radius: 0 5px 5px 0;
  right: -1px;
  border: none;
  width: 4rem;
  height: 46px;
  color: black;
  transform: translateX(8px);
  background-color: #afb1b8;
  color: white;
}

