.title {
  color: #7b7e8a;
  font-size: 15px;
  font-style: normal;
  padding-top: 30px;
}
.textarea {
  font-size: 10px !important;
}
.mat-form-field-appearance-outline {
  .mat-form-field-infix {
    padding: 0 0 1em 0 !important;
  }
}
.margin-mat-chip {
  margin: 0 !important;
}
