<div  fxLayout="row" fxFlexFill fxLayoutAlign="end">
  <form fxLayout="column" [formGroup]="mailingForm"  fxFlex="94">
    <wid-scrollbar fxLayout="row" fxFlex="92" >
      <div fxLayout="column" fxFlexFill>
        <div fxLayout="row" fxFlex="15">
          <div fxLayout="column">
            <div class="title" fxLayoutAlign=" center">Send by mail</div>
          </div>
          <div fxLayout="column" fxFlex="76" class="p-r-15 p-t-10 " fxLayoutAlign=" end">
            <button style="border-radius: 5px; background-color: #f2f3f8; color: gray; border: none" mat-dialog-close>X</button>
          </div>
        </div>
        <div fxLayout="row">
          <div fxLayout="column" fxFlex="94">
            <mat-label class="black font-size-12 required">
              Choose a contact:
            </mat-label>
            <ng-multiselect-dropdown style="font-size: 12px; font-style: normal; color: #d6d7da; margin-bottom: 10px" class="selected-item"
                                     [placeholder]="'contact(email)'"
                                     [settings]="clientListSettings"
                                     [data]="clientList"
                                     formControlName="contact"
            >
            </ng-multiselect-dropdown>
          </div>
        </div>

        <div fxLayout="row">
          <div fxLayout="column" fxFlex="94">
            <mat-label class="black font-size-12 ">
              Send a copy to:
            </mat-label>
            <div style="font-size: 10px" class="full-width">
              <mat-form-field class="example-chip-list full-width mat-form-field-appearance-outline mat-form-field-wrapper" appearance="outline">
                <mat-chip-list #copiesList aria-label="Fruit selection">
                  <mat-chip
                    *ngFor="let copy of copies"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="removeCopy(copy)"
                    class="margin-mat-chip font-normal font-size-12 black">
                    {{copy}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input
                    matInput
                    placeholder="Copy"
                    #copyInput
                    type="email"
                    formControlName="copy"
                    [matChipInputFor]="copiesList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="true"
                    (matChipInputTokenEnd)="addCopy($event)"
                  >
                </mat-chip-list>
                <mat-error>You should set a valid email</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div fxLayout="row">
          <div fxLayout="column" fxFlex="94">
            <mat-label class="black font-size-12 ">
              Send a hidden copy to:
            </mat-label>
            <div style="font-size: 10px" class="full-width">
              <mat-form-field class="example-chip-list full-width mat-form-field-appearance-outline" appearance="outline" >
                <mat-chip-list #hiddenCopiesList aria-label="Fruit selection">
                  <mat-chip
                    *ngFor="let hiddenCopy of hiddenCopies"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="removeHiddenCopy(hiddenCopy)"
                    class="margin-mat-chip font-normal font-size-12 black">
                    {{hiddenCopy}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input
                    matInput
                    placeholder="Hidden copy"
                    #hiddenCopyInput
                    formControlName="hidden_copy"
                    [matChipInputFor]="hiddenCopiesList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="true"
                    (matChipInputTokenEnd)="addHiddenCopy($event)">
                </mat-chip-list>
                <mat-error>You should set a valid email</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div fxLayout="row">
          <div fxLayout="column" fxFlex="94">
            <mat-label class="black font-size-12 required">
              Subject:
            </mat-label>
            <div style="font-size: 10px" class="full-width">
              <mat-form-field appearance="outline" class="full-width">
                <input formControlName="subject" matInput placeholder="Subject" >
                <mat-error class="red font-size-8" *ngIf="mailingForm.controls.subject.errors?.required">
                  {{ 'general.required' | translate }}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div fxLayout="row" fxFlex="7" *ngIf="invoice" fxLayoutAlign=" center">
          <div fxLayout="column" >
            <section class="example-section">
              <mat-checkbox class="check font-size-12 font-normal"  formControlName="format"> Attach the invoice in PDF format</mat-checkbox>
            </section>
          </div>
        </div>
        <div fxLayout="row">
          <div fxLayout="column" fxFlex="94">
            <mat-label class="black font-size-12 required">
              Message:
            </mat-label>
            <mat-form-field appearance="outline" class="full-width">
                    <textarea class="textarea" matInput formControlName="message" placeholder="Write your message here"
                              rows="5" required></textarea>
              <mat-error class="red" *ngIf="mailingForm.controls.message.errors?.required">
                {{ 'general.required' | translate }}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" *ngIf="!invoice"  fxLayoutGap="3px" style="max-width: 94%; justify-content: flex-end">
          <div fxLayout="column" fxLayoutAlign="center">
            <mat-label class="black font-size-12 p-b-10">
              Format:
            </mat-label>
          </div>
          <div fxLayout="column" fxLayoutAlign="end" fxFlex="20">
            <div style="font-size: 10px" class="full-width">
              <div style="font-size: 10px" class="full-width">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-select disableOptionCentering panelClass="panelColor" value="DOCX" formControlName="format"
                              placeholder="Format" required>
                    <mat-option value="PDF" >PDF</mat-option>
                    <mat-option value="DOCX">DOCX</mat-option>
                  </mat-select>
                  <mat-error class="red" *ngIf="mailingForm.controls.format.errors?.required">
                    {{ 'general.required' | translate }}</mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </wid-scrollbar>
    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="8px">
      <button mat-raised-button type="submit" color="primary" class="white btn-small" (click)="sendMail()" mat-dialog-close [disabled]="mailingForm.invalid">Send</button>
      <button mat-raised-button class="btn-small bg-pale-grey" mat-dialog-close>Cancel</button>
    </div>
  </form>
</div>

