.container{
  background-image: url("../../../assets/img/404illustration.png");
  background-repeat: no-repeat;
  background-size: 63%;
  background-position: 110% 50%;
  .content-header{
    .logo{
      width: 50px;
    }
    .logoTiltle{
      width: 86px;
    }
  }
  .content {
    min-height: 55% ;
    .body{
      padding-left: 3.5vw;
      h1:nth-child(1){
        margin-bottom: 2vh !important;
        line-height: 1.5 !important;
      }
    }
  }

}
