<div class="container full-screen-height full-screen-width" fxLayoutGap="50px"
     fxLayout="column" fxLayoutAlign="start center" >

  <div class="content-header p-t-20"
       fxLayout="column" fxLayoutAlign="start center">
    <img src="assets/img/logoServicima.png" class="logo m-b-10">
    <img src="assets/img/logo-title-dark.png" class="logoTiltle">
  </div>

  <div class="content full-width m-t-0"
       fxLayout="column" fxLayoutAlign="center start">
    <div class="body" fxLayout="column" fxLayoutAlign="start start">
      <h1 class="red font-size-38 font-semi-bold">ERROR 404 </h1>
      <h1 class="black font-normal font-size-38 m-b-10">Ooops!! PAGE NOT FOUND</h1>
      <h5 class="brownish-grey font-light m-0 line-height-2" >The link you followed us probably broken or the</h5>
      <h5 class="brownish-grey font-light m-0 line-height-2" >page has been removed</h5>
      <button mat-raised-button class="btn-large bg-cerulean-blue white m-t-40" routerLink="/">Back To Home</button>
    </div>

  </div>
</div>

