
<wid-dynamic-data-table
  [tableData]="ELEMENT_DATA"
  [tableCode]="'INVOICES-LIST'"
  [isLoading]="isLoading"
  [header]="{ title: 'Invoice management', addActionURL: '/manager/invoices/add-invoice', addActionText: 'New invoice'}"
  [title]="'Invoices list'"
  [security] = true
  (rowActionData)="switchAction($event)"
  (pagination)="loadMoreItems($event)"
  [allowedActions]="['show', 'download', 'archiver','sendMailing', 'import']"
  (search)= "searchInvoice($event)"
  (filter) ="search($event)"
>
</wid-dynamic-data-table>
