
<wid-dynamic-data-table
  [tableData]="ELEMENT_DATA"
  [tableCode]="'INVOICES-LIST'"
  [isLoading]="isLoading"
  [header]="{ title: 'invoice.management.title' | translate, addActionURL: '/manager/invoices/add-invoice', addActionText: 'New invoice'}"
  [title]="'Invoices list'"
  [security] = true
  (rowActionData)="switchAction($event)"
  (pagination)="loadMoreItems($event)"
  [allowedActions]="['invoice.management.show', 'invoice.management.download', 'invoice.management.delete','invoice.management.sendmail']"
  (importAction)="import()"
  (search)= "searchInvoice($event)"
  (filter) ="search($event)"
>
</wid-dynamic-data-table>
