<div class="contract-container">

  <div fxLayout="column" fxLayout.xs="column" fxFlexFill>

    <div fxFlex="15" fxFlex.xs="10" fxLayoutGap="50px">
      <h2 fxFlexAlign="stretch" class="contract-title">Contract Management</h2>
    </div>
    <mat-divider class="contract-divider"></mat-divider>
    <div fxFlex="30" fxFlex.xs="45" fxFlexAlign="stretch" fxFlexAlign.xs="auto" fxLayout="row" fxLayout.xs="row"
         fxLayoutGap="50px" fxLayoutGap.xs="10px">
          <button (click)="addNewContract()" fxFlex="33" fxFlex.xs="33" mat-button class="wid-Value-button wid-background-button contract-actions">Add</button>
          <button  fxFlex="33" fxFlex.xs="33" mat-button class="wid-Value-button wid-background-button contract-actions">Import</button>
          <button  fxFlex="33" fxFlex.xs="33" mat-button class="wid-Value-button wid-background-button contract-actions">Export</button>
    </div>
    <mat-divider class="contract-divider"></mat-divider>
    <div fxFlex="30" fxFlex.xs="45" fxFlexAlign="stretch" fxFlexAlign.xs="auto" fxLayout="row" fxLayout.xs="column" fxLayoutGap="2px" fxLayoutGap.xs="2px">
      <mat-form-field fxFlex="25" fxFlex.xs="25" class="wid-Value-button">
        <mat-label>All Customers</mat-label>
        <mat-select>
          <mat-option *ngFor="let customer of Customers" [value]="customer.email">
            {{customer.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="25" fxFlex.xs="25" class="wid-Value-button">
        <mat-label>All Status</mat-label>
        <mat-select>
          <mat-option *ngFor="let status of Status" [value]="status.value">
            {{status.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="25" fxFlex.xs="25" class="wid-Value-button">
        <mat-label>From</mat-label>
        <input matInput [matDatepicker]="fromPicker">
        <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
        <mat-datepicker #fromPicker color="primary"></mat-datepicker>
      </mat-form-field>
      <mat-form-field fxFlex="25" fxFlex.xs="25" class="wid-Value-button">
        <mat-label>To</mat-label>
        <input matInput [matDatepicker]="toPicker">
        <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
        <mat-datepicker #toPicker color="primary"></mat-datepicker>
      </mat-form-field>
    </div>
    <mat-divider class="contract-divider"></mat-divider>
    <div fxFlex="55" fxFlex.xs="45">
      <mat-form-field class="wid-Value-button">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- Contract Code Column -->
          <ng-container matColumnDef="contract_code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Code</th>
            <td mat-cell *matCellDef="let row"> {{row.contractKey.contract_code}} </td>
          </ng-container>

          <!-- Contractor Code Column -->
          <ng-container matColumnDef="contractor_code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Contractor Code</th>
            <td mat-cell *matCellDef="let row"> {{row.contractor_code}}</td>
          </ng-container>

          <!-- Collaborator Email Column -->
          <ng-container matColumnDef="collaborator_email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Collaborator</th>
            <td mat-cell *matCellDef="let row"> {{row.collaborator_email.substring(0,12)}} </td>
          </ng-container>

          <!-- Start Date Column -->
          <ng-container matColumnDef="contract_start_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date</th>
            <td mat-cell *matCellDef="let row"> {{row.contract_start_date | date }} </td>
          </ng-container>

          <!-- End Date Column -->
          <ng-container matColumnDef="contract_end_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date</th>
            <td mat-cell *matCellDef="let row"> {{row.contract_end_date | date}} </td>
          </ng-container>

          <!-- Contract Date Column -->
          <ng-container matColumnDef="contract_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Contract Date</th>
            <td mat-cell *matCellDef="let row"> {{row.contract_date | date}} </td>
          </ng-container>

          <!-- Contract Status Column -->
          <ng-container matColumnDef="contract_status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
            <td mat-cell *matCellDef="let row"> {{row.contract_status}} </td>
          </ng-container>

          <!-- Contract Rate Column -->
          <ng-container matColumnDef="contract_rate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Rate</th>
            <td mat-cell *matCellDef="let row"> {{row.contract_rate}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
        <div class="no-records" *ngIf="contractList.length === 0">No records found</div>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>

  </div>

</div>
