<wid-dynamic-data-table
  [tableData]="this.tableData"
  [tableCode]="'RESUME_MANAGER'"
  [isLoading]="isLoading"
  [buttonAdd]="false"
  [header]="{ title: 'resume-management' | translate}"
  (rowActionData)="switchAction($event)"
  [colorObject]="sendColorObject()"
  (pagination)="loadMoreItems($event)"
  [allowedActions]="['resume-change-status' | translate, 'downlaod-docx' | translate, 'export-pdf' | translate, 'send-mail' | translate, 'resume-archive' | translate]">
</wid-dynamic-data-table>
