<wid-dynamic-data-table
  [tableData]="this.tableData"
  [tableCode]="'RESUME_MANAGER'"
  [isLoading]="isLoading"
  [buttonAdd]="false"
  [header]="{ title: 'resume-management' | translate}"
  (rowActionData)="switchAction($event)"
  [colorObject]="sendColorObject()"
  (pagination)="loadMoreItems($event)"
  [allowedActions]="[{ name: 'resume-change-status', feature: 'RESUME_USER_STATUS'},
                     {name:'downlaod-docx', feature: 'RESUME_DOCX_DOWNLOAD'},
                     { name: 'export-pdf', feature: 'RESUME_PDF_EXPORT'},
                      { name: 'send-mail', feature: 'RESUME_SEND_MAIL_CLIENT'},
                       { name: 'resume-archive', feature: 'RESUME_ARCHIVE'}]">
</wid-dynamic-data-table>
