.dynamic-component-container  {
  background-color: #ffffff;
  margin: 10px 20px;
  height: 74vh !important;
  // width: 88vw;
}
.tech-container {
  background-color: #1bc5bd;
  border-radius: 15px;
  height: 43%;
  width: 33%;
}
.height-80 {
  min-height: 80%;
}
.answer-container {
  min-height: 90%;
  border: 1px solid #e8f1f9;
  justify-content: center;
}
.block-pos {
  min-height: 8%;
  justify-content: center;
}
.input[type=text] {
  border: 2px solid #afb1b8;
  border-radius: 4px;
}
