<div fxLayout="column" class="full-height full-width">
  <div class="bg-pale-grey-four" fxFlex="24" fxLayout="column">
    <div fxFlex="30" fxLayout="row" fxLayoutAlign="end" class="p-15 p-b-0">
      <button mat-button class="btn-close border-radius-5 bg-pale-grey" (click)="modalActions()">
        <mat-icon svgIcon="wi-close-normal"></mat-icon>
      </button>
    </div>
    <div fxFlex="65" fxLayout="row">
      <div fxLayout="column" fxFlex class="full-height p-15" fxLayoutAlign="start start">
        <p class="font-size-15 black-three font-normal m-0">{{timesheet.first_name}}</p>
        <p class="font-size-15 black-three font-normal m-0">{{timesheet.last_name}}</p>
      </div>
      <div fxFlex>
        <ng-container *ngIf="timesheet.photo && !avatar else showAvatar">
          <wid-skeleton-loader class="absolute"
                               [width]="114"
                               [height]="114"
                               [nbrRow]="1"
                               [marginTop]="40"
                               [nbrColumn]="1"
                               [circle]="true"
          ></wid-skeleton-loader>
        </ng-container>
        <ng-template #showAvatar >
          <img class="img-rounded absolute m-t-40 avatar"   [src]="timesheet.photo ? avatar : 'assets/img/default.jpg'">
        </ng-template>
      </div>
      <div fxLayout="column" fxLayoutAlign="space-between start" fxFlex class="full-height p-15 p-b-0">
        <p class="font-size-15 black-three font-normal m-0">{{userPosition}}</p>
        <button *ngIf="timesheet.timesheet_status === 'Pending'" mat-button (click)="updateTimesheet()" class="btn-small bg-pale-grey">
          {{'resume-edit' | translate}}
        </button>
      </div>
    </div>
  </div>
  <div fxFlex="22" fxLayout="column" class="p-l-15 p-r-15"
       fxFlexOffset="70px" fxLayoutAlign="start start" fxLayoutGap="15px">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="full-width">
      <div fxFlex>
        <p class="font-size-12 m-0 font-normal black-three">{{'week-start' | translate}}:
          <span class="steel font-light">{{timesheet.start_date | date: 'dd-MM-yyyy'}}</span>
        </p>
      </div>
      <div fxFlex>
        <p class="font-size-12 m-0 font-normal black-three">Type:
          <span class="steel font-light">{{timesheet.type_timesheet}}</span>
        </p>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between start" class="full-width">
      <div fxFlex >
        <p class="font-size-12 m-0 font-normal black-three">{{'week-end' | translate}}:
          <span class="steel font-light">{{timesheet.end_date | date: 'dd-MM-yyyy'}}</span>
        </p>
      </div>
      <div fxFlex >
        <p class="font-size-12 m-0 font-normal black-three">{{'timesheet.project' | translate}}:
          <span class="steel font-light">{{timesheet.project_desc}}</span>
        </p>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" class="full-width">
      <p class="font-size-12 m-0 font-normal black-three">{{'rh_comment_certif' | translate}}:
        <span class="steel font-light">{{timesheet.comment}}</span>
      </p>
    </div>
  </div>
  <div fxFlex fxLayout="row wrap" fxLayoutAlign="start start" class="full-width p-l-15">
    <ng-container *ngIf="week, else loading">
      <ng-container *ngFor="let day of week">
        <div style="width: 85px; height: 65px" class="bg-pale-grey-four border-radius-10 m-r-10 m-b-10"
             fxLayout="column" fxLayoutAlign="center center">
          <p class="black font-light font-size-12 m-0" >{{day.day | uppercase}}:</p>
          <p class="steel font-light font-size-10 m-0" >{{day.hours}}h00m</p>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #loading >
      <wid-skeleton-loader
        nbrColumn="4" nbrRow="2"
        height="65" width="85"
        marginTop="0" marginBottom="20" marginLeft="9"
      ></wid-skeleton-loader>
    </ng-template>

    <div *ngIf="week" style="width: 85px; height: 65px" class="bg-pale-grey border-radius-10"
         fxLayout="column" fxLayoutAlign="center center">
     <p class="black font-light font-size-12 m-0" >{{'timesheet.total' | translate}}:</p>
      <p class="steel font-light font-size-10 m-0" >{{timesheet.total_week_hours}}h00m</p>
    </div>
  </div>
  <div fxFlex="10" class="full-width" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="25px">
    <ng-container *ngIf="timesheet.timesheet_status === 'Pending', else status">
      <button mat-flat-button (click)="modalActions('Rejected')" class="btn-small bg-error-red white">{{'timesheet-reject' | translate}}</button>
      <button mat-flat-button (click)="modalActions('Approved')" class="btn-small bg-topaz white">{{'timesheet-approve' | translate}}</button>
    </ng-container>
    <ng-template #status>
      <span *ngIf="timesheet.timesheet_status === 'Approved'" class="topaz font-light font-size-12">{{'timesheet-approved' | translate}}</span>
      <span *ngIf="timesheet.timesheet_status === 'Rejected'" class="red font-light font-size-12">{{ 'timeshhet-rejected' | translate}}</span>
    </ng-template>

  </div>
</div>

