<mat-sidenav-container style="height: 100%;">
  <mat-sidenav class="side-nav-container" mode="side" opened="true" [fixedInViewport]="true" [fixedTopGap]=0
    [fixedBottomGap]=0 autosize="false" fixedTopGap="56">
    <wid-sidenav [moduleName]="'manager'"></wid-sidenav>
  </mat-sidenav>

  <mat-sidenav-content [@onSideNavChange]="sidebarState" style="background-color: #ffffff;">
    <wid-header></wid-header>
    <wid-breadcrumb></wid-breadcrumb>
    <div class="grid-container">
      <router-outlet>
        <wid-spinner></wid-spinner>
      </router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
