.mat-chip {
  font-size: 8px;
}
.container-plus{
  margin-right: 26px;
  margin-top: -10px;
}
.container-role{
  height: 378px;
}
.container-role-feature{
  border: 2px solid #afb1b8;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-top: 15px;
  width: 90%;
  height: 150px;
}
