.width-110 {
  width: 110%;
}
.width-83 {
  width: 83%;
}
.height-90 {
  height: 90%;
}
.height-80 {
  height: 80%;
}
.height-30 {
  height: 30%;
}
.width-77 {
  width: 77%;
}
.m-b--9{
  margin-bottom: -9px;
}
.p-t-18{
  padding-top: 18px;
}
