<div class="dynamic-component-container border-radius-20" fxLayout="column" fxFlex="100">

  <form [formGroup]="CreationForm" (submit)="createResume()" class="full-width full-height" fxFlexFill>

  <div fxLayout="column" fxFlex="90"    >

    <div fxLayout="row" fxFlex="10" fxLayoutAlign="space-around center">
        <div fxLayout="column" fxFlex="56">
          <h1 class="steel font-size-24 font-medium">Resume</h1>
        </div>
        <div fxLayout="column" fxFlex="15" fxLayoutAlign="center end" class="font-size-25 steel">
          <button mat-raised-button  class="btn-small bg-pale-grey" routerLink="/">
            <mat-icon class="icon material-icons-outlined"  svgIcon="wi_arrow_back">
            </mat-icon>
            <span class="cool-grey">back</span>
          </button>
        </div>
      </div>
    <div fxLayout="row" fxFlex="2" fxLayoutAlign="space-around center">
      <mat-divider [ngStyle]="{ 'width': '90%', borderTopWidth: '2px' }"></mat-divider>
    </div>
    <div fxLayout="row" fxFlex="9" fxLayoutAlign="space-around center ">
      <div fxLayout="column" fxFlex="86">
        <h4 class="steel font-size-18 font-small">General information</h4>
      </div>
    </div>
    <div fxLayout="row" fxFlex="65" fxLayoutAlign="center" >
      <wid-scrollbar fxFlexFill >
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-around center">
          <div   fxLayout="column" fxFlex="18"  class="height-90" fxLayoutGap="10px" fxLayoutAlign=" start" >
            <div fxlayout="row"  >
              <mat-label class="black font-size-12">
                Name:
              </mat-label>
              <mat-form-field appearance="outline" class="width-110">
                <input    formControlName="init_name" matInput placeholder="Name" required>
              </mat-form-field></div>
            <div fxlayout="row" fxFlex >
              <mat-label class="black font-size-12">
                Actual job:
              </mat-label>
              <mat-form-field appearance="outline">
                <input    formControlName="actual_job" matInput placeholder="Actual job" required>
              </mat-form-field></div>
            <div>
            <mat-label class="black font-size-12">
              Language:
            </mat-label>
            <mat-form-field appearance="outline">
              <mat-select disableOptionCentering panelClass="panelColor"
                           placeholder="Language" formControlName="language_id">
                <mat-option value="FR">French</mat-option>
                <mat-option value="EN">English</mat-option>
                <mat-option value="ESP">Spanish</mat-option>
              </mat-select>
            </mat-form-field>
            </div>
            <div fxLayout="row" fxFlex="10">
              <section class="example-section">
                <mat-checkbox class="check" (change)="showHideYears()" >Set years of experience manually</mat-checkbox>
              </section></div>
            <div fxLayout="row" fxFlex>
             <div *ngIf="showYears">
               <mat-label class="black font-size-12">
                 Years of experience:
               </mat-label>
               <mat-form-field appearance="outline" class="full-width">
                 <input   matInput  formControlName="years_of_experience" placeholder="Years of experience" >
               </mat-form-field>
             </div>
        </div>
          </div>
          <div   fxLayout="column" fxFlex="55"  fxLayoutAlign="start end" class="height-80">
            <div fxLayout="row"  fxLayoutAlign="center center" fxFlex="40" class="bg-pale-grey border-radius-10 width-83">
            <div  fxLayout="column"     class="profile-image p-l-30 height-50">
              <wid-profile-image fxLayoutAlign="start start" class="full-height full-width" [haveImage]="haveImage"  [avatar]="avatar" [modelObject]="user" [singleUpload]="false" [userType]="profileUserType" ></wid-profile-image>
            </div>
            <div fxLayout="column" fxLayoutAlign="start" fxFlex="90"  class="m-l-10 m-t-20"  >
              <div fxLayout="row" class="m-b--9">
                <p class="font-normal font-size-12" > First Name : </p> <p class="font-light font-size-12" >{{firstname}}</p></div>
              <div fxLayout="row" class="m-b--9">
                <p class="font-normal font-size-12" > Last name :  </p> <p class="font-light font-size-12" >{{lastname}}</p></div>
              <div fxLayout="row" class="m-b--9">
                <p class="font-normal font-size-12" > Company :  </p> <p class="font-light font-size-12" >{{company}}</p></div>
            </div>
          </div>
          </div>
        </div>
      </wid-scrollbar>
    </div>
    <div fxLayout="row" fxFlex="8" fxLayoutAlign="center " >
      <div fxLayout="column" fxFlex="100" fxLayoutAlign=" end" [style]="{ minHeight: '139px'}">
        <button mat-raised-button type="submit" class="white bg-primaryColor btn-medium" [style]="{marginRight: '4%'}" (click)="createResume()" [routerLink]="['/candidate/resume/professionalExperience']">
          Next
        </button>
      </div>
    </div>
  </div>
  </form>
  </div>


