<button mat-icon-button (click)="toggleSideNav()" [@buttonAnimation]="sidebarState">
  <mat-icon>{{icontoShow}}</mat-icon>
</button>
<div class="side-nav-container" [@onSideNavChange]="sidebarState">
  <mat-nav-list>
    <mat-list-item class="side-nav-header" [@nameAnimation]="sidebarState">
      <div class="col" style="margin-left: 5px">
        <div class="row">
          <img src="assets/img/ellipse-1.png" srcset="assets/img/ellipse-1@2x.png 2x,
               assets/img/ellipse-1@3x.png 3x" class="company_point" alt="">
        </div>
        <div class="row">
          <img src="assets/img/servicima.png" srcset="assets/img/servicima@2x.png 2x,
               assets/servicima@3x.png 3x" class="company_name" alt="">
        </div>
      </div>
    </mat-list-item>
    <div class="flex-container">
      <div class="flex-item">
        <ng-container *ngFor=" let menuItem of menu">
          <a mat-list-item routerLinkActive="active-list-item" [routerLink]="['./', menuItem.state]"
            class="menuColor wid-admin-font-Button"
            *canBeDisplayed="{feature: menuItem.feature, license: menuItem.feature}">
            <mat-icon class="icon svcmaIcon material-icons-outlined" [@iconAnimation]="sidebarState">{{menuItem.icon}}
            </mat-icon>
            <span class="label SPAN" [@labelAnimation]="sidebarState">{{menuItem.name}}</span>
          </a>
        </ng-container>
      </div>
    </div>
  </mat-nav-list>
</div>
