.svcmaIcon {
  color: #ffffff;
}


.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.side-nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 81%;
  width: 99%;

  .icon {
    padding: 0 10px 0 0;
    text-align: center;
    vertical-align: middle;
  }

  .label {
    margin: 0;
  }

  .active-list-item {

    span,
    .icon {
      color: #ffd800;
    }
  }
}

.menuColor:hover {
  color: #ffd800;
}

.flex-container {
  text-transform: uppercase;
}

/* NEW */
.company_name {
  width: 113px;
  height: 27px;
  margin: 0 auto;
  object-fit: contain;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.58;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.company_point {
  width: 4px;
  height: 4px;
  margin-left: 125px;
  /* margin: 0 auto; */
  -o-object-fit: contain;
  object-fit: contain;
  background-color: #ffd800;
}

.SPAN {
  -o-object-fit: contain;
  object-fit: contain;
  font-family: Montserrat;
  font-size: 11.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  font-weight: bold;
}

.span:hover {
  background-color: transparent;
  color: yellow;
}
