
  <div  fxFlex="100" fxLayout="column"  [@onSideNavChange]="sidebarState" class="bg-theme">
    <!---------------------------------------- menu header ----------q-------------------------------------------------->
    <mat-list-item>
      <p [@nameAnimation]="sidebarState" class="company-label font-size-25">
        {{companyName()}}
      </p>
    </mat-list-item>
    <!---------------------------------------- menu container ------------------------------------------------------------>
    <wid-scrollbar class="scrollbar side-nav-container " fxFlex="90">
    <div fxFlex="93" fxLayout="row" fxLayoutAlign="center start">
      <mat-nav-list [@listAnimation]="sidebarState">

        <div *ngIf="subMenu.length === 0; else subMenuContainer">
          <ng-container *ngFor=" let menuItem of menu">
            <div *canBeDisplayed="{'feature':menuItem.feature}">
              <ng-container *ngIf=" menuItem.type === 'link';  else subMenuLabel">
                <a mat-list-item routerLinkActive="active-list-item" [routerLink]="['/', moduleName, menuItem.state]"
                   class="list-item" [@iconAnimation]="sidebarState">
                  <mat-icon [svgIcon]="menuItem.icon" class="icon" [@iconAnimation]="sidebarState">
                  </mat-icon>
                  <span class="font-light font-size-14"
                        [@labelAnimation]="sidebarState">{{menuItem.name | translate }}</span>
                </a>
              </ng-container>
            </div>
            <ng-template #subMenuLabel>
              <mat-list-item (click)="toggleSubMenu(menuItem.children, menuItem.state)" class="list-item"
                             [@iconAnimation]="sidebarState">
                <mat-icon class="icon material-icons-outlined" [svgIcon]="menuItem.icon">
                </mat-icon>
                <span class="font-light font-size-14" [@labelAnimation]="sidebarState">{{menuItem.name | translate  }}</span>
              </mat-list-item>
            </ng-template>
          </ng-container>
        </div>
        <!---------------------------------------- sub menu container ------------------------------------------------------------>
        <ng-template #subMenuContainer>
          <div>
            <mat-list-item class="list-item" [@iconAnimation]="sidebarState" (click)="closeSubMenu()">
              <mat-icon class="icon material-icons-outlined">arrow_back
              </mat-icon>
              <span class="font-light font-size-14" [@labelAnimation]="sidebarState">go back</span>
            </mat-list-item>
            <mat-accordion multi="false">
              <ng-container *ngFor=" let subMenuItem of subMenu">
                <ng-container *ngIf=" subMenuItem.type === 'link'; else accordion">
                  <a mat-list-item routerLinkActive="active-list-item"
                     [routerLink]="subMenuItem.state === '' ? ['/', moduleName, parentMenu] : ['/', moduleName, parentMenu, subMenuItem.state]"
                     [queryParams]="subMenuItem?.queryParams"
                     [routerLinkActiveOptions]="{exact: true}" class="list-item" [@iconAnimation]="sidebarState">
                    <mat-icon class="icon material-icons-outlined" svgIcon="{{ subMenuItem.icon }}">
                    </mat-icon>
                    <span class="font-light font-size-14" [@labelAnimation]="sidebarState">{{subMenuItem.name  | translate }}</span>
                  </a>
                </ng-container>
                <ng-template #accordion>
                  <mat-expansion-panel [@accordionAnimation]="sidebarState" #widExp (click)="toggleAccordion(widExp)"
                                       hideToggle>
                    <mat-expansion-panel-header [ngClass]="widExp.expanded?'active-list-item':'list-item'"
                                                class="list-item" [@iconAnimation]="sidebarState">
                      <mat-panel-title>
                        <mat-icon class="icon material-icons-outlined" svgIcon="{{ subMenuItem.icon }}">
                        </mat-icon>
                        <span class="font-light font-size-14"
                              [@labelAnimation]="sidebarState">{{subMenuItem.name  | translate }}</span>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item routerLinkActive="active-sub-menu-child-item"
                       *ngFor="let subChildMenu of subMenuItem.child"
                       [routerLink]="['/', moduleName, parentMenu, subMenuItem.state, subChildMenu.state]"
                       [queryParams]="subChildMenu?.queryParams"
                       [routerLinkActiveOptions]="{exact: true}"
                       class="font-light font-size-14 sub-menu-child-item " [@labelAnimation]="sidebarState">
                      {{subChildMenu.name  | translate }}
                    </a>
                  </mat-expansion-panel>
                </ng-template>
              </ng-container>
            </mat-accordion>
          </div>
        </ng-template>
      </mat-nav-list>
    </div>
</wid-scrollbar>

    <div fxFlex="10" fxLayout="column" fxLayoutAlign="end center">
      <!---------------------------------------- footer ------------------------------------------------------------>
      <span class="servicima-logo" fxLayout="row">
                <ng-container *ngIf="iconBool; else miniLogo" [@labelAnimation]="sidebarState">
                  <div fxLayoutAlign="center center" fxLayoutGap="5" fxFlex="98" fxLayout="row">
                     <img src="assets/img/logoServicima.png" alt="servicima" fxFlex="14.5">
                     <img src={{image}} alt="servicima" fxFlex="51">
                  </div>
                </ng-container>
                <ng-template #miniLogo>
                  <div fxLayoutAlign="center center" fxLayoutGap="5" fxFlex="98" fxLayout="column">
                     <img src="assets/img/logoServicima.png" alt="servicima" [style]="{width:' 30px'}">

                  </div>
                </ng-template>

              </span>

      <p [@labelAnimation]="sidebarState" class="font-light font-size-9 text-center servicima-color">{{this.year}} ©
        Servicima All rights reserved.</p>

    </div>
  </div>



<button mat-icon-button mat-raised-button color="accent" (click)="toggleSideNav()"
        [@buttonAnimation]="sidebarState">
  <mat-icon class="white">{{icontoShow}}</mat-icon>
</button>
