<div fxFlex="100" fxLayout="column">
  <div fxFlex="15" fxLayout="row" class="bg-cerulean-blue">
    <div fxFlex="10" fxLayout="column" fxLayoutAlign="center end" >
      <img src="assets/icons/upload.svg" [style]="{width: '20px'}">
    </div>
    <div fxFlex="50" fxLayout="column" fxLayoutAlign="center start">
       <h6 class="white font">Upload File</h6>
    </div>
    <div fxFlex="35" fxLayout="column" fxLayoutAlign="center end" >
      <img src="assets/icons/close.svg" class="bg-close">
    </div>
  </div>
  <div fxFlex="35" fxLayout="row" fxLayoutAlign="space-evenly center">
    <button mat-raised-button  class="btn-medium bg-pale-grey"  fxFlex="45" fxLayoutAlign="space-evenly center" (click)="fileInput.click()">
      <mat-icon class="icon material-icons-outlined">computer
      </mat-icon>
      <span class="black-three" fxFlexOffset="5">From your computer</span>
      <input hidden (change)="selectFile($event)" type="file" id="file" #fileInput >
    </button>
    <button mat-raised-button  class="btn-medium bg-pale-grey"  fxFlex="45" fxLayoutAlign="space-evenly center">
      <mat-icon class="icon material-icons-outlined">add_to_drive
      </mat-icon>
      <span class="black-three" fxFlexOffset="5">From google drive</span>
    </button>
  </div>
  <div fxFlex="10" fxLayout="row" fxLayoutAlign="space-evenly center">
    <div  fxLayout="column" fxFlex="30" >
      <mat-divider></mat-divider>
    </div>
    <div  fxLayout="column" fxFlex="10" >
      <span class="cool-grey font-size-12">OR</span>
    </div>
    <div  fxLayout="column" fxFlex="30" >
      <mat-divider></mat-divider>
    </div>
  </div>
  <div fxFlex="20" fxLayout="row" fxLayoutAlign="space-evenly center">
    <div fxLayout="column" fxFlex="87">
      <mat-label class="black font-size-12">
        From link :
      </mat-label>
      <mat-form-field appearance="outline" [style]="{ fontSize: '11px' }">
        <input matInput placeholder="https://exemple.com/file.pdf">
        <mat-icon matPrefix class="icon material-icons-outlined"  svgIcon="wi_other"></mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div fxFlex="15" fxLayout="row" fxLayoutAlign="space-evenly center">
    <button mat-raised-button  class="btn-medium bg-pale-grey"  fxFlex="30" fxLayoutAlign="space-evenly center">
      <span class="black-three">Cancel</span>
    </button>
    <button mat-raised-button  class="btn-medium bg-cerulean-blue"  fxFlex="30" fxLayoutAlign="space-evenly center">
      <<span class="white">Confirm</span>
    </button>
  </div>
</div>

<!--

<mat-nav-list>
  <a (click)="fileInput.click()" mat-list-item>
    <span mat-line>From Local Path</span>
    <mat-form-field mat-line>
      <mat-label *ngIf="selectedFiles; else newFile">{{selectedFiles.item(0).name}}</mat-label>
      <ng-template #newFile>
        <mat-label>Choose file</mat-label>
      </ng-template>
      <input matInput disabled>
      <button mat-icon-button matSuffix>
        <mat-icon>attach_file</mat-icon>
      </button>
      <input hidden (change)="selectFile($event)" #fileInput type="file" id="file">
    </mat-form-field>
  </a>

  <a href="https://plus.google.com/" mat-list-item (click)="openLink($event)">
    <span mat-line>Google Drive</span>
    <span mat-line>Share with your friends</span>
  </a>

  <a href="https://plus.google.com/" mat-list-item (click)="openLink($event)">
    <span mat-line>URL</span>
    <span mat-line>Share with your friends</span>
  </a>
</mat-nav-list>
-->
