<div class="dynamic-component-container border-radius-20" fxLayout="column" fxFlex="100">
  <wid-title-certif
    certificate="certificate"
  >
    <div class="full-height"  style="min-width: 100%" fxLayout="column" fxFlex="100" @dataAppearance>

      <section fxLayout="column" fxFlex="80" style="margin-left: 2%;" @showBloc >
        <div fxLayout="row">
          <h1 class="steel font-size-18">{{ 'collaborator.information' | translate }}</h1>
        </div>
        <div fxLayout="row" fxFlex="100">
          <div fxLayout="column wrap" fxLayout.xs="column" fxFlex="50" fxFlex.xs="50">
            <mat-list role="list"    >
              <mat-list-item role="listitem" class="black font-size-12"><span class="font-semi-bold">{{ 'rh_contract_certif_start' | translate}} :</span> {{ certificate.contract_start_date | date: 'dd-MM-yyyy'}}  </mat-list-item>
              <mat-list-item role="listitem" class="black font-size-12"><span class="font-semi-bold">{{ 'rh_contract_certif_end' | translate}} :</span>  {{ certificate.contract_end_date  | date: 'dd-MM-yyyy'}} </mat-list-item>
            </mat-list>
          </div>
          <div fxLayout="column wrap" fxLayout.xs="column" fxFlex="50" fxFlex.xs="50" >
            <mat-list role="list">
              <mat-list-item role="listitem" class="black font-size-12"><span class="font-semi-bold">{{ 'rh_address_certif' | translate}} :</span> {{ certificate.address ? certificate.address : 'no_address_all' | translate }}</mat-list-item>
              <mat-list-item role="listitem" class="black font-size-12"><span class="font-semi-bold">{{ 'rh_nationality_certif' | translate}} :</span> {{ certificate.nationality_id ? nationality : 'no_natio_all' | translate }}</mat-list-item>
            </mat-list>
          </div>
        </div>
      </section>
      <section fxLayout="column" fxFlex="80" style="margin-left: 2%;" @showBloc >
        <div fxLayout="row">
          <h1 class="steel font-size-18">{{ 'rh_request_information' | translate}}: </h1>
        </div>
        <div fxLayout="row" fxFlex="100">
          <div fxLayout="column wrap" fxLayout.xs="column" fxFlex="50" fxFlex.xs="50">
            <mat-list role="list" >
              <mat-list-item role="listitem" class="black font-size-12"><span class="font-semi-bold">{{ 'rh_request_certif_date' | translate}} :</span> {{certificate.request_date | date: 'dd-MM-yyyy'}}</mat-list-item>
              <mat-list-item role="listitem" class="black font-size-12"><span class="font-semi-bold">{{ 'rh_reponse_certif_date' | translate}} :</span> {{ certificate.request_response | date: 'longDate' }} {{ certificate.request_response? '' : certificate.request_status }} </mat-list-item>
            </mat-list>
          </div>
          <div fxLayout="column wrap" fxLayout.xs="column" fxFlex="50" fxFlex.xs="50">
            <mat-list role="list" >
              <mat-list-item role="listitem" class="black font-size-12"><span class="font-semi-bold">{{ 'rh_request_type' | translate}} :</span> {{ requestType | translate }}</mat-list-item>
              <mat-list-item role="listitem" class="black font-size-12"><span class="font-semi-bold">{{ 'job_title_all' | translate}} :</span> {{ position }} </mat-list-item>
            </mat-list>
          </div>
        </div>
        <div fxLayout="column wrap"  fxLayout.xs="column" fxFlex="50" fxFlex.xs="50">
          <mat-list role="list">
            <mat-list-item role="listitem" class="black font-size-12"><span class="font-semi-bold">{{ 'rh_comment_certif' | translate}} :</span> {{ certificate.comment }}</mat-list-item>

          </mat-list>

        </div>
      </section>

      <section  [ngSwitch]="certificate.request_status" fxFlex="80" @showBloc>
        <div  fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px" fxLayout="column" *ngSwitchCase="'Pending'" >
          <div  fxLayout="row" fxLayoutGap="16px" *ngIf="!collaborator">
            <div fxLayout="column wrap" fxLayout.xs="column" fxFlex="50" fxFlex.xs="50" >
              <button mat-raised-button  class="white btn-small bg-error-red"
                      (click)="reject()"
              >
                {{ 'timesheet-reject' | translate}}
              </button>
            </div>
            <div fxLayout="column wrap" fxLayout.xs="column" fxFlex="50" fxFlex.xs="50" >
              <button  mat-raised-button  class="white btn-small bg-topaz"
                       (click)="confirm()"
              >
                {{ 'rh_confirmed_certif' | translate}}
              </button>
            </div>
          </div>
        </div>
        <div  fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px" fxLayout="column" *ngSwitchCase="'Pending'" >
          <div  fxLayout="row" fxLayoutGap="16px" *ngIf="collaborator">
            <div fxLayout="column wrap" fxLayout.xs="column" fxFlex="50" fxFlex.xs="50" >
              <button (click)="update()" mat-raised-button  class="steel btn-small bg-pale-grey">
                {{ 'resume-edit' | translate }}</button>
            </div>
          </div>
        </div>
        <div  fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px" fxLayout="column" *ngSwitchCase="'Rejected'" >
          <div  fxLayout="row" fxLayoutGap="16px">
            <div fxLayout="column wrap" fxLayout.xs="column" fxFlex="50" fxFlex.xs="50" >
              <button mat-raised-button disabled class="white btn-small bg-error-red">
                {{ 'rh_rejected_certif' | translate}}</button>
            </div>
          </div>
        </div>
        <div  fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px" fxLayout="column" *ngSwitchCase="'Confirmed'" >
          <div  fxLayout="row" fxLayoutGap="16px">
            <div fxLayout="column wrap" fxLayout.xs="column" fxFlex="50" fxFlex.xs="50"  >
              <button mat-raised-button disabled class="topaz font-size-11 bg-white">
                <div fxLayout="row" fxLayoutGap="24px" style="margin-top: 1rem;" *ngIf="!certificate.signature">
                  <button  mat-raised-button  class="white btn-small bg-topaz"
                           (click)="sign($event)">
                    {{ 'sign_all' | translate }}
                  </button>

                </div>
                <div fxLayout="row" fxLayoutGap="24px" style="margin-top: 1rem;" *ngIf="certificate.signature">
                  <button mat-raised-button disabled class="topaz font-size-11 bg-white">
                    <mat-icon  class="mat-icon icon material-icons-outlined mat-icon-no-color">
                    </mat-icon>
                    <span style="padding-top: 1rem">{{ 'sign_confirm_all' | translate }}</span></button>

                </div>
              </button>
            </div>
          </div>
        </div>

      </section>
    </div>
  </wid-title-certif>
</div>
