<div class="container" fxLayout="column" fxLayoutAlign="start" [ngStyle.xs]="{ 'width': '100%','height': '100%'}">
    <div class="button-container" [ngStyle.xs]="{ 'width': '90%'}">
    </div>
    <div fxLayout="column" fxLayout.xs="column" fxFlexFill>
      <mat-divider class="contract-divider"></mat-divider>
      <div fxFlexAlign="center center" fxFlexAlign.xs="auto" fxLayout="row" fxLayout.xs="row">
        <h2 class="title">Company profile</h2>
      </div>
      <mat-divider class="contract-divider"></mat-divider>
      <div class="container-form" fxLayout="column" fxLayout.xs="column" [ngStyle.xs]="{'width': '100%', height:'100%'}">
        <form [formGroup]="form" class="form-class" [ngStyle.xs]="{'width': '100%', height:'100%'}">
          <div fxLayout="row " fxLayout.xs="column" [ngStyle.xs]="{'height': 'auto'}">
            <div fxFlex='20' [ngStyle.xs]="{'width': '90%'}">
              <div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="center center">
                <div  fxLayoutAlign="center center">
                  <img src='assets/img/default.jpg' class="avatar" width='40%' height="40%"
                    [ngStyle.xs]="{ 'width.px' : 100 , 'height.px' : 120}">
                </div>
                <div fxLayoutAlign="center center">
                  <input  type="file" id="file" name="file" accept=".jpg, .jpeg, .png" />
                  <label for="file" class="btn-2">{{ 'user.select' | translate}}...</label>
                </div>
              </div>
            </div>
            <!-- Right Col -->
            <div fxFlex='80'>
              <div class="form-width">
                <div fxLayout="column" fxLayout.xs="column" [ngStyle.xs]="{'width': '100%', height:'100%'}" id="content">
                  <!-- Line 1 -->
                  <div fxLayout="row " fxLayout.xs="column" [ngStyle.xs]="{'height': 'auto'}">
                    <!-- Email -->
                    <div fxFlex='50'>
                      <div class="wid-form-input">
                        <mat-form-field>
                          <input class="wid-Value-input" matInput autocomplete="off" required
                            [placeholder]="'homecompany.email' | translate" formControlName="emailAddress"
                            [ngStyle.xs]="{'font-size': '15px'}">
                        </mat-form-field>
                      </div>
                    </div>
                    <!-- Company Name -->
                    <div fxFlex='50'>
                      <div class="wid-form-input">
                        <mat-form-field>
                          <input class="wid-Value-input" autocomplete="off" matInput required
                            [placeholder]=" 'homecompany.companyname' | translate" formControlName="companyName"
                            [ngStyle.xs]="{'font-size': '15px'}" />
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <!-- Line 2-->
                  <div fxLayout="row " fxLayout.xs="column" [ngStyle.xs]="{'height': 'auto'}">
                    <!-- Registration country -->
                    <div fxFlex='50'>
                      <div class="wid-form-input">
                        <mat-form-field>
                          <mat-select [placeholder]=" 'homecompany.registrationcountry' | translate" [formControl]="registryCountryCtrl" class="wid-Value-input"  #singleSelect>
                          <mat-option>
                            <ngx-mat-select-search placeholderLabel="{{ 'general.search' | translate }}"
                                                   noEntriesFoundLabel="{{ 'general.nodata' | translate }}"
                                                   [formControl]="registryCountryFilterCtrl"></ngx-mat-select-search>
                          </mat-option>
                          <mat-option *ngFor="let registryCountry of filteredRegistryCountry| async"
                                      [value]="registryCountry.value">
                            {{registryCountry.viewValue}}
                          </mat-option>
                        </mat-select>
                        <mat-error class="wid-error-messages"
                        *ngIf="registryCountryCtrl.errors?.required">
               {{ 'general.required' | translate }} </mat-error>


                        </mat-form-field>
                      </div>
                    </div>
                    <!-- Registration number -->
                    <div fxFlex='50'>
                      <div class="wid-form-input">
                        <mat-form-field>
                          <input class="wid-Value-input" matInput autocomplete="off"
                            [placeholder]="'homecompany.registrationnumber' | translate"
                            formControlName="registrationNumber" [ngStyle.xs]="{'font-size': '15px'}">
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <!-- Line 3 -->
                  <div fxLayout="row " fxLayout.xs="column" [ngStyle.xs]="{'height': 'auto'}">
                    <!-- Activity description -->
                    <div fxFlex='50'>
                      <div class="wid-form-input">
                        <mat-form-field>
                          <textarea  rows="6" formControlName="activityDescription"
                            [placeholder]="'homecompany.activitydescription' | translate" autocomplete="off" matInput
                            [ngStyle.xs]="{'font-size': '15px'}">
                        </textarea>
                        </mat-form-field>
                      </div>
                    </div>
                    <!-- Activity code -->
                    <div fxFlex='50' class="activity-code">
                      <div >
                        <div *ngIf="this.registryCountryCtrl.value !=='FRA'" class="wid-form-input">
                          <mat-form-field>
                            <input matInput class="wid-input-value"
                              [placeholder]=" 'homecompany.activitycode' | translate" [formControl]="activityCodeCtrl">
                          </mat-form-field>
                        </div>
                        <div *ngIf="this.registryCountryCtrl.value  ==='FRA'" class="wid-form-input">
                          <mat-form-field >
                            <mat-select  [placeholder]=" 'homecompany.activitycode' | translate" [formControl]="activityCodeCtrl" class="wid-Value-input"   #singleSelect>
                              <mat-option>
                                <ngx-mat-select-search placeholderLabel="{{ 'general.search' | translate }}"
                                                       noEntriesFoundLabel="{{ 'general.nodata' | translate }}"
                                                       [formControl]="activityCodeFilterCtrl"></ngx-mat-select-search>
                              </mat-option>
                              <mat-option (blur)="setDescriptionActivity(activityCode.value)"
                                          *ngFor="let activityCode of filteredActivityCode| async"
                                          [value]="activityCode.value">
                                {{activityCode.viewValue}}
                              </mat-option>
                            </mat-select>

                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Line 4 -->
                  <div fxLayout="row " fxLayout.xs="column" [ngStyle.xs]="{'height': 'auto'}">
                    <!-- Currency -->
                    <div fxFlex='50'>
                      <div class="wid-form-input">
                        <mat-form-field>
                          <mat-select [formControl]="currencyCtrl" class="wid-Value-input"  #singleSelect>
                            <mat-option>
                              <ngx-mat-select-search placeholderLabel="{{ 'general.search' | translate }}"
                                                     noEntriesFoundLabel="{{ 'general.nodata' | translate }}"
                                                     [formControl]="currencyFilterCtrl"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let currency of filteredCurrency| async" [value]="currency.value">
                              {{currency.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                    <!-- Legal form -->

                    <div fxFlex='50'>
                      <div class="wid-form-input">
                        <mat-form-field>
                          <mat-select [formControl]="legalFormCtrl" [placeholder]=" 'homecompany.legalform' | translate" class="wid-Value-input"  #singleSelect>
                            <mat-option>
                              <ngx-mat-select-search placeholderLabel="{{ 'general.search' | translate }}"
                                                     noEntriesFoundLabel="{{ 'general.nodata' | translate }}"
                                                     [formControl]="legalFormFilterCtrl"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let legalForm of filteredLegalForm| async" [value]="legalForm.value">
                              {{legalForm.viewValue}}
                            </mat-option>
                          </mat-select>

                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <!-- Line 5 -->
                  <div fxLayout="row " fxLayout.xs="column" [ngStyle.xs]="{'height': 'auto'}">
                    <!-- Capital -->
                    <div fxFlex='50'>
                      <div class="wid-form-input">
                        <mat-form-field>
                          <input class="wid-Value-input" autocomplete="off" matInput
                            [placeholder]=" 'homecompany.capital' | translate" formControlName="capital"
                            [ngStyle.xs]="{'font-size': '15px'}" />
                        </mat-form-field>
                      </div>
                    </div>
                    <!-- VAT number -->

                    <div fxFlex='50'>
                      <div class="wid-form-input">
                        <mat-form-field>
                          <mat-select [placeholder]=" 'homecompany.vat' | translate" [formControl]="vatCtrl" class="wid-Value-input"  #singleSelect>
                            <mat-option>
                              <ngx-mat-select-search placeholderLabel="{{ 'general.search' | translate }}"
                                                     noEntriesFoundLabel="{{ 'general.nodata' | translate }}"
                                                     [formControl]="vatFilterCtrl"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let vat of filteredVat| async" [value]="vat.value">
                              {{vat.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <!-- Line 6 -->
                  <div fxLayout="row " fxLayout.xs="column" [ngStyle.xs]="{'height': 'auto'}">
                    <!-- Address -->
                    <div fxFlex='50'>
                      <div class="wid-form-input">
                        <mat-form-field>
                          <textarea class="wid-Value-input" rows="9" formControlName="address"
                            class="area-text" [placeholder]="'homecompany.adress' | translate" autocomplete="off" matInput
                            required [ngStyle.xs]="{'font-size': '15px'}">
                      </textarea>
                          <mat-error class="wid-error-messages" *ngIf="form.controls.address.errors?.required">
                            {{ 'general.required' | translate }} </mat-error>

                        </mat-form-field>
                      </div>
                    </div>
                    <!-- Div Code Country Address -->
                    <div fxLayout="column " fxFlex='50'>
                      <!-- Zip code -->
                      <div fxFlex='50'>
                        <div class="wid-form-input">
                          <mat-form-field>
                            <input class="wid-Value-input" required autocomplete="off" matInput required
                              [placeholder]=" 'homecompany.zipcode' | translate" formControlName="zipCode"
                              [ngStyle.xs]="{'font-size': '15px'}" (blur)="getCity(form.value.zipCode)" />
                            <mat-error class="wid-error-messages" *ngIf="form.controls.zipCode.errors?.required">
                              {{ 'general.required' | translate }}</mat-error>

                          </mat-form-field>
                        </div>
                      </div>
                      <!-- Country -->
                      <div>
                        <div class="wid-form-input">
                          <mat-form-field>
                            <mat-select [placeholder]=" 'homecompany.country' | translate" [formControl]="countryCtrl" class="wid-Value-input"  #singleSelect>
                              <mat-option>
                                <ngx-mat-select-search placeholderLabel="{{ 'general.search' | translate }}"
                                                       noEntriesFoundLabel="{{ 'general.nodata' | translate }}"
                                                       [formControl]="countryFilterCtrl"></ngx-mat-select-search>
                              </mat-option>
                              <mat-option *ngFor="let country of filteredCountry| async" [value]="country.value">
                                {{country.viewValue}}
                              </mat-option>
                            </mat-select>
                            <mat-error class="wid-error-messages"
                            *ngIf="countryCtrl.errors?.required">  {{ 'general.required' | translate }}</mat-error>

                          </mat-form-field>
                        </div>
                      </div>
                      <!-- City -->
                      <div>
                        <div>
                          <div class="wid-form" *ngIf="this.registryCountryCtrl.value !=='FRA'" class="wid-form-input">
                            <mat-form-field>
                              <input class="wid-Value-input" autocomplete="off" required matInput required
                                [placeholder]=" 'homecompany.city' | translate" formControlName="city"
                                [ngStyle.xs]="{'font-size': '15px'}" />
                              <mat-error class="wid-error-messages" *ngIf="form.controls.city.errors?.required">
                                {{ 'general.required' | translate }}</mat-error>

                            </mat-form-field>
                          </div>
                        </div>
                        <div class="wid-form" *ngIf="this.registryCountryCtrl.value ==='FRA'" class="wid-form-input">
                          <mat-form-field>
                            <mat-select class="wid-input-value" formControlName="city" name="city" required [placeholder]=" 'homecompany.city' | translate" required>
                              <div *ngFor="let city of city.cities ">
                                <mat-option [value]="city.city">
                                  {{city.city}} </mat-option>
                              </div>
                            </mat-select>
                            <mat-error class="wid-error-messages" *ngIf="form.value.city.errors?.required">
                              {{ 'general.required' | translate }}</mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                        <!-- Line 7 -->
                        <div fxLayout="row " fxLayout.xs="column" [ngStyle.xs]="{'height': 'auto'}">
                          <!-- Employee number -->
                          <div fxFlex='50'>
                            <div class="wid-form-input">
                              <mat-form-field>
                                <input class="wid-Value-input" autocomplete="off" matInput
                                  [placeholder]=" 'homecompany.employeenum' | translate" formControlName="employeeNum"
                                  [ngStyle.xs]="{'font-size': '15px'}" />
                              </mat-form-field>
                            </div>
                          </div>
                          <!-- Website -->
                          <div fxFlex='50'>
                            <div class="wid-form-input">
                              <mat-form-field>
                                <input class="wid-Value-input" autocomplete="off" matInput
                                  [placeholder]=" 'homecompany.website' | translate" formControlName="webSite"
                                  [ngStyle.xs]="{'font-size': '15px'}" />
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <!-- Line 8 -->
                        <div fxLayout="row " fxLayout.xs="column" [ngStyle.xs]="{'height': 'auto'}">
                          <!-- Contact email -->
                          <div fxFlex='50'>
                            <div class="wid-form-input">
                              <mat-form-field>
                                <input class="wid-Value-input" autocomplete="off" matInput
                                  [placeholder]=" 'homecompany.contactemail' | translate" formControlName="contactEmail"
                                  [ngStyle.xs]="{'font-size': '15px'}" />
                              </mat-form-field>
                            </div>
                          </div>
                          <!-- Linkedin account -->
                          <div fxFlex='50'>
                            <div class="wid-form-input">
                              <mat-form-field>
                                <input class="wid-Value-input" autocomplete="off" matInput
                                  [placeholder]=" 'homecompany.linkedin' | translate" formControlName="linkedinAccount"
                                  [ngStyle.xs]="{'font-size': '15px'}" />
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <!-- Line 9 -->
                        <div fxLayout="row " fxLayout.xs="column" [ngStyle.xs]="{'height': 'auto'}">
                          <!-- Twitter account -->
                          <div fxFlex='50'>
                            <div class="wid-form-input">
                              <mat-form-field>
                                <input class="wid-Value-input" autocomplete="off" matInput
                                  [placeholder]=" 'homecompany.twitter' | translate" formControlName="twitterAccount"
                                  [ngStyle.xs]="{'font-size': '15px'}" />
                              </mat-form-field>
                            </div>
                          </div>
                          <!-- Youtube account -->
                          <div fxFlex='50'>
                            <div class="wid-form-input">
                              <mat-form-field>
                                <input class="wid-Value-input" autocomplete="off" matInput
                                  [placeholder]=" 'homecompany.youtube' | translate" formControlName="youtubeAccount"
                                  [ngStyle.xs]="{'font-size': '15px'}" />
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Update-->
                <div class="footer">
                  <button class="wid-background-button wid-Value-button btn-save"
                    type="submit" [ngStyle.xs]="{'width': '70%'}" mat-button
                    (click)='update()' [disabled]="!form.valid">{{ 'homecompany.save' | translate}}
                  </button>
                </div>
        </form>
      </div>
    </div>
