<div class="container" fxLayout="column" fxLayoutAlign="start" [ngStyle.xs]="{ 'width': '100%','height': '100%'}">
  <div class="button-container" [ngStyle.xs]="{ 'width': '90%'}" fxLayoutAlign="center center" >

    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center"
      fxLayoutAlign="space-between" fxLayoutGap="5px">
      <button class="wid-background-button wid-Value-button" type="submit" [ngStyle.xs]="{'width': '70%'}" mat-button
        (click)='update()' [disabled]="!form.valid || genderCtrl.status =='INVALID'
        || titleCtrl.status =='INVALID'|| roleCtrl.status =='INVALID'"
>{{ 'user.save' | translate}} </button>
      <button class="wid-background-button wid-Value-button" type="submit" [ngStyle.xs]="{'width': '70%'}" mat-button
        (click)="onChangePassword()">
        {{ 'user.changepwd' | translate}}</button>
      <button class="wid-background-button wid-Value-button" type="submit" [ngStyle.xs]="{'width': '70%'}" mat-button>
        {{ 'user.disactivate' | translate}}</button>
    </div>
  </div>
  <div class="container-form" fxLayout="column" fxLayout.xs="column" [ngStyle.xs]="{'width': '100%', height:'100%'}">
    <form [formGroup]="form" class="form-class" [ngStyle.xs]="{'width': '100%', height:'100%'}">
      <div fxLayout="row " fxLayout.xs="column" [ngStyle.xs]="{'height': 'auto'}">
        <div fxFlex='20' [ngStyle.xs]="{'width': '90%'}">
          <div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="center center">
            <div  fxLayoutAlign="center center">
              <img [src]= "avatar ? avatar : 'assets/img/avatar.png'"  width='40%' height="40%"
                [ngStyle.xs]="{ 'width.px' : 100 , 'height.px' : 120}">
            </div>
            <div fxLayoutAlign="center center">
              <input #file  type="file" id="file" name="file" (change)="previewFile($event)"/>
              <label for="file" class="btn-2">{{ 'user.select' | translate}}...</label>
            </div>
          </div>
        </div>
        <div fxFlex='100'>
          <div class="form-width">
            <div fxLayout="column" fxLayout.xs="column" [ngStyle.xs]="{'width': '100%', height:'100%'}">
              <div fxLayout="row " fxLayout.xs="column" [ngStyle.xs]="{'height': 'auto'}">
                <div fxFlex='50'>
                  <div class="wid-form-input">
                    <mat-form-field>
                      <input class="wid-Value-input" matInput autocomplete="off" required
                        [placeholder]="'user.firstname' | translate | uppercase" formControlName="firstName"
                        [ngStyle.xs]="{'font-size': '15px'}">
                      <mat-error class="wid-error-messages" *ngIf="form.controls.firstName.errors?.required">
                        {{ 'general.required' | translate }}</mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div fxFlex='50'>
                  <div class="wid-form-input">
                    <mat-form-field>
                      <input class="wid-Value-input" autocomplete="off" matInput required
                        [placeholder]=" 'user.lastname' | translate | uppercase" formControlName="lastName"
                        [ngStyle.xs]="{'font-size': '15px'}" />
                      <mat-error class="wid-error-messages" *ngIf="form.controls.lastName.errors?.required">
                        {{ 'general.required' | translate }}</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div fxLayout="row " fxLayout.xs="column" [ngStyle.xs]="{'height': 'auto'}">
                <div fxFlex='50'>
                  <div class="wid-form-input">
                    <mat-form-field>
                      <mat-select [placeholder]=" 'user.gender' | translate | uppercase"  [formControl]="genderCtrl" class="wid-Value-input"   #singleSelect>
                        <mat-option>
                          <ngx-mat-select-search placeholderLabel="{{ 'general.search' | translate }}" noEntriesFoundLabel="{{ 'general.nodata' | translate }}"  [formControl]="genderFilterCtrl"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let gender of filteredGender| async" [value]="gender.value" >
                          {{gender.viewValue}}
                        </mat-option>
                      </mat-select>

                      <mat-error class="wid-error-messages" *ngIf="genderCtrl.errors?.required">  {{ 'manager.reqfield' | translate }} </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div fxFlex='50'>
                  <div class="wid-form-input">
                    <mat-form-field>
                      <mat-select    [placeholder]=" 'user.job' | translate | uppercase" [formControl]="titleCtrl" class="wid-Value-input"  #singleSelect>
                        <mat-option>
                          <ngx-mat-select-search placeholderLabel="{{ 'general.search' | translate }}" noEntriesFoundLabel="{{ 'general.nodata' | translate }}"  [formControl]="titleFilterCtrl"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let title of filteredTitle| async" [value]="title.value">
                          {{title.viewValue}}
                        </mat-option>
                      </mat-select>
                      <mat-error class="wid-error-messages" *ngIf="titleCtrl.errors?.required">  {{ 'manager.reqfield' | translate }} </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div [ngStyle.xs]="{'height': 'auto'}">
                <div>
                  <div class="wid-form-input-email">
                    <mat-form-field>
                      <input class="wid-Value-input" autocomplete="off" matInput required
                        [placeholder]=" 'user.email' | translate | uppercase" formControlName="emailAddress"
                        [ngStyle.xs]="{'font-size': '15px'}" />
                      <mat-error class="wid-error-messages" *ngIf="form.controls.emailAddress.errors?.required">
                        {{ 'general.required' | translate }}</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div fxLayout="row " fxLayout.xs="column" [ngStyle.xs]="{'height': 'auto'}">
                <div fxFlex='50'>
                  <div class="wid-form-input">
                    <mat-form-field>
                      <input class="wid-Value-input" autocomplete="off" matInput
                        [placeholder]=" 'user.directline' | translate | uppercase" formControlName="profPhone"
                        [ngStyle.xs]="{'font-size': '15px'}" />
                    </mat-form-field>
                  </div>
                </div>
                <div fxFlex='50'>
                  <div class="wid-form-input">
                    <mat-form-field>
                      <input class="wid-Value-input" autocomplete="off" matInput
                        [placeholder]=" 'use.profcellphone' | translate | uppercase" formControlName="cellphoneNbr"
                        [ngStyle.xs]="{'font-size': '15px'}" />
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div fxLayout="row " fxLayout.xs="column" [ngStyle.xs]="{'height': 'auto'}">
                <div fxFlex='50'>
                  <div class="wid-form-input">
                    <mat-form-field>
                      <mat-select  [placeholder]=" 'user.role' | translate | uppercase" [formControl]="roleCtrl" class="wid-Value-input"  #singleSelect>
                        <mat-option>
                          <ngx-mat-select-search placeholderLabel="{{ 'general.search' | translate }}" noEntriesFoundLabel="{{ 'general.nodata' | translate }}"  [formControl]="roleFilterCtrl"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let role of filteredRole| async" [value]="role.value">
                          {{role.viewValue}}
                        </mat-option>
                      </mat-select>
                      <mat-error class="wid-error-messages" *ngIf="roleCtrl.errors?.required">  {{ 'manager.reqfield' | translate }} </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div fxFlex='50'>
                  <div class="wid-form-input">
                    <mat-form-field>
                      <mat-select class="wid-Value-input" formControlName="userType" required
                        [placeholder]=" 'user.profiletype' | translate | uppercase">
                        <div *ngFor="let userType of typeList">
                          <div *ngIf="showCompany === false">
                            <mat-option [value]="userType.value" *ngIf="userType.value!=='COMPANY'">
                              {{userType.viewValue}}
                            </mat-option>
                          </div>
                          <div *ngIf="showCompany === true">
                            <mat-option [value]="userType.value">
                              {{userType.viewValue}}
                            </mat-option>
                          </div>
                        </div>
                      </mat-select>
                      <mat-error class="wid-error-messages" *ngIf="form.controls.userType.errors?.required">
                        {{ 'general.required' | translate }}</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div fxLayout="row " fxLayout.xs="column" [ngStyle.xs]="{'height': 'auto'}">
                <div fxFlex='50'>
                  <div class="wid-form-input">
                    <mat-form-field>
                      <input class="wid-Value-input" autocomplete="off" matInput required
                        [placeholder]=" 'user.homecompany' | translate | uppercase" formControlName="homeCompany"
                        [ngStyle.xs]="{'font-size': '15px'}" />
                    </mat-form-field>
                  </div>
                </div>
                <div fxFlex='50'>
                  <div class="wid-form-input">
                    <mat-form-field>
                      <mat-select [placeholder]=" 'user.lang' | translate | uppercase"  [formControl]="languageCtrl" class="wid-Value-input"   #singleSelect>
                        <mat-option>
                          <ngx-mat-select-search placeholderLabel="{{ 'general.search' | translate }}"  noEntriesFoundLabel="{{ 'general.nodata' | translate }}" [formControl]="languageFilterCtrl"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let language of filteredLanguage| async" [value]="language.value">
                          {{language.viewValue}}
                        </mat-option>
                      </mat-select>
                      <mat-error class="wid-error-messages" *ngIf="languageCtrl.errors?.required">  {{ 'manager.reqfield' | translate }} </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div fxLayout="row " fxLayout.xs="column" [ngStyle.xs]="{'height': 'auto'}">
                <div fxFlex='50'>
                  <div class="wid-form-input">
                    <mat-form-field>
                      <input class="wid-Value-input" autocomplete="off" matInput
                        [placeholder]=" 'user.twitteracc' | translate | uppercase" formControlName="twitterAccount"
                        [ngStyle.xs]="{'font-size': '15px'}" />
                    </mat-form-field>
                  </div>
                </div>
                <div fxFlex='50'>
                  <div class="wid-form-input">
                    <mat-form-field>
                      <input class="wid-Value-input" autocomplete="off" matInput
                        [placeholder]=" 'user.youtubeacc' | translate | uppercase" formControlName="youtubeAccount"
                        [ngStyle.xs]="{'font-size': '15px'}" />
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div fxLayout="row " fxLayout.xs="column" [ngStyle.xs]="{'height': 'auto'}">
                <div fxFlex='50'>
                  <div class="wid-form-input">
                    <mat-form-field>
                      <input class="wid-Value-input" autocomplete="off" matInput
                        [placeholder]=" 'user.linkedinacc' | translate | uppercase" formControlName="linkedinAccount"
                        [ngStyle.xs]="{'font-size': '15px'}" />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

