<div class="container-show">
  <div fxLayout="row" fxFlexOffset="20px" fxFlex="96">

    <div fxLayout="column" fxFlex="30" fxLayoutGap="30px" fxLayoutAlign="start center" fxFill
      class="bg-white border-radius-20">
      <div fxLayout="column" fxFlex="30" fxLayoutGap="30px" fxLayoutAlign="center start" class="profile-image line-height-4">
        <img [src]="(this.user?.photo) ? avatar : 'assets/img/default.jpg'" width="80" height="80" class="show-img"
          [ngStyle.xs]="{ 'width.px': 100, 'height.px': 120 }" alt="user" />
      </div>

      <div fxLayout="column" fxLayoutGap="5px" fxFlex="15">
        <span class="brownish-grey font-size-25">{{user?.first_name}} {{ user?.last_name}}</span>
        <div fxLayout="column" fxFlex="80">
          <div >
            <mat-icon class="icon material-icons-outlined icon-male cool-grey" svgIcon="wi_email">
            </mat-icon>
            <span class="cool-grey font-size-10">{{ this.emailAddress }}</span>
          </div>
            <div>
              <mat-icon class="icon material-icons-outlined icon-male cool-grey" svgIcon={{icon}}>
              </mat-icon>
              <span class="cool-grey font-size-10">{{gender}}</span>
            </div>
        </div>
      </div>
      <div fxLayout="column" fxFlex="55" fxLayoutGap="20px">
        <div fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="50px">
          <button mat-button mat-raised-button class="btn-medium bg-ocean-blue white">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
              <mat-icon class="icon material-icons-outlined" svgIcon="wi_linkedin"> </mat-icon>
              <span class="font-size-14">{{user?.first_name}} - {{user?.last_name}}</span>
            </div>
          </button>

        </div>
        <div fxLayout="row" fxLayoutAlign="flex-end">
          <button mat-button mat-raised-button class="btn-medium bg-info-blue white">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
              <mat-icon class="icon material-icons-outlined" svgIcon="wi_twitter"> </mat-icon>
              <span class="font-size-14">{{user?.first_name}} - {{user?.last_name}}</span>
            </div>
          </button>

        </div>
        <div fxLayout="row" fxLayoutAlign="flex-end">
          <button mat-button mat-raised-button class="btn-medium bg-error-red white">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
              <mat-icon class="icon material-icons-outlined" svgIcon="wi_youtube"> </mat-icon>
              <span class="font-size-14">{{user?.first_name}} - {{user?.last_name}}</span>
            </div>
          </button>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxFlex="70" fxLayoutAlign="start" fxLayoutGap="20px" class="bg-white border-radius-20"
      fxFlexOffset="50px">

      <div fxLayout="column" fxFlex="100" fxLayoutGap="20px">
        <div fxLayout="column" fxFlex="100" class="m-l-20">
          <div fxLayout="column" fxFlex="90">
            <div fxLayout="row" fxLayoutGap="20px" style="margin-top: 5%">
              <h5 class="steel">{{'user.personnelinformation'| translate}}:</h5>
            </div>
            <div fxLayout="row">
              <div fxLayout="column" fxFlex="50" fxLayoutGap="10px">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" class="font-size-12">
                  <span> {{'user.firstname'| translate}}: </span>
                  <span class="steel"> {{user?.first_name}}</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" class="font-size-12">
                  <span> {{'user.lang'| translate}}: </span>
                  <span class="steel"> {{lang ? lang : 'none'}} </span>
                </div>
              </div>
              <div fxLayout="column" fxFlex="50" fxLayoutGap="10px">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" class="font-size-12">
                  <span> {{'user.lastname'| translate}}: </span>
                  <span class="steel"> {{user?.last_name}}</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" class="font-size-12">
                  <span> {{'user.gender'| translate}}: </span>
                  <span class="steel"> {{gender}}</span>
                </div>
              </div>
            </div>

            <div fxLayout="row">
              <h5 class="steel">{{'user.professionalinformation'| translate}}:</h5>
            </div>
            <div fxLayout="row">
              <div fxLayout="column" fxFlex="50" fxLayoutGap="10px" class="font-size-12">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                  <span> {{'user.job'| translate}}: </span>
                  <span class="steel"> {{title ? title : 'none'}}</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" class="font-size-12">
                  <span> {{'user.profiletype'| translate}}: </span>
                  <span class="steel"> {{user?.user_type | titlecase}}</span>
                </div>
              </div>
              <div fxLayout="column" fxFlex="50" fxLayoutGap="10px">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" class="font-size-12">
                  <span> {{'users.role' | translate}}: </span>
                  <span class="steel"> {{userRole | titlecase}}</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" class="font-size-12">
                  <span> {{'user.homecompany'| translate}}: </span>
                  <span class="steel"> {{companyName}}</span>
                </div>
              </div>
            </div>


            <div fxLayout="row">
              <h5 class="steel"> {{'user.contact'| translate}}:</h5>
            </div>

            <div fxLayout="row">
              <div fxLayout="column" fxFlex="50" fxLayoutGap="10px" class="font-size-12">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                  <span> {{'user.directline'| translate}}: </span>
                  <span class="steel"> {{user?.cellphone_nbr? user?.cellphone_nbr : 'none'}} </span>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" class="font-size-12">
                  <span> {{'user.email'| translate}}: </span>
                  <span class="steel"> {{ emailAddress }}</span>
                </div>
              </div>


              <div fxLayout="column" fxFlex="50" fxLayoutGap="10px" class="font-size-12">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                  <span> {{'use.profcellphone'| translate}}: </span>
                  <span class="steel"> {{user?.prof_phone ? user?.prof_phone : 'none'}}</span>
                </div>
              </div>
            </div>

            <div fxLayout="row">
              <h5 class="steel"> {{'user.socialnetwork'| translate}}:</h5>
            </div>
            <div fxLayout="column" fxLayoutGap="10px">
            <div fxLayout="row" >
              <div fxLayout="column"  fxFlex="50" fxLayoutGap="10px">
                <div fxLayout="column"  *ngFor="let element of rightList;">
                  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px"
                       *ngIf="element.value ==='link'">
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" (click)="addLink()">
                      <button mat-flat-button mat-stroked-button class="topaz btn-plus" type="button" >+</button>
                      <span class="font-size-12 steel"> {{element.placeholder| translate}} </span>
                    </div>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px"  *ngIf="element.value !=='link'">
                    <span class="font-size-12"> {{element.placeholder| translate}}: </span>
                    <span class="font-size-12 steel"> {{element.value}} </span>
                  </div>
                </div>

              </div>
              <div fxLayout="column"   fxLayoutGap="10px" >
                <div fxLayout="column"  *ngFor="let element of leftList;">
                  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px"
                       *ngIf="element.value ==='link'">
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" (click)="addLink()">
                      <button mat-flat-button mat-stroked-button class="topaz btn-plus" type="button" >+</button>
                      <span class="font-size-12 steel"> {{element.placeholder| translate}} </span>
                    </div>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" *ngIf="element.value !=='link'" >
                    <span class="font-size-12"> {{element.placeholder| translate}}: </span>
                    <span class="font-size-12 steel"> {{element.value}} </span>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <br>

          </div>
          <div fxLayout="column" fxFlex="10" fxLayoutAlign="center">
            <div fxLayout="row" fxLayoutAlign="flex-end" class="m-r-10">
              <button mat-button color="accent" (click)="update()" mat-raised-button class="btn-small white">
                {{'user.edit'| translate}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
