<!--
<form [formGroup]="CreationForm" (submit)="createSections()">
-->


<div class="dynamic-component-container border-radius-20" fxLayout="row" fxFlex="100">

  <div fxLayout="column" fxFlex="4"   ></div>

  <div fxLayout="column" fxFlex="90"    >

    <div fxLayout="row" fxFlex="10" fxLayoutAlign="space-around center">
      <div fxLayout="column" fxFlex="56">
        <h1 class="steel font-size-24 font-medium">Resume</h1>
      </div>
      <div fxLayout="column" fxFlex="15" fxLayoutAlign="center end" class="font-size-25 steel">
        <button mat-raised-button  class="btn-small bg-pale-grey" routerLink="/">
          <mat-icon class="icon material-icons-outlined"  svgIcon="wi_arrow_back">
          </mat-icon>
          <span class="cool-grey">back</span>
        </button>
      </div>
    </div>
    <div fxLayout="row" fxFlex="2" fxLayoutAlign="space-around center">
      <mat-divider [ngStyle]="{ 'width': '90%', borderTopWidth: '2px' }"></mat-divider>
    </div>
    <div fxLayout="row" fxFlex="9" fxLayoutAlign="space-around center ">
      <div fxLayout="column" fxFlex="86">
        <h4 class="steel font-size-18 font-small">Custom Sections</h4>
      </div>
    </div>
    <div fxLayout="row" fxFlex="4"></div>
    <div fxLayout="row" fxFlex="60" fxLayoutAlign="space-around">
      <wid-scrollbar fxFlexFill>
       <div fxLayout="column" fxFlex="86" *ngIf="!showSection" >
          <div fxLayout="row" fxFlex="60" style="border-radius: 9px;border-color: #e8f1f9;border-style: solid">
              <div fxLayout="column" fxFlexFill fxLayoutGap="30px" >
                <div fxLayout="row" fxFlex="8"></div>
                <div fxLayout="row" fxLayoutAlign="center"><span>No custom section available</span></div>
                <div fxLayout="row" fxLayoutAlign="center"> <button mat-raised-button (click)="showCustomSection()" class="btn-large bg-primaryColor white"  >
             Add section
                </button></div>
          </div></div>
       </div>
        <div fxLayout="column" fxFlexFill *ngIf="showSection" >
          <div  *ngFor="let item of getSection let pointIndex=index">
            <br>
            <div   style="background-color: #e8f1f9;border-radius: 10px; width: 100%"  >
              <div fxLayout="column" fxFlex>
                <p>{{item.section_title}}</p>
              </div>
              <div fxLayout="column" fxLayoutAlign="center end" style="width: 90%" fxFlex>
                <button mat-raised-button class="steel-two" style="width: 30%;border-radius: 5px">Edit</button>
              </div>
            </div>
          </div>
          <div>
            <form [formGroup]="sendSection">
              <div fxLayout="column" fxFlex="8"   ></div>
              <div fxLayout="column" fxFlex="80"  >
                <div fxLayout="column">
                  Section title:
                  <p>
                    <mat-form-field appearance="outline">
                      <input   formControlName="section_title" matInput placeholder="Section title" required>
                    </mat-form-field>
                  </p></div>
                <div fxLayout="column" >Section description:
                  <p>
                    <mat-form-field appearance="outline">
                      <mat-form-field class="example-full-width">
                        <textarea matInput formControlName="section_desc" placeholder="Section description" rows="10" cols="50"></textarea>
                      </mat-form-field>                    </mat-form-field>
                  </p></div>
                <div fxLayout="row" fxLayoutAlign="end end" >
                  <button type="submit" mat-raised-button type="submit" class="steel-two" style="width: 30%" (click)="createSection()">Add</button>
                </div>
              </div>
            </form>
          </div>
        </div>


      </wid-scrollbar>

       </div>
    <div fxLayout="row" fxFlex="9" fxLayoutAlign="center ">
      <div fxLayout="column" fxFlex="80" fxLayoutAlign="end end ">
        <button mat-raised-button type="submit" class="btn-small bg-primaryColor white"   >
          Save
        </button>


      </div>
      </div>
    </div>

</div>

<!--
</form>
-->
