<div class="dynamic-component-container border-radius-20" fxLayout="column" fxFlex="100">
  <div fxLayout="row" fxFlex="10" fxLayoutAlign="space-around center">
    <div fxLayout="column" fxFlex="56">
      <h1 class="steel font-size-24 font-medium">Resume</h1>
    </div>
    <div fxLayout="column" fxFlex="15" fxLayoutAlign="center end" class="font-size-25 steel">
      <button mat-raised-button class="btn-small bg-pale-grey" routerLink="/">
        <mat-icon class="icon material-icons-outlined" svgIcon="wi_arrow_back">
        </mat-icon>
        <span class="cool-grey">back</span>
      </button>
    </div>
  </div>
  <div fxLayout="row" fxFlex="2" fxLayoutAlign="space-around center">
    <mat-divider [ngStyle]="{ 'width': '90%', borderTopWidth: '2px' }"></mat-divider>
  </div>
  <div fxLayout="row" fxFlex="88" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex="94">
      <div fxLayout="row" fxFlex="10" fxLayoutAlign="space-around center ">
        <div fxLayout="column" fxFlex="86">
          <h4 class="steel font-size-18 font-small">{{ 'resume-functional-skills' | translate }}</h4>
        </div>
      </div>
      <wid-scrollbar fxFlex="80" class="full-width" fxLayout="row">
        <div fxLayout="column" fxFlexFill fxLayoutGap="10px">
          <div *ngFor="let item of funcSkillArray let pointIndex=index" @showBloc class="p-l-65">
            <div fxLayout="row" class="bg-pale-grey border-radius-15 width-90">
              <div fxLayout="column" fxFlex="80" class="p-l-20">
                <p class="font-normal font-size-15">{{item.skill}}</p>
              </div>
              <div fxLayout="column" fxLayoutAlign="center end" class="p-r-20"   fxFlex>
                <button mat-raised-button class="steel-two btn-small bg-white border-radius-5" (click)="editForm(item,pointIndex)">{{ 'resume-edit' | translate }}</button>
              </div>
              <div fxLayout="column" fxLayoutAlign="center end" class="p-r-20" fxFlex>
                <button mat-raised-button class="steel-two btn-small bg-white border-radius-5" (click)="deleteFuncSkill(item._id,pointIndex)" >{{ 'resume-delete' | translate }}</button>
              </div>
            </div>

          </div>
          <div>
            <form [formGroup]="sendFuncSkill">
              <div fxLayout="column" fxFlex="8"></div>

              <div fxLayout="column" fxFlex="80">
                <mat-label class="black font-size-12 required">
                  {{ 'resume-skill-title' | translate }}:
                </mat-label>
                <mat-form-field appearance="outline" class="full-width">
                  <input formControlName="skill" matInput placeholder="{{ 'resume-skill-title' | translate }}" required>
                  <mat-error class="red" *ngIf="sendFuncSkill.controls.skill.errors?.required">
                    {{ 'general.required' | translate }}</mat-error>
                  <mat-error class="red" *ngIf="sendFuncSkill.controls.skill.errors?.pattern">
                    {{ 'resume-numbers' | translate }}</mat-error>
                </mat-form-field>
                <div fxLayout="row" fxLayoutAlign="end end">
                  <button type="button" mat-raised-button class="bg-pale-grey btn-medium black"
                          (click)="createUpdateFunctionalSkill()" [disabled]="sendFuncSkill.invalid">
                    <div *ngIf="button === 'Add';then add else save"></div>
                    <ng-template #add>
                      {{ 'resume-add' | translate }}
                    </ng-template>
                    <ng-template #save>
                      {{ 'resume-save' | translate }}
                    </ng-template>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </wid-scrollbar>
      <div fxLayout="row" fxFlex="14" fxLayoutAlign="center ">
        <div fxLayout="column" fxFlex="46" fxLayoutAlign=" start" [style]="{ minHeight: '139px'}">
          <button mat-raised-button class="btn-medium bg-pale-grey" routerLink="/candidate/resume/technicalSkills">
            <span class="cool-grey">{{ 'resume-previous' | translate }}</span>
          </button>
        </div>
        <div fxLayout="column" fxFlex="50" fxLayoutAlign=" end" [style]="{ minHeight: '139px'}">
          <button mat-raised-button type="button" color="primary" class="white  btn-medium" [style]="{marginRight: '4%'}"  [routerLink]="['/candidate/resume/intervention']">
            {{ 'resume-next' | translate }}
          </button>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="start start" fxFlex="6">
      <div fxLayout="row" fxFlex="93" fxLayoutAlign=" end">
        <div fxLayout="column" fxLayoutAlign="end" fxFlexFill>
          <div fxLayout="row"  *ngFor="let item of addIndexation()">
            <div fxLayout="column" fxFlexFill>
              <div fxLayout="row">
                <ng-template [ngIf]="item === '05'">
                  <span @GreyToBlue style="color: blue; font-size: 10px">{{item}}</span>
                </ng-template>
                <ng-template [ngIf]="item !== '05' && item !== '04'">
                  <span  style="color: #afb1b8; font-size: 10px">{{item}}</span>
                </ng-template>
                <ng-template [ngIf]="item === '04'">
                  <span @blueToGrey style="color: #afb1b8; font-size: 10px">{{item}}</span>
                </ng-template>
              </div>
              <div fxLayout="row" fxLayoutAlign="center center">
                <ng-template [ngIf]="item === '05'">
                  <div @downLine style="border-left: 1px solid blue; padding-bottom: 20px"></div>
                </ng-template>
              </div>
            </div>

            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
