<div fxLayout="row"  fxFlexOffset="50px" fxFlex="100" class="p-t-20 font-size-12 bg-white border-radius-20"  form [formGroup]="form" fxLayoutGap="20px"
     style=" height: 100vh" >
  <div fxLayout="column" fxFlex="50" fxLayoutGap="25px" fxFlexOffset="25px"  >
<div fxLayout="column" fxFlex="90">
    <div fxLayout="row">
<div fxLayout="column" fxFlex="80">
  <label class="font-size-12">{{'user.firstname' | translate | uppercase}} </label>
  <mat-form-field appearance="outline">
    <input class="wid-input-value" matInput autocomplete="off" required
           [placeholder]="'user.firstname' | translate | uppercase" formControlName="firstName"
           [ngStyle.xs]="{'font-size': '15px'}" class="font-size-12">
    <mat-error class="wid-error-messages" *ngIf="form.controls.firstName.errors?.required">
      {{ 'general.required' | translate }}</mat-error>
  </mat-form-field>
</div>
</div>
    <div fxLayout="row"  >
      <div fxLayout="column" fxFlex="80">
      <label class="font-size-12">{{'user.lastname' | translate | uppercase}} </label>
      <mat-form-field appearance="outline">
        <input class="wid-input-value"  autocomplete="off" matInput required
               [placeholder]=" 'user.lastname' | translate | uppercase" formControlName="lastName"
               [ngStyle.xs]="{'font-size': '15px'}"  />
        <mat-error class="wid-error-messages" *ngIf="form.controls.lastName.errors?.required">
          {{ 'general.required' | translate }}</mat-error>
      </mat-form-field>
      </div>
    </div>



    <div fxLayout="row"  >
      <div fxLayout="column" fxFlex="80" >
      <label class="font-size-12">{{'user.gender' | translate | uppercase}} </label>

        <mat-radio-group formControlName="genderProfil"  fxLayout="row" fxLayoutGap="100px"  style="line-height: 4;">
          <mat-radio-button  value="F">Female</mat-radio-button>
          <mat-radio-button  value="M">Male</mat-radio-button>
        </mat-radio-group>
    </div>
    </div>

    <div fxLayout="row">
      <div fxLayout="column" fxFlex="80">
      <label class="font-size-12">{{'user.email' | translate | uppercase}} </label>
      <mat-form-field appearance="outline">
        <input class="wid-input-value"  autocomplete="off" matInput required
               [placeholder]=" 'user.email' | translate | uppercase" formControlName="emailAddress"
               [ngStyle.xs]="{'font-size': '15px'}" />
        <mat-error class="wid-error-messages" *ngIf="form.controls.emailAddress.errors?.required">
          {{ 'general.required' | translate }}</mat-error>
      </mat-form-field>
    </div>
    </div>
    <div fxLayout="row"  >
      <div fxLayout="column" fxFlex="80">
      <label class="font-size-12">{{'user.directline' | translate | uppercase}} </label>
      <mat-form-field appearance="outline">
        <input class="wid-input-value"  autocomplete="off" matInput
               [placeholder]=" 'user.directline' | translate | uppercase" formControlName="profPhone"
               [ngStyle.xs]="{'font-size': '15px'}" />
      </mat-form-field>
    </div>
    </div>
    <div fxLayout="row"  >
      <div fxLayout="column" fxFlex="80">
    <label class="font-size-12" >{{'user.role' | translate | uppercase}} </label>
      <mat-form-field appearance="outline">
        <mat-select [placeholder]=" 'user.role' | translate | uppercase" formControlName="roleCtrl" class="wid-input-value"  #singleSelect>
          <mat-option>
            <ngx-mat-select-search placeholderLabel="{{ 'general.search' | translate }}"
                                   noEntriesFoundLabel="{{ 'general.nodata' | translate }}" formControlName="roleFilterCtrl">
            </ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let role of filteredRole| async" [value]="role.value">
            {{role.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error class="wid-error-messages" *ngIf="form.controls.roleCtrl.errors?.required">
          {{ 'manager.reqfield' | translate }} </mat-error>
      </mat-form-field>
    </div>
    </div>
    <div fxLayout="row"  >
      <div fxLayout="column" fxFlex="80">
      <label class="font-size-12">{{'user.homecompany' | translate | uppercase}} </label>
      <mat-form-field appearance="outline">
        <input class="wid-input-value"  autocomplete="off" matInput required
               [placeholder]=" 'user.homecompany' | translate | uppercase" formControlName="homeCompany"
               [ngStyle.xs]="{'font-size': '15px'}" />
      </mat-form-field>
    </div>


</div>
  <div fxLayout="row" >
      <div fxLayout="column" fxFlex="80">
        <a (click)="onChangePassword()" class="topaz decoration"> {{ 'user.changepwd' | translate}}</a>
        <a (click)="deactivateAccount()" class="topaz decoration">  {{ 'user.disactivate' | translate}}</a>
      </div>
  </div>
    </div>
  </div>

  <div fxLayout="column" fxFlex="50">

  <div fxLayout="column" fxFlex="40" fxLayoutAlign="space-evenly center" class="profile-image">
    <img [src]="user['photo'] ? avatar : 'assets/img/default.jpg'" width="80" height="80" class="avatar"
         [ngStyle.xs]="{ 'width.px': 100, 'height.px': 120 }" />
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" >
      <div fxLayout="row"  fxFlex="25" >
        <button mat-button mat-raised-button class="btn-small bg-ocean-blue white" style="width: 180px">
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
            <mat-icon class="icon material-icons-outlined" svgIcon="wi_linkedin"> </mat-icon>
            <span class="font-size-10">{{user.first_name}}</span>
          </div>
        </button>

      </div>
      <div fxLayout="row" fxFlex="25"  >
        <button mat-button mat-raised-button class="btn-small bg-info-blue white" style="width: 180px">
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
            <mat-icon class="icon material-icons-outlined" svgIcon="wi_twitter"> </mat-icon>
            <span class="font-size-10">{{user.first_name}}</span>
          </div>
        </button>

      </div >
      <div fxLayout="row" fxFlex="25"  >
        <button mat-button mat-raised-button class="btn-small bg-error-red white" style="width: 180px">
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
            <mat-icon class="icon material-icons-outlined" svgIcon="wi_youtube"> </mat-icon>
            <span class="font-size-10">{{user.first_name}}</span>
          </div>
        </button>
      </div>
    </div>
  </div>
    <div fxLayout="column" fxFlex="53">
    <div fxLayout="row"  >
      <div fxLayout="column" fxFlex="80">
      <label class="font-size-12">{{'user.job' | translate | uppercase}} </label>
      <mat-form-field appearance="outline">
        <mat-select [placeholder]=" 'user.job' | translate | uppercase" formControlName="titleCtrl" class="wid-input-value"  #singleSelect>
          <mat-option>
            <ngx-mat-select-search placeholderLabel="{{ 'general.search' | translate }}"
                                   noEntriesFoundLabel="{{ 'general.nodata' | translate }}" formControlName="titleFilterCtrl">
            </ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let title of filteredTitle| async" [value]="title.value">
            {{title.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error class="wid-error-messages" *ngIf="form.value.titleCtrl.errors?.required">
          {{ 'manager.reqfield' | translate }} </mat-error>
      </mat-form-field>
    </div>
    </div>
    <div fxLayout="row"  >
      <div fxLayout="column" fxFlex="80">
      <label class="font-size-12">{{'user.directline' | translate | uppercase}} </label>
      <mat-form-field appearance="outline">
        <input class="wid-input-value"  autocomplete="off" matInput
               [placeholder]=" 'user.directline' | translate | uppercase" formControlName="profPhone"
               [ngStyle.xs]="{'font-size': '15px'}" />
      </mat-form-field>
    </div>
    </div>
    <div fxLayout="row"  >
      <div fxLayout="column" fxFlex="80">
      <label class="font-size-12">{{'user.profiletype' | translate | uppercase}} </label>
      <mat-form-field appearance="outline">
        <mat-select class="wid-input-value" formControlName="userType" required
                    [placeholder]=" 'user.profiletype' | translate | uppercase">
          <div *ngFor="let userType of typeList">
            <div *ngIf="showCompany === false">
              <mat-option [value]="userType.value" *ngIf="userType.value!=='COMPANY'">
                {{userType.viewValue}}
              </mat-option>
            </div>
            <div *ngIf="showCompany === true">
              <mat-option [value]="userType.value">
                {{userType.viewValue}}
              </mat-option>
            </div>
          </div>
        </mat-select>
        <mat-error class="wid-error-messages" *ngIf="form.controls.userType.errors?.required">
          {{ 'general.required' | translate }}</mat-error>
      </mat-form-field>
    </div>
    </div>
    <div fxLayout="row"  >
      <div fxLayout="column" fxFlex="80">
      <label class="font-size-12">{{'user.lang' | translate | uppercase}} </label>
      <mat-form-field appearance="outline">
        <mat-select [placeholder]=" 'user.lang' | translate | uppercase" formControlName="languageCtrl"
                    class="wid-input-value"  >
          <mat-option>
            <ngx-mat-select-search placeholderLabel="{{ 'general.search' | translate }}"
                                   noEntriesFoundLabel="{{ 'general.nodata' | translate }}" formControlName="languageFilterCtrl">
            </ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let language of filteredLanguage| async" [value]="language.value">
            {{language.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error class="wid-error-messages" *ngIf="form.value.languageCtrl.errors?.required">
          {{ 'manager.reqfield' | translate }} </mat-error>
      </mat-form-field>
    </div>
    </div>

    </div>

    <div fxLayout="column" fxFlex="10" >
      <div fxLayout="row" fxLayoutGap="50px">
    <button mat-button mat-raised-button class="btn-medium bg-pale-grey black-three">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
        <span class="font-size-14"> Reset</span>
      </div>
    </button>
        <button mat-button mat-raised-button class="btn-medium bg-ocean-blue white" (click)="update()">
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
            <span class="font-size-14" >{{ 'user.save' | translate}}</span>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
