<div class="border-radius-20 dynamic-component-container m-l-30 ">

    <div fxLayout="column" fxFlexOffset="50px" class="m-t-20" fxFlex="100">
      <div fxFlex="7"  fxLayout="row" class="line-height-2">
        <div fxLayout="column" fxFlex="85" fxLayoutAlign="center"  class="steel font-size-24 font-medium" *ngIf=" title === 'Add'" >{{ 'user.add' | translate | capitalizeFirstLetter}} </div>
        <div fxLayout="column" fxFlex="85" fxLayoutAlign="center"  class="steel font-size-24 font-medium" *ngIf=" title === 'Update'" >{{ 'user.edit' | translate | capitalizeFirstLetter}} </div>
        <div fxLayout="column" fxFlex="15" fxLayoutAlign="center" class="font-size-25 steel">
          <button mat-raised-button class="btn-small bg-pale-grey" (click)="back()">
            <mat-icon class="icon material-icons-outlined" svgIcon="wi_arrow_back">
            </mat-icon>
            <span class="cool-grey"> {{ 'user.back' | translate}} </span>
          </button>
        </div>
      </div>
      <div fxFlex="2" fxLayout="row">
        <mat-divider [ngStyle]="{ borderTopWidth: '2px' ,'width': '98%'}"></mat-divider>
      </div>

      <wid-skeleton-loader
        height="35" width="250"
        *ngIf="isLoading" nbrRow=8
        nbrColumn=2
      ></wid-skeleton-loader>
      <wid-scrollbar class="scrollbar" style="width: 100%">
      <form fxLayout="row" fxFlex="97" class="p-t-20 font-size-12 " *ngIf="!isLoading"
        [formGroup]="form"  >

        <div fxLayout="column" fxFlex="100" fxFlexOffset="50px" *widDisabledForm="{'feature':'SOURCING_ACCESS','disabledFields': addOrUpdateFeature ==='SETTINGS_ADD_USER' ? ['homeCompany']  : ['homeCompany', 'emailAddress'], 'form': form}">


          <div fxLayout="row">
            <div fxLayout="column" fxFlex="50">
              <div fxLayout="row">
                <div fxLayout="column" fxFlex="80">
                  <label class="font-size-12 required">{{'user.firstname' | translate | capitalizeFirstLetter}} </label>
                  <mat-form-field appearance="outline">
                    <input matInput autocomplete="off" required [placeholder]="'user.firstname' | translate | capitalizeFirstLetter"
                      formControlName="firstName" [ngStyle.xs]="{'font-size': '15px'}" class="font-size-12">
                    <mat-error class="wid-error-messages" *ngIf="form.controls.firstName?.errors?.required">
                      {{ 'general.required' | translate }}</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row">
                <div fxLayout="column" fxFlex="80">
                  <label class="font-size-12 required">{{'user.lastname' | translate | capitalizeFirstLetter}} </label>
                  <mat-form-field appearance="outline">
                    <input autocomplete="off" matInput required [placeholder]=" 'user.lastname' | translate | capitalizeFirstLetter"
                      formControlName="lastName" [ngStyle.xs]="{'font-size': '15px'}" />
                    <mat-error class="wid-error-messages" *ngIf="form.controls.lastName?.errors?.required">
                      {{ 'general.required' | translate }}</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div fxLayout="column" fxFlex="50" fxLayoutAlign="flex-end flex-start" >
              <div fxLayout="column" fxLayoutAlign="start center"  class="profile-image" [ngStyle]="{'width': '80%'}">
                <div class="profile-image" fxLayout="row"  fxLayoutAlign="center start">
                  <wid-profile-image [haveImage]="haveImage" [avatar]="this.avatar" [diameter]="130" [modelObject]="user"
                                     [singleUpload]="false" height="147" width="122" [userType]="profileUserType" (newFile)="getFile($event)">
                  </wid-profile-image>
                </div>
              </div>
              <div fxLayout="row" [ngStyle]="{'width': '80%'}" [fxLayoutAlign]="showList.length ==1 ? 'center center' : 'stretch'" fxFlex="100" fxLayoutGap="3%" class="m-t-20"  >
                <div   fxLayout="column" *ngFor=" let list of showList.slice(0, 3); let index = index"
                       [fxFlex]="showList.slice(0, 3).length === 3 ? 33 : 48" [ngStyle]="{'width': showList.slice(0, 3).length === 3 ? '30%' : '40%'}"  >


                  <button  mat-button mat-raised-button class="btn-small white overwrite-btn-small" [ngStyle]="{'background-color':list.color,'pointer-events': list.lien === null ? 'none' : 'auto' }"  >
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px" >
                      <div fxLayout="column" fxFlex="5">
                        <mat-icon class="icon material-icons-outlined" svgIcon='{{list.icon}}'> </mat-icon>
                      </div>
                      <div fxLayout="column" fxFlex="95">
                        <span class="font-size-10">{{list.value | spliceText: 15}}</span>
                      </div>
                    </div>
                  </button>

                </div>
              </div>
            </div>
          </div>
          <div fxLayout="row">
            <div fxLayout="column" fxFlex="50">
              <label class="font-size-12 required">{{'user.gender' | translate | capitalizeFirstLetter}} </label>
              <mat-radio-group formControlName="genderProfile" fxLayout="row" fxLayoutGap="100px" class="line-height-4">
                <mat-radio-button value="F">{{'gender.female' | translate}}</mat-radio-button>
                <mat-radio-button value="M">{{'gender.male' | translate }}</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div fxLayout="row">
            <div fxLayout="column" fxFlex="50">
              <div fxLayout="row">
                <div fxLayout="column" fxFlex="80">
                  <label class="font-size-12 required">{{'user.email' | translate | capitalizeFirstLetter}} </label>
                  <mat-form-field appearance="outline">
                    <input autocomplete="off" matInput required [placeholder]=" 'user.email' | translate | capitalizeFirstLetter"
                      formControlName="emailAddress" [ngStyle.xs]="{'font-size': '15px'}" />
                    <mat-error class="wid-error-messages" *ngIf="form.controls.emailAddress?.errors?.required">
                      {{ 'general.required' | translate }}</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row">
                <div fxLayout="column" fxFlex="80">
                  <label class="font-size-12">{{'user.professional.cellphone' | translate | capitalizeFirstLetter}} </label>
                  <mat-form-field appearance="outline">
                    <input autocomplete="off" matInput [placeholder]=" 'user.professional.cellphone' | translate | capitalizeFirstLetter"
                      formControlName="profPhone" [ngStyle.xs]="{'font-size': '15px'}" />
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div fxLayout="column" fxFlex="50">
              <div fxLayout="row">
                <div fxLayout="column" fxFlex="80">
                  <label class="font-size-12">{{'user.job' | translate | capitalizeFirstLetter}} </label>
                  <mat-form-field appearance="outline">
                    <mat-select [placeholder]=" 'user.job' | translate | capitalizeFirstLetter" formControlName="titleCtrl"
                      #singleSelect>
                      <mat-option>
                        <ngx-mat-select-search placeholderLabel="{{ 'general.search' | translate }}"
                          noEntriesFoundLabel="{{ 'general.nodata' | translate }}" formControlName="titleFilterCtrl">
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let title of filteredTitle| async" [value]="title.value">
                        {{title.viewValue}}
                      </mat-option>
                    </mat-select>
                    <mat-error class="wid-error-messages" *ngIf="form.value.titleCtrl?.errors?.required">
                      {{ 'general.required' | translate }} </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row">
                <div fxLayout="column" fxFlex="80">
                  <label class="font-size-12">{{'user.directline' | translate | capitalizeFirstLetter}} </label>
                  <mat-form-field appearance="outline">
                    <input autocomplete="off" matInput [placeholder]=" 'user.directline' | translate | capitalizeFirstLetter"
                      formControlName="cellphoneNbr" [ngStyle.xs]="{'font-size': '15px'}" />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div fxLayout="row">
            <div fxLayout="column" fxFlex="50">
              <div fxLayout="row">
                <div fxLayout="column" fxFlex="80">
                  <label class="font-size-12 required">{{'user.role' | translate | capitalizeFirstLetter}} </label>
                  <mat-form-field appearance="outline">
                    <mat-select [placeholder]=" 'user.role' | translate | capitalizeFirstLetter" formControlName="roleCtrl"
                      #singleSelect>
                      <mat-option>
                        <ngx-mat-select-search placeholderLabel="{{ 'general.search' | translate }}"
                          noEntriesFoundLabel="{{ 'general.nodata' | translate }}" formControlName="roleFilterCtrl">
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let role of filteredRole| async" [value]="role.value">
                        {{role.viewValue}}
                      </mat-option>
                    </mat-select>
                    <mat-error class="wid-error-messages" *ngIf="form.controls.roleCtrl.errors?.required">
                      {{ 'general.required' | translate }} </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row">
                <div fxLayout="column" fxFlex="80">
                  <label class="font-size-12">{{'user.home.company' | translate | capitalizeFirstLetter}} </label>
                  <mat-form-field appearance="outline">
                    <input autocomplete="off" matInput [placeholder]=" 'user.home.company' | translate | capitalizeFirstLetter"
                      formControlName="homeCompany" [ngStyle.xs]="{'font-size': '15px'}" />
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div fxLayout="column" fxFlex="50">
              <div fxLayout="row">
                <div fxLayout="column" fxFlex="80">
                  <label class="font-size-12 required">{{'user.type' | translate}} </label>
                  <mat-form-field appearance="outline">
                    <mat-select formControlName="userType" required
                      [placeholder]=" 'user.type' | translate | capitalizeFirstLetter">
                      <div *ngFor="let userType of typeList">
                        <div *ngIf="showCompany === false">
                          <mat-option [value]="userType.value" *ngIf="userType.value!=='COMPANY'">
                            {{userType.viewValue}}
                          </mat-option>
                        </div>
                        <div *ngIf="showCompany === true">
                          <mat-option [value]="userType.value">
                            {{userType.viewValue}}
                          </mat-option>
                        </div>
                      </div>
                    </mat-select>
                    <mat-error class="wid-error-messages" *ngIf="form.controls.userType.errors?.required">
                      {{ 'general.required' | translate }}</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row">
                <div fxLayout="column" fxFlex="80">
                  <label class="font-size-12 required">{{'user.lang' | translate | capitalizeFirstLetter}} </label>
                  <mat-form-field appearance="outline">
                    <mat-select [placeholder]=" 'user.lang' | translate | capitalizeFirstLetter" formControlName="languageCtrl">
                      <mat-option>
                        <ngx-mat-select-search placeholderLabel="{{ 'general.search' | translate }}"
                          noEntriesFoundLabel="{{ 'general.nodata' | translate }}" formControlName="languageFilterCtrl">
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let language of filteredLanguage| async" [value]="language.value">
                        {{language.viewValue}}
                      </mat-option>
                    </mat-select>
                    <mat-error class="wid-error-messages" *ngIf="form.value.languageCtrl?.errors?.required">
                      {{ 'general.required' | translate }} </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div fxLayout="row">
            <div fxLayout="column">
              <div fxLayout="column" fxFlex="80" class="line-height-2">
                <a *canBeDisplayed="{'feature':'SETTINGS_UPDATE_PWD_USER'}" (click)="onChangePassword()" class="topaz decoration"> {{ 'user.changepwd' | translate}}</a>
                <a *canBeDisplayed="{'feature':'SETTINGS_UPDATE_DEACTIVATE_ACCOUNT'}" (click)="deactivateAccount()" class="topaz decoration"> {{ 'user.deactivate' | translate}}</a>
              </div>
            </div>
          </div>
          <div fxLayout="row" [ngStyle]="{'margin-top': '8%'}">
            <div fxLayout="column" fxFlex="50">

            </div>
            <div fxLayout="column" fxFlex="40" fxFlexAlign="center center">
              <div *canBeDisplayed="{'feature':'SOURCING_ACCESS'}" fxLayout="row" fxLayoutGap="50px" fxFlexAlign="center">
                <div >
                <button  mat-button mat-raised-button class="btn-medium bg-pale-grey black-three" (click)="reset()" >
                  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                    <span class="font-size-14"> {{ 'user.reset' | translate}}</span>
                  </div>
                </button>
                </div>
                <button [disableControl]="{'feature':'SOURCING_ACCESS', 'validator': form.valid}"  mat-raised-button  class="btn-medium white" color="primary"
                  (click)="addOrUpdate()">
                  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                    <span class="font-size-14">{{ 'user.save' | translate}}</span>
                  </div>
                </button>
              </div>
            </div>
          </div>

          <br>

        </div>
      </form>
        </wid-scrollbar>
    </div>

</div>
