<div class="licence-container"
     fxLayout="column" fxLayoutGap="20px" fxFlexOffset="3" fxFlex="94">
  <div fxLayout="row" fxFlex="10" fxLayoutAlign="space-around center" class="bg-white border-radius-20">
    <div fxLayout="column" fxFlex="56">
      <h1 class="steel font-size-24 font-medium">Subscription Detail</h1>
    </div>
    <div fxLayout="column" fxFlex="15" fxLayoutAlign="center end" class="font-size-25 steel">
      <button mat-raised-button class="btn-small bg-pale-grey" (click)="backClicked()">
        <mat-icon class="icon material-icons-outlined" svgIcon="wi_arrow_back">
        </mat-icon>
        <span class="cool-grey">back</span>
      </button>
    </div>

  </div>
  <div [formGroup]="form" class="full-width" fxFlex fxLayoutGap="10px" fxLayoutAlign="start start" fxLayout="row">
    <div fxFlex="100" class="full-height" fxLayout="column" fxLayoutAlign="start start"  fxLayoutGap="10px" >
      <div class="full-width bg-white border-radius-20 p-10 p-l-20" fxFlex="90"
           fxLayout="column" fxLayoutAlign="start start">
        <div fxLayout="column" fxFlex="90"   class="m-l-40 m-t-30 font-size-12 full-width" fxLayoutGap="10px" fxLayoutAlign="space-evenly" >
         <div fxLayout="row" >
           <div fxLayout="column" fxFlex="30" fxLayoutAlign="center start">
             <div>{{'user.contact' | translate}}</div>
           </div>
           <div fxLayout="column" fxFlex="25">
             <mat-form-field appearance="outline">
               <input formControlName="contactEmail" class="font-size-12" autocomplete="off" matInput required placeholder="email@exp.com"
                      [ngStyle.xs]="{'font-size': '15px'}" />
             <mat-error class="wid-error-messages">
                 {{ 'general.required' | translate }}</mat-error>
             </mat-form-field>
           </div>
         </div>

        <div fxLayout="row">
          <div fxLayout="column" fxFlex="30">
            {{ 'acc-creation-date' | translate}}
          </div>
          <div fxLayout="column" fxFlex="25">
            {{this.startDate | date}}
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center">
          <div fxLayout="column" fxFlex="30">
            {{ 'subscription-date' | translate}}          </div>
          <div  fxFlex="25">
            {{typeLicence | titlecase}} pack <sup class="denim font-size-8">({{periodicity}})</sup>
          </div>
          <div fxLayout="column" fxFlex="30">
            <button mat-raised-button class="btn-small bg-pale-grey denim font-size-11 overwrite-btn-renew">
              {{'renew-subscription' | translate}}</button>
          </div>
        </div>

        <div fxLayout="row"  >
          <div fxLayout="column" fxFlex="30">
            {{'subscription-amount' | translate}}<sup class="font-size-8 denim">{{'auto-renew' | translate}}
          </sup>
          </div>
          <div  fxFlex="12">
            80.50€ <sup class="font-size-8 denim">{{'per-month' | translate}}</sup>
          </div>
          <div fxLayout="row" fxFlex="20"  class="denim decoration" fxLayoutAlign="flex-start center" >
            <div fxLayout="column" >
              <mat-icon class="icon material-icons-outlined"  svgIcon="wi-external-link">
              </mat-icon>
            </div>

            <div  fxLayout="column" class="font-size-8"> {{"history" | translate}}</div>
          </div>
        </div>

        <div fxLayout="row">
          <div fxLayout="column" fxFlex="30">
            {{"user-licence" | translate}} <sup  class="font-size-8 denim">
           {{'additional-user' | translate}}
          </sup>
          </div>
          <div fxLayout="column" fxFlex="25">
            30 <sup  class="font-size-8 denim m-l-20 " > (free 25 + extra 5) </sup>

          </div>
          <div fxLayout="column" fxFlex="30">
            <button mat-raised-button class="btn-small bg-pale-grey denim font-size-11 overwrite-btn">{{'manager-setting-menu.users.management' | translate}}
            </button>
          </div>
        </div>

        <div fxLayout="row"  >
          <div fxLayout="column" fxFlex="30">
          {{'new-sampling' | translate}}
            </div>
          <div  fxFlex="12">
            15.00€ <sup  class="font-size-8 denim">  31/05/2021 </sup>
          </div>
          <div fxLayout="row" fxFlex="20" class="decoration denim" fxLayoutAlign="flex-start center" >
            <div fxLayout="column" >
              <mat-icon class="icon material-icons-outlined"  svgIcon="wi-external-link">
              </mat-icon>
            </div>

            <div  fxLayout="column" class="font-size-8"> {{'next-invoice' | translate}} </div>
          </div>

        </div>

        <div fxLayout="row"  fxLayoutAlign="start center ">
          <div fxLayout="column" fxFlex="30">
            {{ 'manager-setting-menu.payment.payment.info' | translate}}          </div>
          <div fxLayout="column" fxFlex="25">
            <div fxLayout="row" >
            <div fxLayout="column" fxFlex="35">  **** **** ****  </div>
            <div fxLayout="column"  fxFlex="50">1411 12/2022</div>
            </div>
          </div>
          <div  fxLayout="column" fxFlex="30" >
            <button mat-raised-button class="btn-small bg-pale-grey font-size-11 denim overwrite-btn" >
              {{'edit-credit-card' | translate}}
            </button>
          </div>
        </div>
        </div>
        </div>
      </div>
    </div>
</div>
