.btn-medium{
 width: 222px !important;
}
.mat-icon{
  height: 12px !important;
}
.material-icons-outlined{
  font-size: 14px!important;
}
.dynamic-component-container .mat-form-field {
  font-size: 10px !important;
}
.overwrite-btn-renew {
  width: 188px !important;
}

.overwrite-btn{
  width: 150px !important;
}
.licence-container .mat-form-field {
  font-size: 9px;
}
::ng-deep .licence-container .mat-form-field-appearance-outline .mat-form-field-wrapper {
  padding: 0!important;
}
::ng-deep .licence-type .mat-form-field-appearance-outline .mat-form-field-flex {
  width: 70% !important;
}
