<div class="dynamic-component-container border-radius-20" fxLayout="column" fxFlex="100">
  <wid-title-certif
    certificate="certificate"
  >
    <div class="full-height"  style="min-width: 100%" fxLayout="column" fxFlex="100">
      <form [formGroup]="editForm"  [style]="{'width': '100%', 'height': 'min-content'}" >
        <div class="full-height"  style="min-width: 100%; margin-right: 2%;" fxLayout="column" fxFlex="100">

          <div fxLayout="column" style="margin-left: 2%;">
            <div fxLayout="row">
              <h1 class="steel font-size-18">{{role}} {{ 'rh_information_certif' | translate }} </h1>
            </div>
            <div fxLayout="row"  fxLayoutGap="5%">
              <div fxLayout="column" fxFlex="40">
                <label class="black font-size-12">
                  {{ 'rh_contract_start' | translate }}
                </label>
                <mat-form-field appearance="outline" >
                  <input matInput [matDatepicker]="datepicker"  [matDatepickerFilter]="datePickerFilter" formControlName="contract_start_date" placeholder="Contract Start date" (keyup)="onKey($event)">
                  <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                  <mat-datepicker #datepicker color="primary"></mat-datepicker>
                  <mat-error class="red" *ngIf="editForm.controls.contract_start_date.errors?.required">
                    {{ 'general.required' | translate }} </mat-error>
                </mat-form-field>
              </div>
              <div fxLayout="column" fxFlex="40">
                <label class="black font-size-12">
                  Contract end on  :
                </label>
                <mat-form-field appearance="outline" >
                  <input matInput [matDatepicker]="datepicker1"  [matDatepickerFilter]="datePickerFilter" formControlName="contract_end_date" placeholder="Contract End date" (keyup)="onKey($event)">
                  <mat-datepicker-toggle matSuffix [for]="datepicker1"></mat-datepicker-toggle>
                  <mat-datepicker #datepicker1 color="primary"></mat-datepicker>
                  <mat-error class="red" *ngIf="editForm.controls.contract_end_date.errors?.required">
                    {{ 'general.required' | translate }} </mat-error>
                </mat-form-field>
              </div>

            </div>
          </div>
          <div fxLayout="row"  fxLayoutGap="5%" style="margin-left: 2%;">
            <div  fxLayout="column" fxFlex="40">
              <mat-label class="black font-size-12">
                Address :
              </mat-label>
              <mat-form-field appearance="outline" >
                <input  type="text" matInput
                        placeholder="Address" formControlName="address"
                        (keyup)="onKey($event)"

                >
                <mat-error class="red" *ngIf="editForm.controls.address.errors?.required">
                  {{ 'general.required' | translate }} </mat-error>
              </mat-form-field>
            </div>
            <div  fxLayout="column" fxFlex="40">
              <label class="black font-size-12">
                Nationnalité :
              </label>
              <mat-form-field appearance="outline" class="full-width">
                <mat-select formControlName="language"  panelClass="panelColor" placeholder="Nationality">
                  <mat-option *ngFor="let natio of natioList" value="{{ natio.NATIONALITY_CODE }}">
                    {{ natio.NATIONALITY_DESC }}
                  </mat-option>
                </mat-select>
                <mat-error class="red" *ngIf="editForm.controls.nationality_id.errors?.required">
                  {{ 'general.required' | translate }} </mat-error>
              </mat-form-field>
            </div>

          </div>

          <div class="column"  fxLayoutGap="5%" style="margin-left: 2%;">
            <div fxLayout="row">
              <h1 class="steel font-size-18">Request information </h1>
            </div>
            <div fxLayout="row"  fxLayoutGap="5%">
              <div  fxLayout="column" fxFlex="40">
                <mat-label class="black font-size-12">
                  Request date  :
                </mat-label>
                <mat-form-field appearance="outline" >
                  <input matInput [matDatepicker]="datepicker"   [matDatepickerFilter]="datePickerFilter" formControlName="request_date" placeholder="Request date">
                  <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                  <mat-datepicker #datepicker color="primary"></mat-datepicker>

                </mat-form-field>
              </div>
              <div  fxLayout="column" fxFlex="40">
                <mat-label class="black font-size-12">
                  Request response :
                </mat-label>
                <mat-form-field appearance="outline"  *ngIf="certificate.response_request" >
                  <input matInput [matDatepicker]="datepicker" disabled  [matDatepickerFilter]="datePickerFilter" formControlName="response_request" placeholder="Request date">
                  <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                  <mat-datepicker #datepicker color="primary"></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline"  *ngIf="!certificate.response_request">
                  <input  type="text" matInput
                          disabled
                          placeholder="Request status" formControlName="request_status" >
                </mat-form-field>

              </div>

            </div>
            <div fxLayout="row"  fxLayoutGap="5%">
              <div  fxLayout="column" fxFlex="40">
                <mat-label class="black font-size-12">
                  Type :
                </mat-label>
                <mat-form-field appearance="outline" >
                  <mat-select formControlName="request_type"  panelClass="panelColor">
                    <mat-option value="CERT" selected>Work certificate</mat-option>
                    <mat-option value="EXP">Expatriation</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div  fxLayout="column" fxFlex="40">
                <mat-label class="black font-size-12">
                  Language :
                </mat-label>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-select formControlName="language"  panelClass="panelColor" placeholder="Language" >
                    <mat-option *ngFor="let lang of languageList" value="{{ lang.LanguageKey.language_code }}">
                      {{ lang.language_desc }}
                    </mat-option>
                  </mat-select>
                  <mat-error class="red" *ngIf="editForm.controls.language.errors?.required">
                    {{ 'general.required' | translate }} </mat-error>
                </mat-form-field>
              </div>

            </div>

          </div>


          <div class="row"  class="full-width" style="width: 86%; margin-left: 2%">
            <div   >
              <div  fxLayout="column"  >
                <label class="black font-size-12">
                  Comment
                </label>
                <mat-form-field appearance="outline">
                                <textarea matInput placeholder="Comment" rows="7"
                                          cols="70"
                                          resizeable="false"
                                          formControlName="comment"
                                          (keyup)="onKey($event)"
                                ></textarea>
                </mat-form-field>
              </div>
            </div>

          </div>
          <div fxLayout fxLayoutAlign="center center"  fxLayoutGap="32px"  style="margin-bottom: .5rem;">
            <button  mat-raised-button  class="black btn-small bg-white-two" >
              Cancel
            </button>
            <button (click)="confirm()" mat-raised-button  class="white btn-small bg-topaz">
              Confirm
            </button>

          </div>


        </div>
      </form>
    </div>
  </wid-title-certif>
</div>

