<wid-model-modal [modelConfig]="modelConfig" (emitter)="onNotify($event)" form [formGroup]="form" class="full-height ">

  <div modal-body fxFlex="100" fxFlex.xs="50" fxLayout="column" class="cool-grey font-size-12" fxFlexOffset="9">
    <h5 class=" steel">Social website :</h5>
    <div fxLayout="row" fxFlex="80" fxLayoutGap="10px">
<div fxLayout="column"  fxFlex="20">
  <div fxLayout="column" fxFlex="80">
    <mat-form-field appearance="outline" >
      <mat-select disableOptionCentering panelClass="panelColor" formControlName="twitterAccount" placeholder="{{ 'user.linkedinacc' | translate }}">
        <mat-option  *ngFor="let twitter of list" [value]="twitter">
          {{twitter}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxLayout="column" fxFlex="80">
    <mat-form-field appearance="outline">
      <mat-select disableOptionCentering panelClass="panelColor" formControlName="youtubeAccount" placeholder="{{ 'user.twitteracc' | translate }}">
        <mat-option *ngFor="let youtube of list" [value]="youtube">
          {{youtube}}
        </mat-option>
      </mat-select>

    </mat-form-field>
  </div>
  <div fxLayout="column" fxFlex="80">
    <mat-form-field appearance="outline">
      <mat-select disableOptionCentering panelClass="panelColor" formControlName="linkedinAccount" placeholder="{{ 'user.youtubeacc' | translate }}">
      <mat-option *ngFor="let linkedin of list" [value]="linkedin">
        {{linkedin}}
      </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
   <div fxLayout="column"  fxFlex="70">

     <div fxLayout="column" fxFlex="80">
       <mat-form-field appearance="outline">
         <input  autocomplete="off" matInput required
                [placeholder]=" 'user.twitteracc' | translate | uppercase" formControlName="twitterAccount"
                [ngStyle.xs]="{'font-size': '15px'}"  />
         <mat-error class="wid-error-messages" *ngIf="form.controls.twitterAccount.errors?.required">
           {{ 'general.required' | translate }}</mat-error>
       </mat-form-field>
     </div>
     <div fxLayout="column" fxFlex="80">
       <mat-form-field appearance="outline">
         <input  autocomplete="off" matInput required
                [placeholder]=" 'user.youtubeacc' | translate | uppercase" formControlName="youtubeAccount"
                [ngStyle.xs]="{'font-size': '15px'}"  />
         <mat-error class="wid-error-messages" *ngIf="form.controls.youtubeAccount.errors?.required">
           {{ 'general.required' | translate }}</mat-error>
       </mat-form-field>
     </div>
     <div fxLayout="column" fxFlex="80">
       <mat-form-field appearance="outline">
         <input autocomplete="off" matInput required
                [placeholder]=" 'user.linkedinacc' | translate | uppercase" formControlName="linkedinAccount"
                [ngStyle.xs]="{'font-size': '15px'}"  />
         <mat-error class="wid-error-messages" *ngIf="form.controls.linkedinAccount.errors?.required">
           {{ 'general.required' | translate }}</mat-error>
       </mat-form-field>
     </div>
   </div>

  </div>
  </div>
</wid-model-modal>
