<div  fxLayout="row" fxFlexFill fxLayoutAlign="end">
  <form fxLayout="column" [formGroup]="mailingForm"  fxFlex="94">
    <div  fxLayout="column" fxFlex="95" >
      <div fxLayout="row"  fxLayoutAlign="space-around center" style="min-height: 50px !important">
        <div fxLayout="column" fxFlex="80">
        </div>
        <div mat-dialog-close fxLayout="column" fxFlex="5" fxLayoutAlign="center end" class="font-size-25 steel" >
          <img src="assets/icons/close.svg" class="bg-close">
        </div>
      </div>
      <div>
        <div class="steel font-size-15 font-medium">{{'invoice.enter.payment' | translate | capitalizeFirstLetter}}</div>
      </div>
    </div>

    <div fxLayout="column" style="margin-top: 10px; width: 96%;">
      <div fxLayout="row">
        <div fxLayout="column" fxFlex="98">
          <mat-label class="black font-size-12 required">
            {{'invoice.payment.amount' | translate | capitalizeFirstLetter}} :
          </mat-label>
          <div style="font-size: 10px" class="full-width">
            <mat-form-field appearance="outline" class="full-width">
              <input type="number" formControlName="amount" matInput [placeholder]=" 'invoice.payment.amount' | translate"  >
            </mat-form-field>
          </div>
        </div>
      </div>

      <div>
        <div fxLayout="row">
          <div fxLayout="column" fxFlex="98">
            <mat-label class="black font-size-12 required">
              {{'invoice.payment.type' | translate | capitalizeFirstLetter}} :
            </mat-label>
            <div style="font-size: 10px" class="full-width">
              <mat-form-field appearance="outline" class="full-width">
                <mat-select [placeholder]=" 'invoice.payment.amount' | translate" formControlName="paymentMethodsCtrl"
                            #singleSelect>
                  <mat-option>
                    <ngx-mat-select-search placeholderLabel="{{ 'general.search' | translate }}"
                                           noEntriesFoundLabel="{{ 'general.nodata' | translate }}" formControlName="paymentMethodsFilterCtrl">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let paymentMethod of filteredPaymentMethods| async" [value]="paymentMethod.value">
                    {{paymentMethod.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div fxLayout="row" style="justify-content: flex-end;
    margin-right: 20px; ">
      <span class="material-icons-outlined font-size-11 steel" >
add
</span>
          <div class="font-size-8 decoration"><a class="steel" (click)="addPaymentMode()">Add payment mode</a></div>
        </div>
      </div>

      <div fxLayout="row">
        <div fxLayout="column" fxFlex="98">
          <mat-label class="black font-size-12">
            {{'invoice.bank.account' | translate | capitalizeFirstLetter}}:
          </mat-label>
          <div style="font-size: 10px" class="full-width">
            <mat-form-field appearance="outline" class="full-width">
              <input formControlName="bankAccount" matInput [placeholder]=" 'invoice.bank.account' | translate" >
            </mat-form-field>
          </div>
        </div>
      </div>
      <div fxLayout="row">
        <div fxLayout="column" fxFlex="98">
          <mat-label class="black font-size-12 required">
            {{'invoice.payment.date' | translate | capitalizeFirstLetter}}
          </mat-label>
          <div style="font-size: 10px" class="full-width">
            <mat-form-field appearance="outline" class="full-width">
              <input type="datetime-local" formControlName="paymentDate" matInput [placeholder]=" 'invoice.payment.date' | translate">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div fxLayout="row">
        <div fxLayout="column" fxFlex="98">
          <mat-label class="black font-size-12 required">
            {{'invoice.payment.notes' | translate | capitalizeFirstLetter}}:
          </mat-label>
          <mat-form-field appearance="outline" class="full-width">
                    <textarea style="font-size: 12px !important" matInput formControlName="message"[placeholder]=" 'invoice.payment.notes' | translate"
                              rows="3" required></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="15px" style="min-height: 45px !important;">
      <button mat-raised-button type="submit" color="primary" class="white btn-small" (click)="addInvoicepayment()" mat-dialog-close [disabled]="mailingForm.invalid">{{'invoice.management.sendmail' | translate | capitalizeFirstLetter}}</button>
      <button mat-raised-button class="btn-small bg-pale-grey" mat-dialog-close>{{'invoice.cancel' | translate | capitalizeFirstLetter}}</button>
    </div>
  </form>
</div>
