<wid-dynamic-data-table
  [tableData]="ELEMENT_DATA"
  [tableCode]="'USERS-LIST'"
  [isLoading]="isLoading"
  [header]="{ title: 'users.list', feature: 'SETTINGS_ADD_USER',addActionURL: '/manager/settings/users/add-user', addActionText: 'users.add'}"
  [title]="'Users list'"
  [singleAction]="{name:'users.import', feature: 'SETTINGS_IMPORT_USER'}"
  (rowActionData)="switchAction($event)"
  [allowedActions]="[{name:'users.delete', feature: 'SETTINGS_DELETE_USER'}]"
  (pagination)="loadMoreItems($event)"
  (otherAction) = "getDataWithStatus($event)"
  (search)= "searchUser($event)"
  (filter) ="search($event)"
>
</wid-dynamic-data-table>
