<wid-dynamic-data-table
  [tableData]="ELEMENT_DATA"
  [tableCode]="'USERS-LIST'"
  [isLoading]="isLoading"
  [header]="{ title: 'manager-setting-menu.users.management' | translate, addActionURL: '/manager/settings/users/add-user', addActionText: 'add-new' | translate}"
  [title]="'Users list'"
  (rowActionData)="switchAction($event)"
  [allowedActions]="['show','delete']"
  (pagination)="loadMoreItems($event)"
  (changeStatus) = "getDataWithStatus($event)"
  (search)= "searchUser($event)"
  (filter) ="search($event)"
>
</wid-dynamic-data-table>
