.title{
  color:#276da5 ;
  font-size: 35px; font-weight: bolder;height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}
.container-title{
  text-align: center;
  font-size: 20px;
  line-height: 2;
}
.container-button{
  width: 100%;
  text-align: center;
  padding: 25px;
}
.button-back{
  background-color: #d7c831;
  width: 20%;
}
.container-body{
  display: flex;
  justify-content: center;
}
.details{
  font-size: 17px;
  width: 50%;
  line-height: 2;
  padding: 34px;
}
.content{
  margin-top: 80px;
  border: 1px solid rgb(196, 194, 194);
  width: 70%;
}
.information-compte{
  font-size: 17px;
  width: 50%;
  line-height: 2;
  padding: 34px;
  border-left: 1px solid rgb(196, 194, 194);
}
.icon-print{
  padding-top: 5px;
}
