<h1 class="title"> Merci d'avoir effectué la mise à niveau</h1>
<div class="container-title">
    <div>votre commaned est terminée</div>
    <div>vous etes maintenat pret a utiliser Servicima for personal</div>
</div>
<div class="container-button">
    <button mat-button class="button-back">Retour</button>
</div>
<div class="container-body">
    <div fxLayout="row" class="content">
        <div class="details">
            <h1> Détails de la commande</h1>
            <div> Forfait selectionné</div>
            <div>Particuliers</div>
            <div>avec 1 utilisateurs(s), facturés mensuel avec renouvellement automatique</div>
            <div fxLayout="row">
                <div>Total:</div>
                <div>14,00 euro</div>
            </div>
            <div>Payé avec: Visa se terminant par 1411</div>
            <div>date d'achat: 5/14/2020 11:09 PM</div>
            <div fxLayout="row" fxLayoutGap="10px">
                <mat-icon class="material-icons icon-print">
                    print
                </mat-icon>
                <div>
                    imprimer la confirmation ed votre achat</div>
            </div>
        </div>
        <div class="information-compte">
            <h1> Information du compte</h1>
            <div fxLayout="row">
                <div>Nom: </div>
                <div> {{name}}</div>
            </div>
            <div fxLayout="row">
                <div>Addresse: </div>
                <div> {{address}}</div>
            </div>
            <div fxLayout="row">
                <div>Address e-email: </div>
                <div>{{email}}</div>
            </div>
        </div>
    </div>
</div>
