.scrollbar-candidates-list{
  max-width: 100% !important;
  min-height: 70% !important;
  border-radius: 4px !important;
  box-sizing: border-box !important;
}
.search-bar-list{
  height: 30px !important;
}
.card-person {
  border-radius: 15px;
  box-shadow: 0 3px 6px 0 #e8f1f9;
  border: solid 1px #e8f1f9;
  width: 90%;
  height: 95%;
}
