<div class="full-height">
  <div  fxLayout="column" fxFlex="95" >
    <div fxLayout="row"  fxLayoutAlign="space-around center" style="min-height: 50px !important">
      <div fxLayout="column" fxFlex="80">
      </div>
      <div fxLayout="column" fxFlex="5" fxLayoutAlign="center end" class="font-size-25 steel" (click)="onNotify(false)">
        <img src="assets/icons/close.svg" class="bg-close">
      </div>
    </div>
    <div class="m-l-15">
      <div class="steel font-size-15 font-medium">Protect the access with a password</div>
    </div>
    <div class="container-role">
      <wid-scrollbar class="scrollbar">
        <div modal-body fxFlex="100" fxFlex.xs="50" [formGroup]="form" fxLayout="column" class="cool-grey font-size-12 m-l-20 m-t-15">

          <div fxLayout="column" fxFlex="97">
            <div fxLayout="column" fxFlex="90">
              <mat-label class="black-three required"> {{'changepwd.newpwd' | translate | capitalizeFirstLetter }} </mat-label>
              <mat-form-field appearance="outline">
                <input [type]="hidePassword ? 'password' : 'text'" [placeholder]=" 'changepwd.newpwd' | translate "  autocomplete="off" matInput formControlName="password"
                       name="password" type="password" required />
                <mat-icon class="cursor-pointer" matSuffix (click)="hidePassword = !hidePassword">
                  {{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="form.controls.password.errors?.required">Required filed</mat-error>
                <mat-error *ngIf="form.controls.password.errors?.pattern">{{ 'updatepwd.invalidpwq' | translate }}.
                </mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex="90" >
              <mat-label class="black-three required"> {{'changepwd.confirmpwd' | translate | capitalizeFirstLetter}}  </mat-label>
              <mat-form-field style="height: 76px !important;" appearance="outline" [ngStyle.xs]="{'width': '96%'}">
                <input [type]="hideConfirmPassword ? 'password' : 'text'" [placeholder]=" 'changepwd.confirmpwd' | translate " autocomplete="off" matInput
                       formControlName="confirmPassword" name="confirmPassword" [errorStateMatcher]="errorMatcher" type="password"
                       required />
                <mat-icon class="cursor-pointer" matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">
                  {{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="form.controls.confirmPassword.errors?.required">
                  Required Field </mat-error>
                <mat-error *ngIf="form.hasError('passwordsDoNotMatch')"> Passwords do
                  not match!</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </wid-scrollbar>
    </div>
    <br/>
    <div class="modal-footer" fxFlex="35" fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="30px" class="m-r-10">
      <button mat-raised-button class="btn-small bg-pale-grey black-three"(click)="onNotify(false)">Cancel</button>
      <button mat-raised-button class="btn-small bg-ocean-blue white" [disabled]="form.invalid" (click)="onNotify(true)">Confirm</button>
    </div>
    <br/>
  </div>
</div>
