.container-details-invite {
  min-height: 83% !important;
}
.img-details-organisation{
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 5px;
  border: solid 1px #e8f1f9;
}
.week-details{
  background-color: #e8f1f9;
  color: black;
  border-radius: 5px;
}
