.x-button {
  border-radius: 5px;
  background-color: #f2f3f8;
  color: gray;
  border: none;
}
.post-box {
  border-radius: 5px; border: solid 2px #e8f1f9;box-shadow: 3px 3px 3px #e8f1f9
}
.small-box {
  border: solid 1px #707070;
  border-radius: 5px;
}
.publish-button-linkedin {
  width: 200px; height: 30px; border-radius: 5px; background-color: #0065b3; color: white; border: none
}
.publish-button-indeed {
  width: 200px; height: 30px; border-radius: 5px; background-color: white; color: #003a9b; border: 1px solid #003a9b;
}
.publish-button-monster {
  width: 200px; height: 30px; border-radius: 5px; background-color: #6e46ae; color: white; border: none;
}
.publish-button-talent {
  width: 200px; height: 30px; border-radius: 5px; background-color: white; color: #691f74; border: 1px solid #691f74;
}
