<div class="full-height">
  <div  fxLayout="column" fxFlex="100" >
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <div fxLayout="column" fxFlex="80">
        <h1 class="steel font-size-24 font-medium" *ngIf="action === 'update'">	{{'payment.info.update.title' | translate | capitalizeFirstLetter}} </h1>
        <h1 class="steel font-size-24 font-medium" *ngIf="action === 'add'">	{{'payment.info.add.title' | translate | capitalizeFirstLetter}} </h1>
      </div>
      <div fxLayout="column" fxFlex="5" fxLayoutAlign="center end" class="font-size-25 steel" (click)="onNotify(false)">
        <img src="assets/icons/close.svg" class="bg-close">
      </div>
    </div>
    <div fxLayout="row" fxFlex="2" fxLayoutAlign="space-around center">
      <mat-divider [ngStyle]="{ 'width': '90%', borderTopWidth: '2px' }"></mat-divider>
    </div>
    <div modal-body fxFlex="100" fxFlex.xs="50" [formGroup]="form" fxLayout="column" class="cool-grey font-size-12 m-t-15 m-l-60">
      <div fxLayout="row" fxFlex="100" fxLayoutGap="10%">
        <div fxLayout="column" fxFlex="40">
          <label class="font-size-12 black-three required">{{'payment.info.delay' | translate | capitalizeFirstLetter}} </label>
          <mat-form-field appearance="outline">
            <input type="number" class="black-three" autocomplete="off" matInput required [placeholder]=" 'payment.info.delay' | translate | capitalizeFirstLetter"
                   formControlName="delay" [ngStyle.xs]="{'font-size': '15px'}" />
            <mat-error class="wid-error-messages" *ngIf="form.controls.delay?.errors?.required">
              {{ 'general.required' | translate }}</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="40"  fxFlexAlign="center">
          <label class="font-size-12 black-three">{{'payment.info.end.of.month' | translate | capitalizeFirstLetter}} </label>
          <mat-checkbox value="true" formControlName="endOfMonthFlag">End of month</mat-checkbox>
        </div>
      </div>
      <div fxLayout="row" fxFlex="100" fxLayoutGap="10%">
        <div fxLayout="column" fxFlex="90">
          <label class="font-size-12 black-three  required">{{'payment.info.description' | translate | capitalizeFirstLetter}} </label>
          <mat-form-field appearance="outline">
             <textarea [placeholder]=" 'payment.info.description' | translate" rows="7"
                       formControlName="paymentTermsDesc" autocomplete="off" matInput
                       [ngStyle.xs]="{'font-size': '15px'}" class="black-three">
                  </textarea>
            <mat-error class="wid-error-messages" *ngIf="form.controls.paymentTermsDesc?.errors?.required">
              {{ 'general.required' | translate }}</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="modal-footer" fxFlex="35" fxLayoutAlign="flex-end center" fxLayout="row" fxLayoutGap="30px" class="m-r-10">
      <button mat-raised-button class="btn-small bg-pale-grey black-three" (click)="onNotify(false)">{{'payment.info.cancel' | translate | capitalizeFirstLetter}}</button>
      <button mat-raised-button class="btn-small bg-ocean-blue white" [disabled]="form.invalid" (click)="onNotify(true)">{{'payment.info.confirm' | translate | capitalizeFirstLetter}}</button>
    </div>

  </div>
</div>
