<div class="dynamic-component-container border-radius-20" fxLayout="column" fxFlex="100">
  <div fxLayout="row" fxFlex="10" fxLayoutAlign="space-around center">
    <div fxLayout="column" fxFlex="56">
      <h1 class="steel font-size-24 font-medium">Resume</h1>
    </div>
    <div fxLayout="column" fxFlex="15" fxLayoutAlign="center end" class="font-size-25 steel">
      <button mat-raised-button class="btn-small bg-pale-grey" routerLink="/">
        <mat-icon class="icon material-icons-outlined" svgIcon="wi_arrow_back">
        </mat-icon>
        <span class="cool-grey">back</span>
      </button>
    </div>
  </div>
  <div fxLayout="row" fxFlex="2" fxLayoutAlign="space-around center">
    <mat-divider [ngStyle]="{ 'width': '90%', borderTopWidth: '2px' }"></mat-divider>
  </div>
  <div fxLayout="row" fxFlex="88" fxLayoutAlign="center">
    <div fxLayout="column" fxFlexFill>
      <div fxLayout="row" fxFlex="10" fxLayoutAlign="space-around center ">
        <div fxLayout="column" fxFlex="86">
          <h4 class="steel font-size-18 font-small">Technical skills</h4>
        </div>
      </div>
      <wid-scrollbar fxLayout="row" fxFlex="80">
        <div fxLayout="column" fxFlexFill fxLayoutGap="10px">
          <div *ngFor="let item of techSkillArray let pointIndex=index" class="p-l-65">
            <div fxLayout="row" class="bg-pale-grey border-radius-15 width-90">
              <br>
              <div fxLayout="column" fxFlex="20" class="p-l-20">
                <p class="font-normal font-size-15">{{item.technical_skill_desc}}</p>
              </div>
              <div fxLayout="column" fxLayoutAlign="center end"  fxFlex="70">
                <button mat-raised-button class="steel-two btn-small bg-white border-radius-5" (click)="editForm(item._id,item.technologies,item.technical_skill_desc,item.technical_skill_code,pointIndex)">Edit</button>
              </div>
              <div fxLayout="column" fxLayoutAlign="center end" class="p-r-20" fxFlex>
                <button mat-raised-button class="steel-two btn-small bg-white border-radius-5" (click)="deleteTechSkill(item._id,pointIndex)" >Delete</button>
              </div>
            </div>
          </div>
          <div>
            <form [formGroup]="sendTechSkill">
              <div fxLayout="column" fxFlex="8"></div>
              <div fxLayout="column" fxFlex="80">
                <div fxLayout="column">
                  <mat-label class="black font-size-12 required">
                    Skill title:
                  </mat-label>
                  <mat-form-field appearance="outline" class="full-width">
                    <input formControlName="technical_skill_desc" matInput placeholder="Skill title" required>
                    <mat-error class="red" *ngIf="sendTechSkill.controls.technical_skill_desc.errors?.required">
                      {{ 'general.required' | translate }}</mat-error>
                    <mat-error class="red" *ngIf="sendTechSkill.controls.technical_skill_desc.errors?.pattern">
                      Numbers not allowed</mat-error>
                  </mat-form-field>
                </div>
                <div fxLayout="column">
                  <mat-label class="black font-size-12 required">
                    Technologies:
                  </mat-label>
                  <mat-form-field appearance="outline">
                    <textarea matInput formControlName="technologies" placeholder="Skill description"
                              rows="7" required></textarea>
                    <mat-error class="red" *ngIf="sendTechSkill.controls.technologies.errors?.required">
                      {{ 'general.required' | translate }}</mat-error>
                    <mat-error class="red" *ngIf="sendTechSkill.controls.technologies.errors?.pattern">
                      Numbers not allowed</mat-error>
                  </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="end end">
                  <button mat-raised-button type="button" class="bg-pale-grey btn-medium black"
                          (click)="createUpdateTechnicalSkill()" [disabled]="sendTechSkill.invalid">{{button}}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </wid-scrollbar>
      <div fxLayout="row" fxFlex="10" fxLayoutAlign="center ">
        <div fxLayout="column" fxFlex="46" fxLayoutAlign=" start" [style]="{ minHeight: '139px'}">
          <button mat-raised-button class="btn-medium bg-pale-grey"
                  routerLink="/candidate/resume/certifDiploma">
            <span class="cool-grey">Previous</span>
          </button>
        </div>
        <div fxLayout="column" fxFlex="50" fxLayoutAlign=" end" [style]="{ minHeight: '139px'}">
          <button mat-raised-button type="submit" color="primary" class="white  btn-medium" [style]="{marginRight: '4%'}"
                  [routerLink]="['/candidate/resume/functionalSkills']">
              Next
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
