.container-plus{
  margin-right: 26px;
  margin-top: -10px;
}
.mat-icon{
  height: 13px !important;
}
.material-icons-outlined{
  line-height: 0 !important;
}
.container-payment-method{
  height: 128px
}
