.close-button-container {
  margin-left: auto;
}

.title-container {
  span {
    color: #fff;
    text-transform: capitalize;
  }
}

::-webkit-scrollbar {
  background-color: #fff;
  width: 14px;
}

::-webkit-scrollbar-track:hover {
  background-color: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 5px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 4px solid #f4f4f4;
}

.config-container {
  padding: 5px;
  height: 100%;

  .list-content {
    height: 75%;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    form {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      overflow-x: hidden;
      height: 100%;
    }
  }
}

.config-wrapper {
  height: 100%;
}
.title {
  margin: 5px 0;
  span {
    font-weight: bold;
  }
}
.list-content {
  span {
    font-size: 12px;
  }
}
.switch-buttons {
  align-self: center;
  display: flex;
  flex-direction: column;
  button {
    align-self: center;
  }
}
