<div class="dynamic-component-container border-radius-20" fxLayout="column"  fxFlex="100">
  <div fxLayout="row" fxFlex="10" fxLayoutAlign="space-around center">
    <div fxLayout="column" fxFlex="56">
      <h1 class="steel font-size-24 font-medium">Resume</h1>
    </div>
    <div fxLayout="column" fxFlex="15" fxLayoutAlign="center end" class="font-size-25 steel">
      <button mat-raised-button class="btn-small bg-pale-grey" routerLink="/">
        <mat-icon class="icon material-icons-outlined" svgIcon="wi_arrow_back">
        </mat-icon>
        <span class="cool-grey">back</span>
      </button>
    </div>
  </div>
  <div fxLayout="row" fxFlex="2" fxLayoutAlign="space-around center">
    <mat-divider [ngStyle]="{ 'width': '90%', borderTopWidth: '2px' }"></mat-divider>
  </div>
  <div fxLayout="row" fxFlex="88">
    <div fxLayout="column" fxFlex="96">
      <div fxLayout="row" fxFlex="10" fxLayoutAlign="space-around center ">
        <div fxLayout="column" fxFlex="86">
          <h4 class="steel font-size-18 font-small"> {{ 'resume-pro-exp' | translate }}</h4>
        </div>
      </div>
      <div fxLayout="row" fxFlex="76" fxLayoutAlign="space-around">
        <wid-scrollbar fxFlexFill @dataAppearance fxLayout="column">
          <div fxLayout="row" fxFlex="80" fxLayoutAlign="center center">
            <div fxLayout="column" fxFlex="85" fxFlexAlign="center center" class="full-height">
              <div *ngFor="let item of proExpArray let pointIndex=index" @showBloc fxLayout="column">
                <div fxLayout="row" class="bg-pale-grey border-radius-15 " fxFlex="80">
                  <div fxLayout="column" fxFlex="80" class="p-l-20">
                    <div fxLayout="row" fxFlex="44">
                      <p class="font-normal font-size-15">{{item.position}}</p>
                    </div>
                    <div fxLayout="row" fxFlexAlign=" start" fxFlex="50">
                      <p class="font-extra-light font-size-10 help-blue">
                        {{item.customer}}   {{item.start_date | date:"longDate"}}-{{item.end_date === 'Current Date' ? ' Today' : item.end_date  | date: "longDate"}}
                      </p>
                    </div>
                  </div>
                  <div fxLayout="column" fxLayoutAlign="center end" class="p-r-20" fxFlex>
                    <button mat-raised-button class="steel-two btn-small bg-white border-radius-5"
                            (click)="routeToProject(item)">{{ 'resume-project-list' | translate }}
                    </button>
                  </div>
                  <div fxLayout="column" fxLayoutAlign="center end" class="p-r-20" fxFlex>
                    <button mat-raised-button class="steel-two btn-small bg-white border-radius-5"
                            [disabled]="button === 'Save'"  (click)="editForm(item,pointIndex)">{{ 'resume-edit' | translate }}
                    </button>
                  </div>
                  <div fxLayout="column" fxLayoutAlign="center end" class="p-r-20" fxFlex>
                    <button mat-raised-button class="steel-two btn-small bg-white border-radius-5" (click)="deleteProExp(item._id,pointIndex,item.professional_experience_code)" >{{ 'resume-delete' | translate }}</button>
                  </div>
                </div>
              </div>
              <form [formGroup]="sendProExp" class="full-height" fxLayout="column" fxFlex="60">
                <div fxLayout="row" fxFlex="70" class="border-radius-15 pale-grey border-solid" fxLayoutAlign=" center">
                  <div fxLayout="column" fxFlexFill class="full-width full-height" fxLayoutAlign="center">
                    <div fxLayout="row" fxLayoutAlign="space-around end" fxFlex="40" class="width-90">
                      <div fxLayout="column" fxFlex="35">
                        <mat-label class="black font-size-12 required">
                          {{ 'resume-position' | translate }}:
                        </mat-label>
                        <mat-form-field appearance="outline">
                          <input  formControlName="position" matInput placeholder="{{ 'resume-position' | translate }}" required>
                          <mat-error class="red" *ngIf="sendProExp.controls.position.errors?.required">
                            {{ 'general.required' | translate }}</mat-error>
                          <mat-error class="red" *ngIf="sendProExp.controls.position.errors?.pattern">
                            {{ 'resume-numbers' | translate }}</mat-error>
                        </mat-form-field>
                      </div>
                      <div fxLayout="column" fxFlex="35">
                        <mat-label class="black font-size-12 required">
                          {{ 'resume-customer' | translate }}:
                        </mat-label>
                        <mat-form-field appearance="outline">
                          <input formControlName="customer" matInput placeholder=" {{ 'resume-customer' | translate }}" required>
                          <mat-error class="red" *ngIf="sendProExp.controls.customer.errors?.required">
                            {{ 'general.required' | translate }}</mat-error>
                          <mat-error class="red" *ngIf="sendProExp.controls.customer.errors?.pattern">
                            {{ 'resume-numbers' | translate }}</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div fxLayout="row" class="width-90" fxFlex="40" fxLayoutAlign="space-around center">
                      <div fxLayout="column" fxFlex="35">
                        <mat-label class="black font-size-12 required">
                          {{ 'resume-start-date' | translate }}:
                        </mat-label>
                        <mat-form-field appearance="outline">
                          <input matInput [matDatepicker]="datepicker"  [min]="minStartDate" [max]="maxStartDate" [matDatepickerFilter]="myDisabledDayFilter" #date1
                                 formControlName="start_date" placeholder="{{ 'resume-start-date' | translate }}" (dateChange)="onChangeStartDate(date1.value)"  required>
                          <mat-datepicker-toggle matSuffix [for]="datepicker" ></mat-datepicker-toggle>
                          <mat-datepicker startView="multi-year" #datepicker color="primary" ></mat-datepicker>
                          <mat-error class="red" *ngIf="sendProExp.controls.start_date.errors?.required">
                            {{ 'general.required' | translate }}</mat-error>
                        </mat-form-field>
                        <mat-checkbox class="example-margin black font-size-12" [checked]="checkedBox === true" (change)="checkCurrentDate($event)" [disabled]="disableCheckBox" >Im currently working in this role</mat-checkbox>

                      </div>
                      <div fxLayout="column" fxFlex="35">
                        <mat-label class="black font-size-12 required">
                          {{ 'resume-end-date' | translate }}:
                        </mat-label>
                        <mat-form-field appearance="outline">
                          <input matInput [matDatepicker]="datepickerend"   [min]="minEndDate" [max]="maxEndDate"  #date2
                                 formControlName="end_date" placeholder=" {{ placeHolderEndDate | translate }}" (dateChange)="onChangeEndDate(date2.value)"  required>
                          <mat-datepicker-toggle matSuffix [for]="datepickerend" ></mat-datepicker-toggle>
                          <mat-datepicker startView="multi-year" #datepickerend color="primary" ></mat-datepicker>
                          <mat-error class="red" *ngIf="sendProExp.controls.end_date.errors?.required">
                            {{ 'general.required' | translate }}</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div fxLayout="row" fxFlex="20">
                      <div fxLayout="column" fxFlex="92" fxLayoutAlign="space-arround end">
                        <button mat-raised-button type="button" class="btn-small bg-pale-grey"
                                (click)="createUpdateProExp()" [disabled]="sendProExp.invalid">
                          <div *ngIf="button === 'Add';then add else save"></div>
                          <ng-template #add>
                            {{ 'resume-add' | translate }}
                          </ng-template>
                          <ng-template #save>
                            {{ 'resume-save' | translate }}
                          </ng-template>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </wid-scrollbar>
      </div>
      <div fxLayout="row" fxFlex="14" fxLayoutAlign="center ">
        <div fxLayout="column" fxFlex="46" fxLayoutAlign=" start" [style]="{ minHeight: '139px'}">
          <button mat-raised-button class="btn-medium bg-pale-grey" (click)="routeNextBack('back')">
            <span class="cool-grey"> {{ 'resume-previous' | translate }}</span>
          </button>
        </div>
        <div fxLayout="column" fxFlex="50" fxLayoutAlign=" end" [style]="{ minHeight: '139px'}">
          <button mat-raised-button type="submit" color="primary" class="white  btn-medium" [style]="{marginRight: '4%'}"
                  (click)="routeNextBack('next')">
            {{ 'resume-next' | translate }}
          </button>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="start start" fxFlex="6">
      <div fxLayout="row" fxFlex="93" fxLayoutAlign=" end">
        <div fxLayout="column" fxLayoutAlign="end" fxFlexFill>
          <div fxLayout="row"  *ngFor="let item of addIndexation()">
            <div fxLayout="column" fxFlexFill>
              <div fxLayout="row">
                <ng-template [ngIf]="item === '07'">
                  <span @GreyToBlue style="color: blue; font-size: 10px">{{item}}</span>
                </ng-template>
                <ng-template [ngIf]="item !== '07' && item !== '06'">
                  <span style="color: #afb1b8; font-size: 10px">{{item}}</span>
                </ng-template>
                <ng-template [ngIf]="item === '06'">
                  <span @blueToGrey style="color: #afb1b8; font-size: 10px">{{item}}</span>
                </ng-template>
              </div>
              <div fxLayout="row" fxLayoutAlign="center center">
                <ng-template [ngIf]="item === '07'">
                  <div @downLine style="border-left: 1px solid blue; padding-bottom: 20px"></div>
                </ng-template>
              </div>
            </div>

            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
