  <div class="dynamic-component-container border-radius-20" fxLayout="row" fxFlex="100">

  <div fxLayout="column" fxFlex="4"   ></div>
  <div fxLayout="column" fxFlex="90"    >
    <div fxLayout="row" fxFlex="10" fxLayoutAlign="space-around center">
      <div fxLayout="column" fxFlex="56">
        <h1 class="steel font-size-24 font-medium">Resume</h1>
      </div>
      <div fxLayout="column" fxFlex="15" fxLayoutAlign="center end" class="font-size-25 steel">
        <button mat-raised-button  class="btn-small bg-pale-grey" routerLink="/">
          <mat-icon class="icon material-icons-outlined"  svgIcon="wi_arrow_back">
          </mat-icon>
          <span class="cool-grey">back</span>
        </button>
      </div>
    </div>
    <div fxLayout="row" fxFlex="2" fxLayoutAlign="space-around center">
      <mat-divider [ngStyle]="{ 'width': '90%', borderTopWidth: '2px' }"></mat-divider>
    </div>
    <div fxLayout="row" fxFlex="9" fxLayoutAlign="space-around center ">
      <div fxLayout="column" fxFlex="86">
        <h4 class="steel font-size-18 font-small">Professional experiences</h4>
      </div>
    </div>
    <div fxLayout="row" fxFlex="4"></div>
    <div fxLayout="row" fxFlex="40" fxLayoutAlign="space-around">
      <wid-scrollbar fxFlexFill>

      <div fxLayout="column" fxFlex="80" fxLayoutAlign=" center"  >
          <div fxLayout="column" fxFlex="100" class="width-82" fxLayoutGap="10px">
            <div  *ngFor="let item of getProExp let pointIndex=index" >
              <div  fxLayout="row" class="bg-pale-grey border-radius-15 height-80"   >
                <div fxLayout="column" fxFlex="20"   class="p-l-20">
                  <div fxLayout="row"  fxFlex="34" >
                  <p class="font-normal font-size-15">{{item.position}}</p>
                </div>
                <div fxLayout="row" fxFlexAlign=" start" fxFlex="50">
                  <p class="font-extra-light font-size-10 help-blue">
                    {{item.customer}}   {{item.ResumeProfessionalExperienceKey.start_date}}-{{item.ResumeProfessionalExperienceKey.end_date}}</p>
                </div>

                </div>
                <div fxLayout="column" fxLayoutAlign="center end" class="p-r-20"  fxFlex>
                  <button mat-raised-button class="steel-two btn-small bg-white border-radius-5"  (click)="routeToProject(item.ResumeProfessionalExperienceKey.professional_experience_code)">Add project</button>
                </div>
              </div>
            </div>
          <form [formGroup]="sendProExp" class="full-height">
        <div fxLayout="row"    class="border-radius-10 pale-grey height-70" fxLayoutAlign=" center" style="border-style: solid">
          <div fxLayout="column" fxFlexFill class="full-width full-height" fxLayoutAlign="center" >
            <div fxLayout="row" fxFlex="2"></div>
            <div fxLayout="row"    fxFlex  fxLayoutAlign="space-around center">
              <div fxLayout="column" fxFlex="35" >
                <mat-label class="black font-size-12">
                  Position:
                </mat-label>
                <mat-form-field appearance="outline">
                  <input   formControlName="position" matInput placeholder="Position" required>
                </mat-form-field>
                </div>
              <div fxLayout="column"  fxFlex="35">
                <mat-label class="black font-size-12">
                  Customer:                </mat-label>
                <mat-form-field appearance="outline">
                  <input   formControlName="customer" matInput placeholder="Customer" required>                </mat-form-field>
               </div>
            </div>
            <div fxLayout="row"    fxFlex fxLayoutAlign="space-around center">
              <div fxLayout="column" fxFlex="35">
                <mat-label class="black font-size-12">
                  Start Date:
                </mat-label>
                <mat-form-field appearance="outline">
                  <input  matInput [matDatepicker]="datepicker" formControlName="start_date"placeholder="Start date">
                  <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                  <mat-datepicker #datepicker color="primary"></mat-datepicker>
                </mat-form-field>
              </div>
              <div fxLayout="column" fxFlex="35">
                <mat-label class="black font-size-12">
                  End date:
                </mat-label>
                <mat-form-field appearance="outline">
                  <input  matInput [matDatepicker]="datepickerend" formControlName="end_date"placeholder="End date">
                  <mat-datepicker-toggle matSuffix [for]="datepickerend"></mat-datepicker-toggle>
                  <mat-datepicker #datepickerend color="primary"></mat-datepicker>
                </mat-form-field>
            </div>
          </div>
            <div fxLayout="row"    fxFlex="10" >
              <div fxLayout="column" fxFlex="90" fxLayoutAlign="start end">
              <button mat-raised-button type="submit" class="btn-small bg-pale-grey"   (click)="createProExp()" >
                Add
              </button></div>
            </div>
            <div fxLayout="row"    fxFlex="8" ></div>
    </div>

              </div>
          </form>
          </div>

</div>
      </wid-scrollbar>
    </div>
    <div fxLayout="row" fxFlex="20" fxLayoutAlign="center ">
      <div fxLayout="column" fxFlex="50" fxLayoutAlign="end start" class="p-l-20" [style]="{ minHeight: '139px'}">
        <button mat-raised-button  class="btn-medium bg-pale-grey" routerLink="/candidate/resume/">
          <mat-icon class="icon material-icons-outlined"  svgIcon="wi_arrow_back">
          </mat-icon>
          <span class="cool-grey">back</span>
        </button>
      </div>
      <div fxLayout="column" fxFlex="50" fxLayoutAlign="end end " [style]="{ minHeight: '139px'}">
        <button mat-raised-button type="submit" class="white bg-primaryColor btn-medium" [style]="{marginRight: '4%'}" [routerLink]="['/candidate/resume/technicalSkills']">
          Next
        </button>
      </div>
    </div>

  </div>


</div>
