.contract-container {
  margin: 8px;
}
.contract-actions {
  height: 32px;
  color: white !important;
  background-image: linear-gradient(to right top, #50be01, #60c603, #70cf07, #7fd70b, #8edf0f) !important;
}
.contract-title {
  margin-top: 15px;
  width: 100%;
  height: 28px;
  object-fit: contain;
  font-family: Montserrat;
  font-size: 27px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
  text-align: left;
  color: #2e384d;
}
.contract-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}
.no-records {
  margin: 0 auto;
  display: table;
}
table {
  width: 100%;
}

.wid-filter {
  font-size: 14px;
  width: 100%;
  margin-right: 12px;
}

td, th {
  width: 12.5%;
}
