<ng-container *ngIf="close">
  <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex class="bg-white border-radius-20">
    <div fxLayout="column" fxFlex="100">
      <Form [formGroup]="creationForm" (submit)="submitTimesheet(formDirective)" #formDirective="ngForm">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header [collapsedHeight]="'100px'" [expandedHeight]="'100px'" class="border-radius-15 duck-egg-blue" >
            <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center" class="help-blue">
              <div fxLayout="column" fxFlex="15">
                <div>Week start on:</div>
                <mat-form-field>
                  <mat-label>Choose a date</mat-label>
                  <input matInput [matDatepicker]="picker" [min]="minDate"  pattern=""  formControlName="start_date" required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
                <button mat-button class="btn-timesheet border-cool-gray border-radius-5" (click)="closeClick()">
                  <mat-icon svgIcon="wi-close-normal" class="cool-grey"></mat-icon>
                </button>
            </div>
          </mat-expansion-panel-header>
          <div fxLayout="row" fxLayoutGap="20px">
            <div fxLayout="column" fxFlex="25">
              <div fxLayout="row">
                <h1 class="font-size-17 font-normal">Category :</h1>
              </div>
              <div fxLayout="row">
                <mat-form-field appearance="outline" class="steel font-size-24 font-medium">
                  <mat-label>Catégory</mat-label>
                  <mat-select>
                    <mat-option value="categorie">categorie
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="column" fxFlex="25">
              <div fxLayout="row">
                <h1 class="font-size-17 font-normal">Project :</h1>
              </div>
              <div fxLayout="row">
                <mat-form-field appearance="outline" class="steel font-size-24 font-medium">
                  <mat-label>Project</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let project of listTimesheetProject" [value]="project.project_desc">
                      {{ project.project_desc }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="column" fxFlex="25">
              <div fxLayout="row">
                <h1 class="font-size-17 font-normal">Task :</h1>
              </div>
              <div fxLayout="row">
                <mat-form-field appearance="outline" class="steel font-size-24 font-medium">
                  <mat-label>task</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let task of listTimesheetTask" [value]="task.task_desc">
                      {{ task.task_desc }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="column" fxFlex="25">
              <div fxLayout="row">
                <h1 class="font-size-17 font-normal">Comment :</h1>
              </div>
              <div fxLayout="row">
                <mat-form-field hintLabel="Max 25 characters" appearance="outline" class="steel font-size-24 font-medium">
                  <input matInput #input maxlength="25" placeholder="comment" formControlName="comment">
                  <mat-hint align="end">{{input.value?.length || 0}}/25</mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="20px">
            <div fxLayout="column" fxFlex>
              <div fxLayout="row" fxLayoutGap="20px">
                <div fxLayout="column" fxFlex>
                  <div fxLayout="row">
                    <h1 class="font-size-17 font-normal">MON :</h1>
                  </div>
                  <div fxLayout="row">
                    <mat-form-field appearance="outline" class="steel font-size-24 font-medium">
                      <mat-icon matSuffix svgIcon="wi-clock"></mat-icon>
                      <input matInput placeholder="00h 00m" type="number" min="0" max="24" formControlName="monday" (input)="calculTotalWeekHours()">
                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="column" fxFlex>
                  <div fxLayout="row">
                    <h1 class="font-size-17 font-normal">TUE :</h1>
                  </div>
                  <div fxLayout="row">
                    <mat-form-field appearance="outline" class="steel font-size-24 font-medium">
                      <mat-icon matSuffix svgIcon="wi-clock"></mat-icon>
                      <input matInput placeholder="00h 00m" type="number" min="0" max="24" formControlName="tuesday" (input)="calculTotalWeekHours()">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="column" fxFlex>
              <div fxLayout="row" fxLayoutGap="20px">
                <div fxLayout="column" fxFlex="50">
                  <div fxLayout="row">
                    <h1 class="font-size-17 font-normal">WED :</h1>
                  </div>
                  <div fxLayout="row">
                    <mat-form-field appearance="outline" class="steel font-size-24 font-medium">
                      <mat-icon matSuffix svgIcon="wi-clock"></mat-icon>
                      <input matInput placeholder="00h 00m" type="number" min="0" max="24" formControlName="wednesday" (input)="calculTotalWeekHours()">
                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="column" fxFlex="50">
                  <div fxLayout="row">
                    <h1 class="font-size-17 font-normal">THU :</h1>
                  </div>
                  <div fxLayout="row">
                    <mat-form-field appearance="outline" class="steel font-size-24 font-medium">
                      <mat-icon matSuffix svgIcon="wi-clock"></mat-icon>
                      <input matInput placeholder="00h 00m" type="number" min="0" max="24" formControlName="thursday" (input)="calculTotalWeekHours()">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="column" fxFlex>
              <div fxLayout="row" fxLayoutGap="20px">
                <div fxLayout="column" fxFlex="50">
                  <div fxLayout="row">
                    <h1 class="font-size-17 font-normal">FRI :</h1>
                  </div>
                  <div fxLayout="row">
                    <mat-form-field appearance="outline" class="steel font-size-24 font-medium">
                      <mat-icon matSuffix svgIcon="wi-clock"></mat-icon>
                      <input matInput placeholder="00h 00m" type="number" min="0" max="24" formControlName="friday" (input)="calculTotalWeekHours()">
                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="column" fxFlex="50">
                  <div fxLayout="row">
                    <h1 class="font-size-17 font-normal">SAT :</h1>
                  </div>
                  <div fxLayout="row">
                    <mat-form-field appearance="outline" class="steel font-size-24 font-medium">
                      <mat-icon matSuffix svgIcon="wi-clock"></mat-icon>
                      <input matInput placeholder="00h 00m" type="number" min="0" max="24" formControlName="saturday" (input)="calculTotalWeekHours()">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="column" fxFlex>
              <div fxLayout="row" fxLayoutGap="20px">
                <div fxLayout="column" fxFlex="50">
                  <div fxLayout="row">
                    <h1 class="font-size-17 font-normal">SUN :</h1>
                  </div>
                  <div fxLayout="row">
                    <mat-form-field appearance="outline" class="steel font-size-24 font-medium">
                      <mat-icon matSuffix svgIcon="wi-clock"></mat-icon>
                      <input matInput placeholder="00h 00m" type="number" min="0" max="24" formControlName="sunday" (input)="calculTotalWeekHours()">
                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="column" fxFlex="50">
                  <div fxLayout="row">
                    <h1 class="font-size-17 font-normal">Total :</h1>
                  </div>
                  <div fxLayout="row">
                    <mat-form-field appearance="outline" class="steel font-size-24 font-medium">
                      <mat-icon matSuffix svgIcon="wi-clock"></mat-icon>
                      <input matInput placeholder="{{totalWeek}}" formControlName="total_week_hours" [readonly]="true">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div fxLayout="row">
            <div fxLayout="column" fxFlex="70">
              <div><button mat-button class="decoration red ">Delete timesheet</button></div>
            </div>
            <div fxLayout="column" fxFlex="30">
              <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
                <button mat-raised-button class="white btn-medium bg-cerulean-blue">
                  <span class="font-size-17" type="submit">Submit</span>
                </button>
                <button mat-raised-button class="white btn-medium duck-egg-blue" >
                  <span class="font-size-17 cerulean-blue">Save</span>
                </button>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </Form>
    </div>

  </div>
</ng-container>
