 <div  fxLayout="column"
        class="dynamic-component-container bg-white border-radius-20 p-b-5">
   <div fxLayout="row" fxLayoutAlign="center center" class="full-width">
     <div fxLayout="row" fxFlex="92" fxLayoutAlign="space-between center" class="full-height"
          style="border-bottom: 1px solid #afb1b8">
     <ng-container *ngIf="addForm else Edit">
       <h2 class="steel font-medium font-size-24">Add timesheets</h2>
     </ng-container>
     <ng-template #Edit>
       <h2 class="steel font-medium font-size-24">Edit timesheets</h2>
     </ng-template>
     <button mat-flat-button class="btn-small bg-pale-grey cool-grey" (click)="backClicked()">
       Back
     </button>
     </div>
   </div>
   <wid-scrollbar *ngIf="isLoading">
     <form fxLayout="column" *ngIf="initialForm" [formGroup]="initialForm" class="full-width p-l-40 p-r-40 p-t-10">
       <div  fxLayout="row" fxLayoutAlign="space-between start"  class="full-width">
       <!-- left column form -->
       <div fxFlex="28" fxLayout="column">
         <div fxLayout="column">
           <label class="font-size-12 required"> Week start on :</label>
           <mat-form-field appearance="outline">
             <input matInput [disabled]="!addForm"
                    formControlName="start_date"
                    [matDatepickerFilter]="startDateFilter"
                    [matDatepicker]="datepicker"
                    placeholder="dd/mm/yyyy">
             <mat-datepicker-toggle matSuffix [for]="datepicker">
               <mat-icon matDatepickerToggleIcon>arrow_drop_down</mat-icon>
             </mat-datepicker-toggle>
             <mat-datepicker #datepicker></mat-datepicker>
             <mat-error class="wid-error-messages" *ngIf="initialForm.controls.start_date?.errors?.required">
               Required field
             </mat-error>
           </mat-form-field>
         </div>
         <div fxLayout="column">
           <label class="font-size-12 required"> Project : </label>
           <mat-form-field appearance="outline">
             <mat-select [disabled]="!addForm" formControlName="project_code" placeholder="Project">
               <mat-option *ngFor="let project of projectsList" [value]="project.ContractProjectKey.project_code">
                 {{ project.project_desc}}
               </mat-option>
             </mat-select>
             <mat-error class="wid-error-messages" *ngIf="initialForm.controls.start_date?.errors?.required">
               Required field
             </mat-error>
           </mat-form-field>
         </div>
         <div fxLayout="column">
           <label class="font-size-12 required"> Comment : </label>
           <mat-form-field appearance="outline">
             <textarea rows="3" placeholder="comment ..." matInput formControlName="comment"></textarea>
           </mat-form-field>
         </div>

       </div>
       <!-- right column form -->
       <div fxFlex="50" >
         <div fxFlex="56" fxLayout="column">
         <div fxLayout="column">
           <label class="font-size-12 required"> Monday : </label>
           <mat-form-field appearance="outline">
             <mat-icon matSuffix svgIcon="wi-clock"></mat-icon>
             <input matInput placeholder="00h 00m" type="number" min="0" max="24" formControlName="monday">
             <mat-error class="wid-error-messages">
               {{dayValidator(initialForm.controls.monday)}}
             </mat-error>
           </mat-form-field>
         </div>
         <div fxLayout="column">
           <label class="font-size-12 required"> Tuesday : </label>
           <mat-form-field appearance="outline">
             <mat-icon matSuffix svgIcon="wi-clock"></mat-icon>
             <input matInput placeholder="00h 00m" type="number" min="0" max="24" formControlName="tuesday" >
             <mat-error class="wid-error-messages">
               {{dayValidator(initialForm.controls.tuesday)}}
             </mat-error>
           </mat-form-field>
         </div>
         <div fxLayout="column">
           <label class="font-size-12 required"> Wednesday : </label>
           <mat-form-field appearance="outline">
             <mat-icon matSuffix svgIcon="wi-clock"></mat-icon>
             <input matInput placeholder="00h 00m" type="number" min="0" max="24" formControlName="wednesday" >
             <mat-error class="wid-error-messages">
               {{dayValidator(initialForm.controls.wednesday)}}
             </mat-error>
           </mat-form-field>
         </div>
         <div fxLayout="column">
           <label class="font-size-12 required"> Thursday : </label>
           <mat-form-field appearance="outline">
             <mat-icon matSuffix svgIcon="wi-clock"></mat-icon>
             <input matInput placeholder="00h 00m" type="number" min="0" max="24" formControlName="thursday" >
             <mat-error class="wid-error-messages">
               {{dayValidator(initialForm.controls.thursday)}}
             </mat-error>
           </mat-form-field>
         </div>
         <div fxLayout="column">
           <label class="font-size-12 required"> Friday : </label>
           <mat-form-field appearance="outline">
             <mat-icon matSuffix svgIcon="wi-clock"></mat-icon>
             <input matInput placeholder="00h 00m" type="number" min="0" max="24" formControlName="friday" >
             <mat-error class="wid-error-messages">
               {{dayValidator(initialForm.controls.friday)}}
             </mat-error>
           </mat-form-field>
         </div>
         <div fxLayout="column">
           <label class="font-size-12 required"> Saturday : </label>
           <mat-form-field appearance="outline">
             <mat-icon matSuffix svgIcon="wi-clock"></mat-icon>
             <input matInput placeholder="00h 00m" type="number" min="0" max="24" formControlName="saturday" >
             <mat-error class="wid-error-messages">
               {{dayValidator(initialForm.controls.saturday)}}
             </mat-error>
           </mat-form-field>
         </div>
         <div fxLayout="column">
           <label class="font-size-12 required"> Sunday : </label>
           <mat-form-field appearance="outline">
             <mat-icon matSuffix svgIcon="wi-clock"></mat-icon>
             <input matInput placeholder="00h 00m" type="number" min="0" max="24" formControlName="sunday">
             <mat-error class="wid-error-messages">
               {{dayValidator(initialForm.controls.sunday)}}
             </mat-error>
           </mat-form-field>
         </div>
         <div fxLayout="column">
             <label class="font-size-12"> Total : </label>
             <mat-form-field appearance="outline" class="disabled">
               <input [disabled]="true" matInput [value]="totalWeekHours()" formControlName="total_week_hours" [readonly]="true">
             </mat-form-field>
         </div>
         </div>
       </div>
       </div>
       <div fxLayout="row" fxLayoutAlign="space-between center" class="m-b-20">
           <button mat-flat-button [type]="addForm ? 'reset' : 'button' " (click)="!addForm ? updateForm() : '' " class="bg-pale-grey cool-grey btn-small">Cancel</button>
         <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="end center">
         <button mat-flat-button (click)="submitTimesheet('submit')" color="primary" class="btn-small white">Submit</button>
         <button mat-flat-button (click)="submitTimesheet('save')" class="cerulean-blue bg-pale-grey btn-small">{{addForm ? 'Save' : 'Edit'}}</button>
         </div>
       </div>
     </form>
   </wid-scrollbar>
 </div>

