<div>Language works</div>
<div fxLayout="column" fxFlexFill  fxLayoutAlign="center center" >

  <div fxLayout="row" fxFlex="90"  class="Background"   >
    <div fxLayout="column" fxFlex="4"   >
    </div>
    <div fxLayout="column" fxFlex="92">


      <div fxLayout="row" fxFlex="15" ></div>
      <div fxLayout="row" fxFlex="75" ></div>
      <div fxLayout="row" fxFlex="10" fxLayoutAlign="end" >
        <div fxLayout="column"   >
          <button [routerLink]="['dynamicSection']"> Next </button>
        </div>

      </div>
    </div>
    <div fxLayout="column" fxFlex="4" >
    </div>



  </div>
</div>
