.button-pos {
 align-items: center;
}
.mat-icon {
  height: 15px;
  width: 15px;
}
.mat-raised-button {
  padding-left: 10px !important ;
  padding-right: 10px !important;
  min-width: 27px;
  line-height: 24px;
}
