
<div  *ngIf="isLoading.getValue();" class="min-full-width min-full-height" fxLayoutAlign="center center" >
  <mat-progress-spinner
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</div>
<div *ngIf="!isLoading.getValue();" fxLayoutAlign="center">
<div class="licence-container"
     fxLayout="column" fxLayoutGap="20px" fxFlexOffset="3" fxFlex="85">
  <div fxLayout="row" fxFlex="15" fxLayoutGap="50px" fxLayoutAlign="space-around center" class="bg-white border-radius-20">
    <div fxLayout="row" fxFlex="50" fxLayoutGap="15px" class=" m-l-60">
      <div fxLayout="column"> <img [src]="env + photo" [width]='50'
                 [height]='50'  alt="" class="border-radius-50 "></div>
     <div fxLayout="column" fxLayoutAlign="center">
      <span  class="font-size-20 warm-grey"> {{nameCompany}}</span>
     </div>
    </div>
    <div fxLayout="column" fxFlex="2">
      <hr class="warm-grey vertical-line">
    </div>
    <div fxLayout="column" fxFlex="48" fxLayoutAlign="center start" class="font-size-20">
        <span  class="warm-grey"> {{nameSession}}</span>
    </div>
  </div>
     <div class="full-width bg-white border-radius-20 p-10 p-l-20" fxFlex="80"
           fxLayout="column" fxLayoutAlign="start"  >

       <div class="full-height-test" *ngIf="statusLink == 'link invalid'">
         <wid-component-info [title]="{ name: 'Test passed', color:'#f1c40f'}"
                             [image]= "{ path:'warning-sign.svg',height:'110px' }"
                             [message] = "' You have already passed the exam.'"
                             [button]="{ name: 'Back to home', color: '#2b2b2b', background: '#f3f6f9'}"
         (buttonAction)="backToHome($event)">
         </wid-component-info>
       </div>
<div  *ngIf="statusLink === 'link valid'" class="full-height-test">
    <wid-scrollbar class="full-height-test full-width" >
             <div fxLayout="column" class="m-l-60 m-r-60 full-height-test ">
     <div fxFlex.gt-lg="50"  fxFlex="40" fxLayout="row" class="m-t-20"  fxLayoutAlign="space-around" >
       <div fxLayout="row" fxLayoutGap="40px"   >
         <div fxLayout="column" fxLayoutAlign="start" fxLayoutAlign.gt-lg="center" >
           <mat-card class="example-card"  >
             <mat-card-title-group>
               <mat-card-title class="font-size-15  m-t-10 steel">Minimal score</mat-card-title>
             </mat-card-title-group>
             <mat-card-content class="text-center value-card golden-yellow" >
               60%
             </mat-card-content>
           </mat-card>
         </div >
         <div  fxLayout="column" fxLayoutAlign="start" fxLayoutAlign.gt-lg="center" >
           <mat-card class="example-card" >
             <mat-card-title-group>
               <mat-card-title class="font-size-15 m-t-10 steel">Total time</mat-card-title>
             </mat-card-title-group>
             <mat-card-content class="text-center value-card purpley" fxLayout="row" fxLayoutAlign="center">
               <div>{{this.totalTime}}</div>
               <sup  class="font-size-8 denim sup">.00 mm </sup>
             </mat-card-content>
           </mat-card>
         </div>
         <div fxLayout="column" fxLayoutAlign="start" fxLayoutAlign.gt-lg="center" >
           <mat-card class="example-card" >
             <mat-card-title-group >
               <mat-card-title class="font-size-15  m-t-10 steel">Number of questions</mat-card-title>
             </mat-card-title-group >
             <mat-card-content class="text-center value-card topaz" >
               {{numberQuestion}}
             </mat-card-content>
           </mat-card>
         </div>
       </div>
     </div>

   <div fxFlex="50" fxLayout="row">
     <div fxLayout="column" class="full-width">
     <div fxLayout="row" class="p-10">Test rules:</div>
      <div  fxLayout="column"  fxLayoutGap="7px"  [ngClass]="hidden ? 'hidden-rules-container' : 'display-rules-container'"   >
         <div fxLayout="row" >{{"test.evaluation.skills" | translate}}</div>
         <div fxLayout="row" >{{"test.evaluation.rules" | translate}}</div>
         <div>{{"test.evaluation.beforeopening" | translate}} </div>
         <div fxLayout="row" >
           <div class="container-learn-more">
             <div [ngClass]="hidden ? 'hidden-rules' : 'display-rules'">{{"test.evaluation.youhave" | translate}} {{expiredDay}} {{"test.evaluation.delay" | translate}}.</div>
             <div class="hide learn-more" *ngIf="hidden"(click)="toggleRules()" >+ Learn more</div>
           </div>
         </div>
         <div  id="divId" [@showMoreRules]="helpMenuOpen">
           <div fxLayout="row"> {{"test.evaluation.byopening" | translate}}</div>
           <div fxLayout="row">{{"test.evaluation.access" | translate}}</div>
           <div fxLayout="row">{{"test.evaluation.copypaste" | translate}}</div>
           <div fxLayout="row">{{"test.evaluation.internetshutdown" | translate}}</div>
           <div fxLayout="row">{{"test.evaluation.recordedsession" | translate}}</div>
           <div fxLayout="row">{{"test.evaluation.closedsession" | translate}}</div>
           <div fxLayout="row">{{"test.evaluation.closingdate" | translate}}</div>
           <div fxLayout="row">{{"test.evaluation.postclosure" | translate}}</div>
           <div fxLayout="row">{{"test.evaluation.rightedit" | translate}} </div>
           <div fxLayout="row">{{"test.evaluation.time" | translate}}</div>
           <div fxLayout="row">{{"test.evaluation.timeallotted" | translate}} </div>
           <div fxLayout="row">{{"test.evaluation.stopwatch" | translate}}</div>
           <div fxLayout="row">{{"test.evaluation.count" | translate}}</div>
           <div fxLayout="row">{{"test.evaluation.splittime" | translate}}</div>
           <div fxLayout="row">{{"test.evaluation.definitetime" | translate}}</div>
           <div fxLayout="row">{{"test.evaluation.totaltime" | translate}}</div>
           <div fxLayout="row">{{"test.evaluation.afterpassing" | translate}}</div>
           <div fxLayout="row">{{"test.evaluation.sendemail" | translate}}</div>
           <div class="hide">
             <div *ngIf="hidden==false"  (click)="toggleRules()" class="cursor-pointer black-three font-normal">
               - show less
             </div>
           </div>
         </div>
      </div>
       <div fxLayout="column" fxLayoutAlign="center center" class="m-t-30" fxLayoutGap="5">
         <div fxLayout="row" >
           <button (click)="startTest()" mat-button class="btn-large bg-golden-yellow pale-grey"> start now test</button>
         </div>

         <div fxLayout="row"  class="font-size-9 steel font-light">
           This link is available until {{expiredDate | date}}
         </div>
         <br>
       </div>
       </div>
   </div>
             </div>
           </wid-scrollbar>
   </div>
     </div>

      </div>
</div>



