<div fxLayout="column" fxFlexFill class="p-l-15 p-r-15">
  <div fxLayout="row" fxFlex="12" fxLayoutAlign=" center">
    <span class="font-medium black font-size-18">Angular 2+</span>
  </div>
  <div fxLayout="row">
    <div fxLayout="column" fxFlex="100">
      <img src="https://www.stackasian.com/assets/images/angular-new.jpg" alt="bloc question image" height="108px" style="border-radius: 15px">
    </div>
  </div>
  <wid-scrollbar fxLayout="row" fxFlex="40" fxLayoutAlign=" center">
    <p class="font-size-10 steel font-extra-light">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.
    </p>
  </wid-scrollbar>
  <div fxLayout="row" fxFlex="8" fxLayoutGap="5px">
    <div fxLayout="column" class="bloc-type-free" fxLayoutAlign="center center">
      <span class="bloc-type-label">Free</span>
    </div>
  </div>
</div>
