@import "src/assets/styles/variables";
.bloc-type-free {
  border-radius: 15px;
  background-color: $topaz;
  height: 17px;
  min-width: 38px;
}
.bloc-type-purchased {
  border-radius: 15px;
  background-color: $dark-grey-blue;
  height: 17px;
  min-width: 64px;
}
.bloc-type-label {
  font-size: 8px;
  color: $white;
}
.bloc-price {
  border-radius: 15px;
  background-color: #fc0f3b;
  height: 17px;
  min-width: 50px;
}
.bloc-buy {
  border-radius: 15px;
  background-color: $golden-yellow;
  height: 17px;
  width: 54px;
}
