<div fxLayout="column" class="full-height">
  <div fxLayout="row" fxFlex="10" fxLayoutGap="25px" fxLayoutAlign="flex-end flex-end" style="margin-right: 35px">
    <img src="assets/icons/close.svg" class="bg-close" [mat-dialog-close] = false>
  </div>
  <div fxLayout="row" fxFlex="50" fxLayoutGap="25px" fxLayoutAlign="center">
    <img src="assets/img/clock.svg" alt="clock">
  </div>
  <div fxLayout="row" fxFlex="10" fxLayoutGap="25px" fxLayoutAlign="center center" >
    <div class="font-size-28 font-semi-bold"> Your trial period has expired </div>
  </div>
  <div fxLayout="row" fxFlex="30" fxLayoutGap="25px" fxLayoutAlign="center center">
    <div>
    <button mat-raised-button  class="btn-medium bg-golden-yellow white "> Buy now</button>
    </div>
  </div>
</div>
