<div fxLayout="column" fxLayoutGap="25px">
  <div class="close">
    <mat-icon fxFlex="10" id="close-icon" [mat-dialog-close]="false" class="icon-close">close</mat-icon>
  </div>
  <img src="assets/img/forgotpwd.png" alt="">
  <h1 fxLayoutAlign="center center"> Votre periode d'essai a expiré </h1>
  <div>Servicima permet de gagner du temps et d'economiser de l'argent,</div>
  <div> choisissez le forfait qui vous convient le mieux</div>
  <div class="container-button">
    <button mat-button class="buy-button"> ACHETER MAINTENANT</button>
  </div>
</div>
