.contract-container {
  margin: 55px;
}
.contract-actions {
  height: 32px;
  color: white !important;
  background-image: linear-gradient(to right top, #50be01, #60c603, #70cf07, #7fd70b, #8edf0f) !important;
  margin-top: 10px;
}
.upload-actions {
  height: 32px;
  margin-top: 12px;
}

.contract-title {
  margin-top: 15px;
  width: 369px;
  height: 28px;
  object-fit: contain;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
  text-align: left;
  color: #4190d2;
}

.contract-sub-title {
  margin-top: 15px;
  width: 369px;
  height: 28px;
  object-fit: contain;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
  text-align: left;
  color: #4190d2;
}

.contract-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}
.contract-divider-vertical {
  margin-right: 10px;
  margin-left: 10px;
}
.contract-status {
  margin: 0 auto;
}
.wid-Value-button {
  color: black;
}

.wid-tabs-icon {
  margin-right: 8px;
}

/* ink bar style */
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background-image: linear-gradient(to top, #4497be, #4199c2, #3f9bc7, #3c9dcb, #399fd0);
  height: 1px;
}
/* label style */
::ng-deep .mat-tab-label{
  color: black;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.selectionList {
  height: 126px;
}

.listOptions {
  height: 28px;
  object-fit: contain;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
  text-align: left;
  color: #575757;
}

.active-list-item {
  color: #4190d2;
}

.canSign {
  margin: auto;
}
