.bg-card-session{
  background-color: #e8f1f9;
}
table, th, td {
  border: 2px solid #e8f1f9;
  border-collapse: collapse;
}
th{
  background-color:#e8f1f9 ;
  border-right: 2px solid white;
  height: 45px;
}
td{
  height: 45px;
  text-align: center;
}

