<div class="dynamic-component-container border-radius-20" fxLayout="column" fxFlex="100">
  <div fxLayout="row" fxFlex="10" fxLayoutAlign="space-around center">
    <div fxLayout="column" fxFlex="56">
      <h1 class="steel font-size-24 font-medium">Add Answer</h1>
    </div>
    <div fxLayout="column" fxFlex="15" fxLayoutAlign="center end" class="font-size-25 steel">
      <button mat-raised-button class="btn-small bg-pale-grey" routerLink="/">
        <mat-icon class="icon material-icons-outlined" svgIcon="wi_arrow_back">
        </mat-icon>
        <span class="cool-grey">back</span>
      </button>
    </div>
  </div>
  <div fxLayout="row" fxFlex="2" fxLayoutAlign="space-around center">
    <mat-divider [ngStyle]="{ 'width': '90%', borderTopWidth: '2px' }"></mat-divider>
  </div>
  <div fxLayout="row" fxFlex="88" fxLayoutAlign="center">
    <div fxLayout="column" fxFlexFill>
      <div fxLayout="row" fxFlex="4" fxLayoutAlign="space-around center ">
      </div>
      <wid-scrollbar fxFlex="80" class="full-width" fxLayout="row">
<div fxLayout="column" fxFlexFill>
  <div fxLayout="row" fxFlex="9" style="justify-content: center">
    <div fxLayout="column" fxFlex="81" >
    <span class="font-light font-size-18 black">{{test_question_title}}</span>
  </div></div>
  <div fxLayout="row" fxFlex="17" style="justify-content: center">
    <div fxLayout="column" fxFlex="81">
    <mat-label class="font-normal font-size-12 black">
      Question Description:
    </mat-label>
    <p class="p-l-10 font-extra-light font-size-12 black" >
      {{test_question_desc}}
    </p>
  </div>
  </div>
  <div fxLayout="row">
    <div fxLayout="column" fxFlex="65">
      <div fxLayout="column" >
        <mat-label class="black font-size-12 required" fxLayout="row" style="justify-content: flex-end; max-width: 20.5%">
          Answer :
        </mat-label>
        <div *ngFor="let item of AnswerList; let pointIndex=index" fxLayout="row"  class="block-pos" >
          <div fxLayout="column" fxFlex="71" class="answer-container"     >
            <div fxLayout="row" fxFlexFill style="justify-content: center">
              <div fxLayout="column" fxFlex="85" >
               <div class="font-extra-light black font-size-12">{{item.choice_title}}</div>
              </div>
              <div fxLayout="column" fxFlex="10">
                <ng-container *ngIf="item.correct_choice === 'True'">
                 <div fxLayout="row"  class="correct-container">
                   <span  class="font-light white font-size-8">{{item.correct_choice}}</span>
                 </div>
                </ng-container>
                <ng-container *ngIf="item.correct_choice === 'False'">
                  <div fxLayout="row"  class="false-container">
                    <span  class="font-light white font-size-8">{{item.correct_choice}}</span>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <form  [formGroup]="sendAddAnswer" fxFlexFill class="p-t-10" fxLayoutGap="15px" fxLayout="row">
          <div fxLayout="column" fxFlex="80" fxLayoutAlign=" end"  >
            <div fxLayout="row" fxFlexFill  style="justify-content: flex-end">
              <div fxLayout="column" fxFlex="79">
                <mat-form-field appearance="outline">
                  <input formControlName="choice_title" matInput placeholder="Title" >
                  <mat-error class="red" *ngIf="sendAddAnswer.controls.choice_title.errors?.required">
                    {{ 'general.required' | translate }}</mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div fxLayout="column" fxFlex="14">
            <mat-form-field appearance="outline">
              <mat-select  formControlName="correct_choice" disableOptionCentering panelClass="panelColor"
                           placeholder="Type" >
                <ng-container *ngFor="let v of QuestionList">
                  <mat-option [value]="v">{{v}}</mat-option>
                </ng-container>
              </mat-select>
              <mat-error class="red" *ngIf="sendAddAnswer.controls.correct_choice.errors?.required">
                Please select an item in the list</mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="column" class="p-l-10 p-t-10">
            <button mat-raised-button color="primary" class="btn-small "  style="border: none" (click)="createAnswer()"  [disabled]="sendAddAnswer.invalid">Add</button>
          </div>
        </form></div>


    </div>
  </div>
</div>
      </wid-scrollbar>
      <div fxLayout="row" fxFlex="10" fxLayoutAlign="center ">
        <div fxLayout="column" fxFlex="75" fxLayoutAlign=" end" [style]="{ minHeight: '139px'}">
          <button mat-raised-button class="btn-medium bg-pale-grey" routerLink="/candidate/resume/technicalSkills">
            <span class="cool-grey">Cancel</span>
          </button>
        </div>
        <div fxLayout="column" fxFlex="20" fxLayoutAlign=" center" [style]="{ minHeight: '139px'}">
          <button mat-raised-button type="submit" color="primary" class="white  btn-medium" [disabled]="AnswerList.length < 2" [style]="{marginRight: '4%'}"
                 (click)="saveAnswers()" >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
