.width-50 {
  width: 50%;
}
.height-70 {
  height: 70%;
}
.width-82 {
  width: 82%;
}
.width-80{
  width: 80%;
}
.height-80 {
  height: 80%;
}
.add_project {
  place-content: flex-end;
}
.border_add_project {
  border-color: #e8f1f9;
  border-style: solid;
}
.border_add_section {
  border-color: #e8f1f9;
  border-style: solid;
}

