
.add_project {
  place-content: flex-end;
}
.border_add_project {
  border-color: #e8f1f9;
  border-style: solid;
  justify-content: center;
}
.border_add_section {
  border-color: #e8f1f9;
  border-style: solid;
}

