<div class="contract-container">

  <div fxLayout="column" fxLayout.xs="column" fxFlexFill>

    <div fxFlex="10" fxFlex.xs="10">
      <h2 fxFlexAlign="stretch" class="contract-title">{{ title }}</h2>
    </div>
    <mat-tab-group dynamicHeight color="primary"  fxFlex="90" fxFlex.xs="90">
      <mat-tab fxLayout="column" fxLayout.xs="column" fxFlexFill>
        <ng-template mat-tab-label>
          <mat-icon class="wid-tabs-icon">description</mat-icon>
          GENERAL
        </ng-template>
        <form [formGroup]="contractorForm" fxLayout="column" fxLayout.xs="column" fxFlexFill>
          <div fxFlex="50" fxFlex.xs="43" fxLayout="row" fxLayout.xs="column">
            <div fxFlex="50" fxFlex.xs="50" fxLayout="column" fxLayout.xs="column">
              <!-- <span class="contract-sub-title">USER INFORMATION</span>
              <mat-divider class="contract-divider"></mat-divider>-->
              <div fxFlex="25" fxFlex.xs="33"  fxFlexAlign.xs="auto" fxLayout="row"
                   fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="10px">
                <mat-form-field fxFlex="40" fxFlex.xs="100" class="wid-Value-button">
                  <mat-label>Social Reason</mat-label>
                  <input matInput formControlName="contractor_name">
                </mat-form-field>
                <mat-form-field fxFlex="40" fxFlex.xs="100" class="wid-Value-button">
                  <mat-label>Legal Form</mat-label>
                  <mat-select formControlName="legal_form">
                    <mat-option *ngFor="let lf of legalFormList" [value]="lf.value">
                      {{ lf.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxFlex="25" fxFlex.xs="33"  fxFlexAlign.xs="auto" fxLayout="row"
                   fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="10px">
                <mat-form-field fxFlex="40" fxFlex.xs="100" class="wid-Value-button">
                  <mat-label>Registry Code</mat-label>
                  <input matInput formControlName="registry_code">
                </mat-form-field>
                <mat-form-field fxFlex="40" fxFlex.xs="100" class="wid-Value-button">
                  <mat-label>Language</mat-label>
                  <mat-select formControlName="language">
                    <mat-option *ngFor="let lan of languagesList" [value]="lan.LanguageKey.language_code">
                      {{ lan.language_desc }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxFlex="25" fxFlex.xs="33"  fxFlexAlign.xs="auto" fxLayout="row"
                   fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="10px">
                <mat-form-field fxFlex="40" fxFlex.xs="100" class="wid-Value-button">
                  <mat-label>Country</mat-label>
                  <input type="text" matInput formControlName="country_cd" [matAutocomplete]="country">
                  <mat-autocomplete #country="matAutocomplete" [displayWith]="displayCountryName">
                    <mat-option *ngFor="let option of filteredCountries | async" [value]="option">
                      {{option.COUNTRY_DESC}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-form-field fxFlex="40" fxFlex.xs="100" class="wid-Value-button">
                  <mat-label>zip code</mat-label>
                  <input matInput formControlName="zip_code" (keyup)="getCity($event.target.value)">
                  <mat-error class="wid-error-messages"
                             *ngIf="contractorForm.controls.zip_code.errors?.pattern">
                    Invalid zipCode</mat-error>

                </mat-form-field>
              </div>
              <div fxFlex="25" fxFlex.xs="33"  fxFlexAlign.xs="auto" fxLayout="row"
                   fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="10px">
                <mat-form-field fxFlex="40" fxFlex.xs="100" class="wid-Value-button">
                  <mat-label>City</mat-label>
                  <input type="text" matInput formControlName="city" [matAutocomplete]="city">
                  <mat-autocomplete #city="matAutocomplete" [displayWith]="displayCityName">
                    <mat-option *ngFor="let option of filteredCities | async" [value]="option">
                      {{option.city}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="50" fxFlex.xs="50" fxLayout="column" fxLayout.xs="column">
              <span class="contract-sub-title">PAYMENT INFORMATION</span>
              <mat-divider class="contract-divider"></mat-divider>
              <div fxFlex="25" fxFlex.xs="33" fxFlexAlign.xs="auto" fxLayout="row"
                   fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="10px">
                <mat-form-field fxFlex="40" fxFlex.xs="100" class="wid-Value-button">
                  <mat-label>Payment Code</mat-label>
                  <input matInput formControlName="payment_cd">
                </mat-form-field>
                <mat-form-field fxFlex="40" fxFlex.xs="100" class="wid-Value-button">
                  <mat-label>VAT number</mat-label>
                  <mat-select formControlName="vat_nbr">
                    <mat-option *ngFor="let vat of vatList" [value]="vat.value">
                      {{ vat.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxFlex="25" fxFlex.xs="33" fxFlexAlign="stretch" fxFlexAlign.xs="auto" fxLayout="row"
                   fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="10px">
                <mat-form-field fxFlex="40" fxFlex.xs="100" class="wid-Value-button">
                  <mat-label>Currency</mat-label>
                  <input type="text" matInput formControlName="currency_cd" [matAutocomplete]="currency_cd">
                  <mat-autocomplete #currency_cd="matAutocomplete" [displayWith]="displayCurrencyName">
                    <mat-option *ngFor="let option of filteredCurrencies | async" [value]="option">
                      {{option.CURRENCY_DESC}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-form-field fxFlex="40" fxFlex.xs="100" class="wid-Value-button">
                  <mat-label>Taxe</mat-label>
                  <input matInput formControlName="taxe_cd">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div fxFlex="35" fxFlex.xs="42" fxLayout="column" fxLayout.xs="column" >
            <span  fxFlex="10" fxFlex.xs="5" fxFlexAlign="stretch" class="contract-sub-title">CONTACT INFORMATION</span>
            <mat-divider class="contract-divider"></mat-divider>
            <div fxFlex="90" fxFlex.xs="50" fxLayout="column" fxLayout.xs="column">
                <div fxFlex="30" fxFlex.xs="50" fxFlexAlign.xs="auto" fxLayout="row"
                     fxLayout.xs="column"
                     fxLayoutGap="10px" fxLayoutGap.xs="10px">
                  <mat-form-field fxFlex="50" fxFlex.xs="100" class="wid-Value-button">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="contact_email">
                  </mat-form-field>
                  <mat-form-field fxFlex="50" fxFlex.xs="100" class="wid-Value-button">
                    <mat-label>Web Site</mat-label>
                    <input matInput formControlName="web_site">
                  </mat-form-field>
                </div>
                <div fxFlex="30" fxFlex.xs="50" fxFlexAlign.xs="auto" fxLayout="row"
                     fxLayout.xs="column"
                     fxLayoutGap="10px" fxLayoutGap.xs="10px">
                  <mat-form-field fxFlex="20" fxFlex.xs="100" class="wid-Value-button">
                    <mat-label>Phone Number 1</mat-label>
                    <input matInput type="tel"  placeholder="+200 555-555-1234" formControlName="phone_nbr">
                  </mat-form-field>
                  <mat-form-field fxFlex="20" fxFlex.xs="100" class="wid-Value-button">
                    <mat-label>Phone Number 2</mat-label>
                    <input matInput type="tel" placeholder="+200 555-555-1234" formControlName="phone2_nbr">
                  </mat-form-field>
                  <mat-form-field fxFlex="20" fxFlex.xs="100" class="wid-Value-button">
                    <mat-label>Fax Number</mat-label>
                    <input matInput formControlName="fax_nbr">
                  </mat-form-field>
                </div>
                <div fxFlex="40" fxFlex.xs="50" fxFlexAlign.xs="auto" fxLayout="row"
                   fxLayout.xs="column"
                   fxLayoutGap="10px" fxLayoutGap.xs="10px">
                <mat-form-field fxFlex="100" fxFlex.xs="100" fxLayoutGap="10px" class="wid-Value-button">
                  <mat-label>Address</mat-label>
                  <textarea matInput formControlName="address" placeholder="Ex. DELTA, 48 Boulevard Jourdan, 75014 Paris, France. ..."></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div fxFlex="15" fxFlex.xs="20" fxFlexAlign="auto" fxFlexAlign.xs="auto" fxLayout="row" fxLayout.xs="row"
               fxFlexOffset="3" fxLayoutGap="20px">
            <button (click)="addNewContractor()" [disabled]="!contractorForm.valid" fxFlex="10" fxFlex.xs="20" mat-button
                    class="wid-Value-button wid-background-button contract-actions">Save
            </button>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="Contact">
        <ng-template mat-tab-label>
          <mat-icon class="wid-tabs-icon">contact_mail</mat-icon>
          CONTACTS
        </ng-template>
        Content 2
      </mat-tab>
    </mat-tab-group>

  </div>

</div>
