// Define palettes
$black-berry-primary: mat-palette((500: $blue-berry, contrast: ()));
$black-berry-accent: mat-palette((500: $grape-purple, contrast: ()));
$black-berry-warn: mat-palette((500: $golden-yellow, contrast: ()));
// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($black-berry-primary, $black-berry-accent, $black-berry-warn);
$themeColor: $blue-berry;
$themeColorSidenav: $pale-grey;

.bg-theme {
  background-color: $themeColor !important;
}

/*******************
   Right Sidenav
*******************/
.right-side-nav-container{
  .icon{
    fill: $themeColor !important;
    background: rgba($themeColor, 0.1) !important;
    color: $themeColor !important;
  }
  .notif-item {
    background: rgba($themeColor, 0.2) !important;
  }
}
/*******************
   Sidenav
*******************/

wid-right-sidenave{
  .icon{
    fill: $themeColor !important;
    background: rgba($themeColor, 0.1);
  }
  .notif-item {
    background: rgba($themeColor, 0.2);
  }
}

wid-sidenav {
  .icon {
    stroke: $themeColorSidenav;
    color: $themeColorSidenav;
  }

  span, .company-label, .servicima-color {
    color: $themeColorSidenav;
  }

  .side-nav-container .active-list-item span {
    color: #492b7c !important;
  }

  .side-nav-container .active-list-item .icon {
    stroke: #492b7c !important;
    color: #492b7c !important;
  }

  .sub-menu-child-item {
    color: $themeColorSidenav !important;;
  }

  .active-sub-menu-child-item {
    color: $golden-yellow !important;
  }
}
