// Define palettes
$cobalt-primary: mat-palette((500: $cobalt, contrast: ()));
$cobalt-accent: mat-palette((500: $ming, contrast: ()));
$cobalt-warn: mat-palette((500: $mango , contrast: ()));
// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($cobalt-primary, $cobalt-accent, $cobalt-warn);
$themeColor: $cobalt;
$themeColorSidenav: $pale-grey;

.bg-theme {
  background-color: $themeColor !important;
}

/*******************
   Sidenav
*******************/
wid-sidenav {
  .icon {
    stroke: $themeColorSidenav;
    color: $themeColorSidenav;
  }

  span, .company-label, .servicima-color {
    color: $themeColorSidenav;
  }

  .side-nav-container .active-list-item span {
    color: $ming !important;
  }

  .side-nav-container .active-list-item .icon {
    stroke: $ming !important;
    color: $ming !important;
  }

  .sub-menu-child-item {
    color: $themeColorSidenav !important;;
  }

  .active-sub-menu-child-item {
    color: $mango !important;
  }
}


