// Define palettes
$black-app-primary: mat-palette((500: $orange-yellow, contrast: ()));
$black-app-accent: mat-palette($mat-blue, A200, A100, A400);
$black-app-warn: mat-palette($mat-pink);
// Create the theme object (a Sass map containing all of the palettes).
$black-app-theme: mat-light-theme($black-app-primary, $black-app-accent, $black-app-warn);
$themeColor: $darkish-blue;
$themeColorSidenav: $pale-grey;

.bg-theme {
  background-color: $themeColor !important;
}

/*******************
   Sidenav
*******************/
wid-sidenav {
  .icon {
    stroke: $themeColorSidenav;
    color: $themeColorSidenav;
  }

  span, .company-label, .servicima-color {
    color: $themeColorSidenav;
  }

  .side-nav-container .active-list-item span {
    color: $orange-yellow !important;
  }

  .side-nav-container .active-list-item .icon {
    stroke: $orange-yellow !important;
    color: $orange-yellow !important;
  }

  .sub-menu-child-item {
    color: $themeColorSidenav !important;
  }

  .active-sub-menu-child-item {
    color: $golden-yellow !important;
  }
}
