// Define palettes
$evergreen-primary: mat-palette((500: $evergreen, contrast: ()));
$evergreen-accent: mat-palette((500: $faded-blue, contrast: ()));
$evergreen-warn: mat-palette((500: $golden-yellow, contrast: ()));
// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($evergreen-primary, $evergreen-accent, $evergreen-warn);
$themeColor: $evergreen;
$themeColorSidenav: $pale-grey;

.bg-theme {
  background-color: $themeColor !important;
}

/*******************
   Right Sidenav
*******************/
.right-side-nav-container{
  .icon{
    fill: $themeColor !important;
    background: rgba($themeColor, 0.1) !important;
    color: $themeColor !important;
  }
  .notif-item {
    background: rgba($themeColor, 0.2) !important;
  }
}
/*******************
   Sidenav
*******************/
wid-sidenav {
  .icon {
    stroke: $themeColorSidenav;
    color: $themeColorSidenav;
  }

  span, .company-label, .servicima-color {
    color: $themeColorSidenav;
  }

  .side-nav-container .active-list-item span {
    color: $faded-blue !important;
  }

  .side-nav-container .active-list-item .icon {
    color: $faded-blue !important;
    stroke: $faded-blue !important;
  }

  .sub-menu-child-item {
    color: $themeColorSidenav !important;
  }

  .active-sub-menu-child-item {
    color: $golden-yellow !important;
  }
}
