// Define palettes
$green-app-primary: mat-palette((500: $black-two, contrast: ()));
$green-app-accent: mat-palette($mat-indigo, A200, A100, A400);
$green-app-warn: mat-palette($mat-pink);
// Create the theme object (a Sass map containing all of the palettes).
$green-app-theme: mat-light-theme($green-app-primary, $green-app-accent, $green-app-warn);
$themeColor: $russian-green;
$themeColorSidenav: $pale-grey;

.bg-theme {
  background-color: $themeColor !important;
}

/*******************
   Sidenav
*******************/
wid-sidenav {
  .icon {
    stroke: $themeColorSidenav;
    color: $themeColorSidenav;
  }

  span, .company-label, .servicima-color {
    color: $themeColorSidenav;
  }

  .side-nav-container .active-list-item span {
    color: $old-burgundy !important;
  }

  .side-nav-container .active-list-item .icon {
    stroke: $old-burgundy !important;
    color: $old-burgundy !important;
  }

  .sub-menu-child-item {
    color: $themeColorSidenav !important;;
  }

  .active-sub-menu-child-item {
    color: $maize-crayola !important;
  }
}
