// Define palettes
$green-blue-primary: mat-palette((500: $green-blue, contrast: ()));
$green-blue-accent: mat-palette((500: $black-two, contrast: ()));
$green-blue-warn: mat-palette((500: $golden-yellow, contrast: ()));
// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($green-blue-primary, $green-blue-accent, $green-blue-warn);
$themeColor: $green-blue;
$themeColorSidenav: $pale-grey;

.bg-theme {
  background-color: $themeColor !important;
}

/*******************
   Right Sidenav
*******************/
.right-side-nav-container{
  .icon{
    fill: $themeColor !important;
    background: rgba($themeColor, 0.1) !important;
    color: $themeColor !important;
  }
  .notif-item {
    background: rgba($themeColor, 0.2) !important;
  }
}
/*******************
   Sidenav
*******************/
wid-sidenav {
  .icon {
    stroke: $themeColorSidenav;
    color: $themeColorSidenav;
  }

  span, .company-label, .servicima-color {
    color: $themeColorSidenav;
  }

  .side-nav-container .active-list-item span {
    color: $black-two !important;
  }

  .side-nav-container .active-list-item .icon {
    stroke: $black-two !important;
    color: $black-two !important;
  }

  .sub-menu-child-item {
    color: $themeColorSidenav !important;;
  }

  .active-sub-menu-child-item {
    color: $golden-yellow !important;
  }
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color:$black-two !important;
}
