// Define palettes
$green-primary: mat-palette((500: $russian-green, contrast: ()));
$green-accent: mat-palette((500:$black-two, contrast: ()));
$green-warn: mat-palette((500: $golden-yellow, contrast: ()));
// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($green-primary, $green-accent, $green-warn);
$themeColor: $russian-green;
$themeColorSidenav: $pale-grey;

.bg-theme {
  background-color: $themeColor !important;
}

/*******************
   Sidenav
*******************/
wid-sidenav {
  .icon {
    stroke: $themeColorSidenav;
    color: $themeColorSidenav;
  }

  span, .company-label, .servicima-color {
    color: $themeColorSidenav;
  }

  .side-nav-container .active-list-item span {
    color: $old-burgundy !important;
  }

  .side-nav-container .active-list-item .icon {
    stroke: $old-burgundy !important;
    color: $old-burgundy !important;
  }

  .sub-menu-child-item {
    color: $themeColorSidenav !important;;
  }

  .active-sub-menu-child-item {
    color: $maize-crayola !important;
  }
}
