// Define palettes
$mango-primary: mat-palette((500: $mango, contrast: ()));
$mango-accent: mat-palette((500: $light-navy, contrast: ()));
$mango-warn: mat-palette((500: $headingtext, contrast: ()));

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($mango-primary, $mango-accent, $mango-warn);
$themeColor: $mango;
$themeColorSidenav: $pale-grey;

.bg-theme {
  background-color: $themeColor !important;
}

/*******************
   Right Sidenav
*******************/
.right-side-nav-container{
  .icon{
    fill: $themeColor !important;
    background: rgba($themeColor, 0.1) !important;
    color: $themeColor !important;
  }
  .notif-item {
    background: rgba($themeColor, 0.2) !important;
  }
}
/*******************
   Sidenav
*******************/
wid-sidenav {
  .icon {
    stroke: $themeColorSidenav;
    color: $themeColorSidenav;
  }

  span, .company-label, .servicima-color {
    color: $themeColorSidenav;
  }

  .side-nav-container .active-list-item span {
    color: $light-navy !important;
  }

  .side-nav-container .active-list-item .icon {
    stroke: $light-navy !important;
    color: $light-navy !important;
  }

  .sub-menu-child-item {
    color: $themeColorSidenav !important;;
  }

  .active-sub-menu-child-item {
    color: $headingtext !important;
  }
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: $mango !important;
}
