
@import '~@angular/material/theming';

/* Default theme */

$primary-default-theme: mat-palette((500: $primaryColor,contrast: ()));
$accent-default-theme: mat-palette((500: $topaz,contrast: ()));
$warn-default-theme: mat-palette((500: $golden-yellow,contrast: ()));
$theme: mat-light-theme($primary-default-theme, $accent-default-theme, $warn-default-theme);
$background: map-get($theme, background);
$foreground: map-get($theme, foreground);

.bg-theme{
  background-color: $cerulean-blue !important;
}

@include angular-material-theme($theme);


// Blue berry Theme
.blueBerry{
  @import 'blueberry';
  @include angular-material-theme($app-theme);
}


// Evergreen Theme
.everGreen{
  @import 'evergreen';
  @include angular-material-theme($app-theme);
}

// Green blue Theme
.greenBlue{
  @import 'green-blue';
  @include angular-material-theme($app-theme);
}


// Mango Theme
.mango{
  @import 'mango';
  @include angular-material-theme($app-theme);
}


// White red Theme
.whiteRed{
  @import 'white-red';
  @include angular-material-theme($app-theme);
}

// White red Theme
.setting{
  @import 'setting';
  @include angular-material-theme($app-theme);
}
