// Define palettes
$white-orange-primary: mat-palette((500: $pale-grey-two, contrast: ()));
$white-orange-accent: mat-palette((500: $blood-orange, contrast: ()));
$white-orange-warn: mat-palette((500: $rich-black, contrast: ()));
// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($white-orange-primary, $white-orange-accent, $white-orange-warn);
$themeColor: $pale-grey-two;
$themeColorSidenav: $black-three;

.bg-theme {
  background-color: $themeColor !important;
}

/*******************
   Right Sidenav
*******************/
wid-right-sidenave{
  .icon{
    fill: $blood-orange !important;
    background: rgba($blood-orange, 0.1) !important;
    color: $blood-orange !important;
  }
  .notif-item {
    background: rgba($blood-orange, 0.2) !important;
  }
}

/*******************
   Sidenav
*******************/
wid-sidenav {
  .icon {
    stroke: $themeColorSidenav;
    color: $themeColorSidenav;
  }

  span, .company-label, .servicima-color {
    color: $themeColorSidenav;
  }

  .side-nav-container .active-list-item span {
    color: $blood-orange !important;
  }

  .side-nav-container .active-list-item .icon {
    color: $blood-orange !important;
    stroke: $blood-orange !important;
  }

  .sub-menu-child-item {
    color: $themeColorSidenav !important;;
  }

  .active-sub-menu-child-item {
    color: $rich-black !important;
  }
}
