// Define palettes
$white-green-primary: mat-palette((500: $pale-grey-two, contrast: ()));
$white-green-accent: mat-palette((500: $lighter-green, contrast: ()));
$white-green-warn: mat-palette((500: $bdazzled-blue, contrast: ()));

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($white-green-primary, $white-green-accent, $white-green-warn);
$themeColor: $pale-grey-two;
$themeColorSidenav: $black-three;

.bg-theme{
  background-color: $themeColor !important;
}

/*******************
   Right Sidenav
*******************/
.right-side-nav-container{
  .icon{
    fill: $lighter-green !important;
    background: rgba($lighter-green, 0.1) !important;
    color: $lighter-green !important;
  }
  .notif-item {
    background: rgba($lighter-green, 0.2) !important;
  }
}

/*******************
   Sidenav
*******************/
wid-sidenav {
  .icon{
    stroke: $themeColorSidenav ;
    color: $themeColorSidenav
  }
  span, .company-label, .servicima-color{
    color: $themeColorSidenav;
  }
  .side-nav-container .active-list-item span{
  color: $lighter-green !important;
  }
  .side-nav-container .active-list-item .icon {
    color: $lighter-green !important;
    stroke: $lighter-green !important;
  }
  .sub-menu-child-item {
    color: $themeColorSidenav !important;;
  }
  .active-sub-menu-child-item {
    color: $bdazzled-blue !important;
  }
}
