// Define palettes
$white-red-primary: mat-palette((500: $pale-grey-two, contrast: ()));
$white-red-accent: mat-palette((500: $cherry-red, contrast: ()));
$white-red-warn: mat-palette((500: $independence, contrast: ()));
// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($white-red-primary, $white-red-accent, $white-red-warn);
$themeColor: $pale-grey-two;
$themeColorSidenav: $black-three;

.bg-theme {
  background-color: $themeColor !important;
}

/*******************
   Sidenav
*******************/
wid-sidenav {
  .icon {
    stroke: $themeColorSidenav;
    color: $themeColorSidenav;
  }

  span, .company-label, .servicima-color {
    color: $themeColorSidenav;
  }

  .side-nav-container .active-list-item span {
    color: $cherry-red !important;
  }

  .side-nav-container .active-list-item .icon {
    color: $cherry-red !important;
    stroke: $cherry-red !important;
  }

  .sub-menu-child-item {
    color: $themeColorSidenav !important;;
  }

  .active-sub-menu-child-item {
    color: $independence !important;
  }
}
