
  <div fxLayout="column" fxLayoutAlign="center center" class="full-height full-width">
    <!-- Close reject pop-up -->
    <div fxFlex="12" fxLayout="row" fxLayoutAlign="end" class="p-25 p-b-0 full-width">
      <button mat-button class="btn-close border-radius-5 bg-pale-grey" (click)="onCloseClick()">
        <mat-icon svgIcon="wi-close-normal"></mat-icon>
      </button>
    </div>
    <!-- Body pop-up -->
    <div fxLayout="row" fxLayoutAlign="center start" class="full-width" fxFlex>
      <div fxFlex="90" fxLayout="column" class="full-height">
        <!-- Title pop-up -->
        <div class="full-width" [fxFlex]="reject ? 20 : 25" fxLayout="column" fxLayoutAlign="start start">
          <p class="font-size-17 steel font-normal m-15 m-b-5">
            {{reject ? 'Reject timesheet' : 'Approve timesheet'}}
          </p>
        </div>
        <!-- contant pop-up -->
        <ng-container *ngIf="reject, else approveMsg">
          <div class="full-width p-15" fxFlex fxLayout="column"
               fxLayoutAlign="center start" >
              <p class="font-size-19 black-three font-normal text-left m-0">
                Are you sure you want to reject this timesheet !
              </p>
              <mat-label class="black font-size-12 m-t-10">
                leave your comment here
              </mat-label>
              <mat-form-field class="full-width" appearance="outline">
              <textarea matInput placeholder="leave your comment here" rows="4"
                        (change)="getComment($event)"></textarea>
              </mat-form-field>
          </div>
        </ng-container>
        <ng-template #approveMsg>
          <div class="full-width p-15" fxFlex fxLayout="column"
               fxLayoutAlign="start start" >
            <p class="font-size-19 black-three font-normal text-left ">
              Are you sure you want to approve this timesheet !
            </p>
          </div>
        </ng-template>

      </div>
    </div>
    <!-- Button pop-up -->
    <div [fxFlex]="reject ? 20 : 40" class="full-width p-b-5" fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="center center">
      <button type="submit" mat-raised-button (click)="responseTimesheet()"
              class="white" [ngClass]="reject ? 'bg-error-red btn-small' : 'bg-topaz btn-medium'">
        {{reject ? 'Reject' : 'Approve'}}
      </button>
      <button type="submit" mat-raised-button (click)="onCloseClick()"
              class="black bg-pale-grey" [ngClass]="reject ? 'btn-small' : 'btn-medium'">
        Cancel
      </button>
    </div>
  </div>
