<div class="dynamic-component-container border-radius-20 choose-candidates" fxLayout="column" fxFlex="100">
  <div fxLayout="row" fxFlex="15" fxLayoutAlign="space-around center">
    <div fxLayout="column" fxFlex="90">
      <h1 class="steel font-size-28 font-medium m-l-20" >{{title}}</h1>
    </div>
    <div fxLayout="column">
      <div fxLayout="row">
        <button class="close-container" mat-dialog-close><img src="../../../../assets/icons/close_icon.svg" alt="image"></button>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxFlex="2" fxLayoutAlign="space-around center">
    <mat-divider [ngStyle]="{ 'width': '95%', borderTopWidth: '2px' }"></mat-divider>
  </div>
  <div fxLayout="column" fxFlex="83" class="font-size-12 black container-choose-candidate" >
    <div fxLayout="row" fxFlex="20" fxLayoutAlign="start center">
      <div fxLayout="column" fxFlex="90" fxLayoutAlign="center">
        <mat-form-field [style]="{'width': '30%', 'fontSize': '12px','margin-left':' 5%'}" appearance="outline">
          <!--(blur)="searchData($event)"-->
          <mat-icon matPrefix class="icon material-icons-outlined" svgIcon='wi_search' >  </mat-icon>
          <input (keyup)="searchField($event)"  matInput type="search" placeholder="Search ..." class="font-extra-light font-size-12">
        </mat-form-field>
      </div>
      <div fxLayout="column" fxFlex="6" fxLayoutAlign="center">
        <button (click)="sort(sortColumn)" fxLayout="row"  class="sort-invite-candidate"  fxLayoutAlign="center center">
          <img  [src]="displayIcon ? 'assets/icons/sort-ascending.svg' :'assets/icons/sort-descending.svg'" alt="list icon" width="24px" height="24px">
        </button>
      </div>
    </div>
    <div fxLayout="row"  fxFlex="82" class="example-container mat-elevation-z8"
         [ngStyle]=" {'width': '97%', 'box-shadow': 'none !important,','margin-left': '2%', 'border': '1px solid #e8f1f9','border-radius': '7px',
     'overflow': 'hidden'}"
    >
      <wid-scrollbar class="scrollbar" style="min-width: 100%;">
        <table style="min-width: 100%" *ngIf="dataSource.filteredData.length > 0 && dataSource.data.length > 0"   #tableInvoiceAttachment  mat-table  [dataSource]="dataSource">
          <tr class="sel" >
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select" sticky >
              <th mat-header-cell *matHeaderCellDef class="selected" [ngStyle] = "{'min-width':'10%', 'max-width':'10%','width': '10%'}"  >
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td [ngStyle] = "{'width': '6%'}"  mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>
            <ng-container [matColumnDef]="tableColumns[1].nameColumn">
              <th [ngStyle] = "{ 'width': tableColumns[1].width}" mat-header-cell *matHeaderCellDef class="cool-grey font-size-9"> {{this.selection['_selected']? this.selection['_selected'].length : 0}} Collaborator selected</th>
              <td [ngStyle] = "{ 'width': tableColumns[1].width}"  mat-cell *matCellDef="let element">
                <div fxLayout="row" fxLayoutGap="10px">
                  <div fxLayout="column">
                    <img class="img-rounded m-r-5" width="25px" height="25px" [src]="element[tableColumns[1].photo] ? env + element['photo'] : 'assets/img/default.jpg' " alt="image">
                  </div>
                  <div fxLayout="column" fxLayoutAlign="center">
                    {{element[tableColumns[1].nameColumn]}}
                  </div>
                </div>
              </td>
            </ng-container>

            <ng-container *ngFor="let test of tableColumns; let index = index">
            <ng-container *ngIf="index+2 < tableColumns.length">
              <ng-container [matColumnDef]="tableColumns[index+2].nameColumn" >
                <th [ngStyle] = "{'width': tableColumns[index+2].width}" mat-header-cell *matHeaderCellDef>  </th>
                <td [ngStyle] = "{'width': tableColumns[index+2].width}" mat-cell *matCellDef="let element">

                  <div fxLayout="row" fxLayoutGap="10px">
                    <div fxLayout="column">
                      <mat-icon class="icon material-icons-outlined" [svgIcon]='tableColumns[index+2].iconColumn'> </mat-icon>
                    </div>
                    <div fxLayout="column">
                      {{element[tableColumns[index+2].nameColumn]}}
                    </div>
                  </div>
                </td>
              </ng-container></ng-container>

            </ng-container>

          </tr>
          <tr mat-header-row *matHeaderRowDef="tableColumnsFiltered;sticky: true">
          </tr>
          <tr [ngClass]="(this.selection['_selected']?.includes(row)) ? 'sel' : 'white'" mat-row *matRowDef="let row; columns: tableColumnsFiltered; let i = index"></tr>
        </table>
        <div  *ngIf="dataSource.filteredData.length ==0 || dataSource.data.length ==0"  fxFlex="100" fxLayout="row" fxLayoutAlign="center center" class="container-no-data line-height-0 width-no-data" >
          <div fxFlex="90" fxLayout="column" fxLayoutAlign="center center" [style]="{border: 'solid 3px #e8f1f9', borderRadius: '15px', height: '50%'}" >
            <div  fxFlex="15" fxLayout="row">
              <span class="cool-grey font-size-18">No Data Found</span>
            </div>
            <div  fxFlex="15" fxLayout="row">
              <div >
                <button (click)="addButton()"  mat-raised-button  class="btn-medium bg-cerulean-blue" >
                  <span class="white font-size-12 font-normal"> {{titleAddButton}}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </wid-scrollbar>
    </div>
  </div>

  <div fxLayout="row" fxFlex="8" fxLayoutAlign="center"  class="container-button-candidates">
   <ng-container [ngSwitch]="specificData.component" >
     <div *ngSwitchCase="'inviteCollaborator'">
       <div fxFlex="8" fxLayout="row" fxLayoutAlign="start center"
            class="full-width p-10 p-t-5">
         <p class="font-size-12 black m-0 m-r-15">Delay(day):</p>
         <div>
          <mat-form-field appearance="outline"   class="m-r-15 m-t-15 font-size-8 input-width-delay">
             <input matInput [(ngModel)]="specificData.params" type="number" class="text-center font-size-12">
           </mat-form-field>
           <div class="container-mat-error">
             <mat-error *ngIf="!specificData.params" class="wid-error-messages font-size-9 m-l-5">
               required
             </mat-error>
           </div>
         </div>
       </div>
     </div>

     <div *ngSwitchCase="'match_expresson_2'" style="width: 100%;">Number of colloborator {{this.selection['_selected']? this.selection['_selected'].length : 0}} of {{specificData.params}}</div>

   </ng-container>
    <div fxLayout="column" fxLayoutAlign=" center" fxFlex="100">
      <div fxLayout="row" fxFlexFill fxLayoutGap="25px" fxLayoutAlign="flex-end center">

        <div fxLayout="row" fxLayoutGap="25px">
          <button mat-raised-button class="btn-small" [ngStyle]="{'color': buttonLeft.color, 'background': buttonLeft.background}" (click)="cancel()">
            <span class="black">{{buttonLeft.title}}</span>
          </button>
          <button mat-raised-button class="btn-small " [ngStyle]="{'color': buttonRight.color, 'background': buttonRight.background}"  (click)="invite()">
            <span class="white">{{buttonRight.title}}</span>
          </button>
        </div>

      </div>
    </div>
  </div>

</div>
