<div class="contract-container">

  <form fxLayout="column" fxLayout.xs="column" fxFlexFill [formGroup]="contractForm">

    <div fxFlex="15" fxFlex.xs="10" fxLayoutGap="50px">
      <h2 fxFlexAlign="stretch" class="contract-title">New Contract</h2>
    </div>
    <mat-divider class="contract-divider"></mat-divider>
    <div fxFlex="30" fxFlex.xs="45" fxFlexAlign="stretch" fxFlexAlign.xs="auto" fxLayout="row" fxLayout.xs="row"
         fxLayoutGap="50px" fxLayoutGap.xs="10px">
      <button (click)="createNewContract()" [disabled]="!contractForm.valid" fxFlex="33" fxFlex.xs="33" mat-button class="wid-Value-button wid-background-button contract-actions">Save</button>
      <button  fxFlex="33" fxFlex.xs="33" mat-button class="wid-Value-button wid-background-button contract-actions">Import</button>
      <button  fxFlex="33" fxFlex.xs="33" mat-button class="wid-Value-button wid-background-button contract-actions">Clear</button>
    </div>
    <mat-divider class="contract-divider"></mat-divider>
    <div fxFlex="55" fxFlex.xs="45" fxLayout="column" fxLayout.xs="column">
          <div fxFlex="30" fxFlex.xs="45" fxFlexAlign="stretch" fxFlexAlign.xs="auto" fxLayout="row" fxLayout.xs="column"
               fxLayoutGap="50px" fxLayoutGap.xs="10px">
            <mat-form-field fxFlex="33" fxFlex.xs="100" class="wid-Value-button">
              <mat-label>Contractor Code</mat-label>
              <input matInput formControlName="contractor_code">
            </mat-form-field>
            <mat-form-field fxFlex="33" fxFlex.xs="100" class="wid-Value-button">
              <mat-label>Collaborator</mat-label>
              <mat-select formControlName="collaborator_email">
                <mat-option *ngFor="let col of Collaborators" [value]="col.email">
                  {{col.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="33" fxFlex.xs="100" class="wid-Value-button">
              <mat-label>Type</mat-label>
              <mat-select formControlName="contract_type">
                <mat-option *ngFor="let type of Types" [value]="type.value" >
                  {{type.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="30" fxFlex.xs="45" fxFlexAlign="stretch" fxFlexAlign.xs="auto" fxLayout="row" fxLayout.xs="column"
               fxLayoutGap="50px" fxLayoutGap.xs="10px">
                <mat-form-field fxFlex="33" fxFlex.xs="100" class="wid-Value-button">
                  <mat-label>Start Date</mat-label>
                  <input matInput [matDatepicker]="startDatePicker" formControlName="contract_start_date">
                  <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #startDatePicker color="primary"></mat-datepicker>
                </mat-form-field>
                <mat-form-field fxFlex="33" fxFlex.xs="100" class="wid-Value-button">
                  <mat-label>End Date</mat-label>
                  <input matInput [matDatepicker]="endDatePicker" formControlName="contract_end_date">
                  <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #endDatePicker color="primary"></mat-datepicker>
                </mat-form-field>
                <mat-form-field fxFlex="33" fxFlex.xs="100" class="wid-Value-button">
                  <mat-label>Contract Date</mat-label>
                  <input matInput [matDatepicker]="curentDatePicker" formControlName="contract_date">
                  <mat-datepicker-toggle matSuffix [for]="curentDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #curentDatePicker color="primary"></mat-datepicker>
                </mat-form-field>
          </div>
          <div fxFlex="30" fxFlex.xs="45" fxFlexAlign="stretch" fxFlexAlign.xs="auto" fxLayout="row" fxLayout.xs="column"
               fxLayoutGap="50px" fxLayoutGap.xs="10px">
            <mat-form-field fxFlex="33" fxFlex.xs="100" class="wid-Value-button">
              <mat-label>Signer Company Email</mat-label>
              <mat-select formControlName="signer_company_email">
                <mat-option *ngFor="let signer of SignerCompanies" [value]="signer.value" >
                  {{signer.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="33" fxFlex.xs="100" class="wid-Value-button">
              <mat-label>Signer Company Date</mat-label>
              <input matInput [matDatepicker]="signerCompanyPicker" formControlName="signature_company_date">
              <mat-datepicker-toggle matSuffix [for]="signerCompanyPicker"></mat-datepicker-toggle>
              <mat-datepicker #signerCompanyPicker color="primary"></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex="33" fxFlex.xs="100" class="wid-Value-button">
              <mat-label>Rate</mat-label>
              <mat-select formControlName="contract_rate">
                <mat-option *ngFor="let rate of Rates" [value]="rate.value" >
                  {{rate.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="30" fxFlex.xs="45" fxFlexAlign="stretch" fxFlexAlign.xs="auto" fxLayout="row" fxLayout.xs="column"
               fxLayoutGap="50px" fxLayoutGap.xs="10px">
            <mat-form-field fxFlex="33" fxFlex.xs="100" class="wid-Value-button">
              <mat-label>Signer Contractor Email</mat-label>
              <mat-select formControlName="signer_contractor_email">
                <mat-option *ngFor="let signer of Contractors" [value]="signer.email" >
                  {{signer.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="33" fxFlex.xs="100" class="wid-Value-button">
              <mat-label>Signer Contractor Date</mat-label>
              <input matInput [matDatepicker]="signerContractorPicker" formControlName="signature_contractor_date">
              <mat-datepicker-toggle matSuffix [for]="signerContractorPicker"></mat-datepicker-toggle>
              <mat-datepicker #signerContractorPicker color="primary"></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex="33" fxFlex.xs="100" class="wid-Value-button">
              <mat-label>Currency CD</mat-label>
              <mat-select formControlName="currency_cd">
                <mat-option *ngFor="let cur of Currency" [value]="cur.value" >
                  {{cur.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="30" fxFlex.xs="45" fxFlexAlign="stretch" fxFlexAlign.xs="auto" fxLayout="row" fxLayout.xs="column"
               fxLayoutGap="50px" fxLayoutGap.xs="10px ">
            <mat-form-field fxFlex="50" fxFlex.xs="100" class="wid-Value-button contract-status">
              <mat-label>Contract Status</mat-label>
              <mat-select formControlName="contract_status">
                <mat-option *ngFor="let status of Status" [value]="status.value" >
                  {{status.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
    </div>

  </form>

</div>
