.contract-container {
  margin: 8px;
}
.contract-actions {
  height: 32px;
  color: white !important;
}
.contract-title {
  margin-top: 15px;
  width: 321px;
  height: 28px;
  object-fit: contain;
  font-family: Montserrat;
  font-size: 27px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
  text-align: left;
  color: #2e384d;
}
.contract-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}
.contract-status {
  margin: 0 auto;
}
.wid-Value-button {
  color: black;
}
