.card-available-training{
  border-radius: 10px;
  background-color: #f3f6f9;
  box-shadow: none;
  width: 100%;
  height: 90%;

}
.img-organisation{
  width: 40px;
  height: 40px;
  border: solid 1px #e8f1f9;
  border-radius: 5px;
  background-color: white;
  padding: 5px;
}
.mat-divider{
  border-color: white;
}
