<div *ngIf="isSpinnerVisible" class="container full-screen-height full-screen-width" fxLayoutGap="50px"
     fxLayout="column" [fxLayoutAlign]="appInitialized()? 'center center':'start center'" >
  <ng-container *ngIf="!appInitialized(),else spinner">
    <div class="p-t-10"
         fxLayout="column" fxLayoutAlign="start center">
      <img src="assets/img/logoServicima.png" class="logo m-b-10">
      <img src="assets/img/logo-title-dark.png" class="logoTiltle">
    </div>
    <div class="content-body full-width m-t-0"
         fxLayout="column" fxLayoutAlign="space-between center">
      <div class="body-img" fxLayout="column" fxLayoutAlign="center center">
        <h2 class="cerulean-blue font-size-18 font-semi-bold">Loading ...</h2>
        <mat-progress-bar mode="determinate" value="68"></mat-progress-bar>
      </div>
      <h1 class="font-semi-bold">68%</h1>
    </div>
  </ng-container>
  <ng-template #spinner>
    <mat-spinner></mat-spinner>
  </ng-template>

</div>
