<div fxLayout="row" fxLayoutAlign="space-around center" class="bg-white border-radius-20 m-t-40">
  <!-- Close reject pop-up -->
  <div fxLayout="row" fxFlex="20" fxLayoutAlign="end">
    <div fxLayout="column" fxFlex="20" fxLayoutAlign="center center">
      <button mat-button class="btn-close border-radius-5 bg-pale-grey" (click)="onCloseClick()">
        <mat-icon svgIcon="wi-close-normal"></mat-icon>
      </button>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex="78" class="border border-radius-10">
      <div fxLayout="row" fxLayoutAlign="space-around center" >
        <div fxLayout="column" fxLayoutAlign="center center" class="borderColor" class="m-t-40 m-b-40">
          <div class="cool-grey font-size-38 p-b-20">Not allowed to be updated</div>
        </div>
      </div>
    </div>
</div>
