<div fxLayout="row" class="dynamic-component-container border-radius-20">
<div  fxLayout="column" fxFlex="100" >
  <div fxLayout="row" fxFlex="10" fxLayoutAlign="space-around center">
    <div fxLayout="column" fxFlex="56">
      <h1 class="steel font-size-24 font-medium">{{'manager.socialnetwork.publishoffer' | translate}}</h1>
    </div>
    <div fxLayout="column" fxFlex="15" fxLayoutAlign="center end" class="font-size-25 steel">
      <button mat-raised-button class="btn-small bg-pale-grey" routerLink="/">
        <span class="cool-grey">{{'back' | translate}}</span>
      </button>
    </div>
  </div>
  <div fxLayout="row" fxFlex="2" fxLayoutAlign="space-around center">
    <mat-divider [ngStyle]="{ 'width': '90%', borderTopWidth: '2px' }"></mat-divider>
  </div>
  <div fxLayout="row" fxFlex="78">
    <wid-scrollbar  fxFlexFill >
        <form [formGroup]="linkedinForm" fxLayout="column">
          <div fxLayout="row" fxFlex="100" fxLayoutAlign="center">
            <div fxLayout="column" fxFlex="82">
              <div fxLayout="row" fxFlex="35" fxLayoutAlign=" end">
                <div fxLayout="column" fxFlex="65">
                  <mat-label class="black font-size-12 required">
                    {{'manager.socialnetwork.offer_title' | translate}}:
                  </mat-label>
                  <mat-form-field appearance="outline">
                    <input  formControlName="title" matInput [placeholder]="'manager.socialnetwork.offer_title' | translate" required>
                    <mat-error class="red" >
                      {{ 'general.required' | translate }}</mat-error>
                  </mat-form-field>
                </div>

              </div>
              <div fxLayout="row" fxFlex="60" fxLayoutAlign=" center">
                <div fxLayout="column" fxFlex="65">
                  <mat-label class="black font-size-12 required">
                    {{'manager.socialnetwork.offer_description' | translate}}:
                  </mat-label>
                  <mat-form-field appearance="outline">
                              <textarea matInput [placeholder]="'manager.socialnetwork.offer_description' | translate" rows="7"
                                        formControlName="text" required></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxFlex="24">
                <div fxLayout="column" fxFlex="65" *canBeDisplayed="{'feature':'SOCIAL_NETWORK_IMPORT IMAGE'}">
                  <mat-label class="black font-size-12 ">
                    {{'manager.socialnetwork.image' | translate}}:
                  </mat-label>
                  <mat-form-field appearance="outline"  >
                    <div >
                      <input matInput matSuffix formControlName="image"  [placeholder]="'manager.socialnetwork.image' | translate"  >
                      <button  class="buttonImage"  type="button">
                        <input type="file"
                               id="upload"
                               accept="image/png, image/gif, image/jpeg, application/pdf"
                               (change)="setValueToImageField($event)"
                               hidden/>
                        <label for="upload">{{'manager.socialnetwork.upload' | translate}}</label></button>
                    </div>
                  </mat-form-field>
                </div>
              </div >
            </div>
          </div>
        </form>
    </wid-scrollbar>
  </div>
  <div fxLayout="row" fxFlex="7" fxLayoutGap="7px">
    <div fxLayout="column" fxFlex="96" fxLayoutAlign=" end">
      <div fxLayout="row" fxLayoutGap="10px">
          <div fxLayout="column" >

            <button mat-raised-button type="button" *canBeDisplayed="{ feature: 'SOCIAL_NETWORK_SHARE_POST'}"   color="primary" class="white  btn-small"(click)="routeToShareDialog()" [disabled]="linkedinForm.invalid">
              <span class="white font-size-11">{{'manager.socialnetwork.publish' | translate}}</span>
            </button>
          </div>
        <div fxLayout="column" >
          <button  class="btn-small small-button" >
            <span class="cerulean-blue font-size-11" >{{'back' | translate}}</span>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
