@import "src/assets/styles/variables";
.border-solid {
  border-style: solid;
}
.buttonImage {
  position: absolute;
  top: -9px;
  border-radius: 0 5px 5px 0;
  right: 0;
  border: none;
  width: 150px;
  height: 58px;
  color: white;
  background-color: $topaz;
  transform: translateX(12px);
}
.small-button {
  background-color: #e8f1f9 ;
  border: none;
}

