
<div class="dynamic-component-container border-radius-20" fxLayout="row" fxFlex="100">

  <div fxLayout="column" fxFlex="4"   ></div>

  <div fxLayout="column" fxFlex="90"    >

    <div fxLayout="row" fxFlex="10" fxLayoutAlign="space-around center">
      <div fxLayout="column" fxFlex="56">
        <h1 class="steel font-size-24 font-medium">Resume</h1>
      </div>
      <div fxLayout="column" fxFlex="15" fxLayoutAlign="center end" class="font-size-25 steel">
        <button mat-raised-button  class="btn-small bg-pale-grey" routerLink="/">
          <mat-icon class="icon material-icons-outlined"  svgIcon="wi_arrow_back">
          </mat-icon>
          <span class="cool-grey">back</span>
        </button>
      </div>
    </div>
    <div fxLayout="row" fxFlex="2" fxLayoutAlign="space-around center">
      <mat-divider [ngStyle]="{ 'width': '90%', borderTopWidth: '2px' }"></mat-divider>
    </div>
    <div fxLayout="row" fxFlex="9" fxLayoutAlign="space-around center ">
      <div fxLayout="column" fxFlex="86">
        <h4 class="steel font-size-18 font-small">Preview</h4>
      </div>
    </div>
    <div fxLayout="row" fxFlex="60" fxLayoutAlign="center" >
<div fxLayout="column" fxFlexFill>
  <div fxLayout="row" fxFlexAlign="center"><h1 class="font-medium font-size-28 help-blue">You Reached</h1> </div>
  <div fxLayout="row" fxFlexAlign="center"><h1 class="font-bold font-size-29 greenBlue">{{count}}% of Your Resume</h1> </div>
  <div fxLayout="row" fxFlexAlign="center" fxLayoutGap="20px">
    <button mat-raised-button type="submit" class="white bg-primaryColor btn-large" (click)="getPdf()" [style]="{marginRight: '4%'}">
    Preview
    </button>
    <button mat-raised-button type="submit" class="white bg-primaryColor btn-large" *ngIf="count===100" (click)="uploadPdf()" [style]="{marginRight: '4%'}">
        Save
    </button>
    </div></div>


</div>



  </div>
</div>
