<div>
<!--<div class="progress" ></div>-->
  <div class="basic-container">
    <mat-progress-spinner
      [color]="'primary'"
      [mode]="(loading$ | async) ? 'indeterminate' : 'determinate'"
      [value]="100"
      [diameter]= "diameter ? diameter : 80"
      strokeWidth="2">
    </mat-progress-spinner>
    <img  alt="image" [src]="haveImage ? avatar : 'assets/img/default.jpg'" [width]='width ?width:80'
          [height]='height? height:80' class="edit-img"
          [ngStyle.xs]="{ 'width.px': 100, 'height.px': 120 }">
  </div>
<!--  *ngIf="loading$ | async"-->
  <!--Input File accept only image with preview Image-->

  <div >
    <label for="{{page}}" class="btn-action">
                <span class="material-icons">
                  edit
                </span>
    </label>
  <input style="display: none;" #file type="file" id="{{page}}" name="file" (change)="previewFile($event)"
         accept="image/*">
  </div>
</div>
  <input type="hidden" name="profile_avatar_remove">

<div class="btn-cancel" *ngIf="selectedFile.file" >
                  <span class="material-icons" (click)="clearPreview()">
                    close
                  </span>
</div>
<div class="btn-validate" *ngIf="selectedFile.file && singleUpload" >
                  <span class="material-icons" (click)="uploadFile()">
                    published_with_changes
                  </span>
</div>

