.invitation-card{
  background-color: #e8f1f9;
  height: 50px;
  border-radius: 10px;

}
.img-organisation{
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 5px;
}
.details-training{
  cursor: pointer;
}
