.bold{
  font-weight: bold;
}
.Rectangle-281 {
  width: 90%;
  height: 95%;
  margin: .5rem;
  padding: 0px 30px 2px 31px;
  border-radius: 15px;
  box-shadow: 0 3px 6px 0 #e8f1f9;
  border: solid 1px #e8f1f9;
  background-color: #ffffff;
}
.sortedby{
  width: 95px;
  padding: 0;
}

.details {
  font-size: .6rem;
  text-align: center;
  margin-top: 0px;
  margin-left: 14px;
}
.btn-details{
  color: #67809f;
}
.job-title {
  width: 100%;
  height: 12px;
  font-family: Poppins;
  font-size: 10px;
  font-weight: 300;
  text-align: center;
  color: var(--black);
}
.show-img-collab {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.full-name {
  width: 100%;
  height: 8px;
  font-size: .6rem;
  font-weight: 500;
  text-align: center;
}

.data-table-search-bar {
  span {
    z-index: 1;
    top: -18.4px;
    left: 11px;
  }
  input {
    padding: 3px 35px !important;
    height: 25px !important;
  }
}
::ng-deep .mat-paginator-range-label{
  display: none !important;
}
::ng-deep .mat-paginator-page-size-label{
  display: none !important;
}

::ng-deep .mat-paginator-page-size{
  display: none !important;
}
.mat-list-base {
  padding-top: 4px !important;
}

.mat-list-base .mat-list-item {
  height: 35px !important;
}




