<div class="contract-container">

  <div fxLayout="column" fxLayout.xs="column" fxFlexFill>

    <div fxFlex="15" fxFlex.xs="10" fxLayoutGap="50px">
      <h2 fxFlexAlign="stretch" class="contract-title">{{ title }}</h2>
    </div>
    <mat-divider class="contract-divider"></mat-divider>
    <div fxFlex="30" fxFlex.xs="45" fxFlexAlign="stretch" fxFlexAlign.xs="auto" fxLayout="row" fxLayout.xs="row"
         fxLayoutGap="50px" fxLayoutGap.xs="10px">
      <button (click)="addNewContractors()" fxFlex="10" fxFlex.xs="33" fxFlexAlign="auto" fxFlexAlign.xs="auto" mat-button
              class="wid-Value-button wid-background-button contract-actions">Add
      </button>
    </div>
    <mat-divider class="contract-divider"></mat-divider>
    <div fxFlex="30" fxFlex.xs="45" fxFlexAlign="stretch" fxFlexAlign.xs="auto" fxLayout="row" fxLayout.xs="column"
         fxLayoutGap="2px" fxLayoutGap.xs="2px">
      <mat-form-field fxFlex="25" fxFlex.xs="25" class="wid-Value-button">
        <mat-label>All Customers</mat-label>
        <mat-select>
          <mat-option *ngFor="let customer of Customers" [value]="customer.email">
            {{customer.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="25" fxFlex.xs="25" class="wid-Value-button">
        <mat-label>All Status</mat-label>
        <mat-select>
          <mat-option *ngFor="let status of Status" [value]="status.value">
            {{status.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="25" fxFlex.xs="25" class="wid-Value-button">
        <mat-label>From</mat-label>
        <input matInput [matDatepicker]="fromPicker">
        <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
        <mat-datepicker #fromPicker color="primary"></mat-datepicker>
      </mat-form-field>
      <mat-form-field fxFlex="25" fxFlex.xs="25" class="wid-Value-button">
        <mat-label>To</mat-label>
        <input matInput [matDatepicker]="toPicker">
        <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
        <mat-datepicker #toPicker color="primary"></mat-datepicker>
      </mat-form-field>
    </div>
    <mat-divider class="contract-divider"></mat-divider>
    <div fxFlex="55" fxFlex.xs="45">
      <mat-form-field class="wid-Value-button">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)">
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- Code Column -->
          <ng-container matColumnDef="contractor_code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Code</th>
            <td mat-cell *matCellDef="let row"> {{row.contractorKey.contractor_code.substring(0, 6)}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="contractor_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
            <td mat-cell *matCellDef="let row"> {{row.contractor_name }} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="email_address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Com. email address</th>
            <td mat-cell *matCellDef="let row"> {{row.contractorKey.email_address}} </td>
          </ng-container>

          <!-- Contact Column -->
          <ng-container matColumnDef="contact_email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact</th>
            <td mat-cell *matCellDef="let row"> {{row.contact_email}} </td>
          </ng-container>

          <!-- Activity Sector Column -->
          <ng-container matColumnDef="creation_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Creation Date</th>
            <td mat-cell *matCellDef="let row"> {{row.creation_date | date}} </td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button *ngIf="row.status == 'ACTIVE'; else DIS">
                <mat-icon class="mat-18">spellcheck</mat-icon>
              </button>
              <ng-template #DIS>
                <button mat-icon-button class="wid-archive-status">
                  <mat-icon class="mat-18">close</mat-icon>
                </button>
              </ng-template>
            </td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef> Actions</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button [matMenuTriggerFor]="actions">
                <mat-icon class="mat-18">more_horiz</mat-icon>
              </button>

              <mat-menu #actions="matMenu">
                <button mat-menu-item (click)="updateContractor(row)">Update</button>
                <button mat-menu-item *ngIf="row.status == 'ACTIVE'; else DIS_MENU"
                        (click)="onStatusChange( {status: row.status, _id: row._id})">
                  Restore
                </button>
                <ng-template #DIS_MENU>
                  <button mat-menu-item
                          (click)="onStatusChange({status: row.status, _id: row._id})">
                    Archive
                  </button>
                </ng-template>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
        <div class="no-records" *ngIf="contractorsList.length === 0">No records found</div>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>

  </div>

</div>
