table {
  tr{
    height: 50px;
    border-bottom: 1px solid #ebebeb;

  }

  th, td {
    height: 50px;
    border-bottom: 1px solid #ebebeb;
    text-align: center!important;
  }

  th {
    background-color: white;
  }
}
.dynamic-data-table-content {
  resize: both !important;
}

.data-table-search-bar {
  span {
    z-index: 1;
    top: -18.4px;
    left: 11px;
  }
  input {
    padding: 3px 35px !important;
    height: 25px !important;
  }
}
