table {
  tr{
    height: 50px;
    border-bottom: 1px solid #ebebeb;

  }

  th, td {
    height: 50px;
    border-bottom: 1px solid #ebebeb;
    text-align: center!important;
  }

  th {
    background-color: white;
  }
}
.dynamic-data-table-content {
  resize: both !important;
  scroll-behavior: smooth !important;
}
