<div class="dynamic-component-container border-radius-20" fxLayout="column" fxFlex="100" >
  <div fxLayout="row" fxFlex="14" fxLayoutAlign="space-around center">
    <div fxLayout="column" fxFlex="56">
      <h1 class="steel font-size-24 font-medium" >{{ header.title }}</h1>
    </div>
    <div fxLayout="column" fxFlex="15" fxLayoutAlign="center end" class="font-size-25 steel">
      <button  *canBeDisplayed="{'feature': header.feature}" mat-raised-button  class="btn-medium bg-cerulean-blue" (click)="redirectToPageOrDialog(header.type)">
        <mat-icon class="icon material-icons-outlined"  svgIcon="wi_add_user">
        </mat-icon>
        <span   class="white font-size-12 font-normal">{{ header.addActionText | translate | spliceText: 20  }}</span>
      </button>
    </div>
  </div>
  <div fxLayout="row" fxFlex="1" fxLayoutAlign="space-around center">
    <mat-divider [ngStyle]="{ 'width': '90%', borderTopWidth: '2px' }"></mat-divider>
  </div>
  <div fxLayout="row" fxFlex="14" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxFlex="55" fxLayoutAlign="space-around center">
      <div fxLayout="row" fxFlex="80" fxLayoutGap="20px" class="m-t-10">
        <mat-form-field class="data-table-search-bar" [style]="{'width': '80%', 'height': '80%', 'fontSize': '5px'}" appearance="outline">
          <input (blur)="searchData($event)" matInput type="search" placeholder="Search ..." class="font-extra-light font-size-12">
          <span matPrefix class="absolute mat-icon-btn"><img src="assets/icons/Iconly_Light_Search.svg" alt="search"></span>
        </mat-form-field>
        <button mat-stroked-button  [style]="{'width': '10%', 'height': '80%'}" (click)="displayTableConfig()">
          <mat-icon svgIcon="wi_adjustments" class="icon material-icons-outlined steel"></mat-icon>
        </button>
        <button [disabled]="this.form.value.input.length> 0" (click)="onAddAnotherFilter()" mat-stroked-button  [style]="{'width': '10%', 'height': '80%'}" >
          <mat-icon svgIcon="wi_filter" class="icon material-icons-outlined steel"></mat-icon>
        </button>
        <button [disabled]="form.invalid || form.value.input.length === 0"  (click)="run()" mat-stroked-button  [style]="{'width': '10%', 'height': '80%'}">
          <span class="cool-grey">Run</span>
        </button>
        <button mat-stroked-button  [style]="{'width': '10%', 'height': '80%'}" >
          <span class="cool-grey">Save</span>
        </button>
      </div>
    </div>
    <div fxLayout="row" fxFlex="30" fxLayoutGap="2%"  fxLayoutAlign="center center">
      <div fxLayout="row">
        <button *canBeDisplayed="{'feature':singleAction.feature}"  mat-raised-button class="btn-medium bg-topaz overwrite-btn-medium" (click)="ActionClicked()">
          <span class="white font-size-11">{{singleAction.name | translate | capitalizeFirstLetter }}</span>
        </button>
      </div>
      <div fxLayout="row">
        <mat-accordion class="mat-accordion-action bg-topaz"  [ngClass]="{
    'accordion-list':panelOpenState === true,
    'accordion-btn':panelOpenState === false
  }">

          <mat-expansion-panel #closePanel  (click)="open($event)" [ngClass]="{
    'mat-expansion-panel-header-list':panelOpenState === true,
    'mat-expansion-panel-header-btn':panelOpenState === false
  }" (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false" class="bg-topaz">
            <mat-expansion-panel-header  class="disable_ripple" >
              <mat-panel-title >
                <span class="white font-size-11">Actions</span>
              </mat-panel-title>



            </mat-expansion-panel-header >
            <div class="white cursor-pointer font-size-11"  (click)="actionRowData(listAction, listChecked)"  *ngFor="let listAction of allowedActions">
             <div  *canBeDisplayed="{'feature':listAction.feature}">
              <hr class="white" [style]="{'height': '1px','border': '1px solid' }">
              {{ listAction.name | translate }}
             </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
  <div fxLayout="column" fxFlex="74" fxLayoutAlign="space-between">

    <wid-scrollbar  class="dynamic-data-table-content" style="width: 100%;" >
        <div [formGroup]="form" >
          <div formArrayName='input' style="margin-left: 80px">
            <div *ngFor="let roleListControl of getListFilter().controls; let i = index">
              <div [formGroupName]="i">
                <div fxLayout="row" fxFlex="100" fxLayoutGap="5%">
                  <div fxLayout="column" fxFlex="20">
                    <mat-form-field appearance="outline">
                      <mat-select formControlName="column" placeholder="Select column">
                        <ng-container *ngFor="let column of viewColumns">
                          <mat-option [value]="column.name" (click)="selected(column.name, i)">
                            {{ column.name }}
                          </mat-option>
                        </ng-container>
                      </mat-select>
                      <mat-error class="wid-error-messages" *ngIf="form.controls.methodName?.errors?.required">
                        {{ 'general.required' | translate }}</mat-error>
                    </mat-form-field>
                  </div>
                  <div fxLayout="column" fxFlex="10">
                    <mat-form-field appearance="outline">
                      <mat-select formControlName="operator" placeholder="operator" >
                        <ng-container *ngFor="let operator of operator">
                          <mat-option [value]="operator">
                            {{ operator }}
                          </mat-option>
                        </ng-container>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div fxLayout="column" fxFlex="20">
                    <mat-form-field appearance="outline">
                      <input formControlName="valueFilter" *ngIf="form.value.input[i].type !== 'selection'"
                             type="{{form.value.input[i].type}}"
                             (change)="applyFilter($event.target['value'], this.form.value.input[i])"
                             (keyup)="applyFilter($event.target['value'], this.form.value.input[i])" matInput
                             placeholder="taper value" class="font-extra-light font-size-12">
                      <mat-error class="wid-error-messages" *ngIf="form.controls.methodName?.errors?.required">
                        {{ 'general.required' | translate }}</mat-error>

                      <mat-select *ngIf="form.value.input[i].type == 'selection'" formControlName="valueFilter"
                                  placeholder="taper value">
                        <div *ngFor="let selection of selections">
                          <mat-option [value]="selection"
                                      (click)="applyFilter(selection, this.form.value.input[i])">
                            {{keyColumnDesc ? selection[keyColumnDesc] : selection  }}
                          </mat-option>
                        </div>
                      </mat-select>
                      <mat-error class="wid-error-messages" *ngIf="form.controls.methodName?.errors?.required">
                        {{ 'general.required' | translate }}</mat-error>
                    </mat-form-field>
                  </div>
                  <div fxLayout="row" fxFlex="3" fxFlexAlign="center" fxLayoutGap="90%" class="m-b-15">
                    <button mat-stroked-button  type="button">OR</button>
                    <button mat-stroked-button  type="button">AND</button>
                    <button mat-stroked-button  type="button" (click)="deleteLineFilter(i)">X</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      <div *ngIf="dataSource?.length === 0 && isLoading.getValue() === false" style=" min-height: 287px;" >
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center" class="container-no-data line-height-0" >
          <div fxFlex="90" fxLayout="column" fxLayoutAlign="center center" [style]="{border: 'solid 3px #e8f1f9', borderRadius: '15px', height: '50%'}" >
            <div  fxFlex="15" fxLayout="row">
              <span class="cool-grey font-size-18">No Data Found</span>
            </div>
            <div  fxFlex="15" fxLayout="row">
              <div *ngIf="buttonAdd !== false">
                <button  mat-raised-button  class="btn-medium bg-cerulean-blue" (click)="redirectToPageOrDialog(header.type)">
                  <span class="white font-size-12 font-normal">{{ header.addActionText | spliceText: 20  }}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div  *ngIf="isLoading.getValue() === false && dataSource?.length > 0" >
        <table  BORDER=0 CELLSPACING=0 cdk-table [style]="{'width': '100%', 'height': 'min-content'}" [dataSource]="dataSource" [trackBy]="identify" @dataAppearance>

          <ng-container *ngFor="let col of columns;" >

            <ng-container [ngSwitch]="col.type">

              <ng-container *ngSwitchCase="'rowItem'">

                <ng-container cdkColumnDef="{{ col.prop }}" [sticky]="true">

                  <th cdk-header-cell *cdkHeaderCellDef class="steel font-size-14 font-semi-bold">
                    <mat-checkbox  (change)="selectAll($event)" [(ngModel)]="selectedAll"  color="accent"  [indeterminate]="isIndeterminate()"  class="example-margin checkbox-width" fxFlex="100" fxLayoutAlign="center">
                    </mat-checkbox>
                  </th>

                  <td  cdk-cell *cdkCellDef="let row" class="black-three font-size-12 font-light" >
                    <mat-checkbox  (change)="getChecked(row,$event)"  [ngModel]="row['checked']"  class="example-margin checkbox-width" color="accent" >
                    </mat-checkbox>
                  </td>

                </ng-container>

              </ng-container>
              <ng-container *ngSwitchCase="'rowItem1'" >

                <ng-container cdkColumnDef="{{ col.prop }}" >
                  <th cdk-header-cell *cdkHeaderCellDef class="steel font-size-14 font-semi-bold">
                    Security
                  </th>
                  <td  cdk-cell *cdkCellDef="let row" class="black-three font-size-12 font-light">
                      <span  class="material-icons-outlined">
               {{row['password'] ? 'https' : 'lock_open'}}
              </span>

                  </td>
                </ng-container>

              </ng-container>
              <ng-container *ngSwitchDefault >

                <ng-container cdkColumnDef="{{ col.prop }}">
                  <th cdk-header-cell
                      *cdkHeaderCellDef class="steel font-size-14 font-semi-bold"> {{ col.name }}
                  </th>
                  <ng-container [ngSwitch]="col.type">
                    <ng-container *ngSwitchCase="'image'">

                      <td (click)="actionRowData({'name': 'update'}, row)"  cdk-cell *cdkCellDef="let row" class="black-three font-size-12 font-light">

                        <img [src]=  "row[col.prop] ? env + row[col.prop] : 'assets/img/default.jpg'" alt=""  [style]=" {'height':'40px', 'width':'45px','border-radius': '50%'}">
                      </td>
                    </ng-container>

                    <ng-container *ngSwitchCase="'date'">
                      <td cdk-cell (click)="actionRowData({'name': 'update'}, row)"
                          *cdkCellDef="let row" class="black-three font-size-12 font-light"> {{ row[col.prop] | date: 'dd/MM/yyyy' }}
                      </td>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      <td cdk-cell (click)="actionRowData({'name': 'update'}, row)"
                          *cdkCellDef="let row" class="black-three font-size-12 font-light" >
                        <div (mouseover)="showAllText=true"  (mouseout)="showAllText=false">
                                <span matTooltip="{{showAllText ? row[col.prop] : ''}}"
                                      [class]="colorObject ? sendColors(col.prop,row[col.prop]) : ''" fxLayoutAlign="center center" >
                                  <ng-container *ngIf="showAvatar(col.prop).haveImg && showAvatar(col.prop, row).imgSrc, else avatarLoading">
                                    <img class="img-rounded m-r-5" width="25px" height="25px" [src]="showAvatar(col.prop, row).imgSrc" alt="image">
                                  </ng-container>
                                  <ng-template #avatarLoading>
                                    <wid-skeleton-loader
                                      *ngIf="showAvatar(col.prop).haveImg"
                                      [circle]="true"
                                      marginTop="0" marginRight="5"
                                      width="25" height="25"
                                      nbrRow="1" nbrColumn="1"
                                    ></wid-skeleton-loader>
                                  </ng-template>

                           {{ row[col.prop] | spliceText: 40 }}
                          </span>
                        </div>
                      </td>
                    </ng-container>
                  </ng-container>
                </ng-container>

              </ng-container>

            </ng-container>

          </ng-container>

          <tr cdk-header-row *cdkHeaderRowDef="columnsList; sticky: true"></tr>
          <tr [style.background]="row['color']" cdk-row *cdkRowDef="let row; columns: columnsList;"></tr>

        </table>
      </div>

      <div  *ngIf="isLoading.getValue();">
        <div class="min-full-width min-full-height" fxLayoutAlign="center center" style="height: 45vh;">
          <mat-progress-spinner
            color="primary"
            mode="indeterminate">
          </mat-progress-spinner>
        </div>
      </div>



    </wid-scrollbar>
  <ng-template  [ngIf]="!!tableData.getValue()?.results && !!offset && (!!(totalCountedItems || countedItems) && !!totalItems)"  [ngIfElse]="loading">
  <div class="data-table-pagination" fxLayout="row"  style="padding: 10px !important;" fxLayoutAlign="space-between flex-end">
    <div fxLayout="column" fxFlex="25" fxLayoutAlign="center">
      <div fxLayout="row" fxLayoutAlign="space-around center">

        <span fxLayoutAlign="center center" class="black-three font-size-12">
          {{ offset }} - {{ totalCountedItems || countedItems }} of {{ totalItems }}
        </span>

        <button
          mat-stroked-button
          fxLayoutAlign="center center" class="next-previous-page bg-white-two black-three font-size-12"
          [disabled] = "offset <= limit"
          (click)="getItemsPerPage('first-page')"
        >
          <span class="material-icons-outlined font-size-16">first_page</span>
        </button>
        <button
          mat-stroked-button
          fxLayoutAlign="center center" class="next-previous-page bg-white-two black-three font-size-12"
          [disabled] = "offset <= limit"
          (click)="getItemsPerPage('previous-page')"
        >
          <span class="material-icons-outlined font-size-16">navigate_before</span>
        </button>

        <ng-container *ngFor="let pageNumber of nbrPages">
          <button
            mat-stroked-button
            fxLayoutAlign="center center" class="next-previous-page font-size-12"
            [ngClass] = "pageNumber === currentPage ? 'bg-topaz white'
                                                  : 'bg-white-two black-three'"
            (click)="getItemsPerPage('specific-page', pageNumber)"
          >
            <span>{{ pageNumber }}</span>
          </button>
        </ng-container>

        <button
          mat-stroked-button
          fxLayoutAlign="center center" class="next-previous-page bg-white-two black-three font-size-12"
          [disabled] = "(totalCountedItems || countedItems) >= totalItems"
          (click)="getItemsPerPage('next-page')"
        >

          <span class="material-icons-outlined font-size-16">navigate_next</span>
        </button>
        <button
          mat-stroked-button
          fxLayoutAlign="center center" class="next-previous-page bg-white-two black-three font-size-12"
          [disabled] = "(totalCountedItems || countedItems) >= totalItems"
          (click)="getItemsPerPage('last-page')"
        >
          <span class="material-icons-outlined font-size-16">last_page</span>
        </button>

      </div>

    </div>
    <div fxLayout="column" fxFlex="20">
      <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
        <div fxLayout="column" fxFlex="100px" fxLayoutAlign="center center">
          <mat-label class="black font-size-10" >
            Items per page:
          </mat-label>
        </div>
        <div fxLayout="column" fxFlex="50px" fxLayoutAlign="center center">
          <mat-form-field class="mat-form-field-no-padding font-size-10 select-paginator" appearance="outline">
            <mat-select [placeholder]=" 'addpaymentmethod.language' | translate | capitalizeFirstLetter" disableOptionCentering [formControl]="itemsPerPageControl">
              <mat-option *ngFor="let v of itemsPerPage" [value]="v">
                {{v}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


      </div>

    </div>
  </div>
  </ng-template>
  <ng-template #loading >
  </ng-template>
</div>

  </div>
