<div class="dynamic-component-container border-radius-20" fxLayout="column" fxFlex="100">
  <div fxLayout="row" fxFlex="14" fxLayoutAlign="space-around center">
      <div fxLayout="column" fxFlex="56">
        <h1 class="steel font-size-24 font-medium" >{{ header.title }}</h1>
      </div>
      <div fxLayout="column" fxFlex="15" fxLayoutAlign="center end" class="font-size-25 steel">
        <button [disableControl]="{'feature':'SOURCING_ACCESS'}" mat-raised-button  class="btn-medium bg-cerulean-blue" routerLink="{{ header.addActionURL }}">
          <mat-icon class="icon material-icons-outlined"  svgIcon="wi_add_user">
          </mat-icon>
          &nbsp;
          <span class="white font-size-15 font-normal">{{ header.addActionText }}</span>
        </button>
      </div>
  </div>
  <div fxLayout="row" fxFlex="1" fxLayoutAlign="space-around center">
    <mat-divider [ngStyle]="{ 'width': '90%', borderTopWidth: '2px' }"></mat-divider>
  </div>
  <div fxLayout="row" fxFlex="14" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxFlex="55" fxLayoutAlign="space-around center">
          <div fxLayout="row" fxFlex="80" fxLayoutGap="20px">
            <mat-form-field class="data-table-search-bar" [style]="{'width': '80%', 'height': '80%', 'fontSize': '5px'}" appearance="outline">
              <input matInput type="search" placeholder="Search ..." class="font-extra-light font-size-12">
              <span matPrefix class="absolute mat-icon-btn"><img src="assets/icons/Iconly_Light_Search.svg"></span>
            </mat-form-field>
            <button mat-stroked-button  [style]="{'width': '10%', 'height': '80%'}" (click)="displayTableConfig()">
              <mat-icon svgIcon="wi_adjustments" class="icon material-icons-outlined steel"></mat-icon>
            </button>
            <button mat-stroked-button  [style]="{'width': '10%', 'height': '80%'}" >
              <mat-icon svgIcon="wi_filter" class="icon material-icons-outlined steel"></mat-icon>
            </button>
            <button mat-stroked-button  [style]="{'width': '10%', 'height': '80%'}">
              <span class="cool-grey">Run</span>
            </button>
            <button mat-stroked-button  [style]="{'width': '10%', 'height': '80%'}" >
              <span class="cool-grey">Save</span>
            </button>
          </div>
      </div>
    <div fxLayout="row" fxFlex="30" fxLayoutAlign="space-evenly center">
      <div fxLayout="row" fxFlex="35">
        <button mat-raised-button  class="btn-small bg-topaz">
          <span class="white">Export</span>
        </button>
      </div>
      <div fxLayout="row" fxFlex="35">
        <button mat-raised-button  class="btn-small bg-topaz">
          <span class="white">Import</span>
        </button>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxFlex="71" fxLayoutAlign="space-around">

    <wid-scrollbar class="dynamic-data-table-content" style="width: 100%">

      <mat-card *ngIf="isLoading.getValue()" fxFlex="100" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner
          color="primary"
          mode="indeterminate">
        </mat-progress-spinner>
      </mat-card>

      <table cdk-table *ngIf="isLoading.getValue() === false" [style]="{'width': '100%'}" [dataSource]="dataSource" [trackBy]="identify" >

        <ng-container *ngFor="let col of columns;" >

            <ng-container [ngSwitch]="col.type">

              <ng-container *ngSwitchCase="'rowItem'">

                <ng-container cdkColumnDef="{{ col.prop }}" [sticky]="true">
                    <th cdk-header-cell
                      *cdkHeaderCellDef class="steel font-size-14 font-semi-bold"> {{ col.name }}
                    </th>
                    <td cdk-cell
                      *cdkCellDef="let row" class="black-three font-size-12 font-light">
                      <mat-icon class="icon material-icons-outlined steel" svgIcon="wi_row_polygon"></mat-icon>
                    </td>

                </ng-container>

              </ng-container>

              <ng-container *ngSwitchCase="'Actions'">

                <ng-container cdkColumnDef="{{ col.prop }}" [stickyEnd]="true">

                    <th cdk-header-cell
                      *cdkHeaderCellDef class="steel font-size-14 font-semi-bold"> {{ col.name }}
                    </th>
                    <td cdk-cell
                      *cdkCellDef="let row" class="black-three font-size-12 font-light">
                      <div fxLayout="row"
                           fxFlex
                           fxLayoutAlign="center">
                        <button mat-icon-button (click)="actionRowData('update', row)">
                          <mat-icon class="icon material-icons-outlined steel" svgIcon="wi-marker"></mat-icon>
                        </button>
                        <button mat-icon-button (click)="actionRowData('delete', row)">
                          <mat-icon  class="icon material-icons-outlined steel" svgIcon="wi_user"></mat-icon>
                        </button>
                        <button mat-icon-button (click)="actionRowData('show', row)">
                          <mat-icon class="icon material-icons-outlined steel" svgIcon="wi-eye"></mat-icon>
                        </button>

                      </div>
                    </td>

                </ng-container>

              </ng-container>

              <ng-container *ngSwitchDefault >

                <ng-container cdkColumnDef="{{ col.prop }}">
                  <th cdk-header-cell
                    *cdkHeaderCellDef class="steel font-size-14 font-semi-bold"> {{ col.name }}
                  </th>
                  <ng-container [ngSwitch]="col.type">
                    <ng-container *ngSwitchCase="'date'">
                      <td cdk-cell
                        *cdkCellDef="let row" class="black-three font-size-12 font-light"> {{ row[col.prop] | date:'short' }}
                      </td>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      <td cdk-cell
                        *cdkCellDef="let row" class="black-three font-size-12 font-light"> {{ row[col.prop] | spliceText: 40 }}
                      </td>
                    </ng-container>
                  </ng-container>
                </ng-container>

              </ng-container>

            </ng-container>

        </ng-container>

        <tr cdk-header-row *cdkHeaderRowDef="columnsList; sticky: true"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: columnsList;"></tr>

      </table>



    </wid-scrollbar>

  </div>
</div>
