<wid-dialog-invite [tableColumns] = "tableColumns"
                   [data] = "data.listCandidates"
                   [sortColumn]="'language_id'"
                   [title]="'Invite candidate'"
                   [titleAddButton] ="'Add candidate'"
                   [buttonLeft] = "{'background':'#f3f6f9', color: 'black',title: 'Cancel' }"
                   [buttonRight] = "{'background':'#0067e0', color: 'white',title: 'Invite' }"
                   [specificData] = '{component:"inviteCollaborator", params:expiredDay}'
                   (AddButton)="addCandidate()"
                   (cancelButton)="cancel()"
                   (inviteButton) = sendMail($event)
                    >
</wid-dialog-invite>

