<wid-dynamic-data-table
  [tableData]="ELEMENT_DATA"
  [tableCode]="'TIMESHEET'"
  [isLoading]="isLoading"
  [header]="{ title: 'timesheet-manag' | translate }"
  (rowActionData)="switchAction($event)"
  [allowedActions]="[
  {name: 'Approve', feature: 'TIMESHEET_ACCESS'},
  {name: 'Reject', feature: 'TIMESHEET_ACCESS'},
  {name: 'Delete', feature: 'TIMESHEET_ACCESS'}]"
  [buttonAdd]="false"
  (pagination)="loadMoreItems($event)"
  [setAvatar]="{columnCode:'profile', imgSrc: 'photo' }"
>
</wid-dynamic-data-table>
