<div  fxLayout="column" fxLayoutAlign="start start" class="full-height full-width overflow-hidden">
  <wid-scrollbar  class="full-width loaded">
  <wid-confirm-list
    fxFlex class="full-width"
    [DATA]="selectedFiles"
    [title]="'invoice.import.title'"
    [selectAllBtn]="true"
    [btnLabel]="'Associate'"
    [requiredFields]="['no', 'client', 'status', 'remark']"
    [message]="{ field: 'no', message: 'invoice.message.import' | translate | capitalizeFirstLetter }"
    (action)="associate($event)"
    (dialogAction)="modalActions($event)"
  ></wid-confirm-list>
    </wid-scrollbar>
</div>
