/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/variables.scss";
@import "./assets/styles/side-nav.scss";
@import "./assets/styles/data-table.scss";
@import "./assets/styles/app";
@import "assets/styles/auth-style";
// data table styles
@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/material.scss";
@import "~@swimlane/ngx-datatable/themes/dark.scss";
@import "~@swimlane/ngx-datatable/assets/icons.css";
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $bodyFont;
}

wid-root:empty::after {
  content: "Loading...";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%);
}

.page-container {
  margin: 0px 30px;
  height: 100%;
}

$custom-typography: mat-typography-config(
  $font-family: 'Poppins'
);
@include mat-core($custom-typography);
