/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/styles/variables.scss";
@import "./assets/styles/style-font";
@import "./assets/styles/main.scss";
@import "./assets/styles/side-nav.scss";
@import "./assets/auth-style/auth";
@import "./assets/styles/data-table.scss";
// data table styles
@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/material.scss";
@import "~@swimlane/ngx-datatable/themes/dark.scss";
@import "~@swimlane/ngx-datatable/assets/icons.css";
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $body-font !important;
}

wid-root:empty::after {
  content: "Loading...";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%);
}

.page-container {
  margin: 0px 30px;
  height: 100%;
}
