/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/variables.scss";
@import "./assets/styles/side-nav.scss";
@import "./assets/styles/data-table.scss";
@import "./assets/styles/app.scss";
@import "./assets/styles/button.scss";
@import "./assets/styles/functions.scss";
@import "./assets/styles/responsive.scss";
@import "./assets/styles/auth-style.scss";
@import "./assets/styles/stepper.scss";
@import "./assets/styles/header";
@import "./assets/styles/spinner";
@import "./assets/styles/snack-bar";
@import "./assets/styles/themes/themes";
// data table styles
@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/material.scss";
@import "~@swimlane/ngx-datatable/themes/dark.scss";
@import "~@swimlane/ngx-datatable/assets/icons.css";
@import "./assets/styles/profileImage";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $bodyFont;
}


.page-container {
  margin: 0 30px;
  height: 100%;
}
$custom-typography: mat-typography-config(
  $font-family: 'Poppins'
);
@include mat-core($custom-typography);
