/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/variables.scss";
@import "./assets/styles/side-nav.scss";
@import "./assets/styles/data-table.scss";
@import "./assets/styles/app.scss";
@import "./assets/styles/button.scss";
@import "./assets/styles/functions.scss";
@import "./assets/styles/responsive.scss";
@import "./assets/styles/auth-style.scss";
@import "./assets/styles/stepper.scss";
@import "./assets/styles/header";
@import "./assets/styles/spinner";
// data table styles
@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/material.scss";
@import "~@swimlane/ngx-datatable/themes/dark.scss";
@import "~@swimlane/ngx-datatable/assets/icons.css";
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $bodyFont;
}

wid-root:empty::after {
  content: "Loading...";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%);
}

.page-container {
  margin: 0px 30px;
  height: 100%;
}

$custom-typography: mat-typography-config(
  $font-family: 'Poppins'
);
@include mat-core($custom-typography);


@import '~@angular/material/theming';

/*Material Theme Colors*/

$primary: mat-palette($mat-blue, 600);
$accent: mat-palette($mat-indigo, 500);
$warn: mat-palette($mat-pink, 500);
$theme: mat-light-theme($primary, $accent, $warn);
$background: map-get($theme, background);
$foreground: map-get($theme, foreground);

.bg-theme{
  background-color: $cerulean-blue !important;
}
// Default Theme
@include angular-material-theme($theme);

@include mat-core($custom-typography);

// Green Theme

.green {
  @import '../src/assets/styles/themes/green';
  @include angular-material-theme($green-app-theme);
}
// Black Theme

.blackYellow {
  @import 'assets/styles/themes/black-yellow';
  @include angular-material-theme($black-app-theme);
}
.blacGreen{
  @import 'assets/styles/themes/black-green';
  @include angular-material-theme($black-app-theme);
}
.blueBerry{
  @import '../src/assets/styles/themes/blueberry';
  @include angular-material-theme($black-app-theme);
}
.cobalt{
  @import '../src/assets/styles/themes/cobalt';
  @include angular-material-theme($black-app-theme);
}
.darkishBlue{
  @import '../src/assets/styles/themes/darkish-blue';
  @include angular-material-theme($black-app-theme);
}
.everGreen{
  @import '../src/assets/styles/themes/evergreen';
  @include angular-material-theme($black-app-theme);
}
.greenBlue{
  @import '../src/assets/styles/themes/green-blue';
  @include angular-material-theme($black-app-theme);
}
.lighterPurple{
  @import '../src/assets/styles/themes/lighter-purple';
  @include angular-material-theme($black-app-theme);
}
.mango{
  @import '../src/assets/styles/themes/mango';
  @include angular-material-theme($black-app-theme);
}
.whiteGreen{
  @import '../src/assets/styles/themes/white-green';
  @include angular-material-theme($black-app-theme);
}
.whiteOrange{
  @import '../src/assets/styles/themes/white-orange';
  @include angular-material-theme($black-app-theme);
}
.whiteRed{
  @import '../src/assets/styles/themes/white-red';
  @include angular-material-theme($black-app-theme);
}
