/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/variables.scss";
@import "./assets/styles/style-font";
@import "./assets/styles/main.scss";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: $body-font !important;
}

@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
