<div class="dynamic-component-container border-radius-20" fxLayout="column" fxFlex="100">
  <div fxLayout="row" fxFlex="10" fxLayoutAlign="space-around center">
    <div fxLayout="column" fxFlex="56">
      <h1 class="steel font-size-24 font-medium">Resume</h1>
    </div>
    <div fxLayout="column" fxFlex="15" fxLayoutAlign="center end" class="font-size-25 steel">
      <button mat-raised-button class="btn-small bg-pale-grey" routerLink="/manager/settings/bloc-question/">
        <mat-icon class="icon material-icons-outlined" svgIcon="wi_arrow_back">
        </mat-icon>
        <span class="cool-grey">back</span>
      </button>
    </div>
  </div>
  <div fxLayout="row" fxFlex="2" fxLayoutAlign="space-around center">
    <mat-divider [ngStyle]="{ 'width': '90%', borderTopWidth: '2px' }"></mat-divider>
  </div>
  <div fxLayout="row" fxFlex="88" fxLayoutAlign="center">
    <div fxLayout="column" fxFlexFill>
      <div fxLayout="row" fxFlex="4" fxLayoutAlign="space-around center ">
      </div>
      <wid-scrollbar fxFlex="80" class="full-width" fxLayout="row">
        <div fxLayout="column" fxFlexFill fxLayoutGap="10px">
          <form [formGroup]="sendUpdateBloc" fxLayout="row" fxFlex="100" style="justify-content: space-around">
            <div fxLayout="column" fxFlex="82" >
              <div fxLayout="row"  class="full-width">
                <div fxLayout="column" fxFlex="60">
                  <mat-label class="black font-size-12 required">
                    Bloc Question title:
                  </mat-label>
                  <mat-form-field appearance="outline" class="full-width">
                    <input formControlName="test_question_bloc_title" matInput placeholder="Bloc title" required>
                    <mat-error class="red" *ngIf="sendUpdateBloc.controls.test_question_bloc_title.errors?.required">
                      {{ 'general.required' | translate }}</mat-error>
                    <mat-error class="red" *ngIf="sendUpdateBloc.controls.test_question_bloc_title.errors?.pattern">
                      Numbers not allowed</mat-error>
                  </mat-form-field>
                  <mat-label class="black font-size-12 required">
                    Technologies:
                  </mat-label>
                  <mat-form-field appearance="outline">
                    <mat-select  formControlName="test_technology_code" disableOptionCentering panelClass="panelColor"
                                 placeholder="Technology" disabled>
                      <ng-container *ngFor="let v of TechList">
                        <mat-option [value]="v.code">{{v.title}}</mat-option>
                      </ng-container>
                    </mat-select>
                    <mat-error class="red" *ngIf="sendUpdateBloc.controls.test_technology_code.errors?.required">
                      Please select an item in the list</mat-error>
                  </mat-form-field>
                  <mat-label class="black font-size-12 required">
                    Questions total Numbers:
                  </mat-label>
                  <mat-form-field appearance="outline" class="full-width">
                    <input   matInput  formControlName="question_nbr" type="number"  placeholder="Questions total Number" >
                    <mat-error class="red" *ngIf="sendUpdateBloc.controls.question_nbr.errors?.required">
                      {{ 'general.required' | translate }}</mat-error>
                    <mat-error class="red" *ngIf="sendUpdateBloc.controls.question_nbr.errors?.pattern">
                      Select a number between 1 and 100</mat-error>
                  </mat-form-field>
                  <mat-label class="black font-size-12 ">
                    Description:
                  </mat-label>
                  <mat-form-field appearance="outline">
                              <textarea matInput placeholder="Description" rows="4"
                                        formControlName="test_question_bloc_desc" ></textarea>
                  </mat-form-field>

                </div>
              </div>

            </div>
          </form>
        </div>
      </wid-scrollbar>
      <div fxLayout="row" fxFlex="10" fxLayoutAlign="center ">
        <div fxLayout="column" fxFlex="75" fxLayoutAlign=" end" [style]="{ minHeight: '139px'}">
          <button mat-raised-button class="btn-medium bg-pale-grey" routerLink="/manager/settings/bloc-question/">
            <span class="cool-grey">Cancel</span>
          </button>
        </div>
        <div fxLayout="column" fxFlex="20" fxLayoutAlign=" center" [style]="{ minHeight: '139px'}">
          <button mat-raised-button type="submit" color="primary" class="white  btn-medium" [disabled]="sendUpdateBloc.invalid" [style]="{marginRight: '4%'}"
                  (click)="UpdateBlocQuestion()">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
