@import "./functions.scss";

/*******************
   Global Styles
*******************/
* {
    outline: none;
    box-sizing:border-box;
}

body {
    overflow-x: hidden;
    // color: $bodytext;
    // font-weight: 300;
    background: $pale-grey;
}

html {
    position: relative;
    min-height: 100%;
    // background: $white;
}
a{
    cursor: pointer;
}
a:hover, a:focus, a{
    text-decoration: none;
}
a.link{
    color:$headingtext;
    text-decoration: none;
    &:hover, &:focus{
        color:$themecolor;
    }
}
.img-responsive{
    width: 100%;
    height: auto;
    display: inline-block;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.img-rounded{
    border-radius: $img-rounded;
}
html body .mdi:before, html body .mdi-set{
    line-height: initial;
}
code {
    padding: .2rem .4rem;
    font-size: 90%;
    color: $danger;
    background-color: $light-danger;
    border-radius: .25rem;
}

.shadow-none{
    box-shadow: none!important;
}
.ml-auto{
    margin-left: auto;
}
.m-auto{
    margin: auto;
}
.mr-auto{
    margin-right: auto;
}
.rounded{
    border-radius: $radius;
}

/*******************
Headings
*******************/
h1,
h2,
h3,
h4,
h5,
h6 {

    font-family: $headingFont;
}

h1 {
    line-height: 1.5;
    font-size: 38px;
    font-weight: normal;
}

h2 {
    line-height: 0.96;
    font-size: 28px;
    font-weight: 600;
}

h3 {
    line-height: 1.5;
    font-size: 28px;
    font-weight: normal;
}

h4 {
    line-height: 1.46;
    font-size: 24px;
    font-weight: 500;
}

h5 {
    line-height: 0.53;
    font-size: 19px;
    font-weight: 300;
}

h6 {
    line-height: 16px;
    font-size: 14px;
    font-weight: normal;
}

html, body{
.display-5{
    font-size:3rem;
}
.display-6{
    font-size:36px;
}
}
.box{
    border-radius: $radius;
    padding: 10px;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.d-flex{
    display: flex;
 }
.no-shrink{
    flex-shrink: 0;
}
.oh{
    overflow: hidden;
}

/*******************
Paddings
*******************/
.p-0 {
    padding: 0;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.p-30 {
    padding: 30px;
}

.p-l-0 {
    padding-left: 0;
}

.p-l-10 {
    padding-left: 10px;
}

.p-l-15 {
    padding-left: 15px;
}

.p-l-20 {
    padding-left: 20px;
}
.p-l-65{
    padding-left: 65px;
}

.p-r-0 {
    padding-right: 0;
}

.p-r-10 {
    padding-right: 10px;
}

.p-r-20 {
    padding-right: 20px;
}

.p-r-30 {
    padding-right: 30px;
}

.p-r-40 {
    padding-right: 40px;
}

.p-t-0 {
    padding-top: 0;
}

.p-t-10 {
    padding-top: 10px;
}

.p-t-20 {
    padding-top: 20px;
}

.p-t-30 {
    padding-top: 30px;
}

.p-b-0 {
    padding-bottom: 0;
}

.p-b-5 {
    padding-bottom: 5px;
}

.p-b-10 {
    padding-bottom: 10px;
}

.p-b-20 {
    padding-bottom: 20px;
}

.p-b-30 {
    padding-bottom: 30px;
}

.p-b-40 {
    padding-bottom: 40px;
}

/*******************
      align
*******************/

.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
/*******************
      Radius
*******************/
.border-radius-5{
  border-radius:$border-radius-5;
}
.border-radius-10{
  border-radius: $border-radius-10;
}
.border-radius-15{
  border-radius: $border-radius-15 !important;
}
.border-radius-20{
  border-radius: $border-radius-20;
}
.border-radius-left-5{
  border-radius: $border-radius-5 0 0 $border-radius-5;
}
.border-radius-right-5{
  border-radius: 0 $border-radius-5 $border-radius-5 0;
}
/*******************
      Margin
*******************/
html body {
.m-0 {
    margin: 0;
}

.m-l-5 {
    margin-left: 5px !important;
}

.m-l-10 {
    margin-left: 10px;
}

.m-l-15 {
    margin-left: 15px;
}

.m-l-20 {
    margin-left: 20px;
}

.m-l-30 {
    margin-left: 30px;
}

.m-l-40 {
    margin-left: 40px;
}

.m-r-5 {
    margin-right: 5px;
}

.m-r-10 {
    margin-right: 10px;
}

.m-r-15 {
    margin-right: 15px;
}

.m-r-20 {
    margin-right: 20px;
}

.m-r-30 {
    margin-right: 30px;
}

.m-r-40 {
    margin-right: 40px;
}

.m-t-0 {
    margin-top: 0;
}

.m-t-5 {
    margin-top: 5px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-t-30 {
    margin-top: 30px;
}

.m-t-40 {
    margin-top: 40px;
}

.m-b-0 {
    margin-bottom: 0;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-b-30 {
    margin-bottom: 30px ;
}

.m-b-40 {
    margin-bottom: 40px;
}

/*******************
    font weight
*******************/
.font-bold {
    font-weight: $font-weight-700;
}
.font-semi-bold{
  font-weight: $font-weight-600;
}
.font-normal {
    font-weight: normal;
}
.font-light {
    font-weight: $font-weight-300;
}
.font-extra-light {
  font-weight: $font-weight-200;
}
.font-medium {
    font-weight: $font-weight-500;
}
/*******************
    font size
*******************/
.font-size-9 {
    font-size: 9px;
}
.font-size-10 {
   font-size: 10px;
}
.font-size-12 {
    font-size: 12px;
}
.font-size-14 {
    font-size: 14px !important;
}
.font-size-15 {
  font-size: 15px;
}
.font-size-16 {
    font-size: 16px !important;
}
.font-size-17 {
  font-size: 17px;
}
.font-size-18 {
    font-size: 18px !important;
}
.font-size-19 {
    font-size: 19px;
}
.font-size-20 {
    font-size: 20px;
}
.font-size-25 {
    font-size: 25px;
}
.font-size-38{
  font-size: 38px;
}
}


/*******************
       Line height
*******************/
.line-height-2{
  line-height: 2;
}
.line-height-3{
    line-height: 3;
}
.line-height-4{
  line-height: 4;
}
.line-height-20{
   line-height: 20px !important;
}
/*******************
       colors
*******************/
.pale-grey {
  color: $pale-grey !important;
}
.golden-yellow {
  color: $golden-yellow;
}
.cool-grey {
  color: $cool-grey;
}
.black {
    color: $black;
}
.white {
  color: $white !important;
}
.steel{
  color: $steel;
}
.brownish-grey{
    color: $brownish-grey;
}
.cerulean-blue{
  color: $cerulean-blue !important;
}
.steel{
  color: $steel;
}
.topaz{
  color: $topaz !important;
}
.black-three {
  color: $black-three;
}
.red{
  color: $error-red !important;
}
.steel-two {
  color: $steel-two;
}
/*******************
 background colors
*******************/
.bg-primaryColor {
  background-color: $primaryColor !important;
}
.bg-pale-grey{
  background-color: $pale-grey !important;
}
.bg-topaz{
  background-color: $topaz !important;
}
.bg-cerulean-blue {
  background-color: $cerulean-blue !important;
}
.bg-white{
  background-color: $white !important;
}
.bg-golden-yellow{
  background-color: $golden-yellow !important;
}
.bg-white-two{
  background-color: $white-two !important;
}
.duck-egg-blue {
  background-color: $duck-egg-blue !important;
}
.bg-error-red{
  background-color: $error-red !important;
}
.bg-warning-yellow{
  background-color: $warning-yellow !important;
}
.bg-info-blue{
  background-color: $info-blue !important;
}
.bg-help-blue{
  background-color: $help-blue !important;
}
.bg-dark-grey-blue{
  background-color: $dark-grey-blue;
}
.bg-denim{
  background-color: $denim;
}
/*******************
       logo
*******************/
.b-r-logo {
  height: 60px;
  width: $width-sm;
}
.t-l-logo {
  width: 54px;
}

/*******************
 full-width-height
*******************/
.full-width {
  width: 100%;
}
/*******************
 full-height
*******************/
.full-height {
  height: $height-100 !important;
}
.full-screen-height {
  height: 100vh !important;
}
.min-full-screen-height {
  min-height: 100vh !important;
}
.mat-raised-button{
  box-shadow: none !important;
}
.mat-expansion-panel{
  box-shadow: none !important;
}
.mat-expansion-panel {
  background: inherit !important;
}

.icon-password{
  cursor: pointer;
}

/*******************
    WID-Scrollbar
*******************/
.wrapper {
  resize: both !important;
  height: 400px !important;
  padding: 20px;
}
.dynamic-component-container {
  @include get-page(servicima);
  background-color: $white;
  margin: 20px;
  height: 82vh !important;
}

.dynamic-component-content {
  resize: both !important;
  scroll-behavior: smooth !important;
}
.sidenav-wrapper {
  resize: both !important;
  height: 400px !important;
}
.scrollbar {
  max-width: 100% !important;
  max-height: 100% !important;
  border-radius: 4px !important;
  box-sizing: border-box !important;
}
/*******************
   cursor pointer
*******************/
.cursor-pointer{
  cursor: pointer;
}
/*******************
   Dialog Container Modal
*******************/
.mat-dialog-container {
  border-radius: 20px !important;
}
/*******************
   Close
*******************/
.bg-close {
  width: 15px;
  height: 19px;
  border-radius: 5px;
  background-color: #f2f3f8;
  padding: 1px 3px;
}

.decoration{
  text-decoration: underline;
}

.required:after {
  content:" *";
  color: red;
}

/*******************
   user
*******************/
.container-show{
  height: 95% !important;
}
.container-edit{
  height: 95% !important;
  width: 95%;
}
.container-btn{
  width: 43px;
}
