@import "./functions.scss";

/*******************
   Global Styles
*******************/
* {
    outline: none;
    box-sizing:border-box;
}

body {
    overflow-x: hidden;
    // color: $bodytext;
    // font-weight: 300;
    background: $pale-grey;
}

html {
    position: relative;
    min-height: 100%;
    // background: $white;
}
a{
    cursor: pointer;
}
a:hover, a:focus, a{
    text-decoration: none;
}
a.link{
    color:$headingtext;
    text-decoration: none;
    &:hover, &:focus{
        color:$themecolor;
    }
}
.img-responsive{
    width: 100%;
    height: auto;
    display: inline-block;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.img-rounded{
    border-radius: $img-rounded;
}
html body .mdi:before, html body .mdi-set{
    line-height: initial;
}
code {
    padding: .2rem .4rem;
    font-size: 90%;
    color: $danger;
    background-color: $light-danger;
    border-radius: .25rem;
}

.shadow-none{
    box-shadow: none!important;
}
.ml-auto{
    margin-left: auto;
}
.m-auto{
    margin: auto;
}
.mr-auto{
    margin-right: auto;
}
.rounded{
    border-radius: $radius;
}

/*******************
Headings
*******************/
h1,
h2,
h3,
h4,
h5,
h6 {

    font-family: $headingFont;
}

h1 {
    line-height: 1.5;
    font-size: 38px;
    font-weight: normal;
}

h2 {
    line-height: 0.96;
    font-size: 28px;
    font-weight: 600;
}

h3 {
    line-height: 1.5;
    font-size: 28px;
    font-weight: normal;
}

h4 {
    line-height: 1.46;
    font-size: 24px;
    font-weight: 500;
}

h5 {
    line-height: 0.53;
    font-size: 19px;
    font-weight: 300;
}

h6 {
    line-height: 16px;
    font-size: 14px;
    font-weight: normal;
}

html, body{
.display-5{
    font-size:3rem;
}
.display-6{
    font-size:36px;
}
}
.box{
    border-radius: $radius;
    padding: 10px;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.d-flex{
    display: flex;
 }
.no-shrink{
    flex-shrink: 0;
}
.oh{
    overflow: hidden !important;
}
.overflow-hidden{
  overflow: hidden;
}

/*******************
Paddings
*******************/
.p-0 {
    padding: 0 !important;
}
.p-5 {
  padding: 5px !important;
}

.p-10 {
    padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
    padding: 20px;
}

.p-25 {
  padding: 25px !important;
}

.p-30 {
    padding: 30px;
}

.p-l-0 {
    padding-left: 0;
}
.p-l-5 {
  padding-left: 5px;
}

.p-l-10 {
    padding-left: 10px !important;
}

.p-l-15 {
    padding-left: 15px !important;
}

.p-l-20 {
    padding-left: 20px !important;
}
.p-l-30 {
  padding-left: 30px;
}
.p-l-40 {
  padding-left: 40px;
}
.p-l-65{
    padding-left: 65px;
}

.p-r-0 {
    padding-right: 0;
}

.p-r-10 {
    padding-right: 10px;
}

.p-r-15 {
  padding-right: 15px;
}

.p-r-20 {
    padding-right: 20px;
}

.p-r-25 {
  padding-right: 25px;
}

.p-r-30 {
    padding-right: 30px;
}

.p-r-40 {
    padding-right: 40px;
}

.p-r-65{
  padding-right: 65px;
}


.p-t-0 {
    padding-top: 0 !important;
}

.p-t-5 {
  padding-top: 5px !important;
}

.p-t-10 {
    padding-top: 10px;
}
.p-t-15 {
  padding-top: 15px;
}
.p-t-20 {
    padding-top: 20px;
}
.p-t-25 {
  padding-top: 25px;
}
.p-t-30 {
    padding-top: 30px;
}
.p-b-0 {
    padding-bottom: 0 !important;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.p-b-10 {
    padding-bottom: 10px !important;
}

.p-b-20 {
    padding-bottom: 20px;
}
.p-b-25 {
  padding-bottom: 25px;
}
.p-b-30 {
    padding-bottom: 30px;
}

.p-b-40 {
    padding-bottom: 40px;
}
/*******************
      decoration
*******************/
.underlined{
  text-decoration: underline;
}

/*******************
      align
*******************/

.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
/*******************
      Radius
*******************/
.border-radius-5{
  border-radius:$border-radius-5 !important;
}
.border-radius-10{
  border-radius: $border-radius-10;
}
.border-radius-15{
  border-radius: $border-radius-15 !important;
}
.border-radius-20{
  border-radius: $border-radius-20;
}
.border-radius-left-5{
  border-radius: $border-radius-5 0 0 $border-radius-5;
}
.border-radius-right-5{
  border-radius: 0 $border-radius-5 $border-radius-5 0;
}
.border-radius-bottom-15{
  border-radius: 0 0 $border-radius-15 $border-radius-15 ;
}
.box-shadow{
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05);
}
.border-radius-buttom-15{
  border-radius: 0 0 $border-radius-15 $border-radius-15;
}
.border-radius-top-15{
  border-radius: $border-radius-15 $border-radius-15 0 0;
}
/*******************
      Margin
*******************/
html body {
.m-0 {
    margin: 0 !important;
}

.m-l-5 {
    margin-left: 5px !important;
}

.m-l-10 {
    margin-left: 10px;
}

.m-l-15 {
    margin-left: 15px;
}

.m-l-20 {
    margin-left: 20px;
}

.m-l-30 {
    margin-left: 30px;
}

.m-l-40 {
    margin-left: 40px;
}
.m-l-60 {
  margin-left: 60px;
}
.m-r-5 {
    margin-right: 5px;
}

.m-r-10 {
    margin-right: 10px;
}

.m-r-15 {
    margin-right: 15px !important;
}

.m-r-20 {
    margin-right: 20px;
}

.m-r-30 {
    margin-right: 30px;
}

.m-r-40 {
    margin-right: 40px;
}

.m-t-0 {
    margin-top: 0;
}

.m-t-5 {
    margin-top: 5px;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-t-15 {
    margin-top: 15px;
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-t-25 {
  margin-top: 25px !important;
}

.m-t-30 {
    margin-top: 30px !important;
}

.m-t-35 {
  margin-top: 35px;
}

.m-t-40 {
    margin-top: 40px;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.m-b-5 {
    margin-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.m-b-30 {
    margin-bottom: 30px ;
}

.m-b-40 {
    margin-bottom: 40px;
}
.m-b-50 {
    margin-bottom: 50px;
}
/*******************
    font weight
*******************/
.font-bold {
    font-weight: $font-weight-700;
}
.font-semi-bold{
  font-weight: $font-weight-600;
}
.font-normal {
    font-weight: normal;
}
.font-light {
    font-weight: $font-weight-300;
}
.font-extra-light {
  font-weight: $font-weight-200;
}
.font-medium {
    font-weight: $font-weight-500;
}
/*******************
    font size
*******************/
.font-size-8 {
    font-size: 8px !important;
}
.font-size-9 {
    font-size: 9px;
}
.font-size-23 {
    font-size: 23px
  }
.font-size-10 {
   font-size: 10px !important;
}
.font-size-11 {
  font-size: 11px;
}
.font-size-12 {
    font-size: 12px
}
.font-size-13 {
  font-size: 13px !important;
}
.font-size-14 {
    font-size: 14px !important;
}
.font-size-15 {
  font-size: 15px;
}
.font-size-16 {
    font-size: 16px !important;
}
.font-size-17 {
  font-size: 17px;
}
.font-size-18 {
    font-size: 18px !important;
}
.font-size-19 {
    font-size: 19px;
}
.font-size-20 {
    font-size: 20px;
}
.font-size-24 {
    font-size: 24px;
}
.font-size-25 {
    font-size: 25px;
}
.font-size-28 {
  font-size: 28px;
}
.font-size-38{
  font-size: 38px;
}
}


/*******************
       Line height
*******************/
.line-height-0{
  line-height: 0 !important;
}
.line-height-2{
  line-height: 2;
}
.line-height-3{
    line-height: 3;
}
.line-height-4{
  line-height: 4;
}
.line-height-20{
   line-height: 20px !important;
}
/*******************
       colors
*******************/
.help-blue{
  color: $help-blue !important;
}
.pale-grey {
  color: $pale-grey !important;
}
.golden-yellow {
  color: $golden-yellow;
}
.cool-grey {
  color: $cool-grey;
}
.denim{
  color: $denim !important;
}
.black {
    color: $black;
}
.warm-grey {
  color: $warm-grey;
}
.white {
  color: $white !important;
}
.danger {
  color: $danger !important;
}
.gray {
  color: #707070 !important;
}

.purpley {
 color: $purpley !important;
}

.brownish-grey{
    color: $brownish-grey;
}
.cerulean-blue{
  color: $cerulean-blue !important;
}
.primaryColor {
  color: $primaryColor !important;
}
.steel{
  color: $steel;
}
.topaz{
  color: $topaz !important;
}
.black-three {
  color: $black-three !important;
}
.red{
  color: $error-red !important;
}
.denim{
  color: $denim !important;
}
.steel-two {
  color: $steel-two;
}
.warm-grey {
  color: $warm-grey;
}
.warning-yellow{
  color: $warning-yellow !important;
}
/*******************
 background colors
*******************/
.bg-cool-grey {
  background-color: $cool-grey !important;
}
.bg-light-khaki{
  background-color: $light-khaki !important;
}
.bg-steel {
  background-color: $steel;
}
.bg-primaryColor {
  background-color: $primaryColor !important;
}
.bg-secondaryColor {
  background-color: $secondaryColor !important;
}
.bg-pale-grey{
  background-color: $pale-grey !important;
}
.bg-topaz{
  background-color: $topaz !important;
}
.bg-cerulean-blue {
  background-color: $cerulean-blue !important;
}
.bg-white{
  background-color: $white !important;
}
.bg-golden-yellow{
  background-color: $golden-yellow !important;
}
.bg-white-two{
  background-color: $white-two !important;
}
.duck-egg-blue {
  background-color: $duck-egg-blue !important;
}
.bg-error-red{
  background-color: $error-red !important;
}
.bg-warning-yellow{
  background-color: $warning-yellow !important;
}
.bg-warning-yellow-two{
  background-color: $warning-yellow-two !important;
}
.bg-info-blue{
  background-color: $info-blue !important;
}
.bg-help-blue{
  background-color: $help-blue !important;
}
.bg-dark-grey-blue{
  background-color: $dark-grey-blue;
}
.bg-denim{
  background-color: $denim !important;
}
.bg-ocean-blue{
  background-color: $cerulean-blue !important;
}
.bg-pale-gold{
  background-color: $pale-gold !important;
}
.bg-purpley{
  background-color: $purpley !important;
}
.bg-pale-grey-four{
  background-color: $pale-grey-four !important;
}
.bg-pale-grey-two{
  background-color: $pale-grey-two !important;
}
/*******************
    fill colors
*******************/
.fill-golden-yellow{
  fill: $golden-yellow !important;
}
/*******************
       logo
*******************/
.b-r-logo {
  height: 60px;
  width: $width-sm;
}
.t-l-logo {
  width: 54px;
}

/*******************
 full-width-height
*******************/
.width-90{
  width: 90%
}
.full-width {
  width: 100%;
}
.full-screen-width {
  width: $screen-width;
}
/*******************
 full-height
*******************/
.full-height {
  height: $height-100 !important;
}
.full-screen-height {
  height: $screen-height !important;
}
.min-full-screen-height {
  min-height: $screen-height !important;
}

.min-full-width {
  min-width: 100% !important;
}
.min-full-height {
  min-height: 100% !important;
}
.height-50{
  height: 50%;
}
.mat-raised-button{
  box-shadow: none !important;
}
.mat-expansion-panel{
  box-shadow: none !important;
}
.mat-expansion-panel {
  background: inherit !important;
}

.icon-password{
  cursor: pointer;
}

/*******************
    WID-Scrollbar
*******************/
.wrapper {
  resize: both !important;
  height: 400px !important;
  padding: 20px;
}
/*    DYNAMIC COMPONENT   */
.dynamic-component-container  {
  @include get-page(servicima);
  margin: 0 20px 20px;
  height: 79vh !important;
  background-color: $white;
  // margin: 0 25px 0 25px;
  // width: 88vw;
}

/*    Component list Collaborator  */
.list-collaborator-component  {
  @include get-page(servicima);
  margin: 0px 20px 20px;
  height: 81vh !important;
  background-color: $white;
}

.dynamic-component-content {
  resize: both !important;
  scroll-behavior: smooth !important;
}

/*    licence container   */
.licence-container  {
  @include get-page(servicima);
  height: 84vh !important;
}
/* ---------------------- */

/*  SCROLLBAR COMPONENT   */

.sidenav-wrapper {
  resize: both !important;
}
.scrollbar {
  max-width: 100% !important;
  max-height: 100% !important;
  border-radius: 4px !important;
  box-sizing: border-box !important;
}
/* ---------------------- */

/*******************
   cursor pointer
*******************/
.cursor-pointer{
  cursor: pointer;
}
/*******************
   Dialog Container Modal
*******************/
.mat-dialog-container {
  border-radius: 20px !important;
}
/*******************
   Close
*******************/
.bg-close {
  width: 15px;
  height: 19px;
  border-radius: 5px;
  background-color: #f2f3f8;
  padding: 1px 3px;
}

.decoration{
  text-decoration: underline;
}

.required:after {
  content:" *";
  color: red;
}

/*******************
   user
*******************/
.container-show{
  height: 78vh !important;
}
.container-btn{
  width: 43px;
}
.btn-plus{
  height: 17px !important;
  padding: 0 0 !important;
  min-width: 20px !important;
  line-height: 1 !important;
  border-color: $topaz !important;
}
/*******************
   input style
*******************/
.mat-input-element::placeholder{
  color: $cool-grey !important;
}
// mat-input error outline color
.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
  color: $error-red!important;
  opacity: 0.8!important;
}

// mat-label error style
.mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: $error-red!important;
}
.mat-error{
  color: $error-red !important;
}

  /*******************
     Bottom Sheet
  *******************/
.bottom-sheet {
  border-top-left-radius: 25px !important;
  border-top-right-radius: 24px !important;
  padding: 0 !important;
  height: 500px !important;
}
wid-upload-sheet {
  min-height: 100% !important;
}
/******************/

.data-table-pagination {
  .mat-form-field-no-padding .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }
  //input outline color
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: $cool-grey;
  }
  /* Font color */
  input.mat-input-element {
    color: $cool-grey;
  }

  .next-previous-page {
    border-radius: 3px;
    padding: 0 0 !important;
    min-width: 20px !important;
    height: 20px;
  }
  .next-previous-page:disabled {
    border: 0;
    opacity: 0.5;
  }
}


.border {
  border: solid 2px $pale-grey;
}
.border-0{
  border: 0 !important;
}
.border-pale-gray-four {
  border: solid 1px $pale-grey-four;
}

.border-cool-gray {
  border: solid 2px $cool-grey !important;
}

.max-with-48 {
  max-width: 48%;
}

.height-30 {
  height: 30px;
}

.btn-close {
  min-width: 21px !important;
  line-height: 0 !important;
  height: 21px !important;
  width: 21px !important;
  padding: 0 !important;

  mat-icon {
    width: 10px;
    height: 10px;
  }

}
.close-container {
  border: none;
  min-width: 21px;
  min-height: 21px;
  border-radius: 5px;
  background-color: $pale-grey-three;
}


::ng-deep .mat-form-field-appearance-outline:is(.mat-form-field-disabled)  .mat-form-field-outline-start  {
  background: #e8f1f9 !important;
}
::ng-deep  .mat-form-field-appearance-outline:is(.mat-form-field-disabled)   .mat-form-field-outline-end {
  background: #e8f1f9 !important;
}
.mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-outline {
  opacity: 0;
  transition: opacity .6s cubic-bezier(.25,.8,.25,1);
}
::ng-deep  .mat-form-field-outline-start,
::ng-deep  .mat-form-field-outline-end {
  border-width: 2px !important;
  color: #afb1b8 !important;
;
}
::ng-deep .header .mat-form-field-outline-start {
  border-radius: 4px 0 0 4px !important;
  min-width: 4px !important;
}

::ng-deep .header .mat-form-field-outline-end {
  border-radius: 0 4px 4px 0 !important;
}



