@import "functions.scss";
  /* small button */
  .btn-small{
    @include button(25px,$width-sm,$border-radius-10,$cerulean-blue,$white,$font-size-11,0,center)
  }

  /* Meduim */

  .btn-medium {
    @include button(42px,$width-md,$border-radius-15,$cerulean-blue,$pale-grey,$font-size-14,1.5,center)
  }
  /* Large */

  .btn-large{
    @include button(42px,$width-lg,$border-radius-15,$cerulean-blue,$pale-grey,$font-size-14,1.5,center);
  }

  /* X Large */

  .btn-xlarge {
    @include button(42px,$width-xlg,$border-radius-15,$cerulean-blue,$pale-grey,$font-size-14,1.5,center)
  }

  .isClicked{
    background-color: $ocean-blue;
  }

  .mat-icon-btn{
    height: 13px !important;
    width: 13px !important;
    margin-right: 5.7px;
  }

