.wid-header {
  width: auto !important;
  height: 46px !important;
  margin-top: 1vh !important;
  margin-right: 7.7vw !important;
  margin-left: 1.6vw !important;
  border-radius: $border-radius-20 !important;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05) !important;
  padding-right: 0 !important;
  padding-left: 18px !important;

  .buy-btn {
    width: auto !important;
    margin-left: 27px;
    background-color: $golden-yellow !important;
  }

  .search-bar {
    height: $height-100 !important;

    span {
      z-index: 1;
      top: -18.4px;
      left: 11px;
    }

    input {
      padding: 3px 35px !important;
      height: 25px !important;
      width: $width-lg;
      border-radius: $border-radius-15;
    }

  }

  .user-avatar {
    width: 6.1%;
    height: $height-100;
    border-radius: 0 $border-radius-20 $border-radius-20 $border-radius-20;
    margin-right: 0;
    margin-left: 50px;
    cursor: pointer;

    img {
      width: 35px;
      height: 35px;
    }
  }
}




