.wid-header {
  height: 46px !important;
  border-radius: $border-radius-20 !important;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05) !important;
  padding:  0 0 0 16px !important;
  .buy-btn {
    width: auto !important;
  }

  /*******************
    search
  *******************/
  .search-bar {
    span {
      z-index: 1;
      top: -18.4px;
      left: 11px;
    }
    input {
      padding: 3px 35px !important;
      height: 25px !important;
      border-radius: $border-radius-15;
    }
  }

  /*******************
    Avatar
  *******************/
  .user-avatar {
    width: 16%;
    border-radius: 0 $border-radius-20 $border-radius-20 $border-radius-20;
    height: 46px;

    img {
      width: 35px;
      height: 35px;
    }
  }
}

/*******************
  mat-form-field
*******************/
.mat-form-field-underline {
  display: none;
}
.mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0 !important;
}

