/*

!********************************************************!
!* input value *!
!********************************************************!
.wid-Value-input {
  @include font(
    18px,
    contain,
    $RegularFamily,
    18px,
    normal,
    normal,
    normal,
    normal,
    normal,
    left,
    $accentColorAuth,
    57px
  );
  cursor: pointer;
}

!********************************************************!
!*  value button  *!
!********************************************************!
.wid-Value-button {
  @include font(
    auto,
    $object-fit,
    $RegularFamily,
    15px,
    $font-weight,
    $font-stretch,
    $font-style,
    1.4,
    $letter-normal,
    center,
    $lightColorAuth,
    auto
  );
  padding-left: 1px !important ;
  padding-right: 1px !important ;
}

!********************************************************!
!*  background button  *!
!********************************************************!
.wid-background-button {
  height: 38px;
  width: 90%;
  background-image: linear-gradient(to top, #86b8d1, #2f7ca3);
  color: $lightColorAuth;
  object-fit: contain;
}

!********************************************************!
!*  back button  *!
!********************************************************!
.wid-back-button {
  width: 100%;
  height: 36px;
  border: #e0e7ff;
  background-color: $lightColorAuth;
  text-align: right;
  color: $primaryColorAuth;
}
.wid-background-button-company {
  width: 20%;
}
!********************************************************!
!*  Scroll bar  *!
!********************************************************!
!* width *!
::-webkit-scrollbar {
  width: 10px;
}

!* Track *!
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

!* Handle *!
::-webkit-scrollbar-thumb {
  background: #888;
}

!* Handle on hover *!
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.errorDuplicated {
  @include label(auto, 14px, 0);
  color: red;
  margin: 19px 0;
}

.icon-password {
  cursor: pointer;
}
*/
