/********************************************************/
/* container */
/********************************************************/
.wid-container {
  height: 402px;
  background-color: $lightColorAuth;
}

/********************************************************/
/* form */
/********************************************************/

.wid-container-form {
  height: 49%;
}

.wid-container-form-login {
  height: 52%;
}

.wid-container-form-register {
  height: 362px;
}

/********************************************************/
/* error */
/********************************************************/
.container-error {
  height: 9px;
}

/********************************************************/
/* mat-form-field */
/********************************************************/
.mat-form-field {
  font-size: 9px;
  flex-grow: 1;
}

/********************************************************/
/* container mat form field */
/********************************************************/
.wid-form {
  display: flex;
  padding-top: 6px;
}
/********************************************************/
/* mat-input error outline color*/
/********************************************************/
.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  background-color: #fce4e4 !important;
  color: red !important ;
}

/********************************************************/
/* input outline color*/
/********************************************************/
.mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #e0e7ff !important;
}

/********************************************************/
/* container form*/
/********************************************************/
.wid-form-class {
  width: 90%;
}
/********************************************************/
/* input value */
/********************************************************/
.wid-Value-input {
  @include font(
    18px,
    contain,
    $RegularFamily,
    18px,
    normal,
    normal,
    normal,
    normal,
    normal,
    left,
    $accentColorAuth,
    57px
  );
  cursor: pointer;
}

/********************************************************/
/*  value button  */
/********************************************************/
.wid-Value-button {
  @include font(
    auto,
    $object-fit,
    $RegularFamily,
    15px,
    $font-weight,
    $font-stretch,
    $font-style,
    1.4,
    $letter-normal,
    center,
    $lightColorAuth,
    auto
  );
padding-left: 1px !important ;
padding-right: 1px !important ;
}


/********************************************************/
/*  background button  */
/********************************************************/
.wid-background-button {
  height: 38px;
  width: 90%;
  background-image: linear-gradient(to top, #86B8D1,  #2F7CA3 );
  color: $lightColorAuth;
  object-fit: contain;
}

/********************************************************/
/*  back button  */
/********************************************************/
.wid-back-button {
  width: 100%;
  height: 36px;
  border: #e0e7ff;
  background-color: $lightColorAuth;
  text-align: right;
  color: $primaryColorAuth;
}
.wid-background-button-company {
  width: 20%;
}

.errorDuplicated {
  @include label(auto, 14px, 0);
  color: red;
  margin: 19px 0;
}

.icon-password {
  cursor: pointer;
}
