/*******************
Imports
*******************/

@import "variables";

wid-sidenav {

  .side-nav-container {
    height: $height-100;
    width: $width-100;
    overflow-x: hidden;

    .icon {
      text-align: center;
      vertical-align: middle;
      color: $pale-grey;
    }

    .active-list-item {
      background-color: $pale-grey;

      span,
      .icon {
        color: $cerulean-blue;

        &:hover {
          color: $cerulean-blue !important;
        }
      }

      &:hover {
        background-color: $pale-grey !important;
      }
    }
  }

  .company-label {
    margin: auto;
    text-align: center;
  }

  .list-item {
    height: 50px !important;
    width: auto !important;
    padding: 0 !important;
    margin-bottom: 10px;
    border-radius: $border-radius-10;

    &:hover {
      background-color: rgba(243, 246, 249, 0.1);
    }

    &:nth-last-child(1) {
      margin-bottom: 0 !important;
    }

    span {
      color: $pale-grey;
      text-transform: capitalize;
      margin-left: 10px;
    }

    mat-panel-title{
      display: flex;
      align-items: center;
      padding: 0 5px;
      margin: 0 auto;
      position: relative;
      height: inherit;
      box-sizing: border-box;
      flex-direction: row;

    }
  }
  .sub-menu-child-item{
    color: $pale-grey !important;
    &:hover{
      font-weight: $font-weight-500;
    }
  }
  .active-sub-menu-child-item{
    font-weight: $font-weight-600 !important;
    color: $golden-yellow !important;
  }

  .mat-icon-button {
    color: $lightColor;
    border-radius: $border-radius-10;
    width: 43px;
    height: 43px;
    position: fixed;
    z-index: 1;
    bottom: 64px;
  }

  .servicima-logo {
    margin-bottom: 12px;
    margin-top: auto;
  }

}
