.dot-elastic {
  margin-bottom: 5px;
  position: relative;
  width: 5px;
  height: 5px;
  border-radius: 2px;
  background-color: white;
  color: white;
  animation: dotElastic 1s infinite ;
}
.dot-elastic::before, .dot-elastic::after {
  content: '';
  position: absolute;
  top: 0;
}
.dot-elastic::before {
  left: -15px;
  width: 5px;
  height: 5px;
  border-radius: 2px;
  background-color: white;
  color: white;
  animation: dotElasticBefore 1s infinite ;
}

.dot-elastic::after {
  left: 15px;
  width: 5px;
  height: 5px;
  border-radius: 2px;
  background-color: white;
  color: white;
  animation: dotElasticAfter 1s infinite ;
}
.dot-elastic-blue {
  margin-bottom: 5px;
  position: relative;
  width: 5px;
  height: 5px;
  border-radius: 2px;
  background-color: #003a9b;
  color: #003a9b;
  animation: dotElastic 1s infinite ;
}
.dot-elastic-blue::before, .dot-elastic-blue::after {
  content: '';
  position: absolute;
  top: 0;
}
.dot-elastic-blue::before {
  left: -15px;
  width: 5px;
  height: 5px;
  border-radius: 2px;
  background-color: #003a9b;
  color: #003a9b;
  animation: dotElasticBefore 1s infinite ;
}

.dot-elastic-blue::after {
  left: 15px;
  width: 5px;
  height: 5px;
  border-radius: 2px;
  background-color: #003a9b;
  color: #003a9b;
  animation: dotElasticAfter 1s infinite ;
}

@keyframes dotElasticBefore {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.5);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 0.9);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dotElastic {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1.5);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dotElasticAfter {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
