$body-font: Montserrat;
$lightColor: #fff;
$primaryColor: #2660aa;
$secondaryColor: #8dde06;
$thirdColor: #ffd800;
$primaryVerticalGradient: linear-gradient(to top, #2660aa, #399fd0);
$primaryHorizontalGradient: linear-gradient(to right, #2660aa, #399fd0);
$secondaryHorizontalGradient: linear-gradient(to top, #4fbd02, #5fc604, #6ece06, #7cd709, #8bdf0d);
$dangerColor: #e72952;

$primaryColorAuth: #2E384D;
$drakColorAuth: #2E384D;
$lightColorAuth: #fff;
$accentColorAuth: #DE9318;
