$body-font: Montserrat;
$sidebar-icons: #fff ;
$primaryColor:  #2660aa;
$secondaryColor: #8dde06;
$primaryVerticalGradient: linear-gradient(to top, #2660aa, #399fd0);
$primaryHorizontalGradient: linear-gradient(to right, #2660aa, #399fd0);
$dangerColor: #e72952;
$primaryColorAuth: #2E384D;
$drakColorAuth: #2E384D;
$lightColorAuth: #fff;
$accentColorAuth: #DE9318;