// font family, also paste this import into styles.css file.

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

$bodyFont:'Poppins', sans-serif;
$headingFont:'Poppins', sans-serif;

@import '~@angular/material/theming';

/* TO BE DELETED */
$primaryHorizontalGradient: linear-gradient(to right, #2660aa, #399fd0);
$secondaryHorizontalGradient: linear-gradient(to top, #4fbd02, #5fc604, #6ece06, #7cd709, #8bdf0d);
$lightPrimary: #399fd0;
$lightGreyColor: rgba(0, 0, 0, 0.04);

/*Theme Colors*/
$sidebar: #fff;
$sidebar-white: #e5edef;
$sidebar-alt:#f2f6f8;
$bodycolor: #eef5f9;
$headingtext: #455a64;
$bodytext: #67757c;
$sidebar-text: #8f999e;
$sidebar-icons: #99abb4 ;
$light-text: #a6b7bf;
$themecolor: #1e88e5;
$themecolor-alt: #26c6da;
$themecolor-dark: #028ee1;
$black-three: #2b2b2b;
$pale-grey-two: #f9f9fa;
$blue-berry: #492b7c;
$mango: #ffa822;
$darkish-blue: #044389;
$evergreen :#042a2b;
$cobalt: #1a1f7f;
$black-four:#242424;
$green-blue:#00bba3;
$russian-green: #5E8762;
$lighter-purple: #7f40de;
$golden-yellow: #f1c40f;
$lighter-green: #66f966;
$grape-purple: #301551;
$light-navy: #134e6f;
$orange-yellow: #ffad05;
$faded-blue: #5eb1bf;
$sun-yellow: #e3cc25;
$tealish: #1dbcc0;
$blood-orange:#f54d04;
$black-two: #222222;
$light-greenish-blue: #3ad596;
$cherry-red: #f5041e;
$pale-grey-three: #f2f3f8;
$ming: #3C6E71;
$old-burgundy: #422930;
$maize-crayola: #E8C052;
$bdazzled-blue: #235789;
$rich-black: #023C40;
$independence: #3A405A;
  /*bootstrap Color*/
$dangerColor: #fc4b6c;
$danger: #fc4b6c;
$success: #26c6da;
$warning: #ffb22b;
$primary: #7460ee;
$info: #1e88e5;
$inverse: #2f3d4a;
$muted: #99abb4;
$dark: #263238;
$lightColor: #f2f4f8;
$extra-light: #ebf3f5;
$secondary: #727b84;

/*Light colors*/
$light-danger: #f9e7eb;
$light-success: #e8fdf8;
$light-warning: #fff8ec;
$light-primary: #f1effd;
$light-info: #e3f3fd;
$light-inverse: #f6f6f6;
$light-megna: #e0f2f4;
$danger-dark: #e6294b;
$success-dark: #1eacbe;
$warning-dark: #e9ab2e;
$primary-dark: #6352ce;
$info-dark: #028ee1;
$red-dark: #d61f1f;
$inverse-dark: #232a37;
$dark-transparent:rgba(0, 0, 0, 0.05);

/*Normal Color*/
$white: #ffffff;
$red: #fb3a3a;
$yellow: #a0aec4;
$purple: #7460ee;
$blue: #02bec9;
$megna: #00897b;


/* Color Servicima  */
$primaryColor: #0067e0;
$secondaryColor: #1bc5bd;
$thirdColor: #f1c40f;
$cerulean-blue: #0067e0;
$pale-grey: #f3f6f9;
$brownish-grey:#676767;
$topaz: #1bc5bd;
$cool-grey: #afb1b8;
$black: #232323;
$water-blue: #0d66d0;
$error-red: #d24d57;
$warning-yellow: #fad859;
$info-blue: #89caef;
$help-blue: #67809f;
$bright-blue: #0478ff;
$ocean-blue: #0459bc;
$steel: #7b7e8a;
$white-two: #e3e3e3;
$duck-egg-blue: #e0ecfc;
$black-three: #2b2b2b;
$topbar: #2196f3;
$seafoam-blue: #4ec8c3;

/* Margin */
$m-0-auto: 0 auto;
$m-t-30: 30px;

/* Font Size */
$font-size-10: 10px;
$font-size-11: 11px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-17: 17px;
/*Extra Variable*/
$rgt: right;
$lft: left;
$border: rgba(120, 130, 140, 0.13);
$table-border:#f3f1f1;
$card-brd:#d7dfe3;
$dark-text: #848a96;
$radius: 4px;
$img-rounded: 50%;
$form-brd: #d9d9d9;


/* Border radius */
$border-radius-5: 5px;
$border-radius-10: 10px;
$border-radius-15: 15px;
$border-radius-20: 20px;

/* width */
$width-sm: 109px;
$width-md: 158px;
$width-lg: 228px;
$width-xlg: 300px;
$width-100: 100%;

/* height */
$height-100: 100%;

/* weight */
$font-weight-200: 200;
$font-weight-300: 300;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
