<div class="full-height sidenav-wrapper" >
  <wid-scrollbar class="scrollbar">
  <div fxLayout="column" fxFlex="100" fxLayoutAlign="start stretch" fxLayoutGap="15px">
    <div  fxLayout="row" >
      <div fxFlex="15"  fxLayout="column" >
        <div fxLayoutAlign="center start" fxFlexOffset="10">
          <a class="close-btn bg-pale-grey" (click)="toggleSideNav()">
            <mat-icon class="cool-grey">close</mat-icon>
          </a>
        </div>
      </div>
      <div fxFlex="30"  fxLayout="column"  fxLayoutAlign="center start" class="profile-image">
        <img [src]="user['photo'] ? avatar : 'assets/img/default.jpg'" width="80" height="80" class="avatar"
             [ngStyle.xs]="{ 'width.px': 100, 'height.px': 120 }" />
          <div class="progress" *ngIf="loading$ | async"></div>
          <label for="file" class="btn-action">
                <span class="material-icons">
                  edit
                </span>
            <!--Input File accept only image with preview Image-->
            <input style="display: none;" #file type="file" id="file" name="file" (change)="previewFile($event)"
                   accept="image/*" />
            <input type="hidden" name="profile_avatar_remove" />
          </label>
          <div class="btn-cancel" *ngIf="selectedFile.file" >
                  <span class="material-icons" (click)="clearPreview()">
                    close
                  </span>
          </div>
        <div class="btn-validate" *ngIf="selectedFile.file" >
                  <span class="material-icons" (click)="uploadFile()">
                    published_with_changes
                  </span>
        </div>
      </div>
      <div fxFlex="55" fxLayout="column" fxLayoutAlign="center start">
          <span class="brownish-grey font-size-14">{{user.first_name}} {{ user.last_name}}</span>
          <span class="cool-grey font-size-10">{{user.company_email}}</span>
      </div>
    </div>


    <div *ngIf="subMenu.length === 0; else subMenuContainer" fxLayout="column" >
      <ng-container *ngFor=" let menuItem of menu" >
        <ng-container *ngIf=" menuItem.type === 'link';  else subMenuLabel" >
            <a mat-list-item routerLinkActive="active-list-item" *ngIf="menuItem.name === 'Logout';" class="list-item" (click)="logout()" [@iconAnimation]="sidebarState"  >
            <span>
            <mat-icon class="icon material-icons-outlined" [@iconAnimation]="sidebarState" svgIcon="{{menuItem.icon}}">
            </mat-icon>
        </span>
              <span class="font-light font-size-14" [@labelAnimation]="sidebarState">{{menuItem.name | translate }}</span>
            </a>
            <a mat-list-item *ngIf="menuItem.name !== 'Logout';" routerLinkActive="active-list-item"  [routerLink]="['/' + moduleName + menuItem.state]"
               class="list-item" [@iconAnimation]="sidebarState"  >
            <span>
            <mat-icon class="icon material-icons-outlined" [@iconAnimation]="sidebarState" svgIcon="{{menuItem.icon}}">
            </mat-icon>
        </span>
              <span class="font-light font-size-14" [@labelAnimation]="sidebarState">{{menuItem.name | translate }}</span>
            </a>
        </ng-container>
        <ng-template #subMenuLabel >
          <div fxLayout="column" class="cursor-pointer">
          <mat-list-item (click)="toggleSubMenu(menuItem.children, menuItem.state)" class="list-item"
                         [@iconAnimation]="sidebarState">
            <span>
            <mat-icon class="icon material-icons-outlined" [@iconAnimation]="sidebarState"  svgIcon="{{menuItem.icon}}">
            </mat-icon>
              </span>
            <span class="font-light font-size-14" [@labelAnimation]="sidebarState">{{menuItem.name }}</span>
          </mat-list-item>
          </div>
        </ng-template>
      </ng-container>
      <div fxFlex="54" fxLayout="row" fxLayoutAlign="space-around start" fxFlexOffset="5" >
        <div  fxFlex="88" fxLayout="column" fxLayoutAlign="start" fxFlexOffset="2">
          <span class="font-light font-size-19 black-three">Recent Notification</span>
          <mat-nav-list fxLayout="column" fxLayoutAlign="center" fxFlex="20" class="alert-item"  fxFlexOffset="5">
            <span class="font-light font-size-14 black-three m-l-15">Recent Notification</span>
            <a mat-list-item routerLinkActive="active-list-item" [routerLink]="['/manager']">
              <p class="steel font-size-14">new recent notif content</p>
            </a>
          </mat-nav-list>
          <mat-nav-list fxLayout="column" fxLayoutAlign="start" fxFlex="20"  class="alert-item"  fxFlexOffset="5">
            <span class="font-light font-size-14 black-three m-l-15">Recent Notification</span>
            <a mat-list-item routerLinkActive="active-list-item" [routerLink]="['/manager']">
              <p class="steel font-size-14">new recent notif content</p>
            </a>
          </mat-nav-list>
          <mat-nav-list fxLayout="column" fxLayoutAlign="start" fxFlex="20" class="alert-item"  fxFlexOffset="5">
            <span class="font-light font-size-14 black-three m-l-15">Recent Notification</span>
            <a mat-list-item routerLinkActive="active-list-item" [routerLink]="['/manager']">
              <p class="steel font-size-14">new recent notif content</p>
            </a>
          </mat-nav-list>
        </div>
      </div>
    </div>
    </div>
    <!---------------------------------------- sub menu container ------------------------------------------------------------>
    <ng-template #subMenuContainer >
      <div fxLayout="column">
        <mat-list-item class="list-item cursor-pointer" [@iconAnimation]="sidebarState" (click)="closeSubMenu()">
          <span>
          <mat-icon class="icon material-icons-outlined" >arrow_back
          </mat-icon>
            </span>
          <span class="font-light font-size-14" [@labelAnimation]="sidebarState">go back</span>
        </mat-list-item>
        <mat-accordion multi="false" fxLayout="column">
          <ng-container *ngFor=" let subMenuItem of subMenu" >
            <ng-container *ngIf=" parentMenu == 'themes'" >
              <div fxLayout="column"  class="m-l-15" fxLayoutGap="15px" >
              <span class="font-light font-size-19"  [@labelAnimation]="sidebarState">{{parentMenu | titlecase}}:</span>
              <mat-list-item *ngFor="let list of listColor" >
                <div [style.backgroundColor]="list.status ? '#f3f6f9': 'white' ">
                  <mat-checkbox color="warn" [(ngModel)]=list.status (change)="getTheme(list.color)">
                    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100" fxLayoutGap="15px" >
                      <img src="assets/img/{{list.image}}" alt="image">
                      <div>{{list.color}}</div>
                    </div>
                  </mat-checkbox>
                </div>
              </mat-list-item>
              </div>
            </ng-container>
            <ng-container *ngIf=" subMenuItem.type === 'link' && parentMenu != 'themes' ;" >
              <a mat-list-item routerLinkActive="active-list-item" fxLayout="column"
                 [routerLink]="subMenuItem.state === '' ? ['/', moduleName, parentMenu] : ['/', moduleName, parentMenu, subMenuItem.state]"
                 [routerLinkActiveOptions]="{exact: true}"  class="list-item" [@iconAnimation]="sidebarState">
                <span>
                <mat-icon class="icon material-icons-outlined" >
                  {{subMenuItem.icon}}
                </mat-icon>
                  </span>
                <span class="font-light font-size-14" [@labelAnimation]="sidebarState">{{subMenuItem.name }}</span>
              </a>
            </ng-container>
          </ng-container>

        </mat-accordion>
      </div>
    </ng-template>




   <!-- <div fxFlex="90" fxLayout="row" fxLayoutAlign="space-around center" fxFlexOffset="5">
      <div  fxFlex="100" fxLayout="column" fxLayoutAlign="start" fxFlexOffset="2">
        <mat-nav-list>
          <a mat-list-item routerLinkActive="active-list-item" [routerLink]="['/manager']"
             class="list-item">
            <mat-icon class="icon material-icons-outlined" svgIcon="wi_company"></mat-icon>
            <span class="font-light font-size-14">Company profile</span>
          </a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item routerLinkActive="active-list-item" [routerLink]="['/manager']"
             class="list-item">
            <mat-icon class="icon material-icons-outlined" svgIcon="wi_user"></mat-icon>
            <span class="font-light font-size-14">My account</span>
          </a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item routerLinkActive="active-list-item" [routerLink]="['/manager/settings']"
             class="list-item">
            <mat-icon class="icon material-icons-outlined" svgIcon="wi_settings"></mat-icon>
            <span class="font-light font-size-14">Setting</span>
          </a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item routerLinkActive="active-list-item" [routerLink]="['/theme']"
             class="list-item">
            <mat-icon class="icon material-icons-outlined" svgIcon="wi_logout"></mat-icon>
            <span class="font-light font-size-14">Themes</span>
          </a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item routerLinkActive="active-list-item" [routerLink]="['/manager']"
             class="list-item" (click)="logout()">
            <mat-icon class="icon material-icons-outlined" svgIcon="wi_logout"></mat-icon>
            <span class="font-light font-size-14">Logout</span>
          </a>
        </mat-nav-list>
      </div>
    </div> -->

  </wid-scrollbar>
</div>
