<div class="full-height sidenav-wrapper" >
  <wid-scrollbar class="scrollbar">
  <div fxLayout="column" fxFlex="100" fxLayoutAlign="start stretch" >
    <div fxFlex="15" fxLayout="row">
      <div fxFlex="15"  fxLayout="column" >
        <div fxLayoutAlign="center start" fxFlexOffset="10">
          <a class="close-btn bg-pale-grey" (click)="toggleSideNav()">
            <mat-icon class="cool-grey">close</mat-icon>
          </a>
        </div>
      </div>
      <div fxFlex="30"  fxLayout="column"  fxLayoutAlign="center start" class="profile-image">
        <img [src]="user['photo'] ? avatar : 'assets/img/default.jpg'" width="80" height="80" class="avatar"
             [ngStyle.xs]="{ 'width.px': 100, 'height.px': 120 }" />
          <div class="progress" *ngIf="loading$ | async"></div>
          <label for="file" class="btn-action">
                <span class="material-icons">
                  edit
                </span>
            <!--Input File accept only image with preview Image-->
            <input style="display: none;" #file type="file" id="file" name="file" (change)="previewFile($event)"
                   accept="image/*" />
            <input type="hidden" name="profile_avatar_remove" />
          </label>
          <div class="btn-cancel" *ngIf="selectedFile.file" >
                  <span class="material-icons" (click)="clearPreview()">
                    close
                  </span>
          </div>
        <div class="btn-validate" *ngIf="selectedFile.file" >
                  <span class="material-icons" (click)="uploadFile()">
                    published_with_changes
                  </span>
        </div>
      </div>
      <div fxFlex="55" fxLayout="column" fxLayoutAlign="center start">
          <span class="brownish-grey font-size-14">{{user.first_name}} {{ user.last_name}}</span>
          <span class="cool-grey font-size-10">{{user.company_email}}</span>
      </div>
    </div>
    <div fxFlex="31" fxLayout="row" fxLayoutAlign="space-around center" fxFlexOffset="5">
      <div  fxFlex="100" fxLayout="column" fxLayoutAlign="start" fxFlexOffset="2">
        <mat-nav-list>
          <a mat-list-item routerLinkActive="active-list-item" [routerLink]="['/manager']"
             class="list-item">
            <mat-icon class="icon material-icons-outlined" svgIcon="wi_company"></mat-icon>
            <span class="font-light font-size-14">Company profile</span>
          </a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item routerLinkActive="active-list-item" [routerLink]="['/manager']"
             class="list-item">
            <mat-icon class="icon material-icons-outlined" svgIcon="wi_user"></mat-icon>
            <span class="font-light font-size-14">My account</span>
          </a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item routerLinkActive="active-list-item" [routerLink]="['/manager/settings']"
             class="list-item">
            <mat-icon class="icon material-icons-outlined" svgIcon="wi_settings"></mat-icon>
            <span class="font-light font-size-14">Setting</span>
          </a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item routerLinkActive="active-list-item" [routerLink]="['/manager']"
             class="list-item" (click)="logout()">
            <mat-icon class="icon material-icons-outlined" svgIcon="wi_logout"></mat-icon>
            <span class="font-light font-size-14">Logout</span>
          </a>
        </mat-nav-list>
      </div>
    </div>
    <div fxFlex="54" fxLayout="row" fxLayoutAlign="space-around start" fxFlexOffset="5" >
      <div  fxFlex="88" fxLayout="column" fxLayoutAlign="start" fxFlexOffset="2">
        <span class="font-light font-size-19 black-three">Recent Notification</span>
        <mat-nav-list fxLayout="column" fxLayoutAlign="center" fxFlex="20" class="alert-item"  fxFlexOffset="5">
            <span class="font-light font-size-14 black-three m-l-15">Recent Notification</span>
            <a mat-list-item routerLinkActive="active-list-item" [routerLink]="['/manager']">
              <p class="steel font-size-14">new recent notif content</p>
            </a>
          </mat-nav-list>
        <mat-nav-list fxLayout="column" fxLayoutAlign="start" fxFlex="20"  class="alert-item"  fxFlexOffset="5">
            <span class="font-light font-size-14 black-three m-l-15">Recent Notification</span>
            <a mat-list-item routerLinkActive="active-list-item" [routerLink]="['/manager']">
              <p class="steel font-size-14">new recent notif content</p>
            </a>
          </mat-nav-list>
        <mat-nav-list fxLayout="column" fxLayoutAlign="start" fxFlex="20" class="alert-item"  fxFlexOffset="5">
            <span class="font-light font-size-14 black-three m-l-15">Recent Notification</span>
            <a mat-list-item routerLinkActive="active-list-item" [routerLink]="['/manager']">
              <p class="steel font-size-14">new recent notif content</p>
            </a>
          </mat-nav-list>
        </div>
    </div>
  </div>
  </wid-scrollbar>
</div>
