<div class="full-height sidenav-wrapper" >
  <wid-scrollbar class="scrollbar">
  <div fxLayout="column" fxFlex="100" [state]="sidebarState" (clickOutside)="closeMenu()" fxLayoutAlign="start stretch" fxLayoutGap="15px">
    <div  fxLayout="row" >
      <div fxFlex="15"  fxLayout="column" >
        <div fxLayoutAlign="center start" fxFlexOffset="10">
          <a class="close-btn bg-pale-grey" (click)="toggleSideNav()">
            <mat-icon class="cool-grey">close</mat-icon>
          </a>
        </div>
      </div>
      <div fxFlex="30"  fxLayout="column"  fxLayoutAlign="center center" class="profile-image">
        <wid-profile-image [haveImage]="haveImage"  [avatar]="avatar" [modelObject]="user" [singleUpload]="true" [userType]="profileUserType" ></wid-profile-image>
      </div>
      <div fxFlex="55" fxLayout="column" fxLayoutAlign="center start">
          <span class="brownish-grey font-size-14">{{user.first_name | spliceText: 15}} {{ user.last_name | spliceText: 15}} </span>
          <span class="cool-grey font-size-10">{{user.userKey.email_address}}</span>
      </div>
    </div>


    <div *ngIf="subMenu.length === 0; else subMenuContainer" fxLayout="column" >
      <ng-container *ngFor=" let menuItem of menu" >
        <ng-container *ngIf=" menuItem.type === 'link';  else subMenuLabel" >
            <a mat-list-item routerLinkActive="active-list-item" *ngIf="menuItem.name === 'Logout'" class="list-item" (click)="logout()" [@iconAnimation]="sidebarState"  >
            <span>
            <mat-icon class="icon material-icons-outlined" [@iconAnimation]="sidebarState" svgIcon="{{menuItem.icon}}">
            </mat-icon>
        </span>
              <span class="font-light font-size-14" [@labelAnimation]="sidebarState">{{menuItem.name | translate }}</span>
            </a>

          <ng-container *canBeDisplayed="{'feature':menuItem.feature}">
            <a mat-list-item *ngIf="menuItem.name !== 'Logout' && menuItem.name !== 'Themes'" routerLinkActive="active-list-item"  [routerLink]="['/' + moduleName + menuItem.state]"
               class="list-item" [@iconAnimation]="sidebarState" (click)="toggleSideNav()" >
            <span>
            <mat-icon class="icon material-icons-outlined" [@iconAnimation]="sidebarState" svgIcon="{{menuItem.icon}}">
            </mat-icon>
        </span>
              <span class="font-light font-size-14"
                    [@labelAnimation]="sidebarState">{{menuItem.name | translate }}</span>
            </a>
           </ng-container>
          </ng-container>

          <ng-template #subMenuLabel>
            <ng-container *canBeDisplayed="{'feature':menuItem.feature}">
              <a mat-list-item routerLinkActive="active-list-item" *ngIf="menuItem.name === 'Themes' && !hideTheme" (click)="toggleSubMenu(menuItem.children, menuItem.state)"  class="list-item" [@iconAnimation]="sidebarState"  >
            <span>
            <mat-icon class="icon material-icons-outlined" [@iconAnimation]="sidebarState" svgIcon="{{menuItem.icon}}">
            </mat-icon>
        </span>
                <span class="font-light font-size-14" [@labelAnimation]="sidebarState">{{menuItem.name | translate }}</span>
              </a>
            <div fxLayout="column" class="cursor-pointer">
              <mat-list-item *ngIf="menuItem.name !== 'Themes'" (click)="toggleSubMenu(menuItem.children, menuItem.state)" class="list-item"
                             [@iconAnimation]="sidebarState">
            <span>
            <mat-icon class="icon material-icons-outlined" [@iconAnimation]="sidebarState" svgIcon="{{menuItem.icon}}">
            </mat-icon>
              </span>
                <span class="font-light font-size-14" [@labelAnimation]="sidebarState">{{menuItem.name }}</span>
              </mat-list-item>
            </div>
            </ng-container>
          </ng-template>

        </ng-container>

        <div fxFlex="54" fxLayout="row" fxLayoutAlign="space-around start" fxFlexOffset="5">
          <div fxFlex="88" fxLayout="column" fxLayoutAlign="start" fxFlexOffset="2">
            <span class="font-light font-size-19 black-three">Recent Notification</span>
            <mat-nav-list fxLayout="column" fxLayoutAlign="center" fxFlex="20" class="notif-item" fxFlexOffset="5">
              <span class="font-light font-size-14 black-three m-l-15">Recent Notification</span>
              <a mat-list-item routerLinkActive="active-list-item" [routerLink]="['/manager']">
                <p class="steel font-size-14">new recent notif content</p>
              </a>
            </mat-nav-list>
            <mat-nav-list fxLayout="column" fxLayoutAlign="start" fxFlex="20" class="notif-item" fxFlexOffset="5">
              <span class="font-light font-size-14 black-three m-l-15">Recent Notification</span>
              <a mat-list-item routerLinkActive="active-list-item" [routerLink]="['/manager']">
                <p class="steel font-size-14">new recent notif content</p>
              </a>
            </mat-nav-list>
            <mat-nav-list fxLayout="column" fxLayoutAlign="start" fxFlex="20" class="notif-item" fxFlexOffset="5">
              <span class="font-light font-size-14 black-three m-l-15">Recent Notification</span>
              <a mat-list-item routerLinkActive="active-list-item" [routerLink]="['/manager']">
                <p class="steel font-size-14">new recent notif content</p>
              </a>
            </mat-nav-list>
          </div>
        </div>
      </div>
    </div>
    <!---------------------------------------- sub menu container ------------------------------------------------------------>
    <ng-template #subMenuContainer>
      <div fxLayout="column">
        <mat-list-item class="list-item cursor-pointer" [@iconAnimation]="sidebarState" (click)="closeSubMenu()">
          <span>
          <mat-icon class="icon">arrow_back
          </mat-icon>
            </span>
          <span class="font-light font-size-14" [@labelAnimation]="sidebarState">go back</span>
        </mat-list-item>
        <mat-accordion multi="false" fxLayout="column">
          <ng-container *ngFor=" let subMenuItem of subMenu">
            <ng-container *ngIf=" parentMenu == 'themes'">
              <div fxLayout="column" class="m-l-15" fxLayoutGap="15px">
                <span class="font-light font-size-19" [@labelAnimation]="sidebarState">{{parentMenu | titlecase}}
                  :</span>
                <mat-list-item *ngFor="let list of listColor">
                  <div [style.backgroundColor]="list.status ? '#f3f6f9': 'white' ">
                    <mat-checkbox color="warn" [(ngModel)]=list.status (change)="getTheme(list.color)">
                      <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100" fxLayoutGap="15px">
                        <img src="assets/img/{{list.image}}" alt="image">
                        <div>{{list.color}}</div>
                      </div>
                    </mat-checkbox>
                  </div>
                </mat-list-item>
              </div>
            </ng-container>
            <ng-container *ngIf=" subMenuItem.type === 'link' && parentMenu != 'themes' ;">
              <a mat-list-item routerLinkActive="active-list-item" fxLayout="column"
                 [routerLink]="subMenuItem.state === '' ? ['/', moduleName, parentMenu] : ['/', moduleName, parentMenu, subMenuItem.state]"
                 [routerLinkActiveOptions]="{exact: true}" class="list-item" [@iconAnimation]="sidebarState">
                <span>
                <mat-icon class="icon material-icons-outlined">
                  {{subMenuItem.icon}}
                </mat-icon>
                  </span>
                <span class="font-light font-size-14" [@labelAnimation]="sidebarState">{{subMenuItem.name }}</span>
              </a>
            </ng-container>
          </ng-container>

        </mat-accordion>
      </div>
    </ng-template>

  </wid-scrollbar>
</div>
