@import "../../../../assets/styles/variables";
.breadcrumb {
  background: none;
  padding: 0 !important;
  margin: 5vh 1vh 5vh 1.6vw;

  span{
    cursor: pointer;
  }
  a:hover,
  span:hover {
    color: $cerulean-blue;
    text-decoration: none;
  }
  li {
    list-style: none;
    float: left;
  }
  li::after {
    content: "/";
    color: $steel;
  }
  li:last-child::after {
    content: "";
  }

}
