@import "../../../../assets/styles/variables";

  span{
    cursor: pointer;
  }
  span:hover {
    color: $cerulean-blue;
    text-decoration: none;
  }
  li {
    list-style: none;
  }
  li::after {
    content: " > ";
    color: $steel;
  }
  li:last-child::after {
    content: "";
  }
.router-link-active {
  color: $cerulean-blue;
  text-decoration: none;
}

