<div [ngClass]="classColor" *ngIf="isLoading$ | async" >
<mat-sidenav-container>

  <mat-sidenav class="side-nav-container full-height" mode="side" opened="true" [fixedInViewport]="true" [fixedTopGap]=0
               [fixedBottomGap]=0 >
    <ng-container *ngIf="displaySidenavSetting();else sidenav">
      <wid-sidenav-settings fxFill ></wid-sidenav-settings>
    </ng-container>
    <ng-template #sidenav>
      <wid-sidenav fxFill ></wid-sidenav>
    </ng-template>
  </mat-sidenav>

  <mat-sidenav class="right-side-nav-container" position="end" mode="over" [opened]="rightSidebarState" [fixedInViewport]="true" [fixedTopGap]=0
               [fixedBottomGap]=0>
    <wid-right-sidenave></wid-right-sidenave>
  </mat-sidenav>

  <mat-sidenav-content [@mainContent]="displaySidenavSetting() ? 'setting' : sidebarState" class="full-screen-height" fxLayout="column">

    <wid-header fxFlex="5" fxFlexOffset="7px"></wid-header>

    <wid-breadcrumb fxFlex="2"></wid-breadcrumb>

    <div fxFlex="93">
        <router-outlet>
          <wid-splash></wid-splash>
<!--          <wid-dynamic-component
            [menuItems]="menuItems"
            [dynamicForm]="dynamicForm"
            [formData]="d_c_Form"
            (dynamicFormGroup)="submit($event)"
          >
          </wid-dynamic-component>-->
        </router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
</div>
