<div [ngClass]="classColor" *ngIf="isLoading$ | async" >
<mat-sidenav-container>

  <mat-sidenav class="side-nav-container" mode="side" opened="true" [fixedInViewport]="true" [fixedTopGap]=0
               [fixedBottomGap]=0 >
    <ng-container *ngIf="displaySidenavSetting();else sidenav">
      <wid-sidenav-settings fxFlex ></wid-sidenav-settings>
    </ng-container>
    <ng-template #sidenav>
      <wid-sidenav fxFill ></wid-sidenav>
    </ng-template>
  </mat-sidenav>

  <mat-sidenav class="right-side-nav-container" position="end" mode="over" [opened]="rightSidebarState" [fixedInViewport]="true" [fixedTopGap]=0
               [fixedBottomGap]=0>
    <wid-right-sidenave></wid-right-sidenave>
  </mat-sidenav>

  <mat-sidenav-content [@mainContent]="sidebarState" class="full-screen-height" fxFlex fxLayout="column">

    <wid-header fxFlex="5"></wid-header>

    <wid-breadcrumb fxFlex="5"></wid-breadcrumb>

    <div fxFlex="90" class="wrapper">
      <wid-scrollbar class="scrollbar">
        <router-outlet>
          <wid-spinner></wid-spinner>
        </router-outlet>
      </wid-scrollbar>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
</div>
