<div [ngClass]="displayClass()">
<mat-sidenav-container>
  <mat-sidenav class="side-nav-container" mode="side" opened="true" [fixedInViewport]="true" [fixedTopGap]=0
               [fixedBottomGap]=0 autosize="false" >
    <wid-sidenav></wid-sidenav>
  </mat-sidenav>

  <mat-sidenav-content [@onSideNavChange]="sidebarState" fxLayout="column" style="background-color: #f3f6f9;">

    <wid-header></wid-header>

    <wid-breadcrumb fxFlex="4"></wid-breadcrumb>

    <mat-list-item *ngFor="let list of listColor">
      <mat-checkbox color="warn" [(ngModel)]=list.status (change)="getTheme(list.color)" class="text-danger" >
        {{list.color}}</mat-checkbox>
    </mat-list-item>

    <div fxFlex="89">
      <router-outlet>
        <wid-spinner></wid-spinner>
      </router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
</div>
