<div fxLayout="row" fxFlexFill *ngIf="!showExpiringPage && !showCongratulationPage" >
  <div fxLayout="column" fxFlex="95">
    <div fxLayout="row" fxFlex="92" [ngClass]=" disableCopyPaste ? 'noselect' : ''" fxLayoutAlign="center">
      <div fxLayout="column" fxFlex="95" fxLayoutGap="10px">
        <div fxLayout="row" fxFlex="25" fxLayoutGap="10px">
          <div fxLayout="column" fxFlex="66" class="white-bloc">
            <div fxLayout="row" fxFlexFill fxLayoutAlign="center" class="p-t-10 p-b-10">
              <div fxLayout="column" fxFlex="100">
                <div fxLayout="row" fxLayoutAlign="center" fxFlex="13">
                  <button class="transparent-button" [disabled]="durationType === 'time_per_question'"
                    (click)="addIndex()">
                    <div class="triangle-button-arrow-up"></div>
                  </button>
                </div>
                <div fxLayout="row" fxFlex="22" fxLayoutAlign="center center">
                  <span class="font-medium font-size-12 steel opacity-23 text-center"
                    [@questionCurrentToNext]="animationStateNext.toString()"
                    [@questionDisplayNewPrevious]="animationStatePrevious.toString()">{{showQuestion(index - 1)}}</span>
                </div>
                <div fxLayout="row" fxFlex="35" fxLayoutAlign="center center" style="display: block">
                  <span class="font-medium font-size-28 primaryColor text-center"
                    [@questionPreviousToCurrent]="animationStateNext.toString()"
                    [@questionNextToCurrent]="animationStatePrevious.toString()">{{showQuestion(index)}}</span>
                </div>
                <div fxLayout="row" fxFlex="22" fxLayoutAlign="center center">
                  <span [@questionCurrentToPrevious]="animationStatePrevious.toString()"
                    [@questionDisplayNewNext]="animationStateNext.toString()"
                    class="font-medium font-size-12 steel opacity-23 text-center">{{showQuestion(index + 1)}}</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="center" fxFlex="13">
                  <button class="transparent-button" [disabled]="durationType === 'time_per_question'"
                    (click)="reduceIndex()">
                    <div class="triangle-button-arrow-down"></div>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div fxLayout="column" fxFlex="33" class="white-bloc" fxLayoutAlign="center">
            <div fxLayout="row" fxFlex="80">
              <div fxLayout="column" fxFlex="50" fxLayoutAlign="center">
                <div fxLayout="row" fxFlex="90" fxLayoutAlign="center">
                  <div fxLayout="column" fxFlex="50" fxLayoutAlign=" center">
                    <ng-template [ngIf]="timeLeft !== undefined">
                      <svg class="right-to-left-timer" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <g class="structure-circle ">
                          <circle class="gray-ring" cx="50" cy="50" r="45"></circle>

                          <path [attr.stroke-dasharray]="setCircleDasharray()"
                            class="deg-90 {{timeRing}} {{setRemainingPathColor(timeLeft)}}" d=" M 50, 50
                                  m -45, 0
                                  a 45,45 0 1,0 90,0
                                  a 45,45 0 1,0 -90,0
                                "></path>
                        </g>
                      </svg>
                      <div fxLayout="row" class="height-width-10 font-size-23 steel font-medium" fxLayoutAlign="center">
                        <span fxLayoutAlign="center center" style="{{paddingTopMinutes}}">
                          {{formatTimeLeftMinutes(timeLeft)}}.
                        </span>
                        <span style="{{paddingTopSeconds}}" fxLayoutAlign="center center">
                          {{formatTimeLeftSeconds(timeLeft)}}
                        </span>
                      </div>
                      <div fxLayout="row" class="height-width-6" fxLayoutAlign="center end">
                        <span class="font-size-9 font-medium cool-grey">minute</span>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
              <div fxLayout="column" fxFlex="50" class="steel font-size-10 font-medium" fxLayoutAlign="center"
                fxLayoutGap="3px">
                <div fxLayout="row">
                  Answered questions: {{this.answeredQuestions.length}}
                </div>
                <div fxLayout="row" *ngIf="durationType !== 'time_per_question'">
                  Skipped questions: {{this.skippedQuestions.length}}
                </div>
                <div fxLayout="row">
                  Remainder questions: {{this.questionsList.length - this.answeredQuestions.length}}
                </div>
                <div fxLayout="row">
                  Total questions: {{questionsList.length}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row" fxFlex="75">
          <div fxLayout="column" fxFlex="100" class="white-bloc p-l-30 p-t-25 p-b-25" fxLayoutGap="20px">
            <wid-scrollbar fxLayout="row" fxFlex="85">
              <div fxLayout="column" fxFlexFill fxLayoutGap="15px">
                <div fxLayout="row">
                  <div fxLayout="column" fxFlexFill fxLayoutGap="10px">
                    <div fxLayout="row" fxLayoutAlign="center">
                      <div fxLayout="column" fxFlex="60">
                        <span class="font-medium font-size-18 black">Question {{index + 1}}:</span>
                      </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center">
                      <div fxLayout="column" fxFlex="60" class="p-l-10">
                        <span class="font-size-18 font-light black">{{showQuestionDesc(index)}}</span>
                      </div>
                    </div>
                    <div fxLayout="row" *ngIf="code" fxLayoutAlign="center">
                      <div fxLayout="colymn" fxFlex="45">
                        <ngx-monaco-editor [options]="editorOptions" disabled class="noselect"
                          (keydown)="onKeyDown($event)" [(ngModel)]="code" style="min-width: 100%"></ngx-monaco-editor>

                      </div>
                    </div>
                  </div>
                </div>
                <div fxLayout="row">
                  <div fxLayout="column" fxFlexFill>
                    <div fxLayout="row" fxFlexFill fxLayoutAlign="center">
                      <div fxLayout="column" fxFlex="60" fxLayoutAlign="center">
                        <div fxLayout="row" fxFlexFill>
                          <ng-template [ngIf]="choicesList.length === 0">
                            <div class="min-full-width min-full-height" fxLayoutAlign="center center"
                              style="height: 45vh;">
                              <mat-progress-spinner color="primary" mode="indeterminate">
                              </mat-progress-spinner>
                            </div>
                          </ng-template>
                          <ng-template [ngIf]="choicesList.length !== 0">
                            <div fxLayout="column" fxFlex="90" fxLayoutAlign="center"
                              *ngIf="choicesList[index]?.questionType === 'multiple'" fxLayoutGap="10px"
                              class="rounded-check-box">
                              <div fxLayout="row" *ngFor=" let choice of choicesList[index]['choices']"
                                class="bloc-choice "
                                [ngClass]="checkBoxChecked(checkBoxEvent) ? 'bg-pale-grey-four' : ''">
                                <div fxLayout="column" fxFlexFill
                                  [ngClass]="checkBoxChecked(checkBoxEvent) ? 'border-left-secondary' : 'border-left-grey'">
                                  <div fxLayout="row" fxFlexFill>
                                    <div fxLayout="column" fxFlexFill fxLayoutAlign="center" class="p-l-15 ">
                                      <mat-checkbox class="custom-frame font-size-16 black" [disabled]="disableChoices"
                                        [checked]="checkBoxChecked(checkBoxEvent)"
                                        [value]="choice['TestChoicesKey']['test_choices_code']"
                                        (change)="checkBoxChange(checkBoxEvent)" #checkBoxEvent>
                                        {{choice['choice_title']}}
                                      </mat-checkbox>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <mat-radio-group fxLayout="column" fxFlex="90" [value]="checkedChoices[0]"
                              *ngIf="choicesList[index]['questionType'] === 'single'" fxLayoutGap="10px"
                              class="rounded-check-box">
                              <div fxLayout="row" *ngFor=" let choice of choicesList[index]['choices']"
                                class="bloc-choice"
                                [ngClass]="getCheckedChoices(radioButtonEvent.value) ? 'bg-pale-grey-four' : ''">
                                <div fxLayout="column" fxFlexFill fxLayoutAlign="center"
                                  [ngClass]="getCheckedChoices(radioButtonEvent.value) ? 'border-left-secondary' : 'border-left-grey'"
                                  class="p-l-15 ">
                                  <div fxLayout="row" fxFlexFill>
                                    <div fxLayout="column" fxFlexFill fxLayoutAlign="center" class="p-l-15 ">
                                      <mat-radio-button class="custom-frame font-size-16 black"
                                        [value]="choice['TestChoicesKey']['test_choices_code']"
                                        [disabled]="disableChoices" (change)="radioButtonChange(radioButtonEvent)"
                                        #radioButtonEvent> {{choice['choice_title']}}</mat-radio-button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </mat-radio-group>
                          </ng-template>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </wid-scrollbar>
            <div fxLayout="row" fxFlex="15" class="p-r-40">
              <div fxLayout="column" fxFlex="90" fxLayoutAlign="end">
                <ng-template [ngIf]="index > 0 && durationType !== 'time_per_question'">
                  <button mat-raised-button class="btn-small" color="primary"
                    (click)="setAnsweredQuestions(); reduceIndex(); initTimerParams(durationList[index])">
                    <span class="white">Previous</span></button>
                </ng-template>

              </div>
              <div fxLayout="column">
                <div fxLayout="row" fxFlexFill fxLayoutGap="10px">
                  <div fxLayout="column" fxLayoutAlign="end">
                    <ng-template [ngIf]="durationType !== 'time_per_question' && index + 1 < questionsList.length">
                      <button mat-raised-button class="btn-small bg-pale-grey"
                        (click)="setSkippedQuestions(); addIndex(); initTimerParams(durationList[index])">
                        <span class="black">Skip</span>
                      </button>
                    </ng-template>

                  </div>
                  <div fxLayout="column" fxLayoutAlign="end">
                    <ng-template [ngIf]="index + 1 < questionsList.length">
                      <button mat-raised-button class="btn-small" color="primary"
                        [disabled]="checkedChoices.length === 0 && !enableNextButton"
                        (click)="setAnsweredQuestions(); addIndex(); initTimerParams(durationList[index])">
                        <span class="white">Next</span>
                      </button>
                    </ng-template>
                    <ng-template [ngIf]="index + 1 === questionsList.length">
                      <button mat-raised-button class="btn-small" color="primary"
                        [disabled]="checkedChoices.length === 0 && !enableNextButton" (click)=" finishTest(index, 'showCongratulationPage');">
                        <span class="white">Finish</span>
                      </button>
                      <div style="display:none;">
                        <div class="full-height bg-white" id="container-report">
                          <div style=" height: 20%;width: 100%">
                            <table class="bg-cerulean-blue">
                              <tr class="full-width">
                                <td class="full-width">
                                  <div class="report-test">Test
                                    Report</div>
                                </td>
                                <td class="p-t-10"><img src="assets/img/logoServicima.png" alt=""
                                    height="32px" width="27px"> </td>
                                <td class="p-t-10"> <img src="assets/img/logo-title.png" class="m-r-40" alt=""> </td>
                              </tr>
                            </table>
                            <table class="full-width">
                              <tr class="bg-pale-grey">
                                <td style="width: 3%;">
                                  <img src="assets/img/avatar-candidate.png" [width]='20' [height]='20'
                                    class="border-radius-50" alt="image" style="margin-left: 40px;margin-top: 7px;">
                                </td>
                                <td style=" padding-left: 7px;">
                                  <span> Candidate name : {{reportData?.fullName}}</span>
                                </td>
                              </tr>
                            </table>
                            <div class="text-center bg-white">
                             <div *ngIf="minimalScore <= reportData?.correctAnswerPercentage.exact">
                               <img src="assets/img/Test-Success.svg" alt="" height=100px; class="p-t-10">
                               <div class="great-work">Great Work!</div>
                              <div class="font-size-18 font-extra-light">You passed the test with success </div>
                             </div>
                              <div *ngIf="minimalScore > reportData?.correctAnswerPercentage.exact">
                                <img src="assets/img/error-failure-10382.svg" alt="" height=100px; class="p-t-10">
                                <div class="unfortunately"> unfortunately</div>
                                <div class="font-size-18 font-extra-light">You failed the test </div>
                              </div>
                            </div>
                            <table class="full-width bg-white p-15 p-b-5">
                              <tr>
                              </tr>
                              <tr>
                                <td class="bg-pale-grey line-height-2 p-l-30 p-b-15 p-t-15">
                                  <div  class="font-size-15">
                                    <span class="font-medium">Session name:</span> {{reportData?.sessionName}}
                                  </div>
                                  <div  class="font-size-15">
                                    <span class="font-medium">Society:</span> {{reportData?.companyName}}
                                  </div>
                                  <div class="font-size-15">
                                    <span class="font-medium">Experience
                                      required:</span>{{reportData?.experienceRequired}}
                                  </div>
                                  <div  class="font-size-15">
                                    <span class="font-medium">Duration:</span> {{reportData?.duration}}
                                  </div>
                                </td>
                                <td class="bg-cerulean-blue">
                                  <table>
                                    <tr>
                                      <td class="container-scores">
                                        <table class="p-l-10">
                                          <tr>
                                            <td>
                                              <div class='circles' [ngStyle]="{'border-color': '#1bc5bd'}"></div>
                                            </td>
                                            <td>
                                              <div class="question-title">Correct answer
                                                :{{reportData?.correctAnswerPercentage.display}}%</div>
                                            </td>
                                          </tr>
                                        </table>
                                        <table class="p-l-10">
                                          <tr>
                                            <td>
                                              <div class='circles' [ngStyle]="{'border-color': '#fc0f3b'}"></div>
                                            </td>
                                            <td>
                                              <div class="question-title">Wrong answer :
                                                {{reportData?.wrongAnswerPercentage.display}}%</div>
                                            </td>
                                          </tr>
                                        </table>
                                        <table class="p-l-10" >
                                          <tr>
                                            <td>
                                              <div class='circles' [ngStyle]="{'border-color': '#f3f6f9'}"></div>
                                            </td>
                                            <td>
                                              <div class="question-title">Skipped questions :
                                                {{reportData?.skippedAnswerPercentage.display}}%</div>
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                      <td style="width: 10%">
                                        <div
                                          *ngIf="reportData?.wrongAnswerPercentage.display === 100 || reportData?.correctAnswerPercentage.display === 100 || reportData?.skippedAnswerPercentage.display === 100; else circleDynamic">
                                          <div *ngIf="reportData?.wrongAnswerPercentage.display === 100" class="circle2"
                                               [ngStyle]=" {'border':'21px solid  #fc0f3b'}"></div>
                                          <div *ngIf="reportData?.correctAnswerPercentage.display === 100" class="circle2"
                                               [ngStyle]=" {' border':'21px solid #1bc5bd'}"></div>
                                          <div *ngIf="reportData?.skippedAnswerPercentage.display === 100" class="circle2"
                                               [ngStyle]=" {'border':'21px solid #f3f6f9'}"></div>
                                        </div>
                                        <ng-template #circleDynamic>
                                          <svg [attr.viewBox]="'0 0 ' + 100 + ' ' + 100" *ngIf="spinnerData"
                                            class="svg-spinner">
                                            <path *ngFor="let slice of spinnerData | slicesWithCommandsAndOffset:50:100:30;
                    let index = index" [attr.fill]="slice.color" [attr.d]="slice.commands"
                                              [attr.transform]="'rotate(' + slice.offset + ')'">
                                              <title>{{slice.label}}</title>
                                            </path>
                                          </svg>
                                        </ng-template>
                                      </td>
                                      <td class="container-score">
                                        <div class="score">
                                          {{reportData?.correctAnswerPercentage.display}}%
                                        </div>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                              </tr>
                            </table>
                            <div class="full-width">
                              <div
                                class="test-details">
                                Test details</div>
                              <div *ngFor="let language of reportData?.questionsStats">
                                <table class="table-technology">
                                  <tr>
                                    <td style="width: 77%">
                                      <div class="technology-title">{{language.technologyTitle}} :</div>
                                      <div class="progress-bar">
                                        <div class="progress-bar-fill-1"
                                          [ngStyle]="{ 'width':language?.questionsStats?.correctPercentage + '%'}">
                                        </div>
                                        <div class="progress-bar-fill-2"
                                          [ngStyle]="{ 'width':language?.questionsStats?.wrongPercentage + '%'}"></div>
                                        <div class="progress-bar-fill-3"
                                          [ngStyle]="{ 'width':language?.questionsStats?.skippedPercentage + '%'}">
                                        </div>
                                      </div>
                                    </td>
                                    <div class="m-t-5">
                                      <table>
                                        <tr>
                                          <td>
                                            <div class="progress-bar-1 bg-topaz">
                                              <div class="progress-bar-fill-11"></div>
                                            </div>
                                          </td>
                                          <td>
                                            <div class="font-size-9">Correct answer</div>
                                          </td>
                                        </tr>
                                      </table>
                                      <table>
                                        <tr>
                                          <td>
                                            <div class="progress-bar-1 bg-error-red">
                                              <div class="progress-bar-fill-11"></div>
                                            </div>
                                          </td>
                                          <td>
                                            <div class="font-size-9">Wrong answer</div>
                                          </td>
                                        </tr>
                                      </table>
                                      <table>
                                        <tr>
                                          <td>
                                            <div class="progress-bar-1 bg-pale-grey-four">
                                              <div class="progress-bar-fill-11"> </div>
                                            </div>
                                          </td>
                                          <td>
                                            <div class="font-size-9">No answer</div>
                                          </td>
                                        </tr>
                                      </table>
                                    </div>
                                    <td>
                                    </td>
                                  </tr>
                                </table>
                              </div>
                            </div>
                            <div style="margin-left: 39%;">
                              <table class="roundedCorners">
                                <tr class="bg-pale-grey-four">
                                  <th class="col-technology">
                                    Technologies</th>
                                  <th class="col-other">
                                    Achieved<sub>pt</sub></th>
                                  <th class="col-other">
                                    Total<sub>pt</sub></th>
                                  <th class="col-other">
                                    Percentage</th>
                                </tr>
                                <tr *ngFor="let technology of reportData?.questionsStats"class="height-30">
                                  <td class="font-size-15 p-l-30 font-medium">
                                    {{technology?.technologyTitle}}</td>
                                  <td>{{technology?.questionMark?.achievedPts}}<sub>pt</sub></td>
                                  <td>{{technology?.questionMark?.totalPts}}<sub>pt</sub></td>
                                  <td>{{technology?.questionMark?.percentagePts}}%</td>
                                </tr>
                              </table>
                              <table class="total-score">
                                <tr>
                                  <td class="cell-other">
                                    {{totalAchievedPts}}
                                    <sub>pt</sub>
                                  </td>
                                  <td
                                    class="col-sum">
                                    {{totalTechnologyPts}}<sub>pt</sub>
                                  </td>
                                  <td
                                    class="col-sum">
                                    {{reportData?.correctAnswerPercentage.display}} %
                                  </td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>


                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div fxLayout="column" fxFlex="5" class="p-b-20">
    <div fxLayout="row" fxFlexFill class="opacity-30" fxLayoutAlign=" end">
      <img src="assets/img/logoServicima.@3x.png" width="15px" height="18px"><span
        class="font-light black font-size-12">SERVICMA</span>

    </div>
  </div>


</div>
<ng-template [ngIf]="showExpiringPage || showCongratulationPage">
  <div class="licence-container" fxLayout="column" fxLayoutGap="20px" fxFlexOffset="3" fxFlex="94">
    <div fxLayout="row" fxFlex="15" fxLayoutGap="50px" fxLayoutAlign="space-around center"
      class="bg-white border-radius-20">
      <div fxLayout="row" fxFlex="50" fxLayoutGap="15px" class=" m-l-60">
        <div fxLayout="column"> <img [src]="env + photo" [width]='50' [height]='50' class="border-radius-50"
            alt="image"></div>
        <div fxLayout="column" fxLayoutAlign="center">
          <span class="font-size-20 warm-grey"> {{companyName}}</span>
        </div>
      </div>
      <div fxLayout="column" fxFlex="2">
        <hr class="warm-grey vertical-line">
      </div>
      <div fxLayout="column" fxFlex="48" fxLayoutAlign="center start" class="font-size-20">
        <span class="warm-grey"> {{sessionName}}</span>
      </div>

    </div>
    <div class="full-width bg-white border-radius-20 p-10 p-l-20" fxFlex="75" fxLayout="column" fxLayoutAlign="start">

      <ng-template [ngIf]="showExpiringPage">
        <wid-component-info style="height: 100%" [title]="{ name: ' Time Expired', color:'#fc4b6c'}"
          [image]="{ path:'timeout.svg',height:'110px' }" [message]="'The remaining time for the exam has expired.'"
          [button]="{ name: 'Back to home', color: '#2b2b2b', background: '#f3f6f9'}">
        </wid-component-info>
      </ng-template>
      <ng-template [ngIf]="showCongratulationPage">
        <wid-component-info style="height: 100%" [title]="{ name: 'congratulations', color:'#0067e0'}"
          [image]="{ path:'done-circle.svg',height:'110px' }"
          [message]="' You have completed the exam during the specified time.'"
          [button]="{ name: 'Back to home', color: '#2b2b2b', background: '#f3f6f9'}" (buttonAction)="backToHome()">
        </wid-component-info>
      </ng-template>
    </div>
  </div>
</ng-template>
