.min-width-86 {
  min-width: 86%;
}
.min-width-83 {
  min-width: 83%;
}
.mail-grey-border {
  border-radius: 16px;
  background-color: #e4e4e4;
}
:host .mat-button-toggle-group{
  border-radius: 15px !important;
}
.mat-icon {
  height: 25px !important;
  width: 109px !important;
}
.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}
