<div class="licence-container"
     fxLayout="column" fxLayoutGap="20px" fxFlexOffset="3" fxFlex="94">
  <wid-title-settings title="Buy Licence" [backBtn]="true" ></wid-title-settings>
  <div class="full-width" fxFlex fxLayoutGap="10px" fxLayoutAlign="start start" fxLayout="row">
    <div fxFlex="58" class="full-height" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
      <div class="full-width bg-white border-radius-20 p-10" fxFlex="28"
      fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
        <div fxFlex="20">
          <h2 class="steel font-normal font-size-17">Billing</h2>
        </div>
        <div fxFlex="50" fxLayout="column" fxLayoutAlign="center start">
          <mat-radio-group fxFlex fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="15px"
                           (change)="billingChange($event)" [value]="billingPack" [disabled]="paymentService.paidFor"
                           class="p-l-5">
            <mat-radio-button class="black font-size-12 font-normal" value="year">
              Annual billing <sup *ngIf="saving" class="red">saving {{saving}}%</sup>
            </mat-radio-button>
            <mat-radio-button class="black font-size-12 font-normal" value="month">
              Monthly Billing
            </mat-radio-button>
          </mat-radio-group>
        </div>

      </div>
      <div class="full-width bg-white border-radius-20 p-t-10 p-l-20 p-r-20"
           fxLayout="column" fxLayoutAlign="start start"
           fxFlex>
        <div fxFlex="12">
          <h2 class="steel font-normal font-size-17">Paiement</h2>
        </div>
        <div fxFlex class="full-width">
          <mat-radio-group class="full-width" [disabled]="paymentService.paidFor">
          <mat-accordion class="full-width" fxLayout="column" fxLayoutGap="3px">

            <mat-expansion-panel hideToggle
                                 class="border-radius-10"
                                 (opened)="paiementMethode[0].checked = true"
                                 (closed)="paiementMethode[0].checked = false">
              <mat-expansion-panel-header class="p-5 p-l-20">
                <mat-panel-title>
                  <mat-radio-button class="black font-size-12 font-normal line-height-1-5"
                                    [checked]="paiementMethode[0].checked">
                    Credit card
                  </mat-radio-button>
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>Form here.</p>
            </mat-expansion-panel>

            <mat-expansion-panel hideToggle
                                 class="border-radius-10"
                                 (opened)="paiementMethode[1].checked = true"
                                 (closed)="paiementMethode[1].checked = false">
              <mat-expansion-panel-header class="p-5 p-l-20">
                <mat-panel-title>
                  <mat-radio-button class="black font-size-12 font-normal line-height-1-5"
                                    [checked]="paiementMethode[1].checked">
                    Paypal
                  </mat-radio-button>
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <ng-container *ngIf="paymentService.error">
                <wid-alert type="error"
                           message="something went wrong please try again" fxFlex ></wid-alert>
              </ng-container>
                <div [hidden]="paymentService.error" fxLayout="row" fxLayoutAlign="start center">
                  <p class="black font-size-12 font-semi-bold" fxFlex="30" >{{ licence.licence_desc }} :</p>
                  <div [fxHide]="paymentService.paidFor || billingPack !== 'month'"  #paypalmonth fxFlex="60" ></div>
                  <div [fxHide]="paymentService.paidFor || billingPack !== 'year'" #paypalyear fxFlex="60" ></div>
                  <wid-alert [fxShow]="paymentService.paidFor && !paymentService.error"
                             type="success" message="success" fxFlex ></wid-alert>

                </div>


            </mat-expansion-panel>

            <mat-expansion-panel hideToggle
                                 class="border-radius-10"
                                 (opened)="paiementMethode[2].checked = true"
                                 (closed)="paiementMethode[2].checked = false">
              <mat-expansion-panel-header class="p-5 p-l-20">
                <mat-panel-title>
                  <mat-radio-button class="black font-size-12 font-normal line-height-1-5"
                                    [checked]="paiementMethode[2].checked">
                    Sepa
                  </mat-radio-button>
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>Form here.</p>
            </mat-expansion-panel>
          </mat-accordion>
          </mat-radio-group>
        </div>
      </div>
    </div>
    <div fxFlex class="full-height"  fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
      <div class="full-width bg-white border-radius-20 p-t-10 p-l-20"
           fxLayout="column" fxFlex="28" fxLayoutGap="20px" >
       <div fxFlex="20">
         <h2 class="steel font-normal font-size-17">Compte</h2>
       </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="15px" class="p-l-5 m-0" fxFlex="60">
          <div fxFlex="15" fxLayout="row" fxLayoutAlign="center center">
            <img [src]="haveImage ? avatar :'assets/img/default.jpg'"  class="img-rounded avatar" fxFlex="100">
          </div>
          <div fxFlex fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="6px">
            <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" class="full-width">
              <div fxFlex="23" >
                <p class="font-size-12 black font-normal m-0">Full name:</p>
              </div>
              <div fxFlex >
                <p class="black font-size-12 font-light m-0" >{{name}}</p>
              </div>
            </div>
            <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" class="full-width">
              <div fxFlex="23" >
                <p class="font-size-12 black font-normal m-0">Email:</p>
              </div>
              <div fxFlex >
                <p class="black font-size-12 font-light m-0" >{{emailAddress}} </p>
              </div>
            </div>
          </div>
        </div>
        <div fxFlex="20" fxLayout="column" fxLayoutAlign="start end" class="p-r-10">
          <a class="denim font-size-10 font-light" >Disconnection</a>
        </div>
      </div>
      <div class="full-width bg-white border-radius-20 p-10 p-l-20"
           fxLayout="column" fxLayoutAlign="start start" fxFlex>
        <div class="full-width border-bottom" fxFlex>
          <div class="border-bottom full-width" fxLayout="column" fxLayoutGap="0">
            <h4 class="steel font-light font-size-12">Licence type</h4>
            <h2 class="steel font-normal font-size-17">{{licence.LicenceKey.licence_code}}</h2>
          </div>

          <div *ngIf="usersNbr>0" fxLayout="row" fxFlexAlign="center center" class="border-bottom">
            <div class="full-width" fxLayout="column" fxLayoutGap="0">
              <p class="black font-normal font-size-12">{{usersNbr - extraUser}} User</p>
              <p class="black font-light font-size-8 m-0 m-b-10">{{licence.free_user_nbr}} free user</p>
            </div>
            <p class="black font-normal font-size-12">0€</p>
          </div>

          <div *ngIf="usersNbr>0" fxLayout="row" fxFlexAlign="center center">
            <div class="full-width" fxLayout="column" fxLayoutGap="0">
              <p class="black font-normal font-size-12">{{extraUser}} Extra user</p>
              <p class="black font-light font-size-8 m-0 m-b-10">
                €{{billingPack === 'month' ? licence.pack_monthly_price : licence.pack_annual_price}}/month per user
              </p>
            </div>
            <p class="black font-normal font-size-12">{{billingPack === 'month' ? licence.pack_monthly_price * extraUser : licence.pack_annual_price * extraUser}}€</p>
          </div>

        </div>
        <div fxFlex="30" class="full-width">
          <div fxLayout="row" fxLayoutAlign="space-between center"
               class="border-bottom full-width">
            <p class="black font-normal font-size-17">Total:</p>
            <p class="black font-normal font-size-17">{{total()+' '+licence.price_currency_id}}</p>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end end" class="full-width">
          <button mat-button (click)="confirm()"  class="btn-small bg-denim white" >Next</button>
          <button mat-button class="btn-small bg-white denim" >Cancel</button>
        </div>
      </div>
    </div>

  </div>
</div>
