


<div  fxLayout="column"  class="font-size-12 container-show bg-white border-radius-15">
  <ng-container *ngIf="isLoading.getValue();">
    <div class="min-full-width min-full-height" fxLayoutAlign="center center">
      <mat-progress-spinner
        color="primary"
        mode="indeterminate">
      </mat-progress-spinner>
    </div>
  </ng-container>
  <ng-container *ngIf="!isLoading.getValue();">
  <div fxLayout="row" fxFlex="13" fxLayoutAlign="space-around center" class="bg-white border-radius-20">
    <div fxLayout="column" fxFlex="56">
      <h1 class="steel font-medium font-size-28" >{{'invoice.title' | translate | capitalizeFirstLetter}}</h1>
    </div>
    <div fxLayout="column" fxFlex="15" fxLayoutAlign="center end" class="font-size-25 steel">
      <button (click)="back()" mat-raised-button class="btn-small bg-pale-grey">
        <mat-icon class="icon material-icons-outlined" svgIcon="wi_arrow_back">
        </mat-icon>
        <span class="cool-grey">{{'invoice.back' | translate | capitalizeFirstLetter}}</span>
      </button>
    </div>
  </div>
  <div fxLayout="row" fxFlex="1" fxLayoutAlign="space-around center" >
    <mat-divider [ngStyle]="{ 'width': '95%', borderTopWidth: '2px'}" ></mat-divider>
  </div>

  <wid-scrollbar class="m-l-20">

    <div fxLayout="column" fxFlex="100">
      <div fxLayout="row" fxLayoutAlign="center center" class="m-l-15 p-t-5" fxLayoutGap="10px">
        <div fxLayout="row" fxFlex="12"> <img [ngStyle]="{'width':'115px','border-radius': '5px',
    'border': '2px solid #707070'}" [src]="this.userInfo['photo'] ? avatar : 'assets/img/logoCompany.jpg'" alt="img" height="100px"></div>
        <div fxLayout="row" fxFlex="15"> <h1 fxFlex="85" class="steel font-medium font-size-28">{{'invoice.subtitle' | translate | capitalizeFirstLetter}}</h1> </div>
        <div fxLayout="row" fxFlex="65" fxLayoutAlign="flex-end flex-end" fxLayoutGap="6px" class="m-r-40 m-b-15 min-full-height" >

            <button *canBeDisplayed="{'feature':'SOURCING_ACCESS'}" mat-raised-button class="btn-small" [ngClass]="{'btn-active': this.showAttachmentFile === true, 'btn-no-active': this.showAttachmentFile === false}" (click)="showAttach()"> {{'invoice.attach.file' | translate | capitalizeFirstLetter}}</button>

            <button *canBeDisplayed="{'feature':'SOURCING_ACCESS'}" mat-raised-button  class="btn-small bg-pale-grey-four help-blue">{{'invoice.send' | translate | capitalizeFirstLetter}}</button>

            <button *canBeDisplayed="{'feature':'SOURCING_ACCESS'}" mat-raised-button class="btn-small bg-pale-grey-four help-blue" (click)="toPay()"> {{'invoice.enter.payment' | translate | capitalizeFirstLetter}}</button>

            <button *canBeDisplayed="{'feature':'SOURCING_ACCESS'}" mat-raised-button class="btn-small bg-pale-grey-four help-blue"> {{'invoice.status' | translate | capitalizeFirstLetter}}</button>


          <div fxLayout="row"  fxLayoutGap="4px" class="width-150" *canBeDisplayed="{'feature':'SOURCING_ACCESS'}">
            <mat-icon class="icon material-icons-outlined" svgIcon="wi-credit-card">
            </mat-icon>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3px" (click)="enterPayment()" class="cursor-pointer"> {{'invoice.payment' | translate | capitalizeFirstLetter}}
              {{totalPayments}}$
              <span *ngIf="showPayment" class="material-icons">keyboard_arrow_down</span>
              <span *ngIf="!showPayment" class="material-icons">keyboard_arrow_up</span>
            </div>
          </div>
        </div>
      </div>
      <mat-divider  class="m-t-10" [ngStyle]="{ 'width': '95%', borderTopWidth: '5px','margin-left': '2%' , 'color':'#f3f6f9'}"></mat-divider>


      <div [hidden]="!showAttachmentFile"  class="container-tab m-l-5">
        <div class="mat-elevation-z8">

          <div [hidden]="invoiceAttachment.length > 0">
            <div fxLayout="row" fxLayoutAlign="center start">
              <div fxFlex="93" fxLayout="column" fxLayoutAlign="center center" class="border-none"
                   [ngStyle]="{border: 'solid 3px #e8f1f9',  height: '170px', 'margin-top': '15px'}" >
                <div fxFlex="15" fxLayout="row">
                  <button mat-raised-button class="btn-medium bg-cerulean-blue">
                    <span class="white font-normal" (click)="viewData()"> {{'invoice.attachment' | translate | capitalizeFirstLetter}}</span>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <table  #tableInvoiceAttachment [hidden]="invoiceAttachment.length ==0" matSort  [ngStyle]=" {'width': '93%', 'box-shadow': 'none !important,','margin-left': '2%'}" mat-table  [dataSource]="dataSourceInvoiceAttachment" class="mat-elevation-z8">
            <tr>

            <ng-container matColumnDef="File Title">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'invoice.file.title' | translate | capitalizeFirstLetter}}</th>
              <td (click)="showAttachment(element)" class="width-125" mat-cell *matCellDef="let element"> {{element.file_title}}</td>
            </ng-container>

            <ng-container matColumnDef="Size">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'invoice.file.size' | translate | capitalizeFirstLetter}} </th>
              <td (click)="showAttachment(element)" mat-cell *matCellDef="let element"> {{element.size}} </td>
            </ng-container>

            <ng-container matColumnDef="Date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'invoice.file.date' | translate | capitalizeFirstLetter}} </th>
              <td  (click)="showAttachment(element)" class="width-40" mat-cell *matCellDef="let element"> {{element.date | date}} </td>
            </ng-container>

            <ng-container matColumnDef="Action">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row">
                <button mat-icon-button id="deleteAttachment" (click)="deleteAttachment(row,row.attachment)">
                  <mat-icon >
                    delete
                  </mat-icon>
                </button>
              </td>
            </ng-container>

            </tr>
            <tr mat-header-row *matHeaderRowDef="tableColumnsInvoiceAttachment"></tr>
            <tr mat-row *matRowDef="let row; columns: tableColumnsInvoiceAttachment;"></tr>
          </table>
      </div>
      </div>
      <div fxFlex="50" [ngStyle]="{'padding-right': '7%','height': '140px','line-height': 2}" class="m-t-10" fxLayout="column"
           fxLayoutAlign="flex-start" >
        <div  class="width-210" *ngIf="showAttachmentFile && invoiceAttachment.length > 0">
          <div fxLayout="row" class="flex-wrap m-l-30">
             <button  (click)="viewData()" mat-raised-button class="btn-small bg-cerulean-blue white">{{'invoice.add.file' | translate | capitalizeFirstLetter}}</button>
          </div>
        </div>
      </div>

      <div  [hidden]="!showPayment" class="container-tab m-l-5" >
        <div class="mat-elevation-z8">
          <div [hidden]="invoicePayment.length > 0">
            <div fxLayout="row" fxLayoutAlign="center start">
              <div fxFlex="93" fxLayout="column" fxLayoutAlign="center center" class="border-none"
                   [ngStyle]="{border: 'solid 3px #e8f1f9',  height: '170px', 'margin-top': '15px'}" >
                <div fxFlex="15" fxLayout="row">
                  <button mat-raised-button class="btn-medium bg-cerulean-blue">
                    <span class="white font-normal" (click)="toPay()">{{'invoice.enter.payment' | translate | capitalizeFirstLetter}}</span>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <table #tableInvoicePayment [hidden]="invoicePayment.length == 0"    [ngStyle]="{'width': '93%', 'box-shadow': 'none !important', 'margin-left': '2%'}" mat-table  [dataSource]="dataSourceInvoicePayment" class="mat-elevation-z8" matSort>
            <ng-container matColumnDef="Entered By">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'invoice.payment.entered.by' | translate | capitalizeFirstLetter}} </th>
              <td  class="width-125" mat-cell *matCellDef="let element"> {{element.Entered}} </td>
            </ng-container>

            <ng-container matColumnDef="Type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'invoice.payment.type' | translate | capitalizeFirstLetter}} </th>
              <td mat-cell *matCellDef="let element"> {{element.payment_mode_desc}} </td>
            </ng-container>

            <ng-container matColumnDef="Notes">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'invoice.payment.notes' | translate | capitalizeFirstLetter}} </th>
              <td class="width-40" mat-cell *matCellDef="let element"> {{element.note}} </td>
            </ng-container>

            <ng-container matColumnDef="Date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'invoice.payment.date' | translate | capitalizeFirstLetter}} </th>
              <td mat-cell *matCellDef="let element"> {{element.InvoicePaymentKey.payment_date | date}} </td>
            </ng-container>

            <ng-container matColumnDef="Amount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'invoice.payment.amount' | translate | capitalizeFirstLetter}} </th>
              <td mat-cell *matCellDef="let element"> {{element.invoice_line_unit_amount}} </td>
            </ng-container>

            <ng-container matColumnDef="Action">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row">
                <button mat-icon-button (click)="deletePayment(row)"  [disabled]="row.disabled">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="tableColumnsInvoicePayment"></tr>
            <tr mat-row *matRowDef="let row; columns: tableColumnsInvoicePayment;"></tr>
          </table>
        </div>

      </div>
      <div fxFlex="50"  [ngStyle.gt-lg]="{'padding-right': '7%','height': '140px','line-height': 2}" fxLayout="column"
           fxLayoutAlign="flex-end flex-end" >
        <div  class="m-t-10 width-250" *ngIf="showPayment && invoicePayment.length > 0">
          <div fxLayout="row" class="flex-wrap m-l-30">
            <div class="width-100">{{'invoice.total.payment' | translate | capitalizeFirstLetter}}:</div>
            <div> {{totalPayments}} {{symbolCurrency}}</div>
          </div>
          <div fxLayout="row" class="flex-wrap m-l-30">
            <div class="width-100"> {{'invoice.pay' | translate | capitalizeFirstLetter}}: </div>
            <div> {{leftToPay}}{{symbolCurrency}}</div>
          </div>
        </div>
      </div>

    <div *widDisabledForm="{'feature':headerFeature, 'form': formHeader}">
      <div  [formGroup]="formHeader" fxLayout="row" fxFlex="87" fxLayoutGap="50px" class="p-20">
        <div fxLayout="column" fxFlex.gt-lg="28" fxFlex="20">
          <div class="font-bold">{{'invoice.sender' | translate | capitalizeFirstLetter}}</div>
          <div class="font-bold"> {{userInfo['company_name']}}</div>
          <div>{{userInfo['adress']}}</div>
        </div>
        <div fxLayout="column" fxFlex.gt-lg="41" fxFlex="25">
          <div *ngIf="!contractor?.contractor_name || !contractCode  || editContractors">
            <div fxLayout="row" [ngStyle.gt-lg]="{'width':'70%'}">
              <div fxLayout="column" fxFlex="100">
                <label  class="required font-bold">{{'invoice.invoice.to' | translate | capitalizeFirstLetter}}:</label>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-select formControlName="contractor" placeholder="Contractor">
                    <mat-option *ngFor="let contractor of listContractor"
                                (click)="getContract(contractor.contractorKey.contractor_code)"
                                [value]=contractor.contractorKey.contractor_code>
                      {{ contractor.contractor_name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" *ngIf="contractorSelected" [ngStyle.gt-lg]="{'width':'70%'}">
              <div fxLayout="column" fxFlex="100">
                <label class="required" class="font-bold">{{'invoice.contract' | translate | capitalizeFirstLetter}}:</label>
                <mat-form-field appearance="outline" class="full-width" >
                  <mat-select formControlName="contract" placeholder="Contract">
                    <ng-container *ngFor="let contract of listContract">
                      <mat-option (click)="getDetailsContract(contract.contractKey.contract_code)"
                                  [value]=contract.contractKey.contract_code>
                        {{ contract.contractKey.contract_code }}
                      </mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>

         <div *ngIf="contractor?.contractor_name && contractCode && !editContractors" >
          <div *canBeDisplayed="{'feature':editContractorFeature}" class="cursor-pointer">
            <div (mouseenter)="mouseEnter() " (click)="editContractor()" (mouseleave)="mouseLeave()">
              <div fxLayout="row" fxLayoutGap=" 50%">
                <div class="font-bold">{{'invoice.invoice.to' | translate | capitalizeFirstLetter}}:</div>
                <div *ngIf="iconVisible" class="edit">
                  <mat-icon svgIcon="wi-pen" class="icon">
                  </mat-icon>
                </div>
              </div>
              <div>
              </div>
              <div class="font-bold">{{contractor?.contractor_name}}</div>
              <div>{{contractor['address']}}</div>

            </div>
          </div>

          <div  *widCanNotDisplay="{'feature':editContractorFeature}">

            <div>
              <div fxLayout="row" fxLayoutGap=" 50%">
                <div class="font-bold">{{'invoice.invoice.to' | translate | capitalizeFirstLetter}}:</div>
                <div *ngIf="iconVisible" class="edit">
                  <mat-icon svgIcon="wi-pen" class="icon">
                  </mat-icon>
                </div>
              </div>
              <div>
              </div>
              <div class="font-bold">{{contractor?.contractor_name}}</div>
              <div>{{contractor['address']}}</div>
            </div>
            </div>
          </div>
          <div fxLayout="column" fxLayoutGap="10px" class="cerulean-blue">

            <div fxLayout="row" fxLayoutGap="10px" *ngIf='!contractor?.contractor_name'>
            <div *canBeDisplayed="{'feature':'INVOICING_ADD_NEW_CUSTOMER'}">
              <div class="btn container-plus" fxLayout="row" fxLayoutAlign="flex-start center">
                <button mat-flat-button mat-stroked-button class="topaz btn-plus" type="button">+</button>
              </div>
              <div> <a class="steel"
                     [routerLink]="['/manager/contract-management/suppliers-contracts/suppliers-list']">{{'invoice.add.new.customer' | translate | capitalizeFirstLetter}} </a> </div>
            </div>
          </div>
            <div fxLayout="row" fxLayoutGap="10px" *ngIf='contractor?.contractor_name'  fxLayoutAlign="flex-start center" class="cursor-pointer">
            <div style="display: flex;flex-direction: row; align-items: center;" *canBeDisplayed="{'feature':'INVOICING_SEE_CLIENT_FILE'}">
              <mat-icon class="icon material-icons-outlined eye-icon" svgIcon="wi-eye">
              </mat-icon>
              <div class="steel" (click)="showInfoContractor()"> {{'invoice.see.client.file' | translate | capitalizeFirstLetter}}</div>
            </div>
          </div>
        </div>
          <div>
            <br>
            <div *ngIf='contractCode' ngClass.gt-lg="adress">
              <div class="font-bold"> {{'invoice.addressed.to' | translate | capitalizeFirstLetter}}</div>
              <mat-form-field appearance="outline">
                <textarea name="" id="" cols="25" rows="7" matInput formControlName="invoiceAddress"></textarea>
              </mat-form-field>
            </div>

          </div>
        </div>
        <div class="m-t-20" fxLayout="column" fxFlex.gt-lg="30" fxFlex="45" fxLayoutGap="20px">
          <div  fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="20px" fxFlex="10">
            <div fxFlex="40" class="font-bold">{{'invoice.n°' | translate | capitalizeFirstLetter}}</div>
            <div fxFlex="60">
              <mat-form-field appearance="outline">
                <input matInput formControlName="invoiceNbr" type="text">
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="20px" fxFlex="10">
            <div fxFlex="40" class="font-bold">{{'invoice.purchase.order' | translate | capitalizeFirstLetter}}</div>
            <div fxFlex="60" >
              <mat-form-field appearance="outline">
                <input matInput type="text" formControlName="invoicePurchaseOrder">
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="20px" fxFlex="10">
            <div fxFlex="40" class="font-bold">{{'invoice.date' | translate | capitalizeFirstLetter}}</div>
            <div fxFlex="60">
              <mat-form-field appearance="outline">
                <input matInput formControlName="invoiceDate" type="date">
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="20px" fxFlex="10">
            <div fxFlex="40" class="font-bold">{{'invoice.due.date' | translate | capitalizeFirstLetter}}</div>
            <div fxFlex="60">
              <mat-form-field appearance="outline">
                <input matInput formControlName="invoiceDelay" type="date">
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="20px" fxFlex="10">
            <div fxFlex="40" class="font-bold">{{'invoice.project' | translate | capitalizeFirstLetter}}</div>
            <div fxFlex="60">
              <mat-form-field appearance="outline">
                <input matInput type="text" formControlName="invoiceProject">
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="flex-start center" [fxFlex.gt-lg]="20" fxLayoutGap="20px" fxFlex="27">
            <div fxFlex="40" class="font-bold">{{'invoice.description' | translate | capitalizeFirstLetter}}</div>
            <div fxFlex="60">
              <mat-form-field appearance="outline">
                <textarea formControlName="invoiceDescription" class="overflow-hidden" name="description" id="description" cols="22" rows="5" matInput></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
    </div>
      </div>
      <br>
      <mat-divider *ngIf="contractor?.contractor_name && contractCode && !editContractors" [ngStyle]="{ 'width': '95%', borderTopWidth: '5px','margin-left': '2%', 'color':'#f3f6f9' }"></mat-divider>

  <div *widDisabledForm="{'feature':'INVOICING_UPDATE_LINE', 'form': form}">
      <div [formGroup]="form" [ngStyle]="{ 'margin-left': '2%','width': '96%'}" *ngIf="contractor?.contractor_name && contractCode && !editContractors">

      <div class="p-t-20 p-b-20">
        <div formArrayName='input'>
          <div class="form-container">
            <table  class="full-width ">
              <tr  class="white full-width bg-steel text-center font-size-12">
                <th class="small-col"  >{{'invoice.product' | translate | capitalizeFirstLetter}}</th>
                <th class="large-col" >{{'invoice.project.description' | translate | capitalizeFirstLetter}}</th>
                <th class="medium-col" >{{'invoice.project.price' | translate | capitalizeFirstLetter}}</th>
                <th class="small-col" >{{'invoice.project.quantity' | translate | capitalizeFirstLetter}}</th>
                <th class="small-col">{{'invoice.project.vat' | translate | capitalizeFirstLetter}}%</th>
                <th class="medium-col">{{'invoice.project.vat' | translate | capitalizeFirstLetter}}</th>
                <th class="small-col" >{{'invoice.project.discount' | translate | capitalizeFirstLetter}}</th>
                <th class="medium-col montant">{{'invoice.project.amount' | translate | capitalizeFirstLetter}} </th>
              </tr>
              <tr *ngFor="let roleListControl of getListRole().controls; let i = index" [formGroupName]="i">
                <td>
                  <mat-select formControlName="project_code" placeholder="Services">
                    <ng-container *ngFor="let project of listProject">
                      <mat-option (click)="getProject(i, project)" [value]=project.ContractProjectKey.project_code>
                        {{ project.ContractProjectKey.project_code }}
                      </mat-option>
                    </ng-container>
                  </mat-select>
                </td>
                <td>
                      <textarea class="overflow-hidden"   name="Text1"   placeholder="description project" formControlName='project_desc' matInput
                                cdkTextareaAutosize
                                cdkAutosizeMinRows="1"
                      ></textarea>
                </td>
                <td>
                        <textarea  name="Text1" (blur)="getTvaOrMountInvoice(i)" placeholder="quantité"  class="overflow-hidden"  required formControlName='invoice_line_unit_amount' matInput
                                  cdkTextareaAutosize
                                  cdkAutosizeMinRows="1"
                        ></textarea>
                </td>
                <td>
                        <textarea   (blur)="getTvaOrMountInvoice(i)"   name="Text1" placeholder="Days"  class="overflow-hidden"  required formControlName='days_nbr' matInput
                                  cdkTextareaAutosize
                                  cdkAutosizeMinRows="1"
                        ></textarea>
                </td>
                <td>
                  {{ form.value.input[i].vat_rate  ? form.value.input[i].vat_rate : 0   }} %
                </td>
                <td class="vat_mount">
                  {{ form.value.input[i].vat_amount  ? form.value.input[i].vat_amount  : 0 }}

                <td>
                  <input  class="black-three font-size-12" type="number" (blur)="getTvaOrMountInvoice(i)" min="0" max="100" autocomplete="off" matInput required placeholder="discount"
                          formControlName='discount'
                          maxlength = "3" >
                </td>
                <td  class="vat_mount">
                  {{form.value.input[i].invoice_line_total_amount ? form.value.input[i].invoice_line_total_amount: 0 }}
                </td>
                <td  *widCanNotDisplay="{'feature':deleteInvoiceLineFeature}" class="icon-trash" style="background: white !important; color: white !important">
                  <mat-icon svgIcon="wi-trash"  class="icon cursor-pointer"   (click)='delete(i)' id="deleteUpdate" *canBeDisplayed="{'feature':'SOURCING_ACCESSs'}">
                  </mat-icon>
                </td>
                <td  class="icon-trash" *canBeDisplayed="{'feature':deleteInvoiceLineFeature}">
                  <mat-icon svgIcon="wi-trash"  class="icon cursor-pointer"   (click)='delete(i)' id="deleteUpdate1" *canBeDisplayed="{'feature':'SOURCING_ACCESS'}">
                  </mat-icon>
                </td>
              </tr>
            </table>
            <div>
            </div>
          </div>
        </div>
        <div *ngIf='getListRole().controls.length >0' class="btn-add-line" fxLayout="row"
             fxLayoutAlign="flex-start center">
          <button *canBeDisplayed="{'feature':addLineFeature}" #buttonAddLine [disabled]="form.invalid || (form.value?.input[getListRole().controls.length - 1]?.vat_amount =='error') || (form.value?.input[getListRole().controls.length -1]?.invoice_line_total_amount == 'error') " mat-raised-button class="btn-small bg-cerulean-blue white" (click)="onAddAnotherLine()"> <span
            class="btn-plus">+</span>  {{'invoice.add.new.line' | translate | capitalizeFirstLetter}}</button>


        </div>
        <div *ngIf='getListRole().controls.length ==0'>
          <div fxLayout="row" fxLayoutAlign="center start">
            <div fxFlex="100" fxLayout="column" fxLayoutAlign="center center" class="border-none"
                 [ngStyle]="{border: 'solid 3px #707070',  height: '200px','border-top': 'none'}" >
              <div fxLayout="column" fxLayoutAlign="center center">
                <div class="font-size-24 line-height-3" style="color:#afb1b8; font-weight: 500">  {{'invoice.no.row' | translate | capitalizeFirstLetter}}</div>
                <button mat-raised-button class="btn-medium bg-cerulean-blue" *canBeDisplayed="{'feature':addLineFeature}">
                  <span  class="white font-normal" (click)="onAddAnotherLine()"> {{'invoice.add.new.line' | translate | capitalizeFirstLetter}}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <mat-divider [ngStyle]="{ 'width': '95%', borderTopWidth: '5px','margin-left': '2%', 'color':'#f3f6f9' }"></mat-divider>
      <div *widDisabledForm="{'feature':companyBankingInfoFeature, 'form': formCompanyBanking}">
        <div fxLayout="row" class="p-t-20" flexLayoutGap="30px" [formGroup]="formCompanyBanking">
          <div fxFlex="100">
            <div fxFlex="50"> <span>{{'invoice.condition.and.modality' | translate | capitalizeFirstLetter}}</span>
              <div class="container-factor">
                <mat-form-field  appearance="outline" class="width-435 p-0" >
                    <textarea name="Text1"  rows="8"  class="overflow-hidden line-height-1-4" formControlName='comment1' matInput
                    ></textarea>
                </mat-form-field>
              </div>
              <div>
                <div [formGroup]="formFactor" class="m-l-10">
                  <div *canBeDisplayed="{'feature':factorFeature}" class="cursor-pointer">
                <mat-checkbox   class="example-margin" (click)='setCompanyBankingInfo()' formControlName="factorInvoice">{{'invoice.factor' | translate | capitalizeFirstLetter}}
                </mat-checkbox>
              </div>
            </div>
          </div>
            </div>
          </div>
          <div fxFlex="60" fxFlex.gt-lg="95"  [ngStyle]="{'height': '200px','padding-left': '16%','line-height':'2'}" fxLayout="column"
                fxLayoutAlign="center center" fxLayoutAlign.gt-lg="center flex-end" >

            <div fxLayout="row" class="flex-wrap" [ngStyle.gt-lg]="{'margin-left':'30px','width':'300px'}" [ngStyle]="{'margin-left':'30px','width':'266px'}">
              <div class="width-100"> {{'invoice.subtotal' | translate | capitalizeFirstLetter}}: </div>
              <div> {{sousTotalHT}} {{symbolCurrency}} </div>
            </div>
            <div fxLayout="row" class="flex-wrap" [ngStyle.gt-lg]="{'margin-left':'30px','width':'300px'}" [ngStyle]="{'margin-left':'30px','width':'266px'}">
              <div class="width-100"> {{'invoice.project.vat' | translate | capitalizeFirstLetter}}: </div>
              <div> {{vatMount}} {{symbolCurrency}} </div>
            </div>

            <div fxLayout="row" class="flex-wrap" [ngStyle.gt-lg]="{'margin-left':'30px','width':'300px'}" [ngStyle]="{'margin-left':'30px','width':'266px'}">
              <div class="width-100"> {{'invoice.total' | translate | capitalizeFirstLetter}}: </div>
              <div> {{totalTTC}} {{symbolCurrency}} </div>
            </div>

            <div fxLayout="row" class="flex-wrap" [ngStyle.gt-lg]="{'margin-left':'30px','width':'300px'}" [ngStyle]="{'margin-left':'30px','width':'266px'}">
              <div class="width-100"> {{'invoice.payment' | translate | capitalizeFirstLetter}}: </div>
              <div> {{totalTTC}} {{symbolCurrency}} </div>
            </div>

            <div fxLayout="row" class="flex-wrap font-bold" [ngStyle.gt-lg]="{'margin-left':'30px','width':'300px'}" [ngStyle]="{'margin-left':'30px','width':'266px'}" >
              <div class="width-100"> {{'invoice.balance.payable' | translate | capitalizeFirstLetter}}: </div>
              <div> {{totalTTC}} {{symbolCurrency}} </div>
            </div>
          </div>
        </div>
      </div>
        <div fxLayout="column" class="min-height-25">
          <div fxFlex="55" class="p-b-5 m-t-30" fxLayout="column" fxLayoutAlign="center">
            <div fxLayout="row" class="flex-wrap">
              <div class="width-100"> {{'invoice.phone' | translate | capitalizeFirstLetter}}: </div>
              <div> {{this.userInfo['phone_nbr1']}} </div>
            </div>

            <div fxLayout="row" class="flex-wrap">
              <div class="width-100"> {{'invoice.email' | translate | capitalizeFirstLetter}}: </div>
              <div> <a class="cerulean-blue">{{this.userInfo['contact_email']}} </a> </div>
            </div>

            <div fxLayout="row" class="flex-wrap">
              <div class="width-100"> {{'invoice.website' | translate | capitalizeFirstLetter}}: </div>
              <div> <a class="cerulean-blue">{{this.userInfo['web_site']}}</a></div>
            </div>
          </div>
          <div   fxFlex="35"  fxLayoutAlign="flex-end center" fxLayout="row" fxLayoutGap="30px"
               class="m-r-10 m-t-30 m-b-20">
            <div class="full-width">
              <button mat-raised-button class="btn-small bg-pale-grey black-three">{{'invoice.cancel' | translate | capitalizeFirstLetter}}</button>
            </div>
            <button [disabled] = "formHeader.invalid" *ngIf="!statusInvoice" mat-raised-button class="btn-small bg-pale-grey black-three" (click)="generateInvoice('DRAFT')">{{'invoice.draft' | translate | capitalizeFirstLetter}}</button>
            <button  *canBeDisplayed="{'feature':addOrUpdateFeature}"    [disabled] = "(!!formHeader.invalid  || getListRole().controls.length ==0 )|| isLoad.getValue()"  mat-raised-button class="btn-small bg-ocean-blue white"
                    (click)="generateInvoice('PENDING')"  >
              <ng-template [ngIf]="!isLoad.getValue()"  [ngIfElse]="loading">
                {{'invoice.confirm' | translate | capitalizeFirstLetter}}
              </ng-template>
              <ng-template #loading >
                <div fxLayout="row" fxLayoutAlign="center" class="p-r-20">
                  <div fxLayout="column" style="padding-right: 19px;justify-content: center">
                    {{'resume-loading' | translate}}
                  </div>
                  <div fxLayout="column" style="padding-top: 8px">
                    <div  class="dot-elastic">
                    </div></div>
                </div>
              </ng-template>


              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </wid-scrollbar>
  </ng-container>
</div>

