/********************************************************/
/*    media query max-width: 1126px   */
/********************************************************/

@media only screen and (max-width:   1126px ){
  .wid-background-image-stepper{
    min-height:  110% !important;}
}

/********************************************************/
/*    media query max-width: 960px   */
/********************************************************/
@media only screen and (max-width: 960px ) {
  .mat-horizontal-content-container {
    overflow: scroll !important;
    width: 755px  !important;
    height: 462px !important;

  }

  .wid-label-create-accompte-company{
    height: 77px;
  }
  .wid-container-hide-stepper{
    display: none !important;
  }
  .wid-form-manager{
    margin: 25px !important;
  }
}

/********************************************************/
/*    media query min-width: 599px max-width: 715px   */
/********************************************************/
@media only screen and (min-width: 599px) and (max-width: 715px) {

  .wid-form-company{
    margin-left: 24px;
  }
}

/********************************************************/
/*    media query min-width: 600px max-width: 665px   */
/********************************************************/
@media only screen and (min-width: 600px) and (max-width: 665px) {
  .wid-background-image{
    min-height: 118% !important;
    min-width: 110%;
  }
}

/********************************************************/
/*    media query max-width: 599px  */
/********************************************************/
@media only screen and (max-width: 599px ) {
  .mat-horizontal-content-container {
    width: 274px  !important;
  }
  .wid-container-stepper  {
    width: 135px;
    margin: 2px 44px !important;
  }
  .wid-specific-input{
    width:  102%;
  }
  .legal[_ngcontent-ovs-c1] .mat-form-field-flex {
    width: 100% !important;
  }
  .wid-form-manager{
    margin: 0 !important;
  }
  .wid-container-contact  {
    margin: 15px;
  }
}

/********************************************************/
/*    media query max-width: 345px  */
/********************************************************/
@media only screen and (max-width: 345px ) {

  .wid-container-stepper , .wid-container-contact {
    width: 170px !important;
    margin: 24px !important;
  }
  .wid-container-contact{
    margin: 9px !important;
  }
}

/********************************************************/
/*    media query max-width: 336px  */
/********************************************************/
@media only screen and (max-width: 336px ) {
  .wid-container{
    width: 297px;
    margin: 24px;
  }
  .wid-background-image{
    overflow: scroll;
    left: 0;
    right: 0;
    background-size: cover;
    min-width: 100%;
  }
  .image-register{
    margin: 0 45px !important;
  }
  .wid-Get-started-for-free {
    width: 300px;
  }
}












