
  <wid-dynamic-data-table
    [tableData]="ELEMENT_DATA"
    [tableCode]="'COMPANY_TAX'"
    [isLoading]="isLoading"
    [header]="{ title: 'company.tax.management.title' | translate,type:'dialog', addActionText: 'add-new' | translate,
    addActionDialog: { modalName: 'addTax', modalComponent: 'AddTaxCompanyComponent', data: null, width: '657px', height: '480px' }}"
    [title]="'COMPANY TAX list'"
    (rowActionData)="switchAction($event)"
    (pagination)="loadMoreItems($event)"
    [allowedActions]="['company.tax.management.delete']"
  >
  </wid-dynamic-data-table>
